Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Fix cartong logo
  content/articles/2010/art_2010-08-18.md
Labels: articles

Add disclaimer about author relation to the proposed content
  .github/ISSUE_TEMPLATE/proposition-d-article.md
  .github/ISSUE_TEMPLATE/suggestion-de-news-pour-une-revue-de-presse.md
Labels: none

fix json icon
  content/articles/2021/2021-09-14_odk_postgis_3.md
Labels: articles

Ajout article en page d'accueil
  content/theme/home.html
Labels: th√®me

Notes SAGA/Decryptageo et En bref
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

ok pour publication, reste à changer la date de publication dans l'article
  content/articles/2021/2021-09-14_odk_postgis_3.md
Labels: articles

maj date publication
  content/articles/2021/2021-09-14_odk_postgis_3.md
Labels: articles

renommage du fichier
  content/articles/2021/2021-09-22_odk_postgis_3.md
Labels: articles

MAJ illustration et liens
  content/articles/2021/2021-06-08_odk_postgis_1.md
  content/articles/2021/2021-06-22_odk_postgis_2.md
  content/articles/2021/2021-09-22_odk_postgis_3.md
  content/theme/home.html
Labels: articles, th√®me

Remove bad md
  content/toc_nav_ignored/test_bad_markdown.md
Labels: none

Exclude snippets from SEO
  content/robots.txt
Labels: none

Fix multiple emails for Mathieu Bossaert
  .mailmap
Labels: none

Amorce fluid earth
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

SAGA 8.0
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Bot Twitter
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

CartONG
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Fluid Earth
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Fix old wind map
  content/rdp/2013/rdp_2013-12-20.md
Labels: rdp

Ajout news kalisio. close #423 (en attente de validation de l'équipe)
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Add material banner
  content/team/sponsoring.md
Labels: contribution

Ajout article odk 3
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Enable abbreviations
  content/toc_nav_ignored/snippets/abbreviations.md
  mkdocs.yml
Labels: mkdocs

Add cookies consent
  mkdocs.yml
Labels: mkdocs

Enable linked tabs
  mkdocs.yml
Labels: mkdocs

Enable anchor auto update in URL
  mkdocs.yml
Labels: mkdocs

Use default search separator
  mkdocs.yml
Labels: mkdocs

Add specific insiders requirements
  requirements-insiders.txt
Labels: none

Install insiders version
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Utilisation du glossaire
  content/articles/2020/2020-09-11_html2markdown.md
Labels: articles

Use insiders also on deploy
  .github/workflows/deploy.yml
Labels: ci-cd

Fix cookie picto
  mkdocs.yml
Labels: mkdocs

Features/material sponsored (#424)
  .github/workflows/deploy.yml
  .github/workflows/pr_checker_build.yml
  content/articles/2020/2020-09-11_html2markdown.md
  content/toc_nav_ignored/snippets/abbreviations.md
  mkdocs.yml
  requirements-insiders.txt
Labels: articles, ci-cd, mkdocs

Enable tags plugin
  content/tags.md
  mkdocs.yml
Labels: mkdocs

Remove external mermaid
  mkdocs.yml
Labels: mkdocs

Ajout news 100 géographes femmes
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Intro gdd
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Move fluid earth
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

My Planet Maps news update.
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Décryptagéo
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Google maps
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp
