Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

logo Twitch et typos
  content/articles/2021/2021-02-16_reclus_confins_replay_geotribu.md
Labels: articles

minor fixes on voronoi icons
  content/rdp/2010/rdp_2010-10-29.md
  content/rdp/2011/rdp_2011-03-04.md
Labels: rdp

minor fixes on voronoi icons
  content/rdp/2010/rdp_2010-10-22.md
  content/rdp/2010/rdp_2010-10-29.md
  content/rdp/2011/rdp_2011-03-04.md
Labels: rdp

Correction de l'attribut de l'image
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

soil mapping
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Enable footnotes
  mkdocs-minimal.yml
  mkdocs.yml
Labels: mkdocs

Fix authors
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
Labels: articles

Finalisation
  content/articles/2021/2021-02-19_ignfr2map_automatisation_deploiement.md
Labels: articles

remove space
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Inversion > Auteurs
  content/articles/2021/2021-02-19_ignfr2map_automatisation_deploiement.md
Labels: articles

Pré-requis
  content/articles/2021/2021-02-19_ignfr2map_automatisation_deploiement.md
Labels: articles

Schéma
  content/articles/2021/2021-02-19_ignfr2map_automatisation_deploiement.md
Labels: articles

Coquille
  content/articles/2021/2021-02-19_ignfr2map_automatisation_deploiement.md
Labels: articles

Schéma v2
  content/articles/2021/2021-02-19_ignfr2map_automatisation_deploiement.md
Labels: articles

Coqs
  content/articles/2021/2021-02-19_ignfr2map_automatisation_deploiement.md
Labels: articles

Coquillettes
  content/articles/2021/2021-02-19_ignfr2map_automatisation_deploiement.md
Labels: articles

Mermaid syntaxe au lieu de l'iframe
  content/articles/2021/2021-02-19_ignfr2map_automatisation_deploiement.md
Labels: articles

Fix mermaid syntax
  content/articles/2021/2021-02-19_ignfr2map_automatisation_deploiement.md
Labels: articles

Check mailmap too
  .mailmap
  .pre-commit-config.yaml
Labels: none

USe markdownlint-cli autofix
  content/articles/2012/art_2012-03-15.md
  content/rdp/2011/rdp_2011-07-08.md
  content/rdp/2011/rdp_2011-08-26.md
  content/rdp/2011/rdp_2011-09-23.md
  content/rdp/2011/rdp_2011-10-21.md
  content/rdp/2011/rdp_2011-11-25.md
  content/rdp/2012/rdp_2012-02-05.md
  content/rdp/2012/rdp_2012-03-02.md
  content/rdp/2012/rdp_2012-04-06.md
  content/rdp/2012/rdp_2012-05-25.md
  content/rdp/2012/rdp_2012-08-17.md
  content/rdp/2012/rdp_2012-09-21.md
  content/rdp/2012/rdp_2012-11-16.md
  content/rdp/2013/rdp_2013-12-06.md
  content/rdp/2013/rdp_2013-12-20.md
  content/rdp/2014/rdp_2014-10-24.md
  content/team/archives/art_2012-12-29_lequipe.md
Labels: articles, contribution, rdp

Remove comments to because it's JSON, not JSONC
  .markdownlint.json
Labels: none

Add mermaid preview extension
  .vscode/extensions.json
Labels: none

Try md-matcher
  .github/workflows/markdown_lint.yml
Labels: ci-cd

Try with a simple run
  .github/workflows/markdown_lint.yml
Labels: ci-cd

Try again installing cli just before
  .github/workflows/markdown_lint.yml
Labels: ci-cd

Let linter write to sdout
  .github/workflows/markdown_lint.yml
Labels: ci-cd

Ajout de 4 news à la RDP 2021-02-26
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

img CDN et suppression balise "script" de Twitter
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Articles
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Linter Listes
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Notes
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Remove auto-tweet from @Doctor-Who
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Fix linter using disbale/enable rules
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Notes
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Update rdp_2021-02-26.md
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Update rdp_2021-02-26.md
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Add slideshow logic
  content/index.md
  content/theme/assets/javascripts/homepage-slideshow.js
  content/theme/assets/stylesheets/slideshow.css
  content/theme/home.html
Labels: th√®me

Fix alt text
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Disable rule 33 on video
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Ajout news Perseverance Nasa
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
