Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

En bref
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Note rayon de 10km
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Geoserver 2.19.0
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Coquilles
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Coquilles
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

News podcast libre à vous par @apitux
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Clean
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Ajout du git author
  content/contribuer/guides/authoring.md
Labels: contribution

Ajouts et corrections mineurs sur GS 2.19
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Complétion news métablisme urbain
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Déplacement input vers brèves
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Ajout nogdal
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Déplacement en brèves
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Fix linter
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Ajout cadbury
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Ajout scan elevation nicolas lambert
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Ajout covid19 washington post
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

MapLibre GL 1.14.0
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

FTP de l’IGN via Filezilla et en bref
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

swisstopo
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

img/description/section/coquilles/tags
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Coquille
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Suppression vie du site
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Envoyer un commentaire
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Temp remove no-history option
  .github/workflows/deploy_master_to_github_pages.yml
Labels: ci-cd

png/https/geolocation
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Bump metarial them to version 7
  requirements.txt
Labels: dependencies

Minor changes due to material v7
  content/theme/main.html
  mkdocs.yml
Labels: mkdocs, th√®me

Minor changes due to material v7
  content/theme/main.html
  mkdocs.yml
Labels: mkdocs, th√®me

Bump metarial them to version 7
  requirements.txt
Labels: dependencies

Patch landmatrix image
  content/rdp/2016/rdp_2016-10-14.md
Labels: rdp

RSS : diffuse uniquement les articles et RDP
  mkdocs.yml
Labels: mkdocs

Remove twitter script
  content/rdp/2013/rdp_2013-06-21.md
  content/rdp/2014/rdp_2014-01-10.md
  content/rdp/2014/rdp_2014-02-14.md
  content/rdp/2014/rdp_2014-03-21.md
  content/rdp/2015/rdp_2015-01-02.md
  content/rdp/2020/rdp_2020-06-12.md
Labels: rdp

Fix touches
  content/rdp/2014/rdp_2014-04-11.md
Labels: rdp

img patches
  content/rdp/2014/rdp_2014-11-10.md
  content/rdp/2015/rdp_2015-03-13.md
  content/rdp/2016/rdp_2016-01-15.md
Labels: rdp

1st April fool 2021
  content/index.md
  mkdocs.yml
Labels: mkdocs

Add redirection for former node 270
  mkdocs.yml
Labels: mkdocs

typo
  mkdocs.yml
Labels: mkdocs

Add redirection for former node 270 (#309)
  mkdocs.yml
Labels: mkdocs

redirect former rdp 2016
  mkdocs.yml
Labels: mkdocs
