Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

typo
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

Article RETEX disqus --> isso et contribution OSS
  content/articles/2021/2021-05-14_commentaires_migration_disqus_isso.md
Labels: articles

Typo
  content/articles/2021/2021-05-14_commentaires_migration_disqus_isso.md
Labels: articles

Add comments tags to RSS feed item
  mkdocs.yml
  requirements.txt
Labels: dependencies, mkdocs

Article RETEX disqus --> isso et contribution OSS (#342)
  content/articles/2021/2021-05-14_commentaires_migration_disqus_isso.md
Labels: articles

Change title
  content/articles/2021/2021-05-14_commentaires_migration_disqus_isso.md
Labels: articles

Incorrect URLs
  content/articles/2009/art_2009-08-17.md
  content/articles/2010/art_2010-04-06.md
  content/articles/2010/art_2010-04-26.md
Labels: articles

Geoserver logo
  content/articles/2009/art_2009-10-29.md
  content/articles/2010/art_2010-08-25.md
Labels: articles

Icons
  content/articles/2009/art_2009-06-05.md
  content/articles/2009/art_2009-08-10.md
  content/articles/2009/art_2009-11-11.md
  content/articles/2009/art_2009-11-26.md
  content/articles/2010/art_2010-04-06.md
  content/articles/2010/art_2010-04-26.md
  content/rdp/2010/rdp_2010-10-05.md
  content/rdp/2010/rdp_2010-10-08.md
  content/rdp/2010/rdp_2010-10-29.md
  content/rdp/2011/rdp_2011-02-11.md
  content/rdp/2011/rdp_2011-03-25.md
  content/rdp/2011/rdp_2011-06-24.md
  content/rdp/2014/rdp_2014-05-02.md
  content/rdp/2015/rdp_2015-09-21.md
  content/rdp/2020/rdp_2020-09-04.md
  content/rdp/2020/rdp_2020-12-11.md
Labels: articles, rdp

Trombi
  content/articles/2012/art_2012-12-29.md
  content/rdp/2014/rdp_2014-08-29.md
  content/rdp/2020/rdp_2020-08-07.md
  content/team/archives/art_2012-12-29_lequipe.md
Labels: articles, contribution, rdp

https Dailymotion
  content/rdp/2015/rdp_2015-04-10.md
  content/rdp/2016/rdp_2016-10-07.md
Labels: rdp

HTTPS wikimedia
  content/rdp/2012/rdp_2012-02-17.md
  content/rdp/2013/rdp_2013-06-28.md
  content/rdp/2013/rdp_2013-11-15.md
  content/rdp/2015/rdp_2015-05-01.md
Labels: rdp

HTTPS everywhere
  content/articles/2009/art_2009-10-29.md
  content/articles/2010/art_2010-11-29.md
  content/articles/2011/art_2011-03-10.md
  content/articles/2011/art_2011-12-01.md
  content/rdp/2011/rdp_2011-02-18.md
  content/rdp/2011/rdp_2011-03-11.md
  content/rdp/2011/rdp_2011-04-08.md
  content/rdp/2011/rdp_2011-05-13.md
  content/rdp/2011/rdp_2011-05-27.md
  content/rdp/2011/rdp_2011-09-23.md
  content/rdp/2011/rdp_2011-10-07.md
  content/rdp/2011/rdp_2011-10-28.md
  content/rdp/2011/rdp_2011-11-04.md
  content/rdp/2012/rdp_2012-03-23.md
  content/rdp/2012/rdp_2012-03-30.md
  content/rdp/2012/rdp_2012-05-18.md
  content/rdp/2012/rdp_2012-05-25.md
  content/rdp/2012/rdp_2012-06-02.md
  content/rdp/2012/rdp_2012-09-06.md
  content/rdp/2012/rdp_2012-11-08.md
  content/rdp/2012/rdp_2012-11-09.md
  content/rdp/2013/rdp_2013-03-15.md
  content/rdp/2013/rdp_2013-06-21.md
  content/rdp/2013/rdp_2013-08-30.md
  content/rdp/2014/rdp_2014-06-27.md
  content/rdp/2015/rdp_2015-03-27.md
  content/rdp/2015/rdp_2015-04-07.md
  content/rdp/2015/rdp_2015-06-19.md
  content/rdp/2016/rdp_2016-02-19.md
  content/rdp/2016/rdp_2016-10-14.md
Labels: articles, rdp

coulmont https
  content/rdp/2012/rdp_2012-12-21.md
  content/rdp/2014/rdp_2014-05-09.md
Labels: rdp

logos
  content/articles/2009/art_2009-06-07.md
  content/rdp/2011/rdp_2011-12-09.md
  content/rdp/2012/rdp_2012-09-06.md
  content/rdp/2013/rdp_2013-03-29.md
Labels: articles, rdp

typo
  content/articles/2021/2021-05-14_commentaires_migration_disqus_isso.md
  content/team/index.md
Labels: articles, contribution

Create rdp du 21 mai 2021
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

En bref
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Vie du site + note
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Note journées de la recherche
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Ajout captures
  content/contribuer/guides/twitter.md
Labels: contribution

Restaure Jérémie et Etienne
  content/team/index.md
Labels: contribution

Ajout page confidentialité
  content/team/.pages
  content/team/confidentialite.md
Labels: contribution, mkdocs

Coquille
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Ajout article confidentialité
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

typo
  content/team/confidentialite.md
Labels: contribution

Amorce graphhopper 3
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Amorce pygeos
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Amorce carto pollution
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

En bref
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Moteur de recherche IGN
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

ign-bookmarklet > image
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Note CloudCompare
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

CloudCompare
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

AG OSM
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

IGN JR 2021
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Note Mergin/Input
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Update rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Update rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Update rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp
