Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

Last changes
  content/articles/2021/2021-01-04_bilan_2020_perspectives_2021.md
Labels: articles

Add folium news
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Fix authors names
  .mailmap
Labels: none

Create 2021-01-09_QGIS_import_exprt_style.md
  content/articles/2021/2021-01-09_QGIS_import_exprt_style.md
Labels: articles

Update 2021-01-09_QGIS_import_exprt_style.md
  content/articles/2021/2021-01-09_QGIS_import_exprt_style.md
Labels: articles

renommer
  content/articles/2021/2021-01-09_CSV_import_export_style_QGIS.md
Labels: articles

Update 2021-01-09_CSV_import_export_style_QGIS.md
  content/articles/2021/2021-01-09_CSV_import_export_style_QGIS.md
Labels: articles

image
  content/articles/2021/2021-01-09_CSV_import_export_style_QGIS.md
Labels: articles

coquilles
  content/articles/2021/2021-01-09_CSV_import_export_style_QGIS.md
Labels: articles

coquilles
  content/articles/2021/2021-01-09_CSV_import_export_style_QGIS.md
Labels: articles

Update 2021-01-09_CSV_import_export_style_QGIS.md
  content/articles/2021/2021-01-09_CSV_import_export_style_QGIS.md
Labels: articles

add mkdocs-exclude
  requirements.txt
Labels: dependencies

Add mkdocs-exclude config
  mkdocs.yml
Labels: mkdocs

Fix broken relative link
  content/contribuer/edit/fix_content_from_website.md
Labels: contribution

Notes
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

pgModeler
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

OpenLayers
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Coquilles
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

C215
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Update rdp_2021-01-15.md
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Update 2021-01-09_CSV_import_export_style_QGIS.md
  content/articles/2021/2021-01-09_CSV_import_export_style_QGIS.md
Labels: articles

Ajout news industrie spatiale
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Ajout news terre mediane
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Ajout news github globe
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Ajout news plages hawaii
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Ajout news open datasets
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Ajout image intro
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Ajout news anomalies températures / modif icone hawaii
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Coquilles
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Ajout news tutos capitaine moustache
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

OpenArdenneMap
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

OpenArdenneMap - complément
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

coquille
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

coquille
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Add rtk
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Article sur icônes dans PyQGIS
  content/articles/2021/2021-01-13_pyqgis_utiliser_icones_integrees.md
Labels: articles

Changement date
  content/articles/2021/2021-01-19_pyqgis_utiliser_icones_integrees.md
Labels: articles

Correction prérequis
  content/articles/2021/2021-01-19_pyqgis_utiliser_icones_integrees.md
Labels: articles

Créationarticle sur le script des images QGIS
  content/articles/2021/2021-01-25_pyqgis_previsualiser_images_integrees.md
Labels: articles

Ajout d'un dossier non visible dans la navigation
  content/toc_nav_ignored/.pages
  content/toc_nav_ignored/qgis_resources_preview_table.md
Labels: mkdocs

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
