Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

News ign lidar
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

News qgis atlas tips
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

contrib article osgeo4W
  content/articles/2021/2021-06-11_qgis_personnaliser_package_osgeo4w.md
  content/team/rha.md
Labels: articles, contribution

Coqs news qgis atlas
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

Ajout tableaux Google Data Studio
  content/team/.pages
  content/team/confidentialite.md
  content/team/statistiques.md
Labels: contribution, mkdocs

Fix markdown
  content/articles/2021/2021-06-11_qgis_personnaliser_package_osgeo4w.md
Labels: articles

Images CDN
  content/articles/2021/2021-06-11_qgis_personnaliser_package_osgeo4w.md
  content/team/rha.md
Labels: articles, contribution

Prefer relative links
  content/articles/2021/2021-06-11_qgis_personnaliser_package_osgeo4w.md
Labels: articles

Fix QGIS logo
  content/articles/2021/2021-06-11_qgis_personnaliser_package_osgeo4w.md
Labels: articles

PGSession14
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

MapLibre déplacé En bref
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

Réseaux électriques et gaziers
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

Coquille
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

fixed article
  content/articles/2021/2021-06-11_qgis_personnaliser_package_osgeo4w.md
Labels: articles

make linter happy
  content/articles/2021/2021-07-06_qgis_personnaliser_package_osgeo4w.md
Labels: articles

renomme avec la date de publication cible
  content/articles/2021/2021-07-06_qgis_personnaliser_package_osgeo4w.md
Labels: articles

Typos et balises images
  content/articles/2021/2021-07-06_qgis_personnaliser_package_osgeo4w.md
Labels: articles

Balise images
  content/articles/2021/2021-07-06_qgis_personnaliser_package_osgeo4w.md
Labels: articles

News QSoccer
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

News QSoccer
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

QSoccer : images
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

typo glastonbury
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

Add slideshow image
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

Typo Lyon 1700
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

Géo-communs ? Chiche !
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

Carte IGN - Pétition
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

Tags
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

improve title
  content/articles/2021/2021-07-06_qgis_personnaliser_package_osgeo4w.md
Labels: articles

fix title
  content/articles/2021/2021-07-06_qgis_personnaliser_package_osgeo4w.md
Labels: articles

Coqs br
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

Suppression - Carte IGN
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

Coquille
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

Sections vides
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

img titre
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

Fix image size
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

smiley
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

Minor fixes
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

Center tweet
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

missing space
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

remove deoublon lien
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp
