Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Feature geovelo article in homepage
  content/theme/home.html
Labels: th√®me

Remove glossary
  content/articles/2020/2020-09-11_html2markdown.md
  content/articles/2021/2021-05-05_geointerview_ign_sebastien_soriano_annonce.md
  content/articles/2021/2021-07-16_relooking_nouveautes_geotribu.md
  content/articles/2021/2021-10-05_lien_sig_osm.md
  content/articles/2021/2021-10-15_irc_osgeo.md
  content/articles/2021/2021-10-31_retour-vers-le-futur-de-qgis-ganymede.md
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
  content/articles/templates/template_article.md
  content/contribuer/articles/workflow.md
  content/contribuer/contribution_guide.md
  content/contribuer/edit/local_edition_setup.md
  content/contribuer/guides/image.md
  content/contribuer/guides/licensing.md
  content/contribuer/guides/markdown_basics.md
  content/contribuer/internal/backup.md
  content/contribuer/rdp/add_news.md
  content/contribuer/rdp/create_rdp.md
  content/contribuer/rdp/publish.md
  content/contribuer/rdp/workflow.md
  content/newsletter/signup.md
  content/rdp/2021/rdp_2021-10-22.md
  content/rdp/2021/rdp_2021-11-05.md
  content/rdp/templates/template_rdp.md
Labels: articles, contribution, rdp

Fix linter
  content/articles/2020/2020-09-11_html2markdown.md
  content/articles/2021/2021-10-15_irc_osgeo.md
Labels: articles

En bref
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Note : IGN - outils de labellisation
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

RPG 2020
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

En bref - MAJA 4.5
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

BAL v1.3
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

En bref : GeoServer
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Note : Olympiades nationales de géographie
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Ajout commande clean git
  content/contribuer/edit/local_edition_setup.md
Labels: contribution

Use plain mode for template hyperlink
  content/contribuer/articles/workflow.md
Labels: contribution

CRIG Occitanie
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Create openmobilityindicators.md
  content/articles/2021/openmobilityindicators.md
Labels: articles

Create 2021-12-01_openmobilityindicators.md
  content/articles/2021/2021-12-01_openmobilityindicators.md
Labels: articles

correction et complément format BAL 1.3
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Toute petite coquille !
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

actualités geOrchestra
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Toute petite coquille !
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

typo point final
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Ajustements images geocom
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Ajout mots-clés
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

actualités geOrchestra
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

correction et complément format BAL 1.3
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

typo point final
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Ajout mots-clés
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Ajustements images geocom
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Ajout vie du site
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Article MIT
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Ajout appel FIG
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Ajout brève atalas napoléon
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

typos
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Ajout news PILI
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

lightbox et image seo
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

GADM
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

30DayMapChallenge
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

IGN labellisation
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Complement RPG
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Olympiades nationales de géographie
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Suppression AgroSpace et GeoNetwork
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp
