Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

Replace padding by margin for img-right
  content/theme/assets/stylesheets/extra.css
Labels: th√®me

Ajout livre geocomputation with R
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Replace logo
  content/articles/2021/2021-02-02_test_unfolded_studio.md
Labels: articles

Fix images gallery
  content/articles/2021/2021-02-02_test_unfolded_studio.md
Labels: articles

Fix coqs
  content/articles/2021/2021-02-02_test_unfolded_studio.md
Labels: articles

Ajout news mini tokyo map
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Ajout lien wikipedia paas
  content/articles/2021/2021-02-02_test_unfolded_studio.md
Labels: articles

Modifs dates
  content/articles/2021/2021-01-26_test_unfolded_studio.md
Labels: articles

Ajout lien vers geordp
  content/articles/2021/2021-01-26_test_unfolded_studio.md
Labels: articles

Use hyperlinks ref
  content/articles/2021/2021-01-26_test_unfolded_studio.md
Labels: articles

Remove async for mediabox loading
  content/theme/main.html
Labels: th√®me

Retrait doublons :
  content/articles/2021/2021-01-26_test_unfolded_studio.md
Labels: articles

coquillette
  content/articles/2021/2021-01-26_test_unfolded_studio.md
Labels: articles

Fix images verticales
  content/articles/2021/2021-01-26_test_unfolded_studio.md
Labels: articles

Bascule presentation et iframe
  content/articles/2021/2021-01-26_test_unfolded_studio.md
Labels: articles

Modifs representations en niveau de titre
  content/articles/2021/2021-01-26_test_unfolded_studio.md
Labels: articles

coquille
  content/articles/2021/2021-01-26_test_unfolded_studio.md
Labels: articles

Align right et coq fond de plan
  content/articles/2021/2021-01-26_test_unfolded_studio.md
Labels: articles

Change date
  content/articles/2021/2021-02-02_pyqgis_previsualiser_images_integrees.md
Labels: articles

Fix button plein ecran
  content/articles/2021/2021-01-26_test_unfolded_studio.md
Labels: articles

Change description
  content/articles/2021/2021-01-26_test_unfolded_studio.md
Labels: articles

Fix alignement images verticales
  content/articles/2021/2021-01-26_test_unfolded_studio.md
Labels: articles

State of the Map 2021
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

FAQ Diffusion des données publiques IGN
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Minard
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Coquille
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Ajout news equipe foot plus proche
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Ajout news vistas v2
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Ajout en bref geotools 24.2
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

fix meta
  content/articles/2021/2021-01-26_test_unfolded_studio.md
Labels: articles

Change featured article to unfolded
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

add geopandas
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Ajout monitoring services ign
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

add udata
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

SRTM15+ et en bref
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Traceur mural XXL
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

title
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

coquille
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Ajout news shadowarm
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Ajout news dashboard qgis
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
