Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

coquille
  content/articles/2021/2021-01-22_csv_import_export_style_QGIS.md
Labels: articles

coquille
  content/articles/2021/2021-01-22_csv_import_export_style_QGIS.md
Labels: articles

List
  content/articles/2021/2021-01-22_csv_import_export_style_QGIS.md
Labels: articles

test
  content/articles/2021/2021-01-22_csv_import_export_style_QGIS.md
Labels: articles

rétropédalage
  content/articles/2021/2021-01-22_csv_import_export_style_QGIS.md
Labels: articles

Fix markdown syntax
  content/articles/2021/2021-01-22_csv_import_export_style_QGIS.md
Labels: articles

Ajout de la remarque de @Gustry
  content/articles/2021/2021-01-19_pyqgis_utiliser_icones_integrees.md
Labels: articles

Création prochaine GeoRDP
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Fix feeds hyperlink
  content/articles/2014/art_2014-01-06.md
  content/articles/2021/2021-01-19_pyqgis_utiliser_icones_integrees.md
Labels: articles

modif date publi
  content/articles/2021/2021-02-02_test_unfolded_studio.md
Labels: articles

En bref - GeoNetwork & HebdoOSM
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Note - Le système Minard
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Note
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Reduce RSS length from 50 to 40 and enable pretty print
  mkdocs.yml
Labels: mkdocs

Bump minify plugin
  requirements.txt
Labels: dependencies

Bump minify plugin
  requirements.txt
Labels: dependencies

Reduce RSS length from 50 to 40 and enable pretty print
  mkdocs.yml
Labels: mkdocs

Enable feed prettyprint
  mkdocs.yml
Labels: mkdocs

Hotfix corrupted feed - enable pretty print (#263)
  mkdocs.yml
Labels: mkdocs

Fix date and title
  content/articles/2021/2021-01-19_pyqgis_utiliser_icones_integrees.md
Labels: articles

Fix date and title
  content/articles/2021/2021-01-19_pyqgis_utiliser_icones_integrees.md
Labels: articles

Fix dates
  content/articles/2021/2021-01-25_pyqgis_previsualiser_images_integrees.md
  content/articles/templates/template_article.md
  content/rdp/templates/template_rdp.md
Labels: articles, rdp

Update titles
  content/articles/2021/2021-02-02_test_unfolded_studio.md
Labels: articles

remove html tag from title
  content/articles/2010/art_2010-06-11.md
Labels: articles

patched
  content/articles/2010/art_2010-06-11.md
Labels: articles

MapShaper 0.5.29
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Add news espagne neige
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

brève d3
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Ajout news afigeo
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Add icone news espagne
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Ajout news QGIS lutraconsulting
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

ajout news AI4geo
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

ajout liens vers articles publiés
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

fix relative link of @aurelienchaumet
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

patched
  content/rdp/2011/rdp_2011-05-21.md
Labels: rdp

patched
  content/rdp/2011/rdp_2011-05-21.md
Labels: rdp

Move afigeo to misc
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Reformulation et enrichissement news mesh
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Ajout news pygeos
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Ajout news carto jeu video
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
