Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

Bump markdownlint-cli
  .gitignore
  package.json
Labels: none

Add package-lock
  package-lock.json
Labels: none

Minor improvments
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Traduction
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

Fix missing checkout
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

Disable old linter workflow
  .github/_archived/pr_linter_comment.yml
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

Move emoji at start
  .github/workflows/auto-labeler.yml
  .github/workflows/deploy.yml
  .github/workflows/pr_checker_build.yml
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

Add un safe to check-yaml
  .pre-commit-config.yaml
Labels: none

Disable mdlint since it's not running against staged files
  .pre-commit-config.yaml
Labels: none

Fix images for linter and try new report
  content/articles/2014/art_2014-09-25_dicogis.md
Labels: articles

Always build preview
  .github/workflows/deploy.yml
  .github/workflows/pr_checker_build.yml
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

Fix md
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

Change homepage article
  content/theme/home.html
Labels: th√®me

Fix RDP title
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

Lightboxes et taille images
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

Ajout news GDD et dernieres retouches
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

Update rdp_2021-09-10.md
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

Update rdp_2021-09-10.md
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

Ajout liens vers article et code dashboard QGIS
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

Ajout liens vers article et code dashboard QGIS
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

Use major versions
  .github/workflows/auto-labeler.yml
  .github/workflows/deploy.yml
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Add site name and mkdocs config to artifact
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Use default python version on ubuntu 20.04
  runtime.txt
Labels: none

Improve sed cmd
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Fix preview URL
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Clean up
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

Create rdp_2021-09-24.md
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Amorce saute canton
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Amorce pygeometa
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Amorce trex
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Note bot Twitter + hebdoOSM
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Amorce OL 6.7
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Lien SIG/OSM
  content/articles/2021/2021-10-XX_lien_sig_osm.md
Labels: articles

Use former name
  .github/workflows/pr_checker_build.yml
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

Add checkbox for slack
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Coquilles
  content/articles/2021/2021-10-XX_lien_sig_osm.md
Labels: articles

try linter
  .github/workflows/pr_linter_markdown.yml
  content/toc_nav_ignored/test_bad_markdown.md
Labels: ci-cd

remove package json
  package-lock.json
  package.json
Labels: none

Date
  content/articles/2021/2021-10-01_lien_sig_osm.md
Labels: articles

try other config
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
