Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

ajout precisions sur Geo event Cartomob
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Rossi : ajout image
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Rossi : ajout image
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Update Representation carto.
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

https - sections et coquilles
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Intro
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Prettify contributors
  .mailmap
Labels: none

Update rdp_2021-06-04.md
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Correction d'une typo dans le lien pour la carte lego
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

typo
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Remoe sed cmd
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

Correction d'une typo dans le lien pour la carte lego
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

typo
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

jout de capture d'écran de Central et Briefcase en mode galerie. Reste à ajouter xlsform
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

Coquilles
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

ajout des captures d'écran Xlsform
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

ajout des captures d'écran Enketo
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

ajout d'un paragraphe pour les outils communautaires (QRealtime pour QGIS et ruODK pour R). Ajout de ruODK. Compléments au premier schéma.
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

reprise du schéma des outils du SI du CEN. Reprise de la biblio. Ajout d'un webinaire
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

correction ligne vide surnuméraire
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

coquille + déplacement écrans xlsform
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

coquille + redondance de mots
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

ajout des lignes vides manquantes avant les images
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

fix image path
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

Minor fixes and add doc buttons
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

typo
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

Améliorations diverses
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

Improve preview site prefix
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

correction image cassée
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

tentative de forçage de la taille des captures d'écrans de téléphone
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

Add globe and hide email laposte of @igeofr
  .mailmap
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

Improve basemap picker captures
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

Images geopooint
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

Nattoyage images typo widgets geos
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

déplacement du contexte ODK au CEN + présnetation auteur
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

déplacement du contexte ODK au CEN + présnetation auteur
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

divers bricoles
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

Remove deleted image
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

titres images
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

contacts rs
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles
