Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me, tuto

Remove config-file path
  .github/workflows/deploy_master_to_github_pages.yml
Labels: ci-cd

Remove config-file path
  .github/workflows/deploy_master_to_github_pages.yml
Labels: ci-cd

Ajout webinar isogeo
  content/rdp/2020/rdp_2020-06-26.md
Labels: rdp

Fix typo in @arno974 new
  content/rdp/2020/rdp_2020-06-26.md
Labels: rdp

Ajout news bloomberg
  content/rdp/2020/rdp_2020-06-26.md
Labels: rdp

News earthcube, pollutrack, Qgis2threejs
  content/rdp/2020/rdp_2020-06-26.md
Labels: rdp

add news mathieu sur oeinis
  content/rdp/2020/rdp_2020-06-26.md
Labels: rdp

Add news Deeposlandia
  content/rdp/2020/rdp_2020-06-26.md
Labels: rdp

cleaning
  content/rdp/2020/rdp_2020-06-26.md
Labels: rdp

Nettoyage de certaines coquilles et des sections vides
  content/rdp/2020/rdp_2020-06-26.md
Labels: rdp

modification emplacement news Qgis2threejs
  content/rdp/2020/rdp_2020-06-26.md
Labels: rdp

Add link pollutrack
  content/rdp/2020/rdp_2020-06-26.md
Labels: rdp

Complétion news atlas nautique
  content/rdp/2020/rdp_2020-06-26.md
Labels: rdp

Delete empty sections
  content/rdp/2020/rdp_2020-06-26.md
Labels: rdp

Pollutrack : ajout france inter et logo
  content/rdp/2020/rdp_2020-06-26.md
Labels: rdp

Improve logos
  content/rdp/2020/rdp_2020-06-26.md
Labels: rdp

Achieve QGIS release news
  content/rdp/2020/rdp_2020-06-26.md
Labels: rdp

intro
  content/rdp/2020/rdp_2020-06-26.md
Labels: rdp

correction typo
  content/rdp/2020/rdp_2020-06-26.md
Labels: rdp

Typo
  content/contribuer/contribution_guide.md
Labels: contribution

Create rdp_2020-07-10.md
  content/rdp/2020/rdp_2020-07-10.md
Labels: rdp

Ajout des commandes pour nettoyer son git local
  content/contribuer/local/local_edition_setup.md
Labels: contribution

Clean netlify config files
  netlify.toml
Labels: none

Ajout configuration netlify pour un usage futur
  netlify.toml
  runtime.txt
Labels: none

patched
  content/rdp/2015/rdp_2015-04-07.md
  content/rdp/2015/rdp_2015-04-10.md
  content/rdp/2015/rdp_2015-04-20.md
  content/rdp/2015/rdp_2015-04-24.md
  content/rdp/2015/rdp_2015-05-01.md
  content/rdp/2015/rdp_2015-09-01.md
  content/rdp/2015/rdp_2015-09-18.md
Labels: rdp

patched
  content/rdp/2015/rdp_2015-09-21.md
  content/rdp/2015/rdp_2015-10-02.md
  content/rdp/2015/rdp_2015-10-16.md
  content/rdp/2015/rdp_2015-11-13.md
  content/rdp/2015/rdp_2015-11-30.md
  content/rdp/2015/rdp_2015-12-21.md
Labels: rdp

patched
  content/rdp/2013/rdp_2013-04-19.md
  content/rdp/2013/rdp_2013-05-31.md
  content/rdp/2013/rdp_2013-07-13.md
  content/rdp/2013/rdp_2013-10-04.md
  content/rdp/2013/rdp_2013-10-11.md
  content/rdp/2013/rdp_2013-10-25.md
  content/rdp/2014/rdp_2014-01-31.md
  content/rdp/2014/rdp_2014-04-18.md
  content/rdp/2014/rdp_2014-12-24.md
  content/rdp/2015/rdp_2015-01-30.md
  content/rdp/2015/rdp_2015-02-06.md
  content/rdp/2015/rdp_2015-05-16.md
  content/rdp/2015/rdp_2015-05-29.md
  content/rdp/2015/rdp_2015-06-05.md
  content/rdp/2015/rdp_2015-06-12.md
  content/rdp/2015/rdp_2015-06-19.md
  content/rdp/2016/rdp_2016-01-15.md
  content/rdp/2016/rdp_2016-02-05.md
  content/rdp/2016/rdp_2016-02-12.md
  content/rdp/2016/rdp_2016-02-19.md
  content/rdp/2016/rdp_2016-03-11.md
  content/rdp/2016/rdp_2016-04-22.md
  content/rdp/2016/rdp_2016-06-24.md
  content/rdp/2016/rdp_2016-07-01.md
  content/rdp/2016/rdp_2016-10-07.md
  content/rdp/2016/rdp_2016-10-14.md
  content/rdp/2016/rdp_2016-12-05.md
  content/rdp/2017/rdp_2017-01-27.md
Labels: rdp

patched
  content/articles/2009/art_2009-04-22.md
  content/rdp/2015/rdp_2015-06-05.md
  content/rdp/2015/rdp_2015-07-03.md
Labels: articles, rdp

Add a sub mkdocs to build only rdp folder
  content/rdp/mkdocks.yml
Labels: none

typo
  content/articles/2009/art_2009-12-31.md
Labels: articles

typo
  content/articles/2009/art_2009-12-31.md
Labels: articles

Base du tuto
  content/articles/2020/2020-07-03_deploy_qgis_windows.md
Labels: articles

Ajout news conf gvSIG
  content/rdp/2020/rdp_2020-07-10.md
Labels: rdp

Add copyleft custom css class
  content/theme/assets/stylesheets/extra.css
  mkdocs.yml
Labels: mkdocs, th√®me

Finalisation du tuto
  content/articles/2020/2020-07-03_deploy_qgis_windows.md
Labels: articles

Update 2020-07-03_deploy_qgis_windows.md
  content/articles/2020/2020-07-03_deploy_qgis_windows.md
Labels: articles

Add copyleft custom css class
  content/theme/assets/stylesheets/extra.css
  mkdocs.yml
Labels: mkdocs, th√®me

Finalisation du tuto
  content/articles/2020/2020-07-03_deploy_qgis_windows.md
Labels: articles

Update 2020-07-03_deploy_qgis_windows.md
  content/articles/2020/2020-07-03_deploy_qgis_windows.md
Labels: articles

Base du tuto
  content/articles/2020/2020-07-03_deploy_qgis_windows.md
Labels: articles

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*

contribution:
    - content/contribuer/**/*.md

dependencies:
    - ./**/requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

tuto:
    - content/tutoriels/**/*.md
