Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Disable comments
  content/theme/main.html
Labels: th√®me

Try double quoting
  content/contribuer/guides/diagrams.md
Labels: contribution

Fix 2016 (Partie 4/4)
  content/rdp/2016/rdp_2016-01-15.md
  content/rdp/2016/rdp_2016-02-05.md
  content/rdp/2016/rdp_2016-02-12.md
  content/rdp/2016/rdp_2016-06-24.md
  content/rdp/2016/rdp_2016-07-01.md
  content/rdp/2016/rdp_2016-10-14.md
Labels: rdp

Fix 2016 Intro/Vidéo (width)
  content/rdp/2016/rdp_2016-01-15.md
  content/rdp/2016/rdp_2016-02-05.md
  content/rdp/2016/rdp_2016-02-12.md
  content/rdp/2016/rdp_2016-02-19.md
  content/rdp/2016/rdp_2016-03-04.md
  content/rdp/2016/rdp_2016-03-11.md
  content/rdp/2016/rdp_2016-04-22.md
  content/rdp/2016/rdp_2016-06-24.md
  content/rdp/2016/rdp_2016-07-01.md
  content/rdp/2016/rdp_2016-10-07.md
  content/rdp/2016/rdp_2016-10-28.md
  content/rdp/2016/rdp_2016-12-16.md
  content/rdp/2017/rdp_2017-01-27.md
Labels: rdp

Fix 2016 coquille liste
  content/rdp/2016/rdp_2016-02-19.md
Labels: rdp

Notes et en bref (GDAL, Geoserver)
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Fix 2016 Divers coquilles
  content/rdp/2016/rdp_2016-01-15.md
  content/rdp/2016/rdp_2016-02-19.md
  content/rdp/2016/rdp_2016-03-11.md
  content/rdp/2016/rdp_2016-10-28.md
Labels: rdp

Fix 2016 - Recherche erreur
  content/rdp/2016/rdp_2016-02-19.md
  content/rdp/2016/rdp_2016-03-11.md
Labels: rdp

Use 8.8.4
  content/contribuer/guides/diagrams.md
Labels: contribution

Fix RDP 2013-01-04 et ressources associées
  content/rdp/2011/rdp_2011-12-02.md
  content/rdp/2012/rdp_2012-01-13.md
  content/rdp/2012/rdp_2012-05-04.md
  content/rdp/2012/rdp_2012-05-11.md
  content/rdp/2012/rdp_2012-06-08.md
  content/rdp/2012/rdp_2012-08-24.md
  content/rdp/2012/rdp_2012-09-28.md
  content/rdp/2012/rdp_2012-11-02.md
  content/rdp/2012/rdp_2012-12-21.md
  content/rdp/2013/rdp_2013-01-04.md
  content/rdp/2013/rdp_2013-01-25.md
  content/rdp/2013/rdp_2013-02-01.md
  content/rdp/2013/rdp_2013-04-05.md
  content/rdp/2013/rdp_2013-05-17.md
  content/rdp/2013/rdp_2013-07-19.md
  content/rdp/2013/rdp_2013-12-13.md
  content/rdp/2013/rdp_2013-12-20.md
  content/rdp/2014/rdp_2014-04-11.md
  content/rdp/2014/rdp_2014-06-20.md
  content/rdp/2014/rdp_2014-09-26.md
  content/rdp/2015/rdp_2015-10-16.md
  content/rdp/2015/rdp_2015-11-13.md
Labels: rdp

Fix 2016 - Rétro pédalage
  content/rdp/2016/rdp_2016-10-14.md
  content/rdp/2016/rdp_2016-12-05.md
Labels: rdp

Path RDP 2013-01-11 et ressources associées
  content/rdp/2011/rdp_2011-01-14.md
  content/rdp/2013/rdp_2013-01-11.md
  content/rdp/2013/rdp_2013-02-01.md
  content/rdp/2014/rdp_2014-09-05.md
  content/rdp/2014/rdp_2014-12-05.md
  content/rdp/2015/rdp_2015-01-30.md
Labels: rdp

Fix RDP 2013-01-25 et ressources associées
  content/rdp/2012/rdp_2012-07-13.md
  content/rdp/2013/rdp_2013-01-25.md
  content/rdp/2013/rdp_2013-08-09.md
  content/rdp/2014/rdp_2014-02-21.md
Labels: rdp

Fix RDP 2013-02-01 et ressources associées
  content/rdp/2011/rdp_2011-11-25.md
  content/rdp/2012/rdp_2012-04-06.md
  content/rdp/2012/rdp_2012-05-25.md
  content/rdp/2012/rdp_2012-06-15.md
  content/rdp/2012/rdp_2012-07-27.md
  content/rdp/2013/rdp_2013-02-01.md
Labels: rdp

try with flowhcart
  content/contribuer/guides/diagrams.md
Labels: contribution

Fix RDP 20130208 et ressources associées
  content/rdp/2012/rdp_2012-02-20.md
  content/rdp/2013/rdp_2013-02-08.md
  content/rdp/2013/rdp_2013-02-15.md
  content/rdp/2013/rdp_2013-03-08.md
  content/rdp/2013/rdp_2013-03-15.md
  content/rdp/2013/rdp_2013-03-22.md
  content/rdp/2013/rdp_2013-03-29.md
  content/rdp/2013/rdp_2013-06-07.md
  content/rdp/2013/rdp_2013-07-05.md
  content/rdp/2013/rdp_2013-07-12.md
  content/rdp/2013/rdp_2013-07-19.md
  content/rdp/2013/rdp_2013-07-26.md
  content/rdp/2013/rdp_2013-08-23.md
  content/rdp/2013/rdp_2013-08-30.md
  content/rdp/2013/rdp_2013-09-20.md
  content/rdp/2013/rdp_2013-11-08.md
  content/rdp/2013/rdp_2013-11-22.md
  content/rdp/2013/rdp_2013-12-13.md
  content/rdp/2013/rdp_2013-12-20.md
  content/rdp/2014/rdp_2014-02-14.md
  content/rdp/2014/rdp_2014-02-21.md
  content/rdp/2014/rdp_2014-02-28.md
  content/rdp/2014/rdp_2014-03-14.md
  content/rdp/2014/rdp_2014-03-21.md
  content/rdp/2014/rdp_2014-04-01.md
  content/rdp/2014/rdp_2014-04-11.md
  content/rdp/2014/rdp_2014-04-25.md
  content/rdp/2014/rdp_2014-06-13.md
  content/rdp/2014/rdp_2014-08-08.md
  content/rdp/2014/rdp_2014-08-14.md
  content/rdp/2014/rdp_2014-09-05.md
  content/rdp/2014/rdp_2014-09-19.md
  content/rdp/2014/rdp_2014-10-24.md
  content/rdp/2014/rdp_2014-11-14.md
  content/rdp/2015/rdp_2015-01-16.md
  content/rdp/2015/rdp_2015-03-06.md
  content/rdp/2015/rdp_2015-05-29.md
  content/rdp/2015/rdp_2015-06-05.md
  content/rdp/2015/rdp_2015-09-01.md
Labels: rdp

Fix RDP 20130215
  content/rdp/2013/rdp_2013-02-08.md
  content/rdp/2013/rdp_2013-02-15.md
Labels: rdp

Fix RDP 20130222
  content/rdp/2013/rdp_2013-02-22.md
Labels: rdp

Fix again RDP 20130222
  content/articles/2010/art_2010-02-04.md
  content/rdp/2010/rdp_2010-11-26.md
  content/rdp/2011/rdp_2011-01-21.md
  content/rdp/2011/rdp_2011-02-04.md
  content/rdp/2011/rdp_2011-04-22.md
  content/rdp/2012/rdp_2012-01-07.md
  content/rdp/2012/rdp_2012-01-13.md
  content/rdp/2012/rdp_2012-03-16.md
  content/rdp/2012/rdp_2012-06-02.md
  content/rdp/2012/rdp_2012-06-08.md
  content/rdp/2012/rdp_2012-07-20.md
  content/rdp/2012/rdp_2012-10-05.md
  content/rdp/2013/rdp_2013-02-22.md
  content/rdp/2013/rdp_2013-07-19.md
  content/rdp/2013/rdp_2013-09-20.md
  content/rdp/2013/rdp_2013-11-08.md
  content/rdp/2014/rdp_2014-06-27.md
  content/rdp/2014/rdp_2014-12-24.md
Labels: articles, rdp

Fix RDP 20130301
  content/rdp/2013/rdp_2013-03-01.md
Labels: rdp

Fix RDP 20130308 et ressources associées
  content/rdp/2012/rdp_2012-02-20.md
  content/rdp/2013/rdp_2013-03-08.md
  content/rdp/2013/rdp_2013-03-15.md
  content/rdp/2013/rdp_2013-03-29.md
  content/rdp/2013/rdp_2013-04-05.md
  content/rdp/2013/rdp_2013-05-10.md
  content/rdp/2013/rdp_2013-05-24.md
  content/rdp/2013/rdp_2013-06-07.md
  content/rdp/2013/rdp_2013-07-12.md
  content/rdp/2013/rdp_2013-07-26.md
  content/rdp/2013/rdp_2013-11-08.md
  content/rdp/2013/rdp_2013-11-29.md
  content/rdp/2013/rdp_2013-12-20.md
  content/rdp/2014/rdp_2014-01-31.md
  content/rdp/2014/rdp_2014-02-14.md
  content/rdp/2014/rdp_2014-06-06.md
  content/rdp/2014/rdp_2014-08-14.md
  content/rdp/2014/rdp_2014-12-05.md
  content/rdp/2014/rdp_2014-12-12.md
  content/rdp/2015/rdp_2015-01-02.md
  content/rdp/2015/rdp_2015-01-30.md
Labels: rdp

Fix RDP 20130315 et cie
  content/rdp/2013/rdp_2013-03-15.md
  content/rdp/2013/rdp_2013-04-19.md
  content/rdp/2013/rdp_2013-05-17.md
  content/rdp/2013/rdp_2013-05-24.md
  content/rdp/2013/rdp_2013-06-14.md
  content/rdp/2013/rdp_2013-06-28.md
  content/rdp/2013/rdp_2013-08-02.md
  content/rdp/2013/rdp_2013-09-13.md
  content/rdp/2013/rdp_2013-09-20.md
  content/rdp/2013/rdp_2013-11-15.md
  content/rdp/2013/rdp_2013-12-20.md
  content/rdp/2014/rdp_2014-04-01.md
  content/rdp/2014/rdp_2014-04-25.md
  content/rdp/2014/rdp_2014-05-30.md
  content/rdp/2014/rdp_2014-06-06.md
  content/rdp/2014/rdp_2014-09-26.md
  content/rdp/2014/rdp_2014-10-17.md
  content/rdp/2014/rdp_2014-11-28.md
  content/rdp/2015/rdp_2015-01-16.md
  content/rdp/2015/rdp_2015-03-27.md
  content/rdp/2015/rdp_2015-10-16.md
  content/rdp/2015/rdp_2015-12-11.md
Labels: rdp

Fix RDP 20210322
  content/rdp/2012/rdp_2012-06-08.md
  content/rdp/2012/rdp_2012-09-28.md
  content/rdp/2013/rdp_2013-03-15.md
  content/rdp/2013/rdp_2013-03-22.md
  content/rdp/2014/rdp_2014-10-24.md
Labels: rdp

QompliGIS
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Lien QompliGIS
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Ecole publique vs privée
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

L’Incroyable Histoire de la géographie
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Fix RDP 20130906
  content/rdp/2013/rdp_2013-09-06.md
Labels: rdp

En bref - pgAdmin 4
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Move Input et ajout tags
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Article GPS carte
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Transcartogramme et flux
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

retrait news geotrek
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

retrait news geotrek
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

En bref : GeoNetwok et pgAdmin 4
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

QompliGIS - Précisions
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

carto.graou.info
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Intro
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Coquille } et max-width
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Corrections sur les images
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp
