Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

Update rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Update rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Update rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Update rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Update rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Update rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Update rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Update rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Update rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Update rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Update rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Update rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

pgAdmin4
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Nettoyage
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Reformulation lettre ouverte
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Update rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Update rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Update rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Ajout plugin cadastre
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Coquilles intro
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Move pygeos
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Complétion news GH
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Surrpime news vides
  content/rdp/2021/rdp_2021-05-21.md
Labels: rdp

Next RDP avec news vides
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

How to proposer un article
  content/contribuer/workflow_article.md
Labels: contribution

typo
  content/articles/2021/2021-01-26_test_unfolded_studio.md
Labels: articles

Rename github logo
  content/rdp/2013/rdp_2013-06-14.md
  content/rdp/2013/rdp_2013-06-28.md
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Dimensions image en-tête
  content/contribuer/guides/metadata_yaml_frontmatter.md
Labels: contribution

Create test.md
  content/articles/2021/test.md
Labels: articles

Patching
  content/rdp/2010/rdp_2010-11-19.md
  content/rdp/2011/rdp_2011-09-02.md
  content/rdp/2011/rdp_2011-11-10.md
  content/rdp/2012/rdp_2012-06-22.md
  content/rdp/2012/rdp_2012-07-13.md
  content/rdp/2012/rdp_2012-07-27.md
  content/rdp/2012/rdp_2012-08-03.md
  content/rdp/2012/rdp_2012-09-06.md
  content/rdp/2013/rdp_2013-01-26.md
  content/rdp/2013/rdp_2013-06-14.md
  content/rdp/2013/rdp_2013-06-28.md
  content/rdp/2013/rdp_2013-07-26.md
  content/rdp/2013/rdp_2013-08-23.md
  content/rdp/2013/rdp_2013-09-13.md
  content/rdp/2013/rdp_2013-09-27.md
  content/rdp/2013/rdp_2013-11-15.md
  content/rdp/2013/rdp_2013-11-22.md
  content/rdp/2013/rdp_2013-11-29.md
  content/rdp/2014/rdp_2014-01-31.md
  content/rdp/2014/rdp_2014-03-14.md
  content/rdp/2014/rdp_2014-07-18.md
  content/rdp/2014/rdp_2014-07-25.md
  content/rdp/2014/rdp_2014-10-17.md
  content/rdp/2014/rdp_2014-11-10.md
  content/rdp/2015/rdp_2015-01-16.md
  content/rdp/2015/rdp_2015-03-06.md
  content/rdp/2015/rdp_2015-03-27.md
  content/rdp/2015/rdp_2015-04-07.md
  content/rdp/2015/rdp_2015-04-10.md
  content/rdp/2015/rdp_2015-10-16.md
Labels: rdp

Renommage et nettoyage
  content/contribuer/contribution_guide.md
Labels: contribution

typo
  content/contribuer/contribution_guide.md
Labels: contribution

Réordonne
  content/contribuer/.pages
Labels: mkdocs

Ajut contribution extérieure
  content/contribuer/workflow_article.md
Labels: contribution

Create 2021-06-25_carte_topo_qgis.md
  content/articles/2021/2021-06-25_carte_topo_qgis.md
Labels: articles

Contenu
  content/articles/2021/2021-06-25_carte_topo_qgis.md
Labels: articles

Update workflow_article.md
  content/contribuer/workflow_article.md
Labels: contribution

Coquille
  content/articles/2021/2021-06-25_carte_topo_qgis.md
Labels: articles

Formulation
  content/articles/2021/2021-06-25_carte_topo_qgis.md
Labels: articles

En bref
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
