Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

use v0.2
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

v0.1
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

v0.2.0
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

Mermaid et icone
  content/articles/2021/2021-10-01_lien_sig_osm.md
Labels: articles

remove flags
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

disable filtermode
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

Mermaid
  content/articles/2021/2021-10-01_lien_sig_osm.md
Labels: articles

solid-book
  content/articles/2021/2021-10-01_lien_sig_osm.md
Labels: articles

Mermaid
  content/articles/2021/2021-10-01_lien_sig_osm.md
Labels: articles

Mermaid
  content/articles/2021/2021-10-01_lien_sig_osm.md
Labels: articles

Mermaid
  content/articles/2021/2021-10-01_lien_sig_osm.md
Labels: articles

add capture
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

try
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

single quote
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

sc
  content/toc_nav_ignored/test_bad_markdown.md
Labels: none

add check
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

level error
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

disable filter mode
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

didiff
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

tests check
  content/toc_nav_ignored/test_bad_markdown.md
Labels: none

fix
  content/articles/2021/2021-02-09_statistiques_twitter.md
  content/rdp/2021/rdp_2021-01-29.md
Labels: articles, rdp

enable flags
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

finalize params
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

Only on 2020s
  .github/workflows/pr_linter_markdown.yml
  content/articles/2020/2020-06-19_setup_python.md
  content/articles/2020/2020-07-03_deploy_qgis_windows.md
  content/articles/2020/2020-09-11_html2markdown.md
Labels: articles, ci-cd

Added
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

add package
  package.json
Labels: none

Markdown linter improvments (#418)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/_archived/pr_linter_comment.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/deploy.yml
  .github/workflows/pr_checker_build.yml
  .github/workflows/pr_linter_markdown.yml
  .github/workflows/pr_preview_netlify.yml
  .gitignore
  .pre-commit-config.yaml
  content/articles/2009/art_2009-07-15.md
  content/articles/2010/art_2010-02-11.md
  content/articles/2010/art_2010-03-31.md
  content/articles/2012/art_2012-04-17.md
  content/articles/2014/art_2014-03-24.md
  content/articles/2014/art_2014-09-25_dicogis.md
  content/articles/2020/2020-06-19_setup_python.md
  content/articles/2020/2020-07-03_deploy_qgis_windows.md
  content/articles/2020/2020-09-11_html2markdown.md
  content/articles/2021/2021-02-09_statistiques_twitter.md
  content/rdp/2011/rdp_2011-08-26.md
  content/rdp/2012/rdp_2012-05-11.md
  content/rdp/2012/rdp_2012-10-19.md
  content/rdp/2016/rdp_2016-03-11.md
  content/rdp/2021/rdp_2021-01-29.md
  content/toc_nav_ignored/test_bad_markdown.md
  package.json
  runtime.txt
Labels: articles, ci-cd, rdp

Update pr_checker_build.yml
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Update pr_linter_markdown.yml
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

Update pr_checker_build.yml
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Coquilles et réorga intro
  content/articles/2021/2021-09-14_odk_postgis_3.md
Labels: articles

fix button size
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

try with diffcontxt
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

check added
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

Fix md
  content/articles/2021/2021-09-14_odk_postgis_3.md
Labels: articles

Amorce eoxserver
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Complétion saute-canton
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Ajout SQL
  content/articles/2021/2021-10-01_lien_sig_osm.md
Labels: articles

remaniement et ajouts avant relecture finale à tête reposée
  content/articles/2021/2021-09-14_odk_postgis_3.md
Labels: articles

Amorce cartong toolbox
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
