Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Enable saneheaders
  mkdocs-free.yml
  mkdocs-minimal.yml
  mkdocs.yml
Labels: mkdocs

Fix internal hyperlinks
  content/contribuer/rdp/add_news.md
  content/rdp/2021/rdp_2021-04-23.md
Labels: contribution, rdp

upd(article): update url and images
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

Fix internal hyperlinks (spotted by Bing report)
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
  content/rdp/2013/rdp_2013-07-26.md
  content/rdp/2020/rdp_2020-06-12.md
  content/rdp/2020/rdp_2020-12-25.md
  content/rdp/2021/rdp_2021-01-29.md
  content/rdp/2021/rdp_2021-03-12.md
  content/rdp/2021/rdp_2021-03-26.md
  content/rdp/2021/rdp_2021-07-02.md
  content/rdp/2021/rdp_2021-10-22.md
Labels: articles, rdp

Fix internal links (team)
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
  content/rdp/2013/rdp_2013-01-04.md
Labels: articles, rdp

Add auto_append option with glossary
  mkdocs.yml
Labels: mkdocs

Minor fixes spotted by linter
  content/rdp/2010/rdp_2010-12-10.md
  content/rdp/2015/rdp_2015-01-02.md
  content/rdp/2015/rdp_2015-01-23.md
  content/rdp/2015/rdp_2015-03-27.md
  content/rdp/2015/rdp_2015-05-01.md
  content/rdp/2015/rdp_2015-09-18.md
  content/rdp/2015/rdp_2015-10-02.md
  content/rdp/2015/rdp_2015-10-16.md
  content/rdp/2015/rdp_2015-12-11.md
  content/rdp/2015/rdp_2015-12-18.md
Labels: rdp

Fix incohérences url img
  content/rdp/2015/rdp_2015-07-17.md
  content/rdp/2015/rdp_2015-09-18.md
Labels: rdp

En bref et note codes sources du secteur public
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Note 30DayMapChallenge
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Prettify @samDB-gv name in git log
  .mailmap
Labels: none

Rm markdownlint
  package.json
Labels: none

Corrections automatiques de markdownlint
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

Fix header level
  content/contribuer/edit/local_edition_setup.md
Labels: contribution

Use latest markdownlint-cli
  package.json
Labels: none

Bump VSCode tasks
  .vscode/tasks.json
Labels: none

Update
  .pre-commit-config.yaml
Labels: none

Move legacy templates (temp)
  .github/_archive/proposition-d-article.md
  .github/_archive/suggestion-de-news-pour-une-revue-de-presse.md
Labels: none

Add issue form config
  .github/ISSUE_TEMPLATE/config.yml
Labels: ci-cd

Rm title
  .github/ISSUE_TEMPLATE/RDP_NEWS.yml
Labels: ci-cd

Restore linter as git hooks
  .pre-commit-config.yaml
Labels: none

Add meta hook
  .pre-commit-config.yaml
Labels: none

Add snippets to linter ignored
  .markdownlintignore
Labels: none

Skip meta hook on ci
  .pre-commit-config.yaml
Labels: none

Use markdown-fix instead (bleeding-edge rev)
  .pre-commit-config.yaml
Labels: none

Add news plan action logiciel libre
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Add news régate présidentielle
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Add news atelier IGN and fix <url>
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Add news adresse
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Complément HERE Maps
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

code.gouv.fr
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

CRIG Occitanie : la Géoplateforme
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Coquilles img
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Coquilles img
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Skip makrdownlint since free pre-commit.ci run --all
  .pre-commit-config.yaml
Labels: none

typo
  .pre-commit-config.yaml
Labels: none

typos, tags et image
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

OSO 2020
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

pgAdmin 6.2
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Delete empty sections
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp
