Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Ajout news QGIS
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Comment md content from index
  content/index.md
Labels: none

Img et en bref
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

added Géovélo news
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Correction md News Géovélo
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Correction 2 MD News Géovélo
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Ajout de la brève GDAL
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

correction 3 News Géovélo
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Correction 4 News Géovélo
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Correction 5
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Add alt text to images in templates
  content/rdp/templates/template_rdp_news.md
Labels: rdp

Lien absolu -> relatif, une relation intense à distance avec @aurelienchaumet
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Typos post publi
  content/articles/2021/2021-02-19_ignfr2map_automatisation_deploiement.md
Labels: articles

Dactylo
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Add depth=1 to git clone commands
  content/contribuer/contribution_guide.md
  content/contribuer/edit/local_edition_setup.md
Labels: contribution

Ajout du texte alternatif sur News Geovelo
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Correction texte alternatif NEws Géovélo
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Ajout des releases geOrchestra à la RDP du 2021-02-26
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Ajout des releases geOrchestra à la RDP du 2021-02-26
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Ajout tweet d'incitation
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Etalab
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

https
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

news master Geonum
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

news 50 stars
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

ajout news SI3PO
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Ajout news 100 millions OSM Changeset
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Ajour précisions artif CEREMA
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Modifs SI3PO
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Coqs
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Ajout icone news
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Ajout descriptif image
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Loading lazy
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Ajout description
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Correction news + titre mooc adresse
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

pgAdmin4 v5.0
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Ajout news Qfield
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Correction news Qfield
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Correction 2 News Qfield
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Enlève les sections inutiles
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Cokill them all !
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp
