Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Transforme lien final en bouton
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
Labels: articles

Ajout lien tuto viglino
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Coquilles RDP 20151218 et 20151211
  content/rdp/2015/rdp_2015-12-11.md
  content/rdp/2015/rdp_2015-12-18.md
Labels: rdp

Fix RDP 20140110 et coquilles 201512
  content/rdp/2014/rdp_2014-01-10.md
  content/rdp/2015/rdp_2015-12-11.md
  content/rdp/2015/rdp_2015-12-18.md
Labels: rdp

Fix RDP 20140117
  content/rdp/2014/rdp_2014-01-10.md
  content/rdp/2014/rdp_2014-01-17.md
Labels: rdp

Corrige la balise de centrage des images en portrait
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Ajout bouton cookies
  content/team/confidentialite.md
Labels: contribution

Move button up
  content/team/confidentialite.md
Labels: contribution

Enable abbreviations
  mkdocs-minimal.yml
Labels: none

Fix footnotes propagation
  content/contribuer/articles/workflow.md
  content/contribuer/guides/image.md
  content/contribuer/rdp/add_news.md
  content/contribuer/rdp/create_rdp.md
  content/contribuer/rdp/publish.md
  content/toc_nav_ignored/snippets/glossaire.md
Labels: contribution

Enable CSS minify
  mkdocs.yml
Labels: mkdocs

Bump material version version
  requirements-insiders.txt
Labels: none

Update content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Update content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Update content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Update content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Update content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Update content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Update content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Update content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Update content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Update content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Emphasis dématérialiser - rematérialiser
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Coq numerique(s)
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Coq chaîne(s)
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Device to equipement
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Improve readability
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Coq-point
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Add ", un"
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Coq-point v2
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Improve readability v2
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Coq uille
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Add :
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Fix center image
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Add pictures v1
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Update gallery on book cover
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

quotes et cat
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Typo et subcat
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Add pictures v2
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Emoji thinking
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles
