Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

Improve
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

Highlight and CSVT
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

Add ref to si3po
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

Details about windows
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

BAL / BAN
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

précisions
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

Add BAL csvt
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

Renommage
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

compléments et reprise de titres
  content/articles/2021/2021-08-10_odk_postgis_3.md
Labels: articles

Add BAL VRT
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

modifications mineures
  content/articles/2021/2021-08-10_odk_postgis_3.md
Labels: articles

Latest changes
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

précisions
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

Adapt hyperlinks
  content/articles/2021/2021-06-08_odk_postgis_1.md
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles

Rennomage pour la date et correctifs de base
  content/articles/2021/2021-09-14_odk_postgis_3.md
Labels: articles

Ajout fiche auteur Mathieu Bossaert
  content/articles/2021/2021-06-08_odk_postgis_1.md
  content/articles/2021/2021-06-22_odk_postgis_2.md
  content/articles/2021/2021-09-14_odk_postgis_3.md
  content/team/mbos.md
Labels: articles, contribution

Notes
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

hebdoOSM
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

Tuto : traiter les données de la BAL avec GDAL (#412)
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

Fix 404 adding a redirection
  mkdocs.yml
Labels: mkdocs

Liens vers derniers articles
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

Update 2021-09-14_odk_postgis_3.md
  content/articles/2021/2021-09-14_odk_postgis_3.md
Labels: articles

Ajout lien pad dans bas de page
  mkdocs.yml
Labels: mkdocs

Explicit pre-commit CI config
  .pre-commit-config.yaml
Labels: none

Add autofix using markdownlint as git hook
  .pre-commit-config.yaml
Labels: none

Add package.json
  package.json
Labels: none

GDAL 3.3.2 (En bref)
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

WhiteboxTools
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

La frontière la plus proche
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

Monte Mario 3003
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

Add ci config
  .pre-commit-config.yaml
Labels: none

Add yaml check
  .pre-commit-config.yaml
Labels: none

Add markdown review reporter
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

QuickOSM
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

OpenArdenneMap
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

Coquille
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

Rapport sur l'OS de la Commission européenne
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

pgadmin 4 (En bref)
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

carto playground
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

Ajout news tableau de bord QGIS
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
