Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Apply changes also to minimal config
  mkdocs-minimal.yml
Labels: none

Align free version
  mkdocs-free.yml
Labels: none

Exclude authors blocks from search
  content/team/acha.md
  content/team/avdc.md
  content/team/avha.md
  content/team/edel.md
  content/team/fbor.md
  content/team/fgob.md
  content/team/gdbo.md
  content/team/jemv.md
  content/team/jmou.md
  content/team/jory.md
  content/team/jpie.md
  content/team/lbar.md
  content/team/mbos.md
  content/team/mraj.md
  content/team/nroe.md
  content/team/pver.md
  content/team/rbov.md
  content/team/rha.md
  content/team/rqui.md
  content/team/sdeb.md
  content/team/tgra.md
Labels: contribution

Exclude snippets from search
  content/articles/templates/template_article.md
  content/toc_nav_ignored/snippets/glossaire.md
  content/toc_nav_ignored/snippets/licenses/beerware.md
  content/toc_nav_ignored/snippets/licenses/cc4_by-nc-sa.md
  content/toc_nav_ignored/snippets/licenses/cc4_by-sa.md
Labels: articles

Disable git plugin by default
  .github/workflows/deploy.yml
  mkdocs-free.yml
  mkdocs.yml
Labels: ci-cd, mkdocs

Make comments block compatible with v8
  content/theme/main.html
Labels: th√®me

Add horizontal line between content and license
  content/theme/main.html
Labels: th√®me

Mise en avant de l'article de @aurelienchaumet
  content/theme/home.html
Labels: th√®me

Improve horizontal menu hover
  content/theme/assets/stylesheets/extra.css
Labels: th√®me

Change img on Mise en avant de l'article de @aurelienchaumet
  content/theme/home.html
Labels: th√®me

Livre open data et en bref (PostGIS et Cadastre)
  content/rdp/2021/rdp_2021-12-17.md
Labels: rdp

Update rdp_2021-12-17.md
  content/rdp/2021/rdp_2021-12-17.md
Labels: rdp

PGSession14 - Replay
  content/rdp/2021/rdp_2021-12-17.md
Labels: rdp

En bref (Geonetwork) et OTB User Days 2021
  content/rdp/2021/rdp_2021-12-17.md
Labels: rdp

En bref (hebdoOSM et PostGIS syntaxe)
  content/rdp/2021/rdp_2021-12-17.md
Labels: rdp

Add dataviz élections canada
  content/rdp/2021/rdp_2021-12-17.md
Labels: rdp

Carte géologique géante
  content/rdp/2021/rdp_2021-12-17.md
Labels: rdp

Changement de date
  content/rdp/2021/rdp_2021-12-24.md
Labels: rdp

Ajout image en-tête
  content/rdp/2021/rdp_2021-12-24.md
Labels: rdp

Lien dernier article
  content/rdp/2021/rdp_2021-12-24.md
Labels: rdp

Soutenons GeoRezo
  content/rdp/2021/rdp_2021-12-24.md
Labels: rdp

Tags et suppression note OSM
  content/rdp/2021/rdp_2021-12-24.md
Labels: rdp

Complétion news open data maturity report
  content/rdp/2021/rdp_2021-12-24.md
Labels: rdp

Corrige dimensions lecteurs media
  content/rdp/2021/rdp_2021-12-24.md
Labels: rdp

Lien relatif plutôt qu'absolu
  content/rdp/2021/rdp_2021-12-24.md
Labels: rdp

Close #488 Ruth DeFries Wikipédia
  content/rdp/2021/rdp_2021-12-24.md
Labels: rdp

Ajout news UtagawaVTT
  content/rdp/2021/rdp_2021-12-24.md
Labels: rdp

Ajout liens de supporters
  content/rdp/2021/rdp_2021-12-24.md
Labels: rdp

Supprime le caractère spécial md
  content/rdp/2021/rdp_2021-12-24.md
Labels: rdp

En bref (QGIS et Geoserver)
  content/rdp/2021/rdp_2021-12-24.md
Labels: rdp

Add mapscii article
  content/articles/2021/21-12-24_mapscii.md
Labels: articles

Update 21-12-24_mapscii.md
  content/articles/2021/21-12-24_mapscii.md
Labels: articles

Update 21-12-24_mapscii.md
  content/articles/2021/21-12-24_mapscii.md
Labels: articles

Add bio jeremy garniaux
  content/team/jgar.md
Labels: contribution

Suppression des sections vides
  content/rdp/2021/rdp_2021-12-24.md
Labels: rdp

Change date et corrige le nommage du fichier
  content/articles/2021/2021-12-31_mapscii_osm_terminal.md
Labels: articles

Intro
  content/rdp/2021/rdp_2021-12-24.md
Labels: rdp

Coquilles
  content/rdp/2021/rdp_2021-12-24.md
Labels: rdp

Source img
  content/rdp/2021/rdp_2021-12-24.md
Labels: rdp

Remove image description (not supported on GH markdown)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none
