Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

redirect former rdp 2016 (#310)
  mkdocs.yml
Labels: mkdocs

Âdd icons to all tabs
  content/articles/.pages
  content/contribuer/.pages
  content/rdp/.pages
  content/team/.pages
Labels: mkdocs

Bump material and enable to-the-top button
  mkdocs.yml
  requirements.txt
Labels: dependencies, mkdocs

Add dark/light switch
  mkdocs.yml
Labels: mkdocs

Remove manual switches
  content/index.md
Labels: none

Add custom homepage
  content/index.md
  content/theme/assets/javascripts/glider.min.js
  content/theme/assets/javascripts/slideshow.js
  content/theme/assets/stylesheets/glider.min.css
  content/theme/assets/stylesheets/homepage.css
  content/theme/home.html
  mkdocs.yml
Labels: mkdocs, th√®me

Remplace disqus par Isso
  content/theme/main.html
Labels: th√®me

Apply isso production url
  mkdocs.yml
Labels: mkdocs

Create rdp_2021-04-09.md
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

achieve customization
  content/index.md
  mkdocs.yml
Labels: mkdocs

Ajout article qtribu
  content/articles/2021/2021-04-01_qtribu_plugin_qgis_geotribu.md
Labels: articles

Ajout article qtribu
  content/articles/2021/2021-04-01_qtribu_plugin_qgis_geotribu.md
Labels: articles

fix date
  content/articles/2021/2021-04-01_qtribu_plugin_qgis_geotribu.md
Labels: articles

Vie du site
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Switch to precommit.ci
  .github/workflows/pre-commit.yml
  .github/workflows/pre-commit_autoupdate.yml
  README.md
Labels: ci-cd

Coquilles et syntaxe
  content/articles/2021/2021-03-16_carte_reseau_bus.md
Labels: articles

Typo casse PostgreSQL
  content/articles/2021/2021-03-16_carte_reseau_bus.md
  content/rdp/2021/rdp_2021-02-26.md
Labels: articles, rdp

HebdoOSM
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Pléiades DINAMIS
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Deep Learning for remote sensing images
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Journées Drones & Capteurs embarqués
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Collectionneur de cartes Michelin
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Coquilles
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Pré-requis
  content/articles/2021/2021-03-16_carte_reseau_bus.md
Labels: articles

Conclu
  content/articles/2021/2021-03-16_carte_reseau_bus.md
Labels: articles

Ajout nuit de la geographie
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Ajout projections myriahedral
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Remove nuit de la géo
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Date
  content/articles/2021/2021-04-07_carte_reseau_bus.md
Labels: articles

Coquilles
  content/articles/2021/2021-04-07_carte_reseau_bus.md
Labels: articles

Add Geo Event
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Modif meetup toulouse dataviz
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Update rdp_2021-04-09.md
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Update rdp_2021-04-09.md
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Update rdp_2021-04-09.md
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Update rdp_2021-04-09.md
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Update rdp_2021-04-09.md
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Update rdp_2021-04-09.md
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Update rdp_2021-04-09.md
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Update rdp_2021-04-09.md
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp
