Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

RDP-2021-10-22 / News rencontres Geotrek
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

RDP 2021-10-22 / Add tag Geotrek
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

RDP_2021-10-22 Use CDN for Geotrek
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Add plan metro new york
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Fix lists dots
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Coquilles rédaction
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Coquilles rédaction
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

RDP_2021-10-22 Use CDN for Geotrek
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Fix lists dots
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

RDP-2021-10-22 / News rencontres Geotrek
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

RDP 2021-10-22 / Add tag Geotrek
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

typo lightbox
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Icône et typo qompligis
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Ajout QGIS 3.22
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Fix @stephanerolle display
  .mailmap
Labels: none

Vidéos en 100%
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

emoji
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

News deep fake
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

News journalisme géospatial
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Suppression sections vides
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

lightbox/https/open data
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Tiret indésirable
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

typo date geotrek
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

typo date geotrek
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Fix highlighting
  content/contribuer/rdp/create_rdp.md
Labels: contribution

Fix highlighting
  content/contribuer/rdp/create_rdp.md
Labels: contribution

Initiate rdp
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

ajout evenement du crige-paca
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

ajout evenement du crige-paca
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Correction de l'emoji troll
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Bump insiders
  requirements-insiders.txt
Labels: none

Add link to newsletter form on homepage
  content/theme/assets/stylesheets/homepage.css
  content/theme/home.html
Labels: th√®me

Add newsletter signup form
  content/newsletter/signup.md
Labels: none

Add link and icon into footer
  mkdocs-free.yml
  mkdocs.yml
Labels: mkdocs

Add tag
  content/rdp/2014/rdp_2014-10-31.md
Labels: rdp

Article QGIS 0.9
  content/articles/2021/2021-10-31_retour-vers-le-futur-de-qgis-ganymede.md
Labels: articles

Restauration article 2009
  content/articles/2009/art_2009-08-28.md
  content/articles/2021/2021-10-31_retour-vers-le-futur-de-qgis-ganymede.md
Labels: articles

Add youtubve link in footer
  mkdocs.yml
Labels: mkdocs

Amorce news Les Cartes en Question - ping @Jersig
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Vie du site
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp
