Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Fix linter warnings
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Centrage des tweets et lien guide contribution
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

linter
  content/articles/2021/2021-09-22_odk_postgis_3.md
Labels: articles

Image pingouin
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Bump insider version
  requirements-insiders.txt
Labels: none

Do not install no insider theme
  requirements.txt
Labels: dependencies

Move qfield
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Temporarily use hotfix for search
  requirements-insiders.txt
Labels: none

Fix image livre
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Typo
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Description
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Restore @aurelienchaumet commit
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Add icon news
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Logo Space Data Marketplace
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

GeoRDP du 8 octobre 2021 (#429)
  content/articles/2021/2021-09-22_odk_postgis_3.md
  content/rdp/2021/rdp_2021-10-08.md
  requirements-insiders.txt
  requirements.txt
Labels: articles, dependencies, rdp

Install theme before others
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Remove search custom options
  mkdocs.yml
Labels: mkdocs

Fix entete et tags geoRDP 2013 (2/2)
  content/rdp/2013/rdp_2013-06-07.md
  content/rdp/2013/rdp_2013-06-14.md
  content/rdp/2013/rdp_2013-06-21.md
  content/rdp/2013/rdp_2013-06-28.md
  content/rdp/2013/rdp_2013-07-05.md
  content/rdp/2013/rdp_2013-07-12.md
  content/rdp/2013/rdp_2013-07-19.md
  content/rdp/2013/rdp_2013-07-26.md
  content/rdp/2013/rdp_2013-08-02.md
  content/rdp/2013/rdp_2013-08-09.md
  content/rdp/2013/rdp_2013-08-23.md
  content/rdp/2013/rdp_2013-08-30.md
  content/rdp/2013/rdp_2013-09-06.md
  content/rdp/2013/rdp_2013-09-13.md
  content/rdp/2013/rdp_2013-09-20.md
  content/rdp/2013/rdp_2013-09-27.md
  content/rdp/2013/rdp_2013-10-04.md
  content/rdp/2013/rdp_2013-10-11.md
  content/rdp/2013/rdp_2013-10-18.md
  content/rdp/2013/rdp_2013-10-25.md
  content/rdp/2013/rdp_2013-11-01.md
  content/rdp/2013/rdp_2013-11-08.md
  content/rdp/2013/rdp_2013-11-15.md
  content/rdp/2013/rdp_2013-11-22.md
  content/rdp/2013/rdp_2013-11-29.md
  content/rdp/2013/rdp_2013-12-06.md
  content/rdp/2013/rdp_2013-12-13.md
  content/rdp/2013/rdp_2013-12-20.md
Labels: rdp

Fix entete et tags geoRDP 2015
  content/rdp/2015/rdp_2015-01-02.md
  content/rdp/2015/rdp_2015-01-16.md
  content/rdp/2015/rdp_2015-01-23.md
  content/rdp/2015/rdp_2015-01-30.md
  content/rdp/2015/rdp_2015-02-06.md
  content/rdp/2015/rdp_2015-02-13.md
  content/rdp/2015/rdp_2015-02-20.md
  content/rdp/2015/rdp_2015-03-06.md
  content/rdp/2015/rdp_2015-03-13.md
  content/rdp/2015/rdp_2015-03-20.md
  content/rdp/2015/rdp_2015-03-27.md
  content/rdp/2015/rdp_2015-04-03.md
  content/rdp/2015/rdp_2015-04-10.md
  content/rdp/2015/rdp_2015-04-17.md
  content/rdp/2015/rdp_2015-04-24.md
  content/rdp/2015/rdp_2015-05-01.md
  content/rdp/2015/rdp_2015-05-15.md
  content/rdp/2015/rdp_2015-05-29.md
  content/rdp/2015/rdp_2015-06-05.md
  content/rdp/2015/rdp_2015-06-12.md
  content/rdp/2015/rdp_2015-06-19.md
  content/rdp/2015/rdp_2015-07-03.md
  content/rdp/2015/rdp_2015-07-17.md
  content/rdp/2015/rdp_2015-09-01.md
  content/rdp/2015/rdp_2015-09-18.md
  content/rdp/2015/rdp_2015-09-25.md
  content/rdp/2015/rdp_2015-10-02.md
  content/rdp/2015/rdp_2015-10-16.md
  content/rdp/2015/rdp_2015-11-13.md
  content/rdp/2015/rdp_2015-12-11.md
  content/rdp/2015/rdp_2015-12-18.md
Labels: rdp

Fix entete et tags geoRDP 2016/2017
  content/rdp/2016/rdp_2016-01-15.md
  content/rdp/2016/rdp_2016-02-05.md
  content/rdp/2016/rdp_2016-02-12.md
  content/rdp/2016/rdp_2016-02-19.md
  content/rdp/2016/rdp_2016-03-04.md
  content/rdp/2016/rdp_2016-03-11.md
  content/rdp/2016/rdp_2016-04-22.md
  content/rdp/2016/rdp_2016-06-24.md
  content/rdp/2016/rdp_2016-07-01.md
  content/rdp/2016/rdp_2016-10-07.md
  content/rdp/2016/rdp_2016-10-14.md
  content/rdp/2016/rdp_2016-12-05.md
  content/rdp/2017/rdp_2017-01-27.md
Labels: rdp

Fix entete et tags geoRDP 2020
  content/rdp/2020/rdp_2020-04-30.md
  content/rdp/2020/rdp_2020-05-15.md
  content/rdp/2020/rdp_2020-05-29.md
  content/rdp/2020/rdp_2020-06-12.md
  content/rdp/2020/rdp_2020-06-26.md
  content/rdp/2020/rdp_2020-07-10.md
  content/rdp/2020/rdp_2020-07-24.md
  content/rdp/2020/rdp_2020-08-07.md
  content/rdp/2020/rdp_2020-08-21.md
  content/rdp/2020/rdp_2020-09-04.md
  content/rdp/2020/rdp_2020-09-18.md
  content/rdp/2020/rdp_2020-10-02.md
  content/rdp/2020/rdp_2020-10-16.md
  content/rdp/2020/rdp_2020-10-30.md
  content/rdp/2020/rdp_2020-11-13.md
  content/rdp/2020/rdp_2020-11-27.md
  content/rdp/2020/rdp_2020-12-11.md
  content/rdp/2020/rdp_2020-12-25.md
Labels: rdp

Fix entete et tags geoRDP 2021
  content/rdp/2015/rdp_2015-05-15.md
  content/rdp/2021/rdp_2021-01-15.md
  content/rdp/2021/rdp_2021-01-29.md
  content/rdp/2021/rdp_2021-02-12.md
  content/rdp/2021/rdp_2021-02-26.md
  content/rdp/2021/rdp_2021-03-12.md
  content/rdp/2021/rdp_2021-03-26.md
  content/rdp/2021/rdp_2021-04-09.md
  content/rdp/2021/rdp_2021-04-23.md
  content/rdp/2021/rdp_2021-05-07.md
  content/rdp/2021/rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-06-04.md
  content/rdp/2021/rdp_2021-06-18.md
  content/rdp/2021/rdp_2021-07-02.md
  content/rdp/2021/rdp_2021-07-30.md
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Correction 2020
  content/rdp/2020/rdp_2020-06-26.md
  content/rdp/2020/rdp_2020-09-18.md
Labels: rdp

Fix entete et tags geoRDP 2014 (1/2)
  content/rdp/2014/rdp_2014-01-10.md
  content/rdp/2014/rdp_2014-01-17.md
  content/rdp/2014/rdp_2014-01-24.md
  content/rdp/2014/rdp_2014-01-31.md
  content/rdp/2014/rdp_2014-02-07.md
  content/rdp/2014/rdp_2014-02-14.md
  content/rdp/2014/rdp_2014-02-21.md
  content/rdp/2014/rdp_2014-02-28.md
  content/rdp/2014/rdp_2014-03-07.md
  content/rdp/2014/rdp_2014-03-14.md
  content/rdp/2014/rdp_2014-03-21.md
  content/rdp/2014/rdp_2014-04-01.md
  content/rdp/2014/rdp_2014-04-11.md
  content/rdp/2014/rdp_2014-04-18.md
  content/rdp/2014/rdp_2014-04-25.md
  content/rdp/2014/rdp_2014-05-02.md
  content/rdp/2014/rdp_2014-05-09.md
  content/rdp/2014/rdp_2014-05-16.md
  content/rdp/2014/rdp_2014-05-30.md
  content/rdp/2014/rdp_2014-06-06.md
Labels: rdp

Remove search options
  mkdocs.yml
Labels: mkdocs

Fix entete et tags geoRDP 2014 (2/2)
  content/rdp/2014/rdp_2014-06-13.md
  content/rdp/2014/rdp_2014-06-20.md
  content/rdp/2014/rdp_2014-06-27.md
  content/rdp/2014/rdp_2014-07-04.md
  content/rdp/2014/rdp_2014-07-11.md
  content/rdp/2014/rdp_2014-07-18.md
  content/rdp/2014/rdp_2014-07-25.md
  content/rdp/2014/rdp_2014-08-08.md
  content/rdp/2014/rdp_2014-08-14.md
  content/rdp/2014/rdp_2014-08-22.md
  content/rdp/2014/rdp_2014-08-29.md
  content/rdp/2014/rdp_2014-09-05.md
  content/rdp/2014/rdp_2014-09-12.md
  content/rdp/2014/rdp_2014-09-19.md
  content/rdp/2014/rdp_2014-09-26.md
  content/rdp/2014/rdp_2014-10-03.md
  content/rdp/2014/rdp_2014-10-10.md
  content/rdp/2014/rdp_2014-10-17.md
  content/rdp/2014/rdp_2014-10-24.md
  content/rdp/2014/rdp_2014-10-31.md
  content/rdp/2014/rdp_2014-11-07.md
  content/rdp/2014/rdp_2014-11-14.md
  content/rdp/2014/rdp_2014-11-21.md
  content/rdp/2014/rdp_2014-11-28.md
  content/rdp/2014/rdp_2014-12-05.md
  content/rdp/2014/rdp_2014-12-12.md
  content/rdp/2014/rdp_2014-12-24.md
Labels: rdp

Nettoyage mot-clés body
  content/articles/2009/art_2009-01-21.md
  content/articles/2009/art_2009-02-01.md
  content/articles/2009/art_2009-02-09.md
  content/articles/2009/art_2009-03-03.md
  content/articles/2009/art_2009-03-05.md
  content/articles/2009/art_2009-03-18.md
  content/articles/2009/art_2009-03-26.md
  content/articles/2009/art_2009-03-31.md
  content/articles/2009/art_2009-04-01.md
  content/articles/2021/2021-10-05_lien_sig_osm.md
Labels: articles

author --> authors
  content/articles/2015/art_2015-02-16.md
  content/articles/2020/2020-09-09_geodatadays.md
  content/contribuer/guides/image.md
Labels: articles, contribution

Fix tags articles 2008
  content/articles/2008/art_2008-11-03.md
  content/articles/2008/art_2008-11-05.md
  content/articles/2008/art_2008-11-07.md
  content/articles/2008/art_2008-11-17.md
  content/articles/2008/art_2008-12-06.md
  content/articles/2008/art_2008-12-07.md
  content/articles/2008/art_2008-12-11.md
  content/articles/2008/art_2008-12-16.md
Labels: articles

Try to fix linter
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

Fix indent
  content/articles/2021/2021-10-05_lien_sig_osm.md
Labels: articles

Update guide
  content/contribuer/rdp/create_rdp.md
Labels: contribution

CI clean up
  .github/_archived/pr_linter_comment.yml
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

Remove date de publication initiale
  content/rdp/2012/rdp_2012-11-09.md
  content/rdp/2015/rdp_2015-09-18.md
  content/rdp/2016/rdp_2016-06-24.md
  content/rdp/2016/rdp_2016-07-01.md
  content/rdp/2016/rdp_2016-10-07.md
  content/rdp/2016/rdp_2016-10-14.md
  content/rdp/2016/rdp_2016-12-05.md
Labels: rdp

Fix tags/description articles 2011
  content/articles/2011/art_2011-01-09.md
  content/articles/2011/art_2011-01-18.md
  content/articles/2011/art_2011-01-19.md
  content/articles/2011/art_2011-01-24.md
  content/articles/2011/art_2011-02-09.md
  content/articles/2011/art_2011-03-10.md
  content/articles/2011/art_2011-03-23.md
  content/articles/2011/art_2011-04-05.md
  content/articles/2011/art_2011-04-13.md
  content/articles/2011/art_2011-06-01.md
  content/articles/2011/art_2011-06-10.md
  content/articles/2011/art_2011-06-15.md
  content/articles/2011/art_2011-07-27.md
  content/articles/2011/art_2011-11-08.md
  content/articles/2011/art_2011-11-09.md
  content/articles/2011/art_2011-12-01.md
Labels: articles

Fix tags/description articles 2015
  content/articles/2015/art_2015-01-11.md
  content/articles/2015/art_2015-01-18.md
  content/articles/2015/art_2015-02-03.md
  content/articles/2015/art_2015-02-09.md
  content/articles/2015/art_2015-02-16.md
Labels: articles

Fix tags/description articles 2012
  content/articles/2012/art_2012-01-01.md
  content/articles/2012/art_2012-01-16.md
  content/articles/2012/art_2012-01-19.md
  content/articles/2012/art_2012-02-03.md
  content/articles/2012/art_2012-03-15.md
  content/articles/2012/art_2012-04-17.md
  content/articles/2012/art_2012-05-09.md
  content/articles/2012/art_2012-06-06.md
  content/articles/2012/art_2012-06-21.md
  content/articles/2012/art_2012-07-02.md
  content/articles/2012/art_2012-07-05.md
  content/articles/2012/art_2012-07-12.md
  content/articles/2012/art_2012-07-19.md
  content/articles/2012/art_2012-09-26.md
  content/articles/2012/art_2012-10-11.md
  content/articles/2012/art_2012-10-23.md
  content/articles/2012/art_2012-12-29.md
Labels: articles

Fix tags/description articles 2013
  content/articles/2013/art_2013-02-11.md
  content/articles/2013/art_2013-02-20.md
  content/articles/2013/art_2013-02-25.md
  content/articles/2013/art_2013-03-07.md
  content/articles/2013/art_2013-05-21.md
  content/articles/2013/art_2013-05-29.md
  content/articles/2013/art_2013-06-05_mongo_spatial.md
  content/articles/2013/art_2013-06-13_itw_davidjonglez.md
  content/articles/2013/art_2013-07-31.md
  content/articles/2013/art_2013-08-16.md
  content/articles/2013/art_2013-09-22.md
  content/articles/2013/art_2013-09-26.md
  content/articles/2013/art_2013-10-02.md
  content/articles/2013/art_2013-10-30_geogame_mots_croises_outils_sig.md
  content/articles/2013/art_2013-11-19.md
  content/articles/2013/art_2013-11-20_geogame_mots_croises_webmapping.md
  content/articles/2013/art_2013-12-01.md
  content/articles/2013/art_2013-12-04.md
Labels: articles

Fix tags/description articles 2014
  content/articles/2014/art_2014-01-01.md
  content/articles/2014/art_2014-01-02.md
  content/articles/2014/art_2014-01-06.md
  content/articles/2014/art_2014-01-08_geogame_qcm_histoire_cartographie.md
  content/articles/2014/art_2014-01-13.md
  content/articles/2014/art_2014-01-22_geogame_qcm_cassini_bertin.md
  content/articles/2014/art_2014-01-27.md
  content/articles/2014/art_2014-03-07.md
  content/articles/2014/art_2014-03-19_geogame_pendu_geomatique.md
  content/articles/2014/art_2014-03-21.md
  content/articles/2014/art_2014-03-24.md
  content/articles/2014/art_2014-04-29.md
  content/articles/2014/art_2014-05-05.md
  content/articles/2014/art_2014-05-25.md
  content/articles/2014/art_2014-07-14.md
  content/articles/2014/art_2014-08-05.md
  content/articles/2014/art_2014-08-29_itw_drones_crisis.md
  content/articles/2014/art_2014-09-01.md
  content/articles/2014/art_2014-09-25_dicogis.md
  content/articles/2014/art_2014-11-13.md
Labels: articles

Fix title (closing quote)
  content/rdp/2011/rdp_2011-10-28.md
  content/rdp/2013/rdp_2013-01-04.md
Labels: rdp
