Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Add details about yaml header
  content/articles/templates/template_article.md
  content/contribuer/guides/licensing.md
  content/rdp/templates/template_rdp.md
Labels: articles, contribution, rdp

Add liberapay badges
  README.md
Labels: none

Start sponsoring page
  content/team/sponsoring.md
Labels: contribution

Add dark theme
  content/theme/assets/stylesheets/homepage.css
  content/theme/home.html
Labels: th√®me

Add image overlay and hyperlink
  content/theme/assets/stylesheets/homepage.css
  content/theme/home.html
Labels: th√®me

Limit images heigth
  content/theme/assets/stylesheets/homepage.css
Labels: th√®me

Add sections ids
  content/theme/home.html
Labels: th√®me

Add idea open card
  content/theme/home.html
Labels: th√®me

Add section id
  content/theme/home.html
Labels: th√®me

Clean up different config files
  content/articles/mkdocks-articles.yml
  content/rdp/mkdocks-geordps.yml
  mkdocs-minimal.yml
  mkdocs.yml
Labels: mkdocs

Fix contributors URLs
  content/team/avdc.md
  content/team/contributors.md
Labels: contribution

Use snippet mechanism
  content/articles/2010/art_2010-07-15.md
  content/articles/2012/art_2012-06-21.md
  content/articles/2013/art_2013-02-20.md
  content/articles/2013/art_2013-02-25.md
  content/articles/2013/art_2013-05-21.md
  content/articles/2013/art_2013-07-31.md
  content/articles/2013/art_2013-09-22.md
  content/articles/2013/art_2013-12-04.md
  content/articles/2014/art_2014-01-02.md
  content/articles/2014/art_2014-01-13.md
  content/articles/2014/art_2014-03-21.md
  content/articles/2014/art_2014-03-24.md
  content/articles/2014/art_2014-04-29.md
  content/articles/2014/art_2014-05-05.md
  content/articles/2014/art_2014-05-25.md
  content/articles/2014/art_2014-08-05.md
  content/articles/2015/art_2015-01-11.md
  content/articles/2015/art_2015-02-16.md
  content/team/rqui.md
Labels: articles, contribution

Fix lightbox typo
  content/articles/2020/2020-09-11_html2markdown.md
  content/articles/2020/2020-10-28_gdal_windows_subsystem_linux_wsl.md
  content/contribuer/guides/image.md
  content/rdp/2020/rdp_2020-10-16.md
  content/rdp/2020/rdp_2020-10-30.md
  content/rdp/2020/rdp_2020-11-13.md
  content/rdp/2020/rdp_2020-11-27.md
  content/rdp/2020/rdp_2020-12-11.md
Labels: articles, contribution, rdp

Remove inactive warning
  content/team/edel.md
Labels: contribution

Fix contributors (#392)
  content/articles/2010/art_2010-07-15.md
  content/articles/2012/art_2012-06-21.md
  content/articles/2013/art_2013-02-20.md
  content/articles/2013/art_2013-02-25.md
  content/articles/2013/art_2013-05-21.md
  content/articles/2013/art_2013-07-31.md
  content/articles/2013/art_2013-09-22.md
  content/articles/2013/art_2013-12-04.md
  content/articles/2014/art_2014-01-02.md
  content/articles/2014/art_2014-01-13.md
  content/articles/2014/art_2014-03-21.md
  content/articles/2014/art_2014-03-24.md
  content/articles/2014/art_2014-04-29.md
  content/articles/2014/art_2014-05-05.md
  content/articles/2014/art_2014-05-25.md
  content/articles/2014/art_2014-08-05.md
  content/articles/2015/art_2015-01-11.md
  content/articles/2015/art_2015-02-16.md
  content/articles/2020/2020-09-11_html2markdown.md
  content/articles/2020/2020-10-28_gdal_windows_subsystem_linux_wsl.md
  content/articles/mkdocks-articles.yml
  content/contribuer/guides/image.md
  content/rdp/2020/rdp_2020-10-16.md
  content/rdp/2020/rdp_2020-10-30.md
  content/rdp/2020/rdp_2020-11-13.md
  content/rdp/2020/rdp_2020-11-27.md
  content/rdp/2020/rdp_2020-12-11.md
  content/rdp/mkdocks-geordps.yml
  content/team/avdc.md
  content/team/contributors.md
  content/team/edel.md
  content/team/rqui.md
  mkdocs-minimal.yml
  mkdocs.yml
Labels: articles, contribution, mkdocs, rdp

Reduce section padding
  content/theme/assets/stylesheets/homepage.css
Labels: th√®me

Add licensing link
  content/contribuer/workflow_article.md
Labels: contribution

Add common author block
  content/toc_nav_ignored/snippets/authors/geotribu.md
Labels: none

Add summer news 2021
  content/articles/2021/2021-07-16_relooking_nouveautes_geotribu.md
Labels: articles

Article/fashion summer 2021 (#393)
  content/articles/2021/2021-07-16_relooking_nouveautes_geotribu.md
  content/contribuer/workflow_article.md
  content/theme/assets/stylesheets/homepage.css
  content/toc_nav_ignored/snippets/authors/geotribu.md
Labels: articles, contribution, th√®me

Update 2021-07-16_relooking_nouveautes_geotribu.md
  content/articles/2021/2021-07-16_relooking_nouveautes_geotribu.md
Labels: articles

Update 2021-07-16_relooking_nouveautes_geotribu.md
  content/articles/2021/2021-07-16_relooking_nouveautes_geotribu.md
Labels: articles

Update licence article vectipy
  content/articles/2021/2021-04-26_vectipy_postgis_mvt.md
Labels: articles

Update licence article vectipy
  content/articles/2021/2021-04-26_vectipy_postgis_mvt.md
Labels: articles

Add cache control through meta tags
  content/theme/main.html
Labels: th√®me

Add expires
  content/theme/main.html
Labels: th√®me

Add expires
  content/theme/main.html
Labels: th√®me

Add cache control through meta tags
  content/theme/main.html
Labels: th√®me

rdp_2021-07-30
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

rdp_2021-07-30
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Postgis 3.1.3
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Add New York risque inondations
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Bump Material to 7.2+
  requirements.txt
Labels: dependencies

Add new free features
  mkdocs.yml
Labels: mkdocs

Add landfall cartes marines 3d
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Bump Material to 7.2+ (#400)
  mkdocs.yml
  requirements.txt
Labels: dependencies, mkdocs

En bref
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Commentaires du GT PCRS
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Traitements QGIS en ligne de commande
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

PG Day France 2021 - Replay
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp
