Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

typo
  content/articles/2021/2021-10-31_retour-vers-le-futur-de-qgis-ganymede.md
Labels: articles

Article QGIS 0.9
  content/articles/2021/2021-10-31_retour-vers-le-futur-de-qgis-ganymede.md
Labels: articles

typo
  content/articles/2021/2021-10-31_retour-vers-le-futur-de-qgis-ganymede.md
Labels: articles

Restauration article 2009
  content/articles/2009/art_2009-08-28.md
  content/articles/2021/2021-10-31_retour-vers-le-futur-de-qgis-ganymede.md
Labels: articles

Add tag
  content/rdp/2014/rdp_2014-10-31.md
Labels: rdp

2017 --> 2007
  content/articles/2021/2021-10-31_retour-vers-le-futur-de-qgis-ganymede.md
Labels: articles

RSS disable pretty print to try fix GeoRezo reader
  mkdocs.yml
Labels: mkdocs

Rencontres des Utilisateurs QGIS / En bref
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Villes accessibles en direct au départ d'une gare
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

En bref (GDAL 3.3.3)
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Vidéo Overpass Turbo
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

En bref (Newsletter d'OpenTopography)
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Appli Français de nos Régions
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Fix RDP 20150102 et 20150116
  content/rdp/2015/rdp_2015-01-02.md
  content/rdp/2015/rdp_2015-01-16.md
Labels: rdp

Fix RDP 20150116 (coquille)
  content/rdp/2015/rdp_2015-01-16.md
Labels: rdp

Ajout newsletter dans confidentialité
  content/team/confidentialite.md
Labels: contribution

Remove unused section
  content/index.md
Labels: none

Ajout page newsletter
  content/newsletter/signup.md
Labels: none

typo space
  content/newsletter/signup.md
Labels: none

typo
  content/newsletter/signup.md
Labels: none

ajout geo event qualité
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

rajout logo + contenu
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

challenge accepted
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Update rdp_2021-11-05.md
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Update content/rdp/2021/rdp_2021-11-05.md
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Update content/rdp/2021/rdp_2021-11-05.md
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Update content/rdp/2021/rdp_2021-11-05.md
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

rajout logo + contenu
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

ajout geo event qualité
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

challenge accepted
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Update rdp_2021-11-05.md
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Update content/rdp/2021/rdp_2021-11-05.md
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Fix RDP 20150123
  content/rdp/2015/rdp_2015-01-23.md
Labels: rdp

Fix RDP 20150130
  content/rdp/2015/rdp_2015-01-23.md
  content/rdp/2015/rdp_2015-01-30.md
Labels: rdp

Fix RDP 20150206
  content/rdp/2015/rdp_2015-01-30.md
  content/rdp/2015/rdp_2015-02-06.md
Labels: rdp

Fix RDP 20150206 (coquille)
  content/rdp/2015/rdp_2015-02-06.md
Labels: rdp

Suppression fichiers sauvegardes inutiles
  content/contribuer/internal/backup.md
Labels: contribution

Add logo paragraph
  content/contribuer/internal/backup.md
Labels: contribution

Coquille typo
  content/contribuer/internal/backup.md
Labels: contribution

Typo polar bear
  content/contribuer/internal/backup.md
Labels: contribution

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
