Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

fix git conflict
  content/articles/2020/2020-09-20_tutorial_aerialod.md
Labels: articles

Rename article
  content/articles/2020/2020-12-21_static_website_playground.md
  content/articles/2020/2020-12-30_deployer_geotribu_a_la_maison.md
Labels: articles

Remove unachieved art
  content/articles/2020/2020-12-03_static_website_basics.md
Labels: articles

typo
  content/articles/2020/2020-12-30_deployer_geotribu_a_la_maison.md
Labels: articles

remove unachieved article
  content/articles/2020/2020-08-14_static_website.md
Labels: articles

Article - Déploie Geotribu chez toi (#145)
  content/articles/2020/2020-12-30_deployer_geotribu_a_la_maison.md
Labels: articles

Coqs
  content/articles/2020/2020-12-30_deployer_geotribu_a_la_maison.md
Labels: articles

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

patched
  content/articles/2015/art_2015-02-09.md
Labels: articles

Add linkedin link
  mkdocs.yml
Labels: mkdocs

Fix link
  content/articles/2020/2020-09-11_html2markdown.md
Labels: articles

Add articles 2021
  content/articles/.pages
  content/articles/2021/.pages
Labels: mkdocs

Article des voeux - premier jet
  content/articles/2021/2021-01-04_bilan_2020_perspectives_2021.md
Labels: articles

Complétion
  content/articles/2021/2021-01-04_bilan_2020_perspectives_2021.md
Labels: articles

Create rdp_2021-01-15.md
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Notes
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Coquille
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Enable RDP 2021 in nav
  content/rdp/.pages
  content/rdp/2021/.pages
Labels: mkdocs

Add skeleton for trex
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Bump precommit hooks to close #247
  .pre-commit-config.yaml
Labels: none

Create fbor.md
  content/team/fbor.md
Labels: contribution

Update fbor.md
  content/team/fbor.md
Labels: contribution

Update fbor.md
  content/team/fbor.md
Labels: contribution

Update fbor.md
  content/team/fbor.md
Labels: contribution

Update fbor.md
  content/team/fbor.md
Labels: contribution

Ajout 2 parties contrib
  content/articles/2021/2021-01-04_bilan_2020_perspectives_2021.md
Labels: articles

Update issue templates
  .github/ISSUE_TEMPLATE/proposition-d-article.md
  .github/ISSUE_TEMPLATE/suggestion-de-news-pour-une-revue-de-presse.md
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/proposition-d-article.md
  .github/ISSUE_TEMPLATE/suggestion-de-news-pour-une-revue-de-presse.md
Labels: none

Complétion
  content/articles/2021/2021-01-04_bilan_2020_perspectives_2021.md
Labels: articles

Update proposition-d-article.md
  .github/ISSUE_TEMPLATE/proposition-d-article.md
Labels: none

Ajout guide sur entête
  content/contribuer/guides/.pages
  content/contribuer/guides/markdown_quality.md
  content/contribuer/guides/metadata_yaml_frontmatter.md
Labels: contribution, mkdocs

Update template issues links
  content/articles/2021/2021-01-04_bilan_2020_perspectives_2021.md
Labels: articles

minor changes
  content/articles/2021/2021-01-04_bilan_2020_perspectives_2021.md
Labels: articles

Fix bad hyperlinks and bescherelle
  content/team/fbor.md
Labels: contribution

Replace manual authoring by @aurelienchaumet bio
  content/articles/2020/2020-09-20_tutorial_aerialod.md
Labels: articles

Compléments > Article
  content/articles/2021/2021-01-04_bilan_2020_perspectives_2021.md
Labels: articles

coquille
  content/articles/2021/2021-01-04_bilan_2020_perspectives_2021.md
Labels: articles

Switch to tip
  content/articles/2021/2021-01-04_bilan_2020_perspectives_2021.md
Labels: articles

tip
  content/articles/2021/2021-01-04_bilan_2020_perspectives_2021.md
Labels: articles

Add links to @aurelienchaumet and @igeofr bios
  content/team/index.md
Labels: contribution
