Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

ajustements
  content/articles/2021/2021-01-09_CSV_import_export_style_QGIS.md
Labels: articles

coquilles
  content/articles/2021/2021-01-09_CSV_import_export_style_QGIS.md
Labels: articles

corrections
  content/articles/2021/2021-01-09_CSV_import_export_style_QGIS.md
Labels: articles

Illusions à la carte
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Coquille
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Achieve article
  content/articles/2021/2021-01-25_pyqgis_previsualiser_images_integrees.md
Labels: articles

Minor update
  content/articles/2021/2021-01-25_pyqgis_previsualiser_images_integrees.md
  content/toc_nav_ignored/qgis_resources_preview_table.md
Labels: articles

Ajout news retrospective adresse
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Use config.site_url for feeds absolute urls
  content/theme/main.html
Labels: th√®me

Fix glob
  mkdocs.yml
Labels: mkdocs

Fix incompatible img format in head
  content/rdp/2020/rdp_2020-08-07.md
Labels: rdp

Some patches
  content/articles/2012/art_2012-05-09.md
  content/rdp/2015/rdp_2015-10-16.md
  content/rdp/2015/rdp_2015-11-13.md
Labels: articles, rdp

SEO improvments
  content/contribuer/edit/fix_content_from_website.md
  content/contribuer/edit/local_edition_setup.md
  content/contribuer/guides/diagrams.md
  content/contribuer/guides/emoji.md
  content/contribuer/guides/image.md
  content/contribuer/guides/twitter.md
  content/contribuer/guides/video.md
Labels: contribution

Coquilles
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Ajout news unfolded
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Coqs
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Coqs et ajout image news
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

News t-rex
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Complete news folium
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Modif puces et complete news rtkbase
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Initialize
  content/articles/2021/2021-01-15_test_unfolded_studio.md
Labels: articles

Ajout corps
  content/articles/2021/2021-01-15_test_unfolded_studio.md
Labels: articles

Ajout corps et image
  content/articles/2021/2021-01-15_test_unfolded_studio.md
Labels: articles

Ajout images
  content/articles/2021/2021-01-15_test_unfolded_studio.md
Labels: articles

Ajout bouton comment et auteur
  content/articles/2021/2021-01-15_test_unfolded_studio.md
Labels: articles

Fix
  content/articles/2021/2021-01-15_test_unfolded_studio.md
Labels: articles

Enlevage de sections vides
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

tags et image intro
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Coqs
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Use rel links instead of abs
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Fix trailing double spaces of @aurelienchaumet
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

add intro
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

coquilles
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

coquille
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Renommage, coquilles et markdown
  content/articles/2021/2021-01-09_CSV_import_export_style_QGIS.md
  content/articles/2021/2021-01-19_csv_import_export_style_QGIS.md
Labels: articles

Apply publication date
  content/articles/2021/2021-01-22_csv_import_export_style_QGIS.md
Labels: articles

Set Google Analytics key from environment variable
  .github/workflows/deploy_master_to_github_pages.yml
  mkdocs.yml
Labels: ci-cd, mkdocs

Set Google Analytics key from environment variable
  .github/workflows/deploy_master_to_github_pages.yml
  mkdocs.yml
Labels: ci-cd, mkdocs

compléments
  content/articles/2021/2021-01-22_csv_import_export_style_QGIS.md
Labels: articles

coquilles
  content/articles/2021/2021-01-22_csv_import_export_style_QGIS.md
Labels: articles
