Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

Store env into artifact Credits: thanks to https://github.com/docker-mailserver
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Achieve split workflows
  .github/workflows/pr_checker_build.yml
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

typo
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

typo
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

remove yarn.lock
  yarn.lock
Labels: none

Fix artifact name
  .github/workflows/pr_checker_build.yml
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

Deploy only if certain paths are modified
  .github/workflows/deploy.yml
Labels: ci-cd

Disable label filter
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

Add commit status
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

Try to restore label filter
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

remove label filter
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

Improve linter
  .github/workflows/markdown_lint.yml
Labels: ci-cd

Disable comment if everything is fine
  .github/workflows/markdown_lint.yml
Labels: ci-cd

Bad markdown
  content/articles/2021/test.md
Labels: articles

Improve linter
  .github/workflows/pr_linter_comment.yml
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

Always upload pr env
  .github/workflows/pr_linter_comment.yml
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

Improve readbility and name
  .github/workflows/pr_linter_comment.yml
Labels: ci-cd

Fix markdown
  content/articles/2021/test.md
Labels: articles

Remove preview label filter
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Ajout article du monde
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Add article workflow
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Typo yaml
  .github/workflows/pr_linter_comment.yml
Labels: ci-cd

Prettofy
  .github/workflows/pr_linter_comment.yml
Labels: ci-cd

Homogeneize
  .github/workflows/pr_linter_comment.yml
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

remove header
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

pgRoutinf
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Mergin et Input
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Coquille
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Plugin menu layers from project ping @xcaeag
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

typos
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Apply lightbox
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

typo
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Apply new date
  content/articles/2021/2021-06-17_qgis_personnaliser_splash_screen.md
Labels: articles

Achieve
  content/articles/2021/2021-06-17_qgis_personnaliser_splash_screen.md
Labels: articles

Update Representation carto.
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Update La cartographie, le langage hype
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Add Geo-Event Cartomob
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Update La cartographie, le langage hype
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Petite anecdote - menu from project
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Petite anecdote - menu from project
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
