Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Remove tags from homepage
  content/index.md
Labels: none

Fix entete et tags geoRDP 2015
  content/rdp/2015/rdp_2015-01-02.md
  content/rdp/2015/rdp_2015-01-16.md
  content/rdp/2015/rdp_2015-01-23.md
  content/rdp/2015/rdp_2015-01-30.md
  content/rdp/2015/rdp_2015-02-06.md
  content/rdp/2015/rdp_2015-02-16.md
  content/rdp/2015/rdp_2015-02-20.md
  content/rdp/2015/rdp_2015-03-06.md
  content/rdp/2015/rdp_2015-03-13.md
  content/rdp/2015/rdp_2015-03-16.md
  content/rdp/2015/rdp_2015-03-27.md
  content/rdp/2015/rdp_2015-04-07.md
  content/rdp/2015/rdp_2015-04-10.md
  content/rdp/2015/rdp_2015-04-20.md
  content/rdp/2015/rdp_2015-04-24.md
  content/rdp/2015/rdp_2015-05-01.md
  content/rdp/2015/rdp_2015-05-16.md
  content/rdp/2015/rdp_2015-05-29.md
  content/rdp/2015/rdp_2015-06-05.md
  content/rdp/2015/rdp_2015-06-12.md
  content/rdp/2015/rdp_2015-06-19.md
  content/rdp/2015/rdp_2015-07-03.md
  content/rdp/2015/rdp_2015-07-17.md
  content/rdp/2015/rdp_2015-09-01.md
  content/rdp/2015/rdp_2015-09-18.md
  content/rdp/2015/rdp_2015-09-21.md
  content/rdp/2015/rdp_2015-10-02.md
  content/rdp/2015/rdp_2015-10-16.md
  content/rdp/2015/rdp_2015-11-13.md
  content/rdp/2015/rdp_2015-11-30.md
  content/rdp/2015/rdp_2015-12-21.md
Labels: rdp

Create rdp_2021-10-08.md
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Fix entete et tags geoRDP 2016/2017
  content/rdp/2016/rdp_2016-01-15.md
  content/rdp/2016/rdp_2016-02-05.md
  content/rdp/2016/rdp_2016-02-12.md
  content/rdp/2016/rdp_2016-02-19.md
  content/rdp/2016/rdp_2016-03-04.md
  content/rdp/2016/rdp_2016-03-11.md
  content/rdp/2016/rdp_2016-04-22.md
  content/rdp/2016/rdp_2016-06-24.md
  content/rdp/2016/rdp_2016-07-01.md
  content/rdp/2016/rdp_2016-10-07.md
  content/rdp/2016/rdp_2016-10-14.md
  content/rdp/2016/rdp_2016-12-05.md
  content/rdp/2017/rdp_2017-01-27.md
Labels: rdp

Fix entete et tags geoRDP 2020
  content/rdp/2020/rdp_2020-05-29.md
  content/rdp/2020/rdp_2020-06-12.md
  content/rdp/2020/rdp_2020-07-24.md
  content/rdp/2020/rdp_2020-08-07.md
  content/rdp/2020/rdp_2020-08-21.md
  content/rdp/2020/rdp_2020-09-04.md
  content/rdp/2020/rdp_2020-09-18.md
  content/rdp/2020/rdp_2020-10-02.md
  content/rdp/2020/rdp_2020-10-16.md
  content/rdp/2020/rdp_2020-10-30.md
  content/rdp/2020/rdp_2020-11-13.md
  content/rdp/2020/rdp_2020-11-27.md
  content/rdp/2020/rdp_2020-12-11.md
  content/rdp/2020/rdp_2020-12-25.md
Labels: rdp

Tags sur section équipe
  content/team/archives/art_2012-12-29_lequipe.md
  content/team/confidentialite.md
  content/team/contributors.md
  content/team/credits.md
  content/team/index.md
  content/team/statistiques.md
Labels: contribution

Volet contribuer
  content/contribuer/build_site/markdown_engine.md
  content/contribuer/requirements.md
  content/contribuer/workflow_article.md
Labels: contribution

Fix entete et tags geoRDP 2020 (suite)
  content/rdp/2020/rdp_2020-04-30.md
  content/rdp/2020/rdp_2020-05-15.md
  content/rdp/2020/rdp_2020-06-12.md
  content/rdp/2020/rdp_2020-06-26.md
  content/rdp/2020/rdp_2020-07-10.md
  content/rdp/2020/rdp_2020-11-13.md
Labels: rdp

Fix entete et tags geoRDP 2021
  content/rdp/2021/rdp_2021-01-15.md
  content/rdp/2021/rdp_2021-01-29.md
  content/rdp/2021/rdp_2021-02-12.md
  content/rdp/2021/rdp_2021-02-26.md
  content/rdp/2021/rdp_2021-03-12.md
  content/rdp/2021/rdp_2021-03-26.md
  content/rdp/2021/rdp_2021-04-09.md
  content/rdp/2021/rdp_2021-04-23.md
  content/rdp/2021/rdp_2021-05-07.md
  content/rdp/2021/rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-06-04.md
  content/rdp/2021/rdp_2021-06-18.md
  content/rdp/2021/rdp_2021-07-02.md
  content/rdp/2021/rdp_2021-07-30.md
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Try disabling open version
  requirements-insiders.txt
  requirements.txt
Labels: dependencies

Clean tags on hidden content
  content/toc_nav_ignored/emojis_joypixels_preview.md
  content/toc_nav_ignored/qgis_resources_preview_table.md
Labels: none

Remove rdp tag
  content/rdp/2020/rdp_2020-04-30.md
  content/rdp/2020/rdp_2020-05-15.md
  content/rdp/2020/rdp_2020-06-26.md
  content/rdp/2020/rdp_2020-07-10.md
  content/rdp/2020/rdp_2020-08-07.md
  content/rdp/2020/rdp_2020-08-21.md
  content/rdp/2020/rdp_2020-09-04.md
  content/rdp/2020/rdp_2020-09-18.md
  content/rdp/2020/rdp_2020-10-02.md
  content/rdp/2020/rdp_2020-10-16.md
  content/rdp/2020/rdp_2020-10-30.md
  content/rdp/2020/rdp_2020-11-13.md
  content/rdp/2020/rdp_2020-11-27.md
  content/rdp/2020/rdp_2020-12-11.md
  content/rdp/2020/rdp_2020-12-25.md
  content/rdp/2021/rdp_2021-01-15.md
  content/rdp/2021/rdp_2021-01-29.md
  content/rdp/2021/rdp_2021-02-12.md
  content/rdp/2021/rdp_2021-02-26.md
  content/rdp/2021/rdp_2021-03-12.md
  content/rdp/2021/rdp_2021-03-26.md
  content/rdp/2021/rdp_2021-04-09.md
  content/rdp/2021/rdp_2021-04-23.md
  content/rdp/2021/rdp_2021-05-07.md
  content/rdp/2021/rdp_2021-06-04.md
  content/rdp/2021/rdp_2021-06-18.md
  content/rdp/2021/rdp_2021-07-02.md
  content/rdp/2021/rdp_2021-07-30.md
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Homogénéisation jeux vidéo
  content/rdp/2014/rdp_2014-04-11.md
  content/rdp/2021/rdp_2021-01-29.md
  content/rdp/2021/rdp_2021-08-27.md
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Tag pyqgis
  content/articles/2010/art_2010-09-23.md
Labels: articles

Fix PySAL casing
  content/rdp/2012/rdp_2012-04-13.md
  content/rdp/2014/rdp_2014-02-07.md
Labels: rdp

Restore former search sep
  mkdocs.yml
Labels: mkdocs

Mov workflow article
  .github/PULL_REQUEST_TEMPLATE.md
  content/articles/2021/2021-07-16_relooking_nouveautes_geotribu.md
  content/contribuer/articles/.pages
  content/contribuer/articles/workflow.md
  content/rdp/2021/rdp_2021-06-04.md
  content/rdp/2021/rdp_2021-07-02.md
  content/theme/home.html
  mkdocs.yml
Labels: articles, contribution, mkdocs, rdp, th√®me

Add abbreviations in templates
  content/articles/templates/template_article.md
  content/rdp/templates/template_rdp.md
  content/toc_nav_ignored/snippets/abbreviations.md
Labels: articles, rdp

Enhance whole section
  content/contribuer/.pages
  content/contribuer/archives/.pages
  content/contribuer/articles/workflow.md
  content/contribuer/build_site/.pages
  content/contribuer/edit/.pages
  content/contribuer/guides/.pages
  content/contribuer/internal/.pages
  content/contribuer/internal/backup.md
  content/contribuer/internal/markdown_engine.md
  mkdocs.yml
Labels: contribution, mkdocs

Achieve rdp guide
  content/contribuer/guides/image.md
  content/contribuer/rdp/.pages
  content/contribuer/rdp/add_news.md
  content/contribuer/rdp/create_rdp.md
  content/contribuer/rdp/publish.md
  content/contribuer/rdp/workflow.md
  content/theme/home.html
  content/toc_nav_ignored/snippets/abbreviations.md
Labels: contribution, mkdocs, th√®me

Fix duplicated mail for @robinbourianes-kalisio
  .mailmap
Labels: none

Fix 301 path
  mkdocs.yml
Labels: mkdocs

Remove navigation expands
  mkdocs-minimal.yml
  mkdocs.yml
Labels: mkdocs

Enable tasklist
  mkdocs-minimal.yml
  mkdocs.yml
Labels: mkdocs

Rename abbreviations --> glossaire
  content/articles/2020/2020-09-11_html2markdown.md
  content/articles/templates/template_article.md
  content/contribuer/articles/workflow.md
  content/contribuer/guides/image.md
  content/contribuer/rdp/add_news.md
  content/contribuer/rdp/create_rdp.md
  content/contribuer/rdp/publish.md
  content/contribuer/rdp/workflow.md
  content/rdp/templates/template_rdp.md
  content/toc_nav_ignored/snippets/glossaire.md
Labels: articles, contribution, rdp

Metadata > tags
  content/contribuer/guides/metadata_yaml_frontmatter.md
Labels: contribution

Coquille (du)
  content/rdp/2010/rdp_2010-10-01.md
  content/rdp/2010/rdp_2010-10-08.md
  content/rdp/2010/rdp_2010-10-14.md
  content/rdp/2010/rdp_2010-10-22.md
  content/rdp/2010/rdp_2010-10-29.md
  content/rdp/2010/rdp_2010-11-05.md
  content/rdp/2010/rdp_2010-11-12.md
  content/rdp/2010/rdp_2010-11-19.md
  content/rdp/2010/rdp_2010-11-26.md
  content/rdp/2010/rdp_2010-12-03.md
  content/rdp/2010/rdp_2010-12-10.md
  content/rdp/2010/rdp_2010-12-17.md
  content/rdp/2010/rdp_2010-12-24.md
  content/rdp/2010/rdp_2010-12-31.md
Labels: rdp

Ordre des tags
  content/contribuer/guides/metadata_yaml_frontmatter.md
Labels: contribution

Iso
  content/contribuer/guides/metadata_yaml_frontmatter.md
Labels: contribution

Delete maj
  content/contribuer/guides/metadata_yaml_frontmatter.md
Labels: contribution

Bump deps
  requirements-insiders.txt
  requirements.txt
Labels: dependencies

Fix entete et tags geoRDP 2011 (1/2)
  content/rdp/2011/rdp_2011-01-07.md
  content/rdp/2011/rdp_2011-01-14.md
  content/rdp/2011/rdp_2011-01-21.md
  content/rdp/2011/rdp_2011-01-28.md
  content/rdp/2011/rdp_2011-02-04.md
  content/rdp/2011/rdp_2011-02-11.md
  content/rdp/2011/rdp_2011-02-18.md
  content/rdp/2011/rdp_2011-02-25.md
  content/rdp/2011/rdp_2011-03-04.md
  content/rdp/2011/rdp_2011-03-11.md
  content/rdp/2011/rdp_2011-03-18.md
  content/rdp/2011/rdp_2011-03-25.md
  content/rdp/2011/rdp_2011-04-01.md
  content/rdp/2011/rdp_2011-04-08.md
  content/rdp/2011/rdp_2011-04-15.md
  content/rdp/2011/rdp_2011-04-22.md
  content/rdp/2011/rdp_2011-04-29.md
  content/rdp/2011/rdp_2011-05-06.md
  content/rdp/2011/rdp_2011-05-13.md
  content/rdp/2011/rdp_2011-05-21.md
  content/rdp/2011/rdp_2011-05-27.md
  content/rdp/2011/rdp_2011-06-03.md
  content/rdp/2011/rdp_2011-06-10.md
  content/rdp/2011/rdp_2011-06-17.md
  content/rdp/2011/rdp_2011-06-24.md
Labels: rdp

Fix entete et tags geoRDP 2011 (2/2)
  content/rdp/2011/rdp_2011-07-01.md
  content/rdp/2011/rdp_2011-07-08.md
  content/rdp/2011/rdp_2011-07-15.md
  content/rdp/2011/rdp_2011-07-22.md
  content/rdp/2011/rdp_2011-07-29.md
  content/rdp/2011/rdp_2011-08-05.md
  content/rdp/2011/rdp_2011-08-12.md
  content/rdp/2011/rdp_2011-08-19.md
  content/rdp/2011/rdp_2011-08-26.md
  content/rdp/2011/rdp_2011-09-02.md
  content/rdp/2011/rdp_2011-09-09.md
  content/rdp/2011/rdp_2011-09-16.md
  content/rdp/2011/rdp_2011-09-23.md
  content/rdp/2011/rdp_2011-09-30.md
  content/rdp/2011/rdp_2011-10-07.md
  content/rdp/2011/rdp_2011-10-14.md
  content/rdp/2011/rdp_2011-10-21.md
  content/rdp/2011/rdp_2011-10-28.md
  content/rdp/2011/rdp_2011-11-04.md
  content/rdp/2011/rdp_2011-11-10.md
  content/rdp/2011/rdp_2011-11-18.md
  content/rdp/2011/rdp_2011-11-25.md
  content/rdp/2011/rdp_2011-12-02.md
  content/rdp/2011/rdp_2011-12-09.md
  content/rdp/2011/rdp_2011-12-16.md
  content/rdp/2011/rdp_2011-12-23.md
  content/rdp/2011/rdp_2011-12-30.md
Labels: rdp

Update tags in templates
  content/articles/templates/template_article.md
  content/rdp/templates/template_rdp.md
Labels: articles, rdp

Store repo and head ref
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

fix prefix
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Try other syntax
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Short syntax
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Use env vars
  .github/workflows/pr_checker_build.yml
  mkdocs.yml
Labels: ci-cd, mkdocs

Fix entete et tags geoRDP 2012 (janv/mars)
  content/rdp/2011/rdp_2011-08-05.md
  content/rdp/2012/rdp_2012-01-07.md
  content/rdp/2012/rdp_2012-01-13.md
  content/rdp/2012/rdp_2012-01-20.md
  content/rdp/2012/rdp_2012-01-27.md
  content/rdp/2012/rdp_2012-02-03.md
  content/rdp/2012/rdp_2012-02-05.md
  content/rdp/2012/rdp_2012-02-17.md
  content/rdp/2012/rdp_2012-02-20.md
  content/rdp/2012/rdp_2012-03-02.md
  content/rdp/2012/rdp_2012-03-09.md
  content/rdp/2012/rdp_2012-03-16.md
  content/rdp/2012/rdp_2012-03-23.md
  content/rdp/2012/rdp_2012-03-30.md
Labels: rdp
