Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

précision
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Change license link
  content/theme/home.html
Labels: th√®me

Add track wildfires
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Updated screenshot link.
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

My Planet Maps news update.
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Updated screenshot link.
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Coquilles
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Add tag
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Remove empty sections
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

A-Z order
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

Clean up
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Coqs
  content/articles/2020/2020-03-20_installer_site_comme_application.md
  content/articles/2020/2020-07-03_deploy_qgis_windows.md
  content/articles/2021/2021-04-26_vectipy_postgis_mvt.md
Labels: articles

Ajout diagramme exemple
  content/contribuer/guides/diagrams.md
Labels: contribution

Update rdp_2021-09-24.md
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Use new search separator
  mkdocs.yml
Labels: mkdocs

Update rdp_2021-09-24.md
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Use new search separator
  mkdocs.yml
Labels: mkdocs

pg2datagouv - Correction mermaid
  content/articles/2021/2021-08-31_pg2datagouv.md
Labels: articles

html2markdown - Correction mermaid
  content/articles/2020/2020-09-11_html2markdown.md
Labels: articles

Intro/conclusion/images
  content/articles/2021/2021-10-01_lien_sig_osm.md
Labels: articles

image
  content/articles/2021/2021-10-01_lien_sig_osm.md
Labels: articles

[
  content/articles/2021/2021-10-01_lien_sig_osm.md
Labels: articles

Some tags to help
  content/articles/2021/2021-02-09_statistiques_twitter.md
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
  content/articles/2021/2021-03-02_utiliser_zeal_pour_qgis_developpement.md
  content/contribuer/backup.md
  content/contribuer/contribution_guide.md
  content/contribuer/edit/fix_content_from_website.md
  content/contribuer/edit/local_edition_setup.md
  content/contribuer/guides/audio.md
  content/contribuer/guides/authoring.md
  content/contribuer/guides/diagrams.md
  content/contribuer/guides/emoji.md
  content/contribuer/guides/image.md
  content/contribuer/guides/licensing.md
  content/contribuer/guides/markdown_basics.md
  content/contribuer/guides/markdown_quality.md
  content/contribuer/guides/metadata_yaml_frontmatter.md
  content/contribuer/guides/twitter.md
  content/contribuer/guides/video.md
  content/contribuer/introduction.md
  content/contribuer/requirements.md
  content/contribuer/workflow_article.md
Labels: articles, contribution

Add quickstart
  README.md
Labels: none

Essai sasn le titre
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Ajout consignes insiders
  README.md
Labels: none

Fix tags GeoRDP 2010
  content/rdp/2010/rdp_2010-10-01.md
  content/rdp/2010/rdp_2010-10-05.md
  content/rdp/2010/rdp_2010-10-08.md
  content/rdp/2010/rdp_2010-10-14.md
  content/rdp/2010/rdp_2010-10-22.md
  content/rdp/2010/rdp_2010-10-29.md
  content/rdp/2010/rdp_2010-11-12.md
  content/rdp/2010/rdp_2010-11-19.md
  content/rdp/2010/rdp_2010-11-26.md
  content/rdp/2010/rdp_2010-12-03.md
  content/rdp/2010/rdp_2010-12-10.md
  content/rdp/2010/rdp_2010-12-17.md
  content/rdp/2010/rdp_2010-12-24.md
  content/rdp/2010/rdp_2010-12-31.md
Labels: rdp

Restore h1
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Disable minify following https://github.com/squidfunk/mkdocs-material/discussions/3056
  mkdocs.yml
Labels: mkdocs

Homogenize tags on my articles
  content/articles/2021/2021-01-19_pyqgis_utiliser_icones_integrees.md
  content/articles/2021/2021-02-02_pyqgis_previsualiser_images_integrees.md
  content/articles/2021/2021-03-09_pyqgis_astuce_aide_plugin.md
Labels: articles

Typo OSM
  content/rdp/2010/rdp_2010-10-05.md
Labels: rdp

Coquilles tags GeoRDP 2013
  content/rdp/2013/rdp_2013-03-08.md
  content/rdp/2013/rdp_2013-12-20.md
  content/rdp/2014/rdp_2014-01-10.md
  content/rdp/2014/rdp_2014-01-17.md
Labels: rdp

coquilles
  content/articles/2021/2021-10-01_lien_sig_osm.md
Labels: articles

Fix tag art 2009
  content/articles/2009/art_2009-12-31.md
Labels: articles

Correction Tags
  content/rdp/2015/rdp_2015-01-02.md
Labels: rdp

Ajout en-tête
  content/rdp/2015/rdp_2015-01-16.md
Labels: rdp

Ajout en-tête (Coquille)
  content/rdp/2015/rdp_2015-01-16.md
Labels: rdp

Ajout en-tête
  content/rdp/2015/rdp_2015-01-23.md
Labels: rdp

Ajout entête
  content/rdp/2015/rdp_2015-01-30.md
Labels: rdp

Ajout entête
  content/rdp/2015/rdp_2015-02-06.md
Labels: rdp

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
