Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

ajout des biographies
  content/articles/2021/2021-10-14_irc_osgeo.md
Labels: articles

typo
  content/articles/2021/2021-10-14_irc_osgeo.md
Labels: articles

Fix bios
  content/team/lbar.md
  content/team/nroe.md
Labels: contribution

ports -> paquets
  content/team/lbar.md
Labels: contribution

Amorce deep fakes géos
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Lien article osgeo
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Change date
  content/articles/2021/2021-10-15_irc_osgeo.md
Labels: articles

Unify Loïc git log
  .mailmap
Labels: none

Fix hyperlink in old rdp
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp

Add a free configuration file
  README.md
  mkdocs-free.yml
Labels: none

Use github output to pass which config file to use
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Fix outputs is a job option not step level
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

fix output syntax
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Try again
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Restore free deps
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Bump to 8.8.4
  mkdocs-minimal.yml
Labels: none

Remove mediabox i18n
  content/theme/main.html
Labels: th√®me

Use div for free version
  mkdocs-free.yml
Labels: none

Amocre journalisme géospatial
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

En bref (hebdoOSM/GRASS GIS/Lizmap)
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Note : L’Incroyable Histoire de la géographie
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Note : QompliGIS
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

En bref : OpenLayers
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Note : trains en direct
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Fix RDP 2010
  content/rdp/2010/rdp_2010-10-01.md
Labels: rdp

Fix RDP 2010 (2/2)
  content/rdp/2010/rdp_2010-10-08.md
  content/rdp/2010/rdp_2010-10-15.md
  content/rdp/2010/rdp_2010-10-22.md
  content/rdp/2010/rdp_2010-10-29.md
  content/rdp/2010/rdp_2010-11-05.md
  content/rdp/2010/rdp_2010-11-12.md
  content/rdp/2010/rdp_2010-11-19.md
  content/rdp/2010/rdp_2010-11-26.md
  content/rdp/2010/rdp_2010-12-03.md
  content/rdp/2010/rdp_2010-12-10.md
  content/rdp/2010/rdp_2010-12-17.md
  content/rdp/2010/rdp_2010-12-24.md
Labels: rdp

Fix RDP 2010 (coquilles)
  content/rdp/2010/rdp_2010-10-08.md
  content/rdp/2010/rdp_2010-11-26.md
  content/rdp/2010/rdp_2010-12-03.md
  content/rdp/2010/rdp_2010-12-24.md
Labels: rdp

Fix noel et gvsig icons
  content/articles/2009/art_2009-10-28.md
  content/articles/2010/art_2010-05-04.md
  content/rdp/2011/rdp_2011-07-22.md
  content/rdp/2011/rdp_2011-11-25.md
  content/rdp/2011/rdp_2011-12-23.md
  content/rdp/2011/rdp_2011-12-30.md
  content/rdp/2012/rdp_2012-08-03.md
  content/rdp/2012/rdp_2012-08-24.md
  content/rdp/2012/rdp_2012-12-21.md
Labels: articles, rdp

Better christmas image attributes
  content/rdp/2011/rdp_2011-12-23.md
  content/rdp/2012/rdp_2012-12-21.md
Labels: rdp

Fix RDP 2011-01-07
  content/rdp/2011/rdp_2011-01-07.md
Labels: rdp

Fix RDP 2017
  content/rdp/2011/rdp_2011-01-07.md
  content/rdp/2017/rdp_2017-01-27.md
Labels: rdp

Fix 2016 (Partie 1)
  content/rdp/2016/rdp_2016-10-07.md
  content/rdp/2016/rdp_2016-10-14.md
  content/rdp/2016/rdp_2016-12-05.md
  content/rdp/2017/rdp_2017-01-27.md
Labels: rdp

Video FOSS4G 2022
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Fin nettoyage post @igeofr
  content/rdp/2017/rdp_2017-01-27.md
Labels: rdp

Add news projections
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Add Input app
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Fix 2016 (Partie 2/4)
  content/rdp/2016/rdp_2016-04-22.md
  content/rdp/2016/rdp_2016-06-24.md
  content/rdp/2016/rdp_2016-07-01.md
Labels: rdp

Fix 2016 - Coquilles (Partie 1 et 2/4)
  content/rdp/2016/rdp_2016-04-22.md
  content/rdp/2016/rdp_2016-06-24.md
  content/rdp/2016/rdp_2016-07-01.md
  content/rdp/2016/rdp_2016-10-07.md
Labels: rdp

Fix 2016 (Partie 3/4)
  content/rdp/2016/rdp_2016-02-19.md
  content/rdp/2016/rdp_2016-03-04.md
  content/rdp/2016/rdp_2016-03-11.md
  content/rdp/2016/rdp_2016-06-24.md
  content/rdp/2016/rdp_2016-07-01.md
Labels: rdp

Disable minify plugin
  mkdocs.yml
Labels: mkdocs

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
