Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

Coquilles 0620, 0627 et 0711
  content/rdp/2014/rdp_2014-06-20.md
  content/rdp/2014/rdp_2014-06-27.md
  content/rdp/2014/rdp_2014-07-11.md
Labels: rdp

Fix RDP 20140718
  content/rdp/2014/rdp_2014-07-18.md
Labels: rdp

20140725
  content/rdp/2014/rdp_2014-07-25.md
Labels: rdp

Fix RDP 20140808
  content/rdp/2014/rdp_2014-08-08.md
Labels: rdp

Fix RDP 20140814
  content/rdp/2014/rdp_2014-08-14.md
Labels: rdp

Mise en avant écrins 3D en page d'accueil
  content/theme/home.html
Labels: th√®me

Fix RDP 20140822
  content/rdp/2014/rdp_2014-08-22.md
Labels: rdp

Fix RDP 20140829
  content/rdp/2014/rdp_2014-08-29.md
Labels: rdp

Fix RDP 20140905
  content/rdp/2014/rdp_2014-09-05.md
Labels: rdp

Fix article QGIS WMS 2010-09-03
  content/articles/2010/art_2010-09-03.md
Labels: articles

Fix RDP 20140912
  content/rdp/2014/rdp_2014-09-12.md
Labels: rdp

Fix RDP 20140919
  content/rdp/2014/rdp_2014-09-19.md
Labels: rdp

Coquilles 0912 et 0919
  content/rdp/2014/rdp_2014-09-12.md
  content/rdp/2014/rdp_2014-09-19.md
Labels: rdp

Fix RDP 20140926
  content/rdp/2014/rdp_2014-09-26.md
Labels: rdp

Fix RDP 20141003
  content/rdp/2014/rdp_2014-10-03.md
Labels: rdp

Fix RDP 20141010
  content/rdp/2014/rdp_2014-10-10.md
Labels: rdp

Fix RDP 20141017
  content/rdp/2014/rdp_2014-10-17.md
Labels: rdp

Fix RDP 20141024
  content/rdp/2014/rdp_2014-10-24.md
Labels: rdp

Fix RDP 20141031 et coquille 1024
  content/rdp/2014/rdp_2014-10-24.md
  content/rdp/2014/rdp_2014-10-31.md
Labels: rdp

Fix RDP 20141107
  content/rdp/2014/rdp_2014-11-07.md
Labels: rdp

Fix RDP 20141114
  content/rdp/2014/rdp_2014-11-14.md
Labels: rdp

Fix RDP 20141121
  content/rdp/2014/rdp_2014-11-21.md
Labels: rdp

Fix RDP 20141128
  content/rdp/2014/rdp_2014-11-28.md
Labels: rdp

Fix RDP 20141205
  content/rdp/2014/rdp_2014-12-05.md
Labels: rdp

Fix RDP 20141212
  content/rdp/2014/rdp_2014-12-12.md
Labels: rdp

Fix RDP 20141224
  content/rdp/2014/rdp_2014-12-24.md
Labels: rdp

Corrections .img-center et vignettes incomplètes (14/15/16)
  content/rdp/2014/rdp_2014-01-17.md
  content/rdp/2014/rdp_2014-01-31.md
  content/rdp/2014/rdp_2014-02-21.md
  content/rdp/2014/rdp_2014-02-28.md
  content/rdp/2014/rdp_2014-03-07.md
  content/rdp/2014/rdp_2014-03-14.md
  content/rdp/2014/rdp_2014-04-01.md
  content/rdp/2014/rdp_2014-06-13.md
  content/rdp/2014/rdp_2014-06-20.md
  content/rdp/2014/rdp_2014-06-27.md
  content/rdp/2014/rdp_2014-07-18.md
  content/rdp/2014/rdp_2014-08-08.md
  content/rdp/2014/rdp_2014-08-14.md
  content/rdp/2014/rdp_2014-08-22.md
  content/rdp/2014/rdp_2014-09-26.md
  content/rdp/2014/rdp_2014-10-24.md
  content/rdp/2014/rdp_2014-11-28.md
  content/rdp/2015/rdp_2015-02-06.md
  content/rdp/2015/rdp_2015-02-20.md
  content/rdp/2015/rdp_2015-03-20.md
  content/rdp/2015/rdp_2015-03-27.md
  content/rdp/2015/rdp_2015-04-03.md
  content/rdp/2015/rdp_2015-06-05.md
  content/rdp/2015/rdp_2015-06-12.md
  content/rdp/2015/rdp_2015-06-19.md
  content/rdp/2015/rdp_2015-07-17.md
  content/rdp/2015/rdp_2015-09-01.md
  content/rdp/2015/rdp_2015-12-11.md
  content/rdp/2015/rdp_2015-12-18.md
  content/rdp/2016/rdp_2016-06-24.md
Labels: rdp

2016 : iframe width="100%
  content/rdp/2016/rdp_2016-02-05.md
  content/rdp/2016/rdp_2016-02-12.md
  content/rdp/2016/rdp_2016-02-19.md
  content/rdp/2016/rdp_2016-03-04.md
Labels: rdp

2014/2015 : iframe width="100%
  content/rdp/2014/rdp_2014-09-19.md
  content/rdp/2015/rdp_2015-01-16.md
  content/rdp/2015/rdp_2015-07-17.md
Labels: rdp

Fix RDP 20140117
  content/rdp/2014/rdp_2014-01-17.md
Labels: rdp

Fix old urls 20140124
  content/rdp/2014/rdp_2014-01-24.md
Labels: rdp

Fix old url 20140131
  content/rdp/2014/rdp_2014-01-31.md
Labels: rdp

Initiate old url fixed file
  content/toc_nav_ignored/old_url_fixed.csv
Labels: none

Fix 20140214 url
  content/rdp/2014/rdp_2014-02-14.md
  content/toc_nav_ignored/old_url_fixed.csv
Labels: rdp

Fix balise and url
  content/rdp/2014/rdp_2014-02-21.md
Labels: rdp

Fix 20140228 balise and urls
  content/rdp/2014/rdp_2014-02-28.md
Labels: rdp

Fix 20140307 url
  content/rdp/2014/rdp_2014-03-07.md
  content/toc_nav_ignored/old_url_fixed.csv
Labels: rdp

Fix 20140314 url
  content/rdp/2014/rdp_2014-03-14.md
  content/toc_nav_ignored/old_url_fixed.csv
Labels: rdp

Fix 20140321 url
  content/rdp/2014/rdp_2014-03-21.md
  content/toc_nav_ignored/old_url_fixed.csv
Labels: rdp

Fix 20140401 url
  content/rdp/2014/rdp_2014-04-01.md
  content/toc_nav_ignored/old_url_fixed.csv
Labels: rdp

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
