Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Remaster
  content/articles/2010/art_2010-09-23.md
Labels: articles

Restore no-insider dep
  requirements.txt
Labels: dependencies

Add redirection
  mkdocs.yml
Labels: mkdocs

Fix QGIS case
  content/articles/2009/art_2009-05-24.md
  content/articles/2009/art_2009-09-09.md
  content/articles/2009/art_2009-11-26.md
  content/articles/2010/art_2010-01-18.md
  content/articles/2010/art_2010-09-03.md
  content/articles/2013/art_2013-09-22.md
  content/articles/2021/2021-05-28_carte_topo_qgis.md
  content/rdp/2010/rdp_2010-12-03.md
  content/rdp/2011/rdp_2011-01-28.md
  content/rdp/2011/rdp_2011-04-22.md
  content/rdp/2011/rdp_2011-06-03.md
  content/rdp/2011/rdp_2011-06-24.md
  content/rdp/2011/rdp_2011-08-19.md
  content/rdp/2011/rdp_2011-09-30.md
  content/rdp/2011/rdp_2011-10-21.md
  content/rdp/2011/rdp_2011-10-28.md
  content/rdp/2011/rdp_2011-11-10.md
  content/rdp/2011/rdp_2011-11-18.md
  content/rdp/2011/rdp_2011-12-09.md
  content/rdp/2011/rdp_2011-12-16.md
  content/rdp/2016/rdp_2016-06-24.md
  content/rdp/2020/rdp_2020-06-26.md
  content/rdp/2020/rdp_2020-12-25.md
  content/rdp/2021/rdp_2021-04-23.md
  content/team/acha.md
Labels: articles, contribution, rdp

Bump RSS to 100 items
  mkdocs.yml
Labels: mkdocs

Réorga dépendances
  .github/workflows/deploy.yml
  .github/workflows/pr_checker_build.yml
  README.md
  requirements-free.txt
  requirements.txt
Labels: ci-cd, dependencies

Typo guillemet
  content/rdp/2011/rdp_2011-04-01.md
Labels: rdp

QGIS casing
  content/rdp/2011/rdp_2011-12-23.md
  content/rdp/2012/rdp_2012-01-07.md
  content/rdp/2012/rdp_2012-01-20.md
  content/rdp/2012/rdp_2012-01-27.md
  content/rdp/2012/rdp_2012-02-10.md
  content/rdp/2012/rdp_2012-02-20.md
  content/rdp/2012/rdp_2012-03-30.md
  content/rdp/2012/rdp_2012-04-13.md
  content/rdp/2012/rdp_2012-06-08.md
  content/rdp/2012/rdp_2012-07-27.md
  content/rdp/2012/rdp_2012-10-12.md
  content/rdp/2012/rdp_2012-10-19.md
  content/rdp/2012/rdp_2012-11-09.md
  content/rdp/2013/rdp_2013-01-25.md
  content/rdp/2013/rdp_2013-03-15.md
  content/rdp/2013/rdp_2013-05-10.md
  content/rdp/2013/rdp_2013-07-26.md
  content/rdp/2013/rdp_2013-08-23.md
  content/rdp/2013/rdp_2013-10-25.md
  content/rdp/2014/rdp_2014-04-18.md
  content/rdp/2014/rdp_2014-10-03.md
  content/rdp/2014/rdp_2014-10-17.md
  content/rdp/2014/rdp_2014-12-05.md
  content/rdp/2015/rdp_2015-05-29.md
  content/rdp/2015/rdp_2015-06-05.md
  content/rdp/2015/rdp_2015-11-13.md
  content/rdp/2015/rdp_2015-12-11.md
  content/rdp/2015/rdp_2015-12-18.md
Labels: rdp

Fix syntaxe
  content/rdp/2011/rdp_2011-04-01.md
Labels: rdp

Fix tags articles 2020
  content/articles/2020/2020-03-20_installer_site_comme_application.md
  content/articles/2020/2020-06-19_setup_python.md
  content/articles/2020/2020-07-03_deploy_qgis_windows.md
  content/articles/2020/2020-08-31_geotribu_histoire.md
  content/articles/2020/2020-09-08_web-scraping_scrapy_geotribu.md
  content/articles/2020/2020-09-09_geodatadays.md
  content/articles/2020/2020-09-11_html2markdown.md
  content/articles/2020/2020-09-20_tutorial_aerialod.md
  content/articles/2020/2020-10-19_geogame_desert.md
  content/articles/2020/2020-11-21_openstreetmap_street_complete.md
  content/articles/2020/2020-12-30_deployer_geotribu_a_la_maison.md
Labels: articles

Fix tags articles 2021
  content/articles/2021/2021-01-04_bilan_2020_perspectives_2021.md
  content/articles/2021/2021-01-19_pyqgis_utiliser_icones_integrees.md
  content/articles/2021/2021-01-22_csv_import_export_style_QGIS.md
  content/articles/2021/2021-01-26_test_unfolded_studio.md
  content/articles/2021/2021-02-02_pyqgis_previsualiser_images_integrees.md
  content/articles/2021/2021-02-09_statistiques_twitter.md
  content/articles/2021/2021-02-23_carte_ligne_libre.md
  content/articles/2021/2021-03-02_utiliser_zeal_pour_qgis_developpement.md
  content/articles/2021/2021-03-09_pyqgis_astuce_aide_plugin.md
  content/articles/2021/2021-04-01_qtribu_plugin_qgis_geotribu.md
  content/articles/2021/2021-04-07_carte_reseau_bus.md
  content/articles/2021/2021-04-20_maplibre_site_ressource.md
  content/articles/2021/2021-04-26_vectipy_postgis_mvt.md
  content/articles/2021/2021-05-05_geointerview_ign_sebastien_soriano_annonce.md
  content/articles/2021/2021-05-14_commentaires_migration_disqus_isso.md
  content/articles/2021/2021-05-25_biblio_powershell_si3p0.md
  content/articles/2021/2021-05-28_carte_topo_qgis.md
  content/articles/2021/2021-06-08_odk_postgis_1.md
  content/articles/2021/2021-06-11_qgis_personnaliser_splash_screen.md
  content/articles/2021/2021-06-22_odk_postgis_2.md
  content/articles/2021/2021-07-06_qgis_personnaliser_package_osgeo4w.md
  content/articles/2021/2021-08-31_pg2datagouv.md
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
  content/articles/2021/2021-09-22_odk_postgis_3.md
Labels: articles

RSS Reduce to 50 items and disable pretty print
  mkdocs.yml
Labels: mkdocs

Coquillettes
  content/rdp/2010/rdp_2010-12-17.md
  content/rdp/2013/rdp_2013-06-28.md
  content/rdp/2013/rdp_2013-10-04.md
  content/rdp/2015/rdp_2015-02-20.md
  content/rdp/2015/rdp_2015-06-05.md
  content/rdp/2021/rdp_2021-05-21.md
  content/rdp/2021/rdp_2021-06-04.md
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

Fix tags
  content/rdp/2011/rdp_2011-05-06.md
  content/rdp/2013/rdp_2013-03-08.md
Labels: rdp

Fix tags
  content/articles/2010/art_2010-07-21.md
Labels: articles

init article osgeo-fr irc
  content/articles/2021/2021-10-11_irc_osgeo.md
Labels: articles

changement de la date dans le nom du fichier
  content/articles/2021/2021-10-14_irc_osgeo.md
Labels: articles

double espace
  content/articles/2021/2021-10-14_irc_osgeo.md
Labels: articles

qgis -> QGIS
  content/articles/2021/2021-10-14_irc_osgeo.md
Labels: articles

qgis -> QGIS
  content/articles/2021/2021-10-14_irc_osgeo.md
Labels: articles

libera chat url
  content/articles/2021/2021-10-14_irc_osgeo.md
Labels: articles

suppression double espace
  content/articles/2021/2021-10-14_irc_osgeo.md
Labels: articles

on place l'image au centre
  content/articles/2021/2021-10-14_irc_osgeo.md
Labels: articles

Commente les lignes auteurs qui pètent le build et supprime bibi
  content/articles/2021/2021-10-14_irc_osgeo.md
Labels: articles

TEMPOFIX Utilise la version gratuite pour les builds
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Fix tempofix
  .github/workflows/pr_checker_build.yml
  requirements.txt
Labels: ci-cd, dependencies

fix liste des canaux
  content/articles/2021/2021-10-14_irc_osgeo.md
  content/team/lbar.md
  content/team/nroe.md
Labels: articles, contribution

déplacement de la bannière avant l'introduction
  content/articles/2021/2021-10-14_irc_osgeo.md
Labels: articles

Prettify
  content/articles/2021/2021-10-14_irc_osgeo.md
Labels: articles

rdp/2021-10-22
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Fix en-tête (application nouveau template)
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Bump Material Insiders with fixed mkdocs search
  requirements-insiders.txt
Labels: none

Clean free requirements
  requirements-free.txt
Labels: none

Install free or insiders version depending on PR author
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Warn about free version
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

brêv geotrek
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

brêv geotrek
  content/rdp/2021/rdp_2021-10-22.md
Labels: rdp

Update 2021-10-14_irc_osgeo.md
  content/articles/2021/2021-10-14_irc_osgeo.md
Labels: articles

Fill nroe.md
  content/team/nroe.md
Labels: contribution

bio lbart
  content/team/lbar.md
Labels: contribution
