Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Add news carburant
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Note QField
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Add news osm vélo dynartio
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

ajout geo event qualité
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Add en bref josm
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Rencontres des Utilisateurs QGIS / En bref
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Coquilles
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

FOSS4G_2021
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

image/tags
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

En bref (Newsletter d'OpenTopography)
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Villes accessibles en direct au départ d'une gare
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

QField
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

En bref (Geoserver,PROJ,Geos)
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

ajout evenement du crige-paca
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Intro
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Amorce news Les Cartes en Question - ping @Jersig
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Initiate rdp
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Appli Français de nos Régions
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Add tags
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Fix image et description
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Update content/rdp/2021/rdp_2021-11-05.md
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Fix images
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Add tweets on 30daymapchallenge
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Start 30DayMapChallenge
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Add news france hype
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Note vidéos FOSS4G 2021
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Coqs
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Icon + image
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

First pics
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Create 2021-10-10_Carte_en_relief_des_ecrins.md
  content/articles/2021/2021-10-10_Carte_en_relief_des_ecrins.md
Labels: articles

Rename 2021-10-10_Carte_en_relief_des_ecrins.md to 2021-11-10_Carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-10_Carte_en_relief_des_ecrins.md
Labels: articles

Update 2021-11-10_Carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-10_Carte_en_relief_des_ecrins.md
Labels: articles

Corrections automatiques via markdownlint
  content/articles/2021/2021-11-10_Carte_en_relief_des_ecrins.md
Labels: articles

Create jemv.md
  content/team/jemv.md
Labels: contribution

Update 2021-11-10_Carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-10_Carte_en_relief_des_ecrins.md
Labels: articles

Update 2021-11-10_Carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-10_Carte_en_relief_des_ecrins.md
Labels: articles

Fix RDP 20150410 et 20150417
  content/rdp/2015/rdp_2015-04-10.md
  content/rdp/2015/rdp_2015-04-17.md
Labels: rdp

Fix RDP 20150424
  content/rdp/2015/rdp_2015-04-24.md
Labels: rdp

Fix RDP 20150501
  content/rdp/2015/rdp_2015-05-01.md
Labels: rdp

Fix RDP 20150515
  content/rdp/2015/rdp_2015-05-15.md
Labels: rdp
