Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

Intro etc.
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Ajout @MaelREBOUX
  .mailmap
Labels: none

update dataset link
  content/articles/2021/2021-03-02_utiliser_zeal_pour_qgis_developpement.md
Labels: articles

Remise en forme complète pour respecter guide de contribution
  content/articles/2021/2021-12-01_openmobilityindicators.md
Labels: articles

Renommage pour date
  content/articles/2021/2021-12-10_openmobilityindicators.md
Labels: articles

Change titre en-tête
  content/articles/2021/2021-12-10_openmobilityindicators.md
Labels: articles

Change image en-tête
  content/articles/2021/2021-12-10_openmobilityindicators.md
Labels: articles

openmobilityindicators en page d'accueil
  content/theme/home.html
Labels: th√®me

Create rdp_2021-12-17.md
  content/rdp/2021/rdp_2021-12-17.md
Labels: rdp

En bref (hebdoOSM, PostGIS)
  content/rdp/2021/rdp_2021-12-17.md
Labels: rdp

France Culture
  content/rdp/2021/rdp_2021-12-17.md
Labels: rdp

Note open data
  content/rdp/2021/rdp_2021-12-17.md
Labels: rdp

Note cycle OSM
  content/rdp/2021/rdp_2021-12-17.md
Labels: rdp

Note livre open data
  content/rdp/2021/rdp_2021-12-17.md
Labels: rdp

img intro
  content/rdp/2021/rdp_2021-12-17.md
Labels: rdp

Coquille
  content/rdp/2021/rdp_2021-12-17.md
Labels: rdp

Coquille
  content/rdp/2021/rdp_2021-12-17.md
Labels: rdp

fix
  content/rdp/2011/rdp_2011-01-21.md
  content/rdp/2011/rdp_2011-01-28.md
  content/rdp/2011/rdp_2011-02-04.md
  content/rdp/2011/rdp_2011-02-11.md
  content/rdp/2011/rdp_2011-03-18.md
  content/rdp/2011/rdp_2011-04-08.md
  content/rdp/2011/rdp_2011-04-15.md
  content/rdp/2011/rdp_2011-04-22.md
  content/rdp/2011/rdp_2011-04-29.md
  content/rdp/2011/rdp_2011-05-06.md
  content/rdp/2011/rdp_2011-05-13.md
  content/rdp/2011/rdp_2011-05-27.md
  content/rdp/2011/rdp_2011-06-03.md
  content/rdp/2011/rdp_2011-06-17.md
  content/rdp/2011/rdp_2011-06-24.md
  content/rdp/2011/rdp_2011-07-08.md
  content/rdp/2011/rdp_2011-07-15.md
  content/rdp/2011/rdp_2011-07-22.md
  content/rdp/2011/rdp_2011-07-29.md
  content/rdp/2011/rdp_2011-08-05.md
  content/rdp/2011/rdp_2011-08-12.md
  content/rdp/2011/rdp_2011-08-19.md
  content/rdp/2011/rdp_2011-08-26.md
  content/rdp/2011/rdp_2011-09-30.md
  content/rdp/2011/rdp_2011-10-07.md
  content/rdp/2011/rdp_2011-10-14.md
  content/rdp/2011/rdp_2011-10-28.md
  content/rdp/2011/rdp_2011-11-04.md
  content/rdp/2011/rdp_2011-11-18.md
  content/rdp/2011/rdp_2011-11-25.md
  content/rdp/2011/rdp_2011-12-02.md
  content/rdp/2011/rdp_2011-12-09.md
  content/rdp/2011/rdp_2011-12-16.md
  content/rdp/2011/rdp_2011-12-30.md
Labels: rdp

Update content/rdp/2011/rdp_2011-02-11.md
  content/rdp/2011/rdp_2011-02-11.md
Labels: rdp

Update content/rdp/2011/rdp_2011-02-11.md
  content/rdp/2011/rdp_2011-02-11.md
Labels: rdp

Update content/rdp/2011/rdp_2011-04-15.md
  content/rdp/2011/rdp_2011-04-15.md
Labels: rdp

Update content/rdp/2011/rdp_2011-04-29.md
  content/rdp/2011/rdp_2011-04-29.md
Labels: rdp

Update content/rdp/2011/rdp_2011-04-15.md
  content/rdp/2011/rdp_2011-04-15.md
Labels: rdp

Update content/rdp/2011/rdp_2011-04-15.md
  content/rdp/2011/rdp_2011-04-15.md
Labels: rdp

Update content/rdp/2011/rdp_2011-05-06.md
  content/rdp/2011/rdp_2011-05-06.md
Labels: rdp

Update content/rdp/2011/rdp_2011-05-27.md
  content/rdp/2011/rdp_2011-05-27.md
Labels: rdp

Update content/rdp/2011/rdp_2011-05-13.md
  content/rdp/2011/rdp_2011-05-13.md
Labels: rdp

Apply suggestions from code review
  content/rdp/2011/rdp_2011-09-30.md
  content/rdp/2011/rdp_2011-12-30.md
Labels: rdp

Update content/rdp/2011/rdp_2011-04-08.md
  content/rdp/2011/rdp_2011-04-08.md
Labels: rdp

Apply suggestions from code review
  content/rdp/2011/rdp_2011-04-08.md
  content/rdp/2011/rdp_2011-06-03.md
  content/rdp/2011/rdp_2011-06-24.md
  content/rdp/2011/rdp_2011-07-08.md
  content/rdp/2011/rdp_2011-11-18.md
  content/rdp/2011/rdp_2011-11-25.md
  content/rdp/2011/rdp_2011-12-02.md
  content/rdp/2011/rdp_2011-12-30.md
Labels: rdp

Apply suggestions from code review
  content/rdp/2011/rdp_2011-04-08.md
  content/rdp/2011/rdp_2011-04-15.md
  content/rdp/2011/rdp_2011-04-22.md
  content/rdp/2011/rdp_2011-04-29.md
  content/rdp/2011/rdp_2011-05-06.md
  content/rdp/2011/rdp_2011-05-13.md
  content/rdp/2011/rdp_2011-05-27.md
  content/rdp/2011/rdp_2011-06-17.md
  content/rdp/2011/rdp_2011-06-24.md
  content/rdp/2011/rdp_2011-07-08.md
  content/rdp/2011/rdp_2011-07-15.md
  content/rdp/2011/rdp_2011-07-22.md
  content/rdp/2011/rdp_2011-07-29.md
  content/rdp/2011/rdp_2011-08-05.md
  content/rdp/2011/rdp_2011-08-12.md
  content/rdp/2011/rdp_2011-08-19.md
  content/rdp/2011/rdp_2011-08-26.md
  content/rdp/2011/rdp_2011-09-30.md
  content/rdp/2011/rdp_2011-10-07.md
  content/rdp/2011/rdp_2011-10-14.md
  content/rdp/2011/rdp_2011-10-28.md
  content/rdp/2011/rdp_2011-11-04.md
  content/rdp/2011/rdp_2011-11-18.md
  content/rdp/2011/rdp_2011-11-25.md
  content/rdp/2011/rdp_2011-12-02.md
Labels: rdp

Apply suggestions from code review
  content/rdp/2011/rdp_2011-08-05.md
  content/rdp/2011/rdp_2011-10-14.md
  content/rdp/2011/rdp_2011-12-09.md
  content/rdp/2011/rdp_2011-12-16.md
Labels: rdp

Apply suggestions from code review
  content/rdp/2011/rdp_2011-12-09.md
Labels: rdp

Disable render mode
  .github/ISSUE_TEMPLATE/ARTICLE.yml
  .github/ISSUE_TEMPLATE/RDP_NEWS.yml
Labels: ci-cd

Disable render mode
  .github/ISSUE_TEMPLATE/ARTICLE.yml
  .github/ISSUE_TEMPLATE/RDP_NEWS.yml
Labels: ci-cd

Replace backet extension by native settings
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

Bump to material for mkdocs >8
  requirements-free.txt
  requirements-insiders.txt
Labels: none

Upgrade guide
  mkdocs.yml
Labels: mkdocs

Exclue des pages de la recherche
  content/contribuer/archives/howto_rdp.md
  content/contribuer/archives/howto_tutorials.md
  content/contribuer/articles/workflow.md
  content/contribuer/contribution_guide.md
  content/contribuer/edit/fix_content_from_website.md
  content/contribuer/edit/local_edition_setup.md
  content/contribuer/guides/audio.md
  content/contribuer/guides/authoring.md
  content/contribuer/guides/diagrams.md
  content/contribuer/guides/emoji.md
  content/contribuer/guides/image.md
  content/contribuer/guides/licensing.md
  content/contribuer/guides/markdown_basics.md
  content/contribuer/guides/markdown_quality.md
  content/contribuer/guides/metadata_yaml_frontmatter.md
  content/contribuer/guides/twitter.md
  content/contribuer/guides/video.md
  content/contribuer/internal/backup.md
  content/contribuer/internal/markdown_engine.md
  content/contribuer/introduction.md
  content/contribuer/requirements.md
  content/tags.md
  content/team/archives/art_2012-12-29_lequipe.md
  content/team/credits.md
  content/team/statistiques.md
  content/toc_nav_ignored/emojis_joypixels_preview.md
Labels: contribution

Petites corrections
  content/contribuer/archives/howto_tutorials.md
  content/contribuer/guides/markdown_quality.md
  content/tags.md
  content/team/archives/art_2012-12-29_lequipe.md
Labels: contribution

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
