Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Coquille vous vont
  content/contribuer/internal/backup.md
Labels: contribution

Add news carburant
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Add news osm vélo dynartio
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Update content/contribuer/internal/backup.md
  content/contribuer/internal/backup.md
Labels: contribution

Suppression fichiers sauvegardes inutiles (#464)
  content/contribuer/internal/backup.md
Labels: contribution

Initialize
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Fix RDP 20150213
  content/rdp/2015/rdp_2015-02-13.md
Labels: rdp

Fix RDP 20150220
  content/rdp/2015/rdp_2015-02-20.md
Labels: rdp

Fix RDP 20150306
  content/rdp/2015/rdp_2015-03-06.md
Labels: rdp

Fix RDP 20150306 et 20150220 (coquilles)
  content/rdp/2015/rdp_2015-02-20.md
  content/rdp/2015/rdp_2015-03-06.md
Labels: rdp

En bref (Geoserver,PROJ,Geos)
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

image/tags
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Start 30DayMapChallenge
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Fix RDP 20150313
  content/rdp/2015/rdp_2015-03-13.md
Labels: rdp

Fix RDP 20150320
  content/rdp/2015/rdp_2015-03-20.md
Labels: rdp

Fix RDP 20150327 et coquilles 13/20
  content/rdp/2015/rdp_2015-03-13.md
  content/rdp/2015/rdp_2015-03-20.md
  content/rdp/2015/rdp_2015-03-27.md
Labels: rdp

Fix RDP 20150427 et coquilles 0327
  content/rdp/2015/rdp_2015-03-27.md
  content/rdp/2015/rdp_2015-04-03.md
Labels: rdp

Note QField
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Note vidéos FOSS4G 2021
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

FOSS4G_2021
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

QField
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Add en bref josm
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Add news france hype
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Add tags
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Clean empty sections
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Intro
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Fix images
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Fix image et description
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Coquilles
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Add tweets on 30daymapchallenge
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Micro coquille
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Vie du site
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Clean empty sections
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

En bref (GDAL 3.3.3)
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Update rdp_2021-11-05.md
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Vidéo Overpass Turbo
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

challenge accepted
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Micro coquille
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

Update content/rdp/2021/rdp_2021-11-05.md
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

rajout logo + contenu
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp
