Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Amorce geotiff nogdal
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Tuto sur personnalisation splash screen QGIS
  content/articles/2021/2021-03-19_qgis_personnaliser_splash_screen.md
Labels: articles

Update rdp_2021-03-12.md
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Geo-event proposal
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Amorce Python graph gallery
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Geo-event proposal
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Corrections syntaxe de @fbahoken et ajout images
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Update rdp_2021-03-12.md
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Update rdp_2021-03-12.md
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Update rdp_2021-03-12.md
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

En bref : Lizmap
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Geoplateforme
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Coquilles
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Ajout de logos
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

OSM/Enedis
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Coquille
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Add "motif" R packages notif
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Ajout geonight
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Nettoyage et corrections de @ElCep
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

rdp: add Inkmap release 1.0.0
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

p'tites correction pointé pas @ju
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Pourquoi le Nord est-il en haut ?
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Update rdp_2021-03-12.md
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

QField
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Vie du site
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Python Graph Gallery
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Google Desktop Roads Editor
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Clean up
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Désactive Disqus - cc @geotribu/contributeurs
  mkdocs.yml
Labels: mkdocs

intro
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

SEO description
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

coquilles
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Reformulation geoplateforme
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Deployed 886bca401 with MkDocs version: 1.1.2
  feed_rss_created.xml
  feed_rss_updated.xml
  rdp/2021/rdp_2021-03-12/index.html
  sitemap.xml.gz
Labels: none

Création RDP 26 mars 2021
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Colloque « A quoi sert la géographie ? »
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Nouveaux territoires, nouveaux noms de la France
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Complément : Nouveaux territoires...
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

Do not keep history for static pages - fix #302
  .github/workflows/deploy_master_to_github_pages.yml
Labels: ci-cd

Update deploy_master_to_github_pages.yml
  .github/workflows/deploy_master_to_github_pages.yml
Labels: ci-cd
