Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

Use Netlify action
  .github/workflows/pr_to_master.yml
Labels: ci-cd

Transform into separated workflow
  .github/workflows/pr_preview_netlify.yml
  .github/workflows/pr_to_master.yml
Labels: ci-cd

Reuse already build website as artifact
  .github/workflows/pr_preview_netlify.yml
  .github/workflows/pr_to_master.yml
Labels: ci-cd

typo
  .github/workflows/pr_to_master.yml
Labels: ci-cd

Rename workflow
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Typo syntax
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Fix trigger event
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Fix action configuration
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Fix if
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Increase timeout
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

CI - Rationalize netlify preview (#359)
  .github/workflows/deploy_master_to_github_pages.yml
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Note PostGIS
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

OSGeoLive
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

PostGIS
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Coquille
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Update workflow_article.md
  content/contribuer/workflow_article.md
Labels: contribution

Create 2021-06-08_odk_postgis_1.md
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

Update 2021-06-08_odk_postgis_1.md
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

Update 2021-06-08_odk_postgis_1.md
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

Update 2021-06-08_odk_postgis_1.md
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

Update 2021-06-08_odk_postgis_1.md
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

Update 2021-06-08_odk_postgis_1.md
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

Update 2021-06-08_odk_postgis_1.md
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

Bunch of fixes: syntax, images, YAML front-matter, etc.
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

Use token of target repo
  .github/workflows/markdown_lint.yml
Labels: ci-cd

Use base commit
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

use base token
  .github/workflows/markdown_lint.yml
Labels: ci-cd

Use base token
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Remove production_branch
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Prettify workflows
  .github/workflows/deploy.yml
  .github/workflows/markdown_lint.yml
  .github/workflows/pr_checker_build.yml
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

fix indent
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

clean up
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Working on dependency between workflow
  .github/workflows/auto-labeler.yml
  .github/workflows/deploy.yml
  .github/workflows/pr_checker_build.yml
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

clean up
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Prettify workflows
  .github/workflows/deploy.yml
  .github/workflows/markdown_lint.yml
  .github/workflows/pr_checker_build.yml
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

fix indent
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

Working on dependency between workflow
  .github/workflows/auto-labeler.yml
  .github/workflows/deploy.yml
  .github/workflows/pr_checker_build.yml
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

Add PR event
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

Remove need build
  .github/workflows/pr_preview_netlify.yml
  .vscode/settings.json
  yarn.lock
Labels: ci-cd

Trigger only after the build workflow
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
