Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Coqs
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Ajout tags
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Ajout vignette news
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

loading lazy
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Image texte de remplacement
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Décider du nom d'un lieu
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Coquille
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Ajout en bref postgis
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

clean up
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

news philcarto
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Poussins
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

add intro
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Coquilles
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp

Derniers ajustements
  content/articles/2021/2021-01-19_pyqgis_utiliser_icones_integrees.md
  content/articles/2021/2021-02-02_pyqgis_previsualiser_images_integrees.md
Labels: articles

hotfix syntax
  content/articles/2021/2021-02-02_pyqgis_previsualiser_images_integrees.md
  content/toc_nav_ignored/qgis_resources_preview_table.md
Labels: articles

hotfix syntax
  content/articles/2021/2021-02-02_pyqgis_previsualiser_images_integrees.md
  content/toc_nav_ignored/qgis_resources_preview_table.md
Labels: articles

minor fix
  content/articles/2021/2021-02-02_pyqgis_previsualiser_images_integrees.md
  content/toc_nav_ignored/qgis_resources_preview_table.md
Labels: articles

Fix pathlib (bad idea to handle urls)
  content/articles/2021/2021-02-02_pyqgis_previsualiser_images_integrees.md
Labels: articles

minor fix
  content/articles/2021/2021-02-02_pyqgis_previsualiser_images_integrees.md
  content/toc_nav_ignored/qgis_resources_preview_table.md
Labels: articles

Fix pathlib (bad idea to handle urls)
  content/articles/2021/2021-02-02_pyqgis_previsualiser_images_integrees.md
Labels: articles

Replace 2020 by 2021
  content/articles/2021/2021-02-02_pyqgis_previsualiser_images_integrees.md
Labels: articles

Replace 2020 by 2021
  content/toc_nav_ignored/qgis_resources_preview_table.md
Labels: none

fix missing double slash
  content/articles/2021/2021-02-02_pyqgis_previsualiser_images_integrees.md
Labels: articles

Create 2021-02-10_ignfr2map.md
  content/articles/2021/2021-02-10_ignfr2map.md
Labels: articles

Coquilles
  content/articles/2021/2021-02-10_ignfr2map.md
Labels: articles

Coquilles
  content/articles/2021/2021-02-10_ignfr2map.md
Labels: articles

Initialize
  content/rdp/2021/rdp_2021-02-15.md
Labels: rdp

Initialize article
  content/articles/2021/2021-02-16_statistiques_twitter.md
Labels: articles

Coqs
  content/articles/2021/2021-02-16_statistiques_twitter.md
Labels: articles

Fix date
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Ajout lien article
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Ajout geocontrib
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Principal auteur Flo
  content/articles/2021/2021-02-10_ignfr2map.md
Labels: articles

Début partie déploiement
  content/articles/2021/2021-02-10_ignfr2map.md
Labels: articles

Update jusque donnees geordp
  content/articles/2021/2021-02-16_statistiques_twitter.md
Labels: articles

Ajout donnees articles
  content/articles/2021/2021-02-16_statistiques_twitter.md
Labels: articles

Modifs mineures
  content/articles/2021/2021-02-16_statistiques_twitter.md
Labels: articles

Coqui Coqui Coquillettes
  content/articles/2021/2021-02-16_statistiques_twitter.md
Labels: articles

Redaction conclusion
  content/articles/2021/2021-02-16_statistiques_twitter.md
Labels: articles

Add explication normalisation periode
  content/articles/2021/2021-02-16_statistiques_twitter.md
Labels: articles
