Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

correction orthographe
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Vie du site
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Ajout de la news Open Majic
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

update typo
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

ign2map version IGN
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Les nuages de points dans QGIS : Trucs et astuces
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Illustration Open MAJIC
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Remove br
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Coqs
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Ajout image fontmatter
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Ajout tags
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Corrections diverses (liens, syntaxe, icônes...)
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Update xD
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Intro
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Ajustements bloc commentaires
  content/theme/main.html
Labels: th√®me

Deep Learning
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Coquille
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Ajout description
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Virer sections inutiles
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Etoffe description
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Ajout de l'iframe Koumoul
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

typo
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Update rdp_2021-04-09.md
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Enable comments reply notifs
  content/theme/main.html
Labels: th√®me

Enable comments reply notifs
  content/theme/main.html
Labels: th√®me

Update mergin news
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Update mergin news
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

Initialise article
  content/articles/2021/2021-04-16_maplibre_site_ressource.md
Labels: articles

Mise au propre md
  .vscode/settings.json
  content/articles/2021/2021-04-16_maplibre_site_ressource.md
Labels: articles

Intégration images
  content/articles/2021/2021-04-16_maplibre_site_ressource.md
Labels: articles

Reprise contenu article
  content/articles/2021/2021-04-16_maplibre_site_ressource.md
Labels: articles

Coqs
  content/articles/2021/2021-04-16_maplibre_site_ressource.md
Labels: articles

Initialise article
  content/articles/2021/2021-04-16_maplibre_site_ressource.md
Labels: articles

Remplissage de l'article
  content/articles/2021/2021-04-16_maplibre_site_ressource.md
Labels: articles

Revert "Remplissage de l'article"
  content/articles/2021/2021-04-16_maplibre_site_ressource.md
Labels: articles

Revert "Revert "Remplissage de l'article""
  content/articles/2021/2021-04-16_maplibre_site_ressource.md
Labels: articles

Revert "Revert "Revert "Remplissage de l'article"""
  content/articles/2021/2021-04-16_maplibre_site_ressource.md
Labels: articles

Remplissage article - desolé pour le foutoir
  content/articles/2021/2021-04-16_maplibre_site_ressource.md
Labels: articles

Remplacement lien image
  content/articles/2021/2021-04-16_maplibre_site_ressource.md
Labels: articles

Virer une ref en trop
  content/articles/2021/2021-04-16_maplibre_site_ressource.md
Labels: articles

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
