Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me, tuto

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*

contribution:
    - content/contribuer/**/*.md

dependencies:
    - ./**/requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

tuto:
    - content/tutoriels/**/*.md

Ajout news sur article Tinwgeo
  content/rdp/2020/rdp_2020-07-10.md
Labels: rdp

Ajout des commandes pour nettoyer son git local
  content/contribuer/local/local_edition_setup.md
Labels: contribution

Typo
  content/contribuer/contribution_guide.md
Labels: contribution

Add mkdocs-rss-plugin
  mkdocs.yml
  requirements.txt
Labels: dependencies, mkdocs

Feature: add RSS feeds using mkdocs-rss-plugin (#122)
  mkdocs.yml
  requirements.txt
Labels: dependencies, mkdocs

patched
  content/rdp/2012/rdp_2012-07-06.md
  content/rdp/2012/rdp_2012-07-13.md
Labels: rdp

fix some images broken links
  content/articles/2010/art_2010-09-30.md
  content/rdp/2011/rdp_2011-01-07.md
  content/rdp/2011/rdp_2011-01-21.md
  content/rdp/2011/rdp_2011-02-04.md
  content/rdp/2011/rdp_2011-02-25.md
  content/rdp/2011/rdp_2011-03-18.md
  content/rdp/2011/rdp_2011-04-08.md
  content/rdp/2011/rdp_2011-04-29.md
  content/rdp/2011/rdp_2011-05-27.md
  content/rdp/2011/rdp_2011-06-10.md
  content/rdp/2011/rdp_2011-07-01.md
  content/rdp/2011/rdp_2011-07-08.md
  content/rdp/2011/rdp_2011-08-26.md
  content/rdp/2011/rdp_2011-09-23.md
  content/rdp/2011/rdp_2011-09-30.md
  content/rdp/2011/rdp_2011-10-07.md
  content/rdp/2011/rdp_2011-12-02.md
  content/rdp/2012/rdp_2012-04-13.md
  content/rdp/2012/rdp_2012-04-27.md
  content/rdp/2012/rdp_2012-06-02.md
  content/rdp/2012/rdp_2012-08-17.md
  content/rdp/2012/rdp_2012-08-24.md
  content/rdp/2012/rdp_2012-08-31.md
  content/rdp/2012/rdp_2012-10-12.md
  content/rdp/2012/rdp_2012-11-08.md
  content/rdp/2013/rdp_2013-09-27.md
  content/rdp/2015/rdp_2015-05-16.md
Labels: articles, rdp

Fix old article
  content/articles/2012/art_2012-07-02.md
Labels: articles

Add github extension
  .vscode/extensions.json
Labels: none

News Osmapy completed
  content/rdp/2020/rdp_2020-07-10.md
Labels: rdp

Ajout intro et nettoyage sections vides
  content/rdp/2020/rdp_2020-07-10.md
Labels: rdp

News landsat complétée
  content/rdp/2020/rdp_2020-07-10.md
Labels: rdp

News où va le sig libre
  content/rdp/2020/rdp_2020-07-10.md
Labels: rdp

GeoRDP du 10 juillet (#115)
  .vscode/extensions.json
  content/articles/2012/art_2012-07-02.md
  content/rdp/2020/rdp_2020-07-10.md
Labels: articles, rdp

Petites corrections post publication
  content/rdp/2020/rdp_2020-07-10.md
Labels: rdp

Petites corrections post publication
  content/rdp/2020/rdp_2020-07-10.md
Labels: rdp

Add rdp 24 juillet 2020 template
  content/rdp/2020/rdp_2020-07-24.md
Labels: rdp

Bump RSS plugin version
  requirements.txt
Labels: dependencies

Add RSS feeds to homepage
  content/index.md
Labels: none

typo
  content/rdp/2020/rdp_2020-07-10.md
Labels: rdp

Bump pre-commit version
  requirements.txt
Labels: dependencies

Bump git revision date plugin version
  requirements.txt
Labels: dependencies
