Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

Update 2022_01_04_quantifier_inegalites_traitement_meteo.md
  2022_01_04_quantifier_inegalites_traitement_meteo.md
Labels: none

En bref (GDAL et evol SAGA)
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

Note Audit Géoportail
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

En bref (Lizmap et GRASS)
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

Urbex Fr Culture
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

Update 2022_01_04_quantifier_inegalites_traitement_meteo.md
  2022_01_04_quantifier_inegalites_traitement_meteo.md
Labels: none

Corrige format date dans nom de fichier
  2022-01-04_quantifier_inegalites_traitement_meteo.md
Labels: none

Déplace l'article dans le dossier 2022
  content/articles/.pages
  content/articles/2022/.pages
  content/articles/2022/2022-01-04_quantifier_inegalites_traitement_meteo.md
Labels: articles, mkdocs

Corrige lien image dans l'en-tête
  content/articles/2022/2022-01-04_quantifier_inegalites_traitement_meteo.md
Labels: articles

Corrige les chemins vers les images
  content/articles/2022/2022-01-04_quantifier_inegalites_traitement_meteo.md
Labels: articles

Ajoute le tri de la navigation
  content/rdp/2022/.pages
Labels: mkdocs

Ajout news tuto observable
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

Start description
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

Levée Carto
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

Create mgal.md
  content/team/mgal.md
Labels: contribution

Update mgal.md
  content/team/mgal.md
Labels: contribution

Create 2022-01-14_etude_impacts_loi_3ds_voirie.md
  content/articles/2022/2022-01-14_etude_impacts_loi_3ds_voirie.md
Labels: articles

Référence les articles publiés en 2022
  content/articles/.pages
  content/articles/2022/.pages
Labels: mkdocs

Add utf8 check and autofixer. Thanks @Michael-cd30 ;)
  .pre-commit-config.yaml
Labels: none

Add utf8 check and autofixer. Thanks @Michael-cd30 ;)
  .pre-commit-config.yaml
Labels: none

BAN - Afigéo
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

Modifications diverses article loi 3ds
  content/articles/2021/2021-05-25_biblio_powershell_si3p0.md
  content/articles/2022/2022-01-14_etude_impacts_loi_3ds_voirie.md
  content/team/mgal.md
Labels: articles, contribution

Tags/Img adresse/En bref
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

Audit Géoportail
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

tag/img
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

Intro, image externe et suppression sections vides
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

MAJ lien bio D. Montagne
  content/rdp/2021/rdp_2021-09-24.md
  content/rdp/2021/rdp_2021-12-24.md
Labels: rdp

Crée la GeoRDP 2022-01-21
  content/rdp/2022/rdp_2022-01-21.md
Labels: rdp

Apply suggestions from code review
  content/articles/2022/2022-01-04_quantifier_inegalites_traitement_meteo.md
Labels: articles

Update content/articles/2022/2022-01-04_quantifier_inegalites_traitement_meteo.md
  content/articles/2022/2022-01-04_quantifier_inegalites_traitement_meteo.md
Labels: articles

Change la date de publication
  content/articles/2022/2022-01-11_quantifier_inegalites_traitement_meteo.md
Labels: articles

Décentre le gif
  content/articles/2022/2022-01-11_quantifier_inegalites_traitement_meteo.md
Labels: articles

Update 2022-01-11_quantifier_inegalites_traitement_meteo.md
  content/articles/2022/2022-01-11_quantifier_inegalites_traitement_meteo.md
Labels: articles

Création article promotion journées QGIS FR
  content/articles/2022/2022-01-12_rencontres_qgis_francophones_liens_utiles_ateliers.md
Labels: articles

Ajout WYSIWYG
  content/toc_nav_ignored/snippets/glossaire.md
Labels: none

Corrections mineures
  content/articles/2022/2022-01-12_rencontres_qgis_francophones_liens_utiles_ateliers.md
Labels: articles

Ajout catégorie événement
  content/contribuer/guides/metadata_yaml_frontmatter.md
Labels: contribution

Liens, boutons, icônes
  content/articles/2022/2022-01-11_quantifier_inegalites_traitement_meteo.md
Labels: articles

Img lightbox-gallery
  content/articles/2022/2022-01-11_quantifier_inegalites_traitement_meteo.md
Labels: articles

info
  content/articles/2022/2022-01-11_quantifier_inegalites_traitement_meteo.md
Labels: articles

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
