Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

center tweet
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

case
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

intro
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

lightbox
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

Coquille et SEO description
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

Coquille et SEO description
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

Coquilles et accessibilité
  content/articles/2021/2021-07-06_qgis_personnaliser_package_osgeo4w.md
Labels: articles

Coquillets et crustacés - Ajout admonition tip
  content/articles/2021/2021-07-06_qgis_personnaliser_package_osgeo4w.md
Labels: articles

Lasttypos.com
  content/articles/2021/2021-07-06_qgis_personnaliser_package_osgeo4w.md
Labels: articles

Last fixes ?
  content/articles/2021/2021-07-06_qgis_personnaliser_package_osgeo4w.md
Labels: articles

Fix latest markdown glitch
  content/articles/2021/2021-07-06_qgis_personnaliser_package_osgeo4w.md
Labels: articles

Add macros plugin
  mkdocs.yml
  requirements.txt
Labels: dependencies, mkdocs

Add some CC licences
  content/toc_nav_ignored/snippets/licenses/cc4_by-nc-sa.md
  content/toc_nav_ignored/snippets/licenses/cc4_by-sa.md
  content/toc_nav_ignored/snippets/licenses/default.md
Labels: none

Add default license
  content/articles/2021/2021-07-06_qgis_personnaliser_package_osgeo4w.md
  content/articles/templates/template_article.md
Labels: articles

Start licensing guide
  content/contribuer/guides/licensing.md
Labels: contribution

Include guide into nav
  content/contribuer/guides/.pages
  content/contribuer/guides/licensing.md
Labels: contribution, mkdocs

Add VS Code badge
  README.md
Labels: none

minor changes
  content/contribuer/guides/licensing.md
Labels: contribution

image path
  content/rdp/2015/rdp_2015-03-16.md
Labels: rdp

Ajoute la date de création en bas de page
  mkdocs.yml
Labels: mkdocs

Achieve licensing doc
  content/contribuer/guides/licensing.md
  content/contribuer/guides/metadata_yaml_frontmatter.md
  content/toc_nav_ignored/snippets/licenses/default.md
Labels: contribution

Add license picto class
  content/theme/assets/stylesheets/extra.css
Labels: th√®me

Add default license if not defined
  content/theme/main.html
Labels: th√®me

Add some licenses
  content/articles/2021/2021-04-01_qtribu_plugin_qgis_geotribu.md
  content/articles/2021/2021-06-11_qgis_personnaliser_splash_screen.md
  content/articles/2021/2021-07-06_qgis_personnaliser_package_osgeo4w.md
Labels: articles

minor fix
  content/contribuer/guides/markdown_basics.md
Labels: contribution

Fix icons
  content/theme/home.html
Labels: th√®me

Disable instant
  mkdocs.yml
Labels: mkdocs

fix css
  content/theme/assets/stylesheets/homepage.css
  content/theme/home.html
Labels: th√®me

Complete homepage items
  content/theme/home.html
Labels: th√®me

Set follow section to 4 columns
  content/theme/assets/stylesheets/homepage.css
  content/theme/home.html
Labels: th√®me

Use jinja comment syntax instead of html syntax
  content/theme/main.html
Labels: th√®me

Improve license
  content/contribuer/guides/licensing.md
  content/theme/main.html
Labels: contribution, th√®me

Apply complete default license
  content/articles/2021/2021-07-06_qgis_personnaliser_package_osgeo4w.md
Labels: articles

Add beerware
  content/articles/2021/2021-01-19_pyqgis_utiliser_icones_integrees.md
  content/contribuer/guides/licensing.md
  content/toc_nav_ignored/snippets/licenses/beerware.md
  content/toc_nav_ignored/snippets/licenses/cc4_by-nc-sa.md
  content/toc_nav_ignored/snippets/licenses/cc4_by-sa.md
Labels: articles, contribution

Apply custom SEO image
  content/contribuer/guides/licensing.md
Labels: contribution

Patching issues because of new macros
  content/articles/2012/art_2012-05-09.md
  content/articles/2012/art_2012-06-21.md
  content/articles/2021/2021-01-19_pyqgis_utiliser_icones_integrees.md
  content/articles/2021/2021-02-02_pyqgis_previsualiser_images_integrees.md
  content/contribuer/guides/licensing.md
Labels: articles, contribution

Use new env var of mkdocs
  mkdocs.yml
Labels: mkdocs

Add redirection for OSRM and prettify config
  mkdocs.yml
Labels: mkdocs

Cleaning up some images paths
  content/rdp/2013/rdp_2013-09-20.md
  content/rdp/2014/rdp_2014-11-17.md
  content/rdp/2015/rdp_2015-04-20.md
  content/rdp/2015/rdp_2015-07-17.md
  content/rdp/2015/rdp_2015-09-18.md
  content/rdp/2015/rdp_2015-11-30.md
  content/rdp/2016/rdp_2016-02-05.md
  content/rdp/2016/rdp_2016-03-11.md
  content/rdp/2016/rdp_2016-06-24.md
  content/rdp/2016/rdp_2016-07-01.md
Labels: rdp

Create FUNDING.yml
  .github/FUNDING.yml
Labels: ci-cd

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
