Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

Fix pwa
  content/manifest.webmanifest
Labels: mkdocs

QGIS 3.20
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

Vie du site : complétion
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

Consistent with prod one
  mkdocs-minimal.yml
Labels: none

Add note about photosynth
  content/rdp/2013/rdp_2013-08-09.md
Labels: rdp

Add note about photosynth
  content/rdp/2013/rdp_2013-08-09.md
Labels: rdp

Amorce french locator filter
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

Fix EOF
  content/rdp/2013/rdp_2013-08-09.md
Labels: rdp

ajout extraits xlsform. A compléter
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles

Pratique de la data science avec R
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

correction titre ;-)
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles

Mergin CE
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

QFieldCloud OpenSource
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

coquille
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

coquille
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

lien
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

Quick fix most of markdown syntax
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles

Georezo case
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles

pgAdmin 4 v5.4
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

Fix img et icone france pixel
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

Fix citation et reduce image
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

Déplace la news French Locator Filter dans en bref
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

Intro et en-tête
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

Enquête - Images satellites de nuit
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

leafmap
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

Coquille
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

tests taille images
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles

homogénéisation taille images
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles

regroupement des captures d'écrans en galeries
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles

galeries + rédaction
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles

correction suite au raport du linter
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles

correction suite au raport du linter
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles

perspectives + corrections
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles

coquilles
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles

Fix md syntax
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles

Date
  content/articles/2021/2021-06-10_webmapping_avec_r.md
Labels: articles

Typos et caractère spécial image
  content/articles/2021/2021-06-10_webmapping_avec_r.md
Labels: articles

corrections orthographe, lourdeurs...
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles

coquille
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles

taille graphe
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
