Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Webinaire artificialisation des sols
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Note
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Ajout d'une brève sur les cyberattaques
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Ajout de la news sécuriser l'accès à postgres
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Ajout de la news France Inter
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Ajout de la news sur la géoplateforme
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Ajout de la news Géoservices
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Correction MD
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Correction orthographe
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

reprise ;-)
  content/articles/2021/2021-08-10_odk_postgis_3.md
Labels: articles

actualisation du contenu
  content/articles/2021/2021-08-10_odk_postgis_3.md
Labels: articles

orthographe
  content/articles/2021/2021-08-10_odk_postgis_3.md
Labels: articles

Correction MD
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

correction md
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

correction coquille
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

ajout de la licence CC-BY-SA
  content/articles/2021/2021-06-08_odk_postgis_1.md
  content/articles/2021/2021-06-22_odk_postgis_2.md
  content/articles/2021/2021-08-10_odk_postgis_3.md
Labels: articles

licences CC BY SA
  content/articles/2021/2021-06-08_odk_postgis_1.md
  content/articles/2021/2021-06-22_odk_postgis_2.md
  content/articles/2021/2021-08-10_odk_postgis_3.md
Labels: articles

WIP how to RDP
  content/contribuer/rdp/workflow.md
Labels: contribution

Create rdp_2021-09-17.md
  content/rdp/2021/rdp_2021-09-17.md
Labels: rdp

Add video on merged article
  content/contribuer/workflow_article.md
Labels: contribution

Add file structure step
  content/contribuer/rdp/workflow.md
Labels: contribution

Add videos and some details
  content/contribuer/rdp/workflow.md
Labels: contribution

Nettoyage
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Intro/description
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Emoji
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Creation de pg2datagouv
  content/articles/2021/2021-08-10_pg2datagouv.md
Labels: articles

Suppression des notes
  content/articles/2021/2021-08-10_pg2datagouv.md
Labels: articles

Correction risque(s)
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Add how to embed audio files
  content/contribuer/guides/.pages
  content/contribuer/guides/audio.md
Labels: contribution, mkdocs

Specify locale
  mkdocs.yml
Labels: mkdocs

reformulation
  content/contribuer/guides/audio.md
Labels: contribution

Add examples
  content/contribuer/guides/audio.md
  content/contribuer/guides/twitter.md
Labels: contribution

Homogeneize deps
  requirements.txt
Labels: dependencies

Coquilles et intégrations medias
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Coquilles et intégrations medias
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

Specify locale
  mkdocs.yml
Labels: mkdocs

reformulation
  content/contribuer/guides/audio.md
Labels: contribution

Add examples
  content/contribuer/guides/audio.md
  content/contribuer/guides/twitter.md
Labels: contribution

Add how to embed audio files
  content/contribuer/guides/.pages
  content/contribuer/guides/audio.md
Labels: contribution, mkdocs

Homogeneize deps
  requirements.txt
Labels: dependencies
