Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Fix RDP 20150529
  content/rdp/2015/rdp_2015-05-29.md
Labels: rdp

Fix RDP 2015605 et coquilles 0529
  content/rdp/2015/rdp_2015-05-29.md
  content/rdp/2015/rdp_2015-06-05.md
Labels: rdp

Apply suggestions from code review
  content/articles/2021/2021-11-10_Carte_en_relief_des_ecrins.md
  content/team/jemv.md
Labels: articles, contribution

Fix RDP 20150612
  content/rdp/2015/rdp_2015-06-12.md
Labels: rdp

Fix RDP 20150619
  content/rdp/2015/rdp_2015-06-19.md
Labels: rdp

Update content/articles/2021/2021-11-10_Carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-10_Carte_en_relief_des_ecrins.md
Labels: articles

Update 2021-11-10_Carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-10_Carte_en_relief_des_ecrins.md
Labels: articles

Update 2021-11-10_Carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-10_Carte_en_relief_des_ecrins.md
Labels: articles

Update jemv.md
  content/team/jemv.md
Labels: contribution

Update content/team/jemv.md
  content/team/jemv.md
Labels: contribution

reformat titles
  content/rdp/2011/rdp_2011-01-21.md
  content/rdp/2011/rdp_2011-01-28.md
  content/rdp/2011/rdp_2011-02-04.md
  content/rdp/2011/rdp_2011-02-11.md
  content/rdp/2011/rdp_2011-03-18.md
  content/rdp/2011/rdp_2011-04-08.md
  content/rdp/2011/rdp_2011-04-15.md
  content/rdp/2011/rdp_2011-04-22.md
  content/rdp/2011/rdp_2011-04-29.md
  content/rdp/2011/rdp_2011-05-06.md
  content/rdp/2011/rdp_2011-05-13.md
  content/rdp/2011/rdp_2011-05-27.md
  content/rdp/2011/rdp_2011-06-03.md
  content/rdp/2011/rdp_2011-06-17.md
  content/rdp/2011/rdp_2011-06-24.md
  content/rdp/2011/rdp_2011-07-08.md
  content/rdp/2011/rdp_2011-07-15.md
  content/rdp/2011/rdp_2011-07-22.md
  content/rdp/2011/rdp_2011-07-29.md
  content/rdp/2011/rdp_2011-08-05.md
  content/rdp/2011/rdp_2011-08-12.md
  content/rdp/2011/rdp_2011-08-19.md
  content/rdp/2011/rdp_2011-08-26.md
  content/rdp/2011/rdp_2011-09-30.md
  content/rdp/2011/rdp_2011-10-07.md
  content/rdp/2011/rdp_2011-10-14.md
  content/rdp/2011/rdp_2011-10-28.md
  content/rdp/2011/rdp_2011-11-04.md
  content/rdp/2011/rdp_2011-11-18.md
  content/rdp/2011/rdp_2011-11-25.md
  content/rdp/2011/rdp_2011-12-02.md
  content/rdp/2011/rdp_2011-12-09.md
  content/rdp/2011/rdp_2011-12-16.md
  content/rdp/2011/rdp_2011-12-30.md
Labels: rdp

Renomme et corrige date de publication
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
Labels: articles

Create rdp_2021-11-19.md
  content/rdp/YYYY/rdp_2021-11-19.md
Labels: rdp

Typos
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Nuit difficile
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Fix RDP 20150703 et coquilles 0619
  content/rdp/2015/rdp_2015-06-19.md
  content/rdp/2015/rdp_2015-07-03.md
Labels: rdp

Fix RDP 20150717
  content/rdp/2015/rdp_2015-07-17.md
Labels: rdp

Fix RDP 20150901 et 20150918
  content/rdp/2015/rdp_2015-07-17.md
  content/rdp/2015/rdp_2015-09-01.md
  content/rdp/2015/rdp_2015-09-18.md
Labels: rdp

Fix RDP 20150929
  content/rdp/2015/rdp_2015-09-01.md
  content/rdp/2015/rdp_2015-09-25.md
Labels: rdp

Fix RDP 20151002
  content/rdp/2015/rdp_2015-10-02.md
Labels: rdp

Fix RDP 20151016
  content/rdp/2015/rdp_2015-10-02.md
  content/rdp/2015/rdp_2015-10-16.md
Labels: rdp

Fix RDP 20151113
  content/rdp/2015/rdp_2015-11-13.md
Labels: rdp

Fix RDP 20151211
  content/rdp/2015/rdp_2015-12-11.md
Labels: rdp

Fix RDP 20151218
  content/rdp/2015/rdp_2015-12-18.md
Labels: rdp

Remove useless br tags
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Update content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
Labels: articles

Update content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
Labels: articles

Update content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
Labels: articles

Update content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
Labels: articles

Update content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
Labels: articles

Update content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
Labels: articles

Update content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
Labels: articles

Update content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
Labels: articles

Update content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
Labels: articles

Update content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
Labels: articles

Update content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
Labels: articles

Update content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
Labels: articles

Update 2021-11-11_carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
Labels: articles

Update 2021-11-11_carte_en_relief_des_ecrins.md
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
Labels: articles

Complète les paramètres d'accessibilité des images
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
Labels: articles
