Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

Restore intro "code" from https://web.archive.org/web/20140706082041/http://geotribu.net/node/657
  content/rdp/2013/rdp_2013-10-18.md
Labels: rdp

Some clean up
  content/rdp/2012/rdp_2012-05-11.md
  content/rdp/2012/rdp_2012-05-18.md
  content/rdp/2013/rdp_2013-09-27.md
  content/rdp/2013/rdp_2013-10-18.md
  content/rdp/2013/rdp_2013-10-25.md
Labels: rdp

Restauration de l'article de @ThomasG77
  content/articles/2015/2015-06-04_mise_en_place_serveur_ban-bano_ubuntu.md
Labels: articles

Rename to respect others articles of the same year
  content/articles/2015/art_2015-06-04_mise_en_place_serveur_ban-bano_ubuntu.md
Labels: articles

Add redirection
  mkdocs.yml
Labels: mkdocs

Fix en-tete
  content/articles/2015/art_2015-06-04_mise_en_place_serveur_ban-bano_ubuntu.md
Labels: articles

Update content/articles/2022/2022-01-11_quantifier_inegalites_traitement_meteo.md
  content/articles/2022/2022-01-11_quantifier_inegalites_traitement_meteo.md
Labels: articles

Rm linter useless disable
  content/articles/2022/2022-01-11_quantifier_inegalites_traitement_meteo.md
Labels: articles

Enhance conclusion block
  content/articles/2022/2022-01-11_quantifier_inegalites_traitement_meteo.md
Labels: articles

Bump theme version
  requirements-insiders.txt
Labels: none

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
