Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Lien FAIR
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Update YAML
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Fix ext submarine cables pic
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Add ref quote
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Warning spoiler
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Add note and bold
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Bold
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Fix coquilles
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

Ajout lien fiche géolecture
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Fix accessibility for default license images
  content/theme/main.html
Labels: th√®me

Fix Docker setup since insiders/free split
  Dockerfile
  docker-compose-mkdocs.dev.yml
Labels: none

Use glossaire
  content/contribuer/contribution_guide.md
  content/contribuer/guides/markdown_basics.md
  content/contribuer/internal/backup.md
  content/contribuer/requirements.md
  content/toc_nav_ignored/snippets/glossaire.md
Labels: contribution

MAJ local setup. Fix #469
  content/contribuer/edit/local_edition_setup.md
Labels: contribution

Typo linter
  content/contribuer/contribution_guide.md
Labels: contribution

Fix RDP 20140124 et coquille 0117
  content/rdp/2014/rdp_2014-01-17.md
  content/rdp/2014/rdp_2014-01-24.md
Labels: rdp

Fix RDP 20140131
  content/rdp/2014/rdp_2014-01-31.md
Labels: rdp

Fix RDP 20140207 et coquilles 0131
  content/rdp/2014/rdp_2014-01-31.md
  content/rdp/2014/rdp_2014-02-07.md
Labels: rdp

Fix RDP 20140214
  content/rdp/2014/rdp_2014-02-14.md
Labels: rdp

Fix RDP 20140221
  content/rdp/2014/rdp_2014-02-21.md
Labels: rdp

Fix RDP 20140228 et coquilles 0221
  content/rdp/2014/rdp_2014-02-21.md
  content/rdp/2014/rdp_2014-02-28.md
Labels: rdp

Fix RDP 20140307
  content/rdp/2014/rdp_2014-03-07.md
Labels: rdp

Fix RDP 20140314
  content/rdp/2014/rdp_2014-03-14.md
Labels: rdp

Fix RDP 20140321
  content/rdp/2014/rdp_2014-03-21.md
Labels: rdp

Fix RDP 20140401
  content/rdp/2014/rdp_2014-04-01.md
Labels: rdp

Fix RDP 20140411
  content/rdp/2014/rdp_2014-04-11.md
Labels: rdp

Fix RDP 20140418
  content/rdp/2014/rdp_2014-04-18.md
Labels: rdp

fix image title
  content/articles/2020/2020-09-11_html2markdown.md
Labels: articles

Ajout mkdocs et finalisation
  content/contribuer/edit/local_edition_setup.md
Labels: contribution

typos
  content/contribuer/edit/local_edition_setup.md
Labels: contribution

Fix RDP 20140425
  content/rdp/2014/rdp_2014-04-25.md
Labels: rdp

Fix RDP 20140502
  content/rdp/2014/rdp_2014-05-02.md
Labels: rdp

Fix RDP 20140509
  content/rdp/2014/rdp_2014-05-09.md
Labels: rdp

Fix RDP 20140516 et coquilles 0590/0425
  content/rdp/2014/rdp_2014-04-25.md
  content/rdp/2014/rdp_2014-05-09.md
  content/rdp/2014/rdp_2014-05-16.md
Labels: rdp

Fix RDP 20140530
  content/rdp/2014/rdp_2014-05-30.md
Labels: rdp

Fix RDP 20140606
  content/rdp/2014/rdp_2014-06-06.md
Labels: rdp

Fix RDP 20140613
  content/rdp/2014/rdp_2014-06-13.md
Labels: rdp

Fix RDP 20140620
  content/rdp/2014/rdp_2014-06-20.md
Labels: rdp

Fix RDP 20140627
  content/rdp/2014/rdp_2014-06-27.md
Labels: rdp

Fix RDP 20140704
  content/rdp/2014/rdp_2014-07-04.md
Labels: rdp

Fix RDP 20140711
  content/rdp/2014/rdp_2014-07-11.md
Labels: rdp
