Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Achieve frequentation
  content/team/statistiques.md
Labels: contribution

Achieve dashboards
  content/team/statistiques.md
Labels: contribution

Add image
  content/team/statistiques.md
Labels: contribution

Create rdp_2021-08-27.md
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Add news Zelda
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

DIY - Globe en lévitation
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Update rdp_2021-08-27.md
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

IGNMap
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

A propos, transparence : tableaux Google Data Studio (#382)
  content/team/.pages
  content/team/confidentialite.md
  content/team/statistiques.md
Labels: contribution, mkdocs

Add page stats
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Correction des coquilles de @igeofr et optimisations mineures
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Ajout PyOsmium 3.2
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Ajout pgRouting 3.2.1
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Ajout mirage cartographique
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Fix earthcube --> preligens and some oter stuff
  content/rdp/2020/rdp_2020-06-26.md
Labels: rdp

Update art_2013-02-20.md
  content/articles/2013/art_2013-02-20.md
Labels: articles

Update art_2013-02-20.md
  content/articles/2013/art_2013-02-20.md
Labels: articles

typo
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Add organic maps
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Amorce fin geo datagouv
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Ajout Peakfinder
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

ajour news mapillary
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

correction typos
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

ajout news emission eureka
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Fix markdown et ajout podcast player
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

GeoOSM italia
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Rose des vents
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

En bref (PostgreSQL, hebdoOSM, QGIS)
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

En bref (plugin cadastre)
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

En bref (GeoTools)
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

En bref (hebdoOSM 578)
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Corrections et images
  content/articles/2021/2021-08-10_pg2datagouv.md
Labels: articles

Corrections
  content/articles/2021/2021-08-10_pg2datagouv.md
Labels: articles

Complement
  content/articles/2021/2021-08-10_pg2datagouv.md
Labels: articles

Coquille
  content/articles/2021/2021-08-10_pg2datagouv.md
Labels: articles

Correction typo
  content/articles/2021/2021-08-10_pg2datagouv.md
Labels: articles

En bref (pgAdmin 4)
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Relief hachuré
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Ajout jeux géographiques
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Ajout icone news geosm
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp
