Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

try again
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Use sed instead
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Using sed for edit_uri
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

Restore repo
  mkdocs.yml
Labels: mkdocs

Minor improvments
  .github/workflows/pr_checker_build.yml
Labels: ci-cd

CI: use branch in mkdocs on netlify (#430)
  .github/workflows/pr_checker_build.yml
  mkdocs.yml
Labels: ci-cd, mkdocs

Promotion article en page d'accueil
  content/theme/home.html
Labels: th√®me

Fix tags
  content/rdp/2021/rdp_2021-01-15.md
Labels: rdp

Enable minify plugin
  mkdocs.yml
Labels: mkdocs

Homogenize
  mkdocs-minimal.yml
Labels: none

Fix entete et tags geoRDP 2012 (avril/juin)
  content/rdp/2012/rdp_2012-03-23.md
  content/rdp/2012/rdp_2012-04-06.md
  content/rdp/2012/rdp_2012-04-13.md
  content/rdp/2012/rdp_2012-04-21.md
  content/rdp/2012/rdp_2012-04-27.md
  content/rdp/2012/rdp_2012-05-04.md
  content/rdp/2012/rdp_2012-05-11.md
  content/rdp/2012/rdp_2012-05-18.md
  content/rdp/2012/rdp_2012-05-25.md
  content/rdp/2012/rdp_2012-06-02.md
  content/rdp/2012/rdp_2012-06-08.md
  content/rdp/2012/rdp_2012-06-15.md
  content/rdp/2012/rdp_2012-06-22.md
  content/rdp/2012/rdp_2012-06-29.md
Labels: rdp

Coquilles et suggestions d'amélioration
  content/articles/2021/2021-10-01_lien_sig_osm.md
Labels: articles

Date de publication
  content/articles/2021/2021-10-05_lien_sig_osm.md
Labels: articles

Corrections page d'accueil
  content/theme/home.html
Labels: th√®me

Les cartes en question / En bref / Notes
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

PG / QField
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Bump RSS plugin to use tags
  requirements.txt
Labels: dependencies

Make RSS handle categories
  mkdocs.yml
Labels: mkdocs

Update requirements-insiders.txt
  requirements-insiders.txt
Labels: none

Update requirements-insiders.txt
  requirements-insiders.txt
Labels: none

Fix entete et tags geoRDP 2013 (1/2)
  content/rdp/2013/rdp_2013-01-04.md
  content/rdp/2013/rdp_2013-01-11.md
  content/rdp/2013/rdp_2013-01-25.md
  content/rdp/2013/rdp_2013-02-01.md
  content/rdp/2013/rdp_2013-02-08.md
  content/rdp/2013/rdp_2013-02-15.md
  content/rdp/2013/rdp_2013-02-22.md
  content/rdp/2013/rdp_2013-03-01.md
  content/rdp/2013/rdp_2013-03-08.md
  content/rdp/2013/rdp_2013-03-15.md
  content/rdp/2013/rdp_2013-03-22.md
  content/rdp/2013/rdp_2013-03-29.md
  content/rdp/2013/rdp_2013-04-05.md
  content/rdp/2013/rdp_2013-04-12.md
  content/rdp/2013/rdp_2013-04-19.md
  content/rdp/2013/rdp_2013-04-26.md
  content/rdp/2013/rdp_2013-05-03.md
  content/rdp/2013/rdp_2013-05-10.md
  content/rdp/2013/rdp_2013-05-17.md
  content/rdp/2013/rdp_2013-05-24.md
  content/rdp/2013/rdp_2013-05-31.md
Labels: rdp

Corrections logo/variables/img
  content/articles/2021/2021-10-05_lien_sig_osm.md
Labels: articles

Taille img
  content/articles/2021/2021-10-05_lien_sig_osm.md
Labels: articles

Ajout news Quadogeo Close #434
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Taille img
  content/articles/2021/2021-10-05_lien_sig_osm.md
Labels: articles

Article/Lien SIG-OSM (#422)
  content/articles/2021/2021-10-05_lien_sig_osm.md
  content/theme/home.html
Labels: articles, th√®me

En bref/Centipede
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

OpenStreetMap Fr
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Add thumbnail attr
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

30DayMapChallenge
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Livre blanc ISOGEO
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Correction coquilles livre blanc
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

30DayMapChallenge / tags / vie du site
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Strava Art
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Add qgis lidar anita graser
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Add webinaire anita graser
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Add tags
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

ajout Space Data Marketplace
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Tripotée de corrections
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp

Update link anita graser
  content/rdp/2021/rdp_2021-10-08.md
Labels: rdp
