Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Add manual workflow to automate RDP creation
  .github/workflows/manual_new_rdp.yml
Labels: ci-cd

Add script to automate RDP creation
  scripts/new_rdp.sh
Labels: none

Fix main branch name
  .github/workflows/manual_new_rdp.yml
Labels: ci-cd

MAJ guide pour utiliser script et workflow
  content/contribuer/rdp/create_rdp.md
Labels: contribution

typo
  content/contribuer/rdp/workflow.md
Labels: contribution

Complétion
  content/contribuer/rdp/create_rdp.md
Labels: contribution

Crée la GeoRDP 2022-01-07
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

Update rdp_2022-01-07.md
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

extension QgisModelBaker
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

new NOSTRADAMUS
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

News Kart
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

new townscraper
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

Inclus le dossier 2022 des RDP
  content/rdp/.pages
Labels: mkdocs

Corrections coquiles d'@arno974
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

Add video
  content/contribuer/rdp/create_rdp.md
Labels: contribution

Ajout news Tropicamap - close #497
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

Ajout news Gerd Enequist - close #496
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

Article en page d'accueil
  content/theme/home.html
Labels: th√®me

Update 2021-12-31_mapscii_osm_terminal.md
  content/articles/2021/2021-12-31_mapscii_osm_terminal.md
Labels: articles

Update 2021-12-31_mapscii_osm_terminal.md
  content/articles/2021/2021-12-31_mapscii_osm_terminal.md
Labels: articles

Update 2021-12-31_mapscii_osm_terminal.md
  content/articles/2021/2021-12-31_mapscii_osm_terminal.md
Labels: articles

Update 2021-12-31_mapscii_osm_terminal.md
  content/articles/2021/2021-12-31_mapscii_osm_terminal.md
Labels: articles

Update content/articles/2021/2021-12-31_mapscii_osm_terminal.md
  content/articles/2021/2021-12-31_mapscii_osm_terminal.md
Labels: articles

Update content/articles/2021/2021-12-31_mapscii_osm_terminal.md
  content/articles/2021/2021-12-31_mapscii_osm_terminal.md
Labels: articles

Update content/articles/2021/2021-12-31_mapscii_osm_terminal.md
  content/articles/2021/2021-12-31_mapscii_osm_terminal.md
Labels: articles

Apply suggestions from code review
  content/articles/2021/2021-12-31_mapscii_osm_terminal.md
Labels: articles

Update content/articles/2021/2021-12-31_mapscii_osm_terminal.md
  content/articles/2021/2021-12-31_mapscii_osm_terminal.md
Labels: articles

Update content/articles/2021/2021-12-31_mapscii_osm_terminal.md
  content/articles/2021/2021-12-31_mapscii_osm_terminal.md
Labels: articles

Update content/articles/2021/2021-12-31_mapscii_osm_terminal.md
  content/articles/2021/2021-12-31_mapscii_osm_terminal.md
Labels: articles

Update content/articles/2021/2021-12-31_mapscii_osm_terminal.md
  content/articles/2021/2021-12-31_mapscii_osm_terminal.md
Labels: articles

Update 2021-12-31_mapscii_osm_terminal.md
  content/articles/2021/2021-12-31_mapscii_osm_terminal.md
Labels: articles

Ajout capture putty
  content/articles/2021/2021-12-31_mapscii_osm_terminal.md
Labels: articles

Ajout image 3
  content/articles/2021/2021-12-31_mapscii_osm_terminal.md
Labels: articles

Ajout vidéo
  content/articles/2021/2021-12-31_mapscii_osm_terminal.md
Labels: articles

Article J. Garniaux
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

En bref
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

pgDay Paris 2022
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

logos
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

En bref (PROJ, OpenLayers)
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

Create 2022_01_04_quantifier_inegalites_traitement_meteo.md
  2022_01_04_quantifier_inegalites_traitement_meteo.md
Labels: none
