Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

Fix images
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Met l'article en une
  content/theme/home.html
Labels: th√®me

Coquillages sans crustacés
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Corrections export/date/logo
  content/articles/2021/2021-08-31_pg2datagouv.md
Labels: articles

Code ini
  content/articles/2021/2021-08-31_pg2datagouv.md
Labels: articles

MAJ lien
  content/theme/home.html
Labels: th√®me

Coquilles et mise en forme
  content/articles/2021/2021-08-31_pg2datagouv.md
Labels: articles

Use modern Google logo
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Ajout tweet J Desboeufs
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Fix some icons
  content/rdp/2014/rdp_2014-07-18.md
  content/rdp/2015/rdp_2015-02-20.md
Labels: rdp

Fix icon url
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

L'incendie du Var
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Palettes de couleurs Pokemon
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Coquilles
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Modif GeOsm
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

tilemaker
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Description/sections vides
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Fix markdown
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

News geo data gouv fr
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

remove living data hyperlink
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

remove living data hyperlink
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp

Brouillon article GDAL BAL
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

Corrections
  content/articles/2021/2021-08-31_pg2datagouv.md
Labels: articles

Erreur mermaid
  content/articles/2021/2021-08-31_pg2datagouv.md
Labels: articles

Erreur mermaid
  content/articles/2021/2021-08-31_pg2datagouv.md
Labels: articles

Changements mineurs
  content/articles/2021/2021-08-31_pg2datagouv.md
Labels: articles

article/pg2datagouv
  content/articles/2021/2021-08-31_pg2datagouv.md
  content/theme/home.html
Labels: articles, th√®me

Update 2021-08-31_pg2datagouv.md
  content/articles/2021/2021-08-31_pg2datagouv.md
Labels: articles

Complement mermaid
  content/articles/2021/2021-08-31_pg2datagouv.md
Labels: articles

pg2datagouv-patch
  content/articles/2021/2021-08-31_pg2datagouv.md
Labels: articles

Ajouts
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

Rm blank lines
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

complément et fautes d'inattention
  content/articles/2021/2021-08-10_odk_postgis_3.md
Labels: articles

Create rdp_2021-09-10.md
  content/rdp/2021/rdp_2021-09-10.md
Labels: rdp

Ajouts sur l'usage de VSI
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

Use beerware license
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

linter
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

Update 2021-08-10_odk_postgis_3.md
  content/articles/2021/2021-08-10_odk_postgis_3.md
Labels: articles

Illustrations et crédits
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

Ajout XSD et crédits
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
