Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

Add MD Lint disable/enable tags
  content/contribuer/guides/video.md
Labels: contribution

Fix linter
  content/articles/2021/2021-02-19_utiliser_zeal_pour_qgis_developpement.md
Labels: articles

OTB et Carte topo
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Coquille
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Ajout lien Twitter Loïc
  content/articles/2021/2021-02-19_utiliser_zeal_pour_qgis_developpement.md
Labels: articles

Ajout note de bas de page pour cadriciel pour faire plaisir à @lbartoletti
  content/articles/2021/2021-02-19_utiliser_zeal_pour_qgis_developpement.md
Labels: articles

Feature: notes de bas de page
  mkdocs-minimal.yml
  mkdocs.yml
Labels: mkdocs

Intégrations remarques de @lbartoletti
  content/articles/2021/2021-02-19_utiliser_zeal_pour_qgis_developpement.md
Labels: articles

Typos spotted by @troopa81
  content/articles/2021/2021-02-19_utiliser_zeal_pour_qgis_developpement.md
Labels: articles

Add hclwizard
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Add overpass turbo
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

News OSM
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Paysage et broderie
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Cartographie manuelle
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Coqs
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Add articles stats twitter
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

PG en bref
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Article: création tuto pyqgis lien aide en ligne
  content/articles/2021/2021-03-02_pyqgis_astuce_aide_plugin.md
Labels: articles

coquilles, images
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Add geotribu aux confins
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Coqui
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Suppression des sections vides et loading lazy
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Coqs titres images et rendu
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Micro coq
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Petites corrections
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Update rdp_2021-02-12.md
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Update rdp_2021-02-12.md
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Logos
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Achieve
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Fix bad LCP reported (https://web.dev/lcp/)
  content/articles/2014/art_2014-11-13.md
Labels: articles

Fix duplicated header
  content/articles/2014/art_2014-11-13.md
Labels: articles

Fix bad LCP reported (https://web.dev/lcp/) (#279)
  content/articles/2014/art_2014-11-13.md
Labels: articles

Update rdp_2021-02-12.md
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Update rdp_2021-02-12.md
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

Initialise
  content/articles/2021/2021-02-16_carte_ligne_libre.md
Labels: articles

Modifs date
  content/articles/2021/2021-02-16_carte_ligne_libre.md
Labels: articles

Revert "Modifs date"
  content/articles/2021/2021-02-16_carte_ligne_libre.md
Labels: articles

Changement date et avance sur partie déploiement
  content/articles/2021/2021-02-16_ignfr2map.md
Labels: articles

Renommage article
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
Labels: articles

Création article auto et déploiement
  content/articles/2021/2021-02-19_ignfr2map_automatisation_deploiement.md
Labels: articles

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
