Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

Report volet déploiement
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
Labels: articles

Coquilles et liens scripts en boutons
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
Labels: articles

Coquille
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
Labels: articles

copie texte de boris
  content/articles/2021/2021-02-16_carte_ligne_libre.md
Labels: articles

Intro, img et tags
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
Labels: articles

images propres
  content/articles/2021/2021-02-16_carte_ligne_libre.md
Labels: articles

Chgmts mineurs
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
Labels: articles

Ajout starter
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
Labels: articles

last-coquilles.com
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
  mkdocs.yml
Labels: articles, mkdocs

iframe et chiffres.
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
Labels: articles

coquilles
  content/articles/2021/2021-02-23_carte_ligne_libre.md
Labels: articles

Emoji
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
Labels: articles

Espace
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
Labels: articles

Use hyperlink ref for sed
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
Labels: articles

center tweet
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
Labels: articles

clean up
  content/articles/2021/2021-03-02_pyqgis_astuce_aide_plugin.md
Labels: articles

Titre et description SEO
  content/articles/2021/2021-03-02_pyqgis_astuce_aide_plugin.md
Labels: articles

Ajout multilinguisme
  content/articles/2021/2021-03-02_pyqgis_astuce_aide_plugin.md
Labels: articles

Remove empty line and traling whitespaces
  content/articles/2021/2021-02-23_carte_ligne_libre.md
Labels: articles

coquillettes de mise en forme
  content/articles/2021/2021-02-23_carte_ligne_libre.md
Labels: articles

Reformulation description SEO
  content/articles/2021/2021-02-23_carte_ligne_libre.md
Labels: articles

Auto cleanup
  content/articles/2021/2021-02-23_carte_ligne_libre.md
Labels: articles

coquilles
  content/articles/2021/2021-03-02_pyqgis_astuce_aide_plugin.md
Labels: articles

Initialise rdp du 26 fevrier 2021
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Add emojis table
  content/contribuer/guides/emoji.md
  content/toc_nav_ignored/emojis_joypixels_preview.md
Labels: contribution

Fix linting
  content/articles/2020/2020-12-30_deployer_geotribu_a_la_maison.md
  content/contribuer/guides/authoring.md
  content/contribuer/guides/diagrams.md
  content/contribuer/guides/image.md
Labels: articles, contribution

Fix lint
  content/contribuer/build_site/markdown_engine.md
Labels: contribution

Ajout squelette article replay
  content/articles/2021/2021-02-16_reclus_confins_replay_geotribu.md
Labels: articles

Ajout lien article suivant
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
Labels: articles

Compléti
  content/articles/2021/2021-02-19_ignfr2map_automatisation_deploiement.md
Labels: articles

Intro
  content/articles/2021/2021-02-16_reclus_confins_replay_geotribu.md
Labels: articles

Update 2021-02-16_reclus_confins_replay_geotribu.md
  content/articles/2021/2021-02-16_reclus_confins_replay_geotribu.md
Labels: articles

My fisrt push, poussière de sable
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

test add for sahelian dust
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

remove line ?
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Amorce explication sauvegarde
  content/contribuer/backup.md
Labels: contribution

Image plus légère (redimensionnement)
  content/articles/2021/2021-02-16_reclus_confins_replay_geotribu.md
Labels: articles

Ajout lien site web
  content/articles/2021/2021-02-16_reclus_confins_replay_geotribu.md
Labels: articles

Agrandissement vidéo
  content/articles/2021/2021-02-16_reclus_confins_replay_geotribu.md
Labels: articles

Ajout slides
  content/articles/2021/2021-02-16_reclus_confins_replay_geotribu.md
Labels: articles

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
