Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

osm2pgsql
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

Coquille
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

HebdoOSM
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

GDAL 3.3.0
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

Change netlify config
  netlify.toml
Labels: none

Billet annonce GeoITW S. Soriano
  content/articles/2021/2021-05-05_geointerview_ign_sebastien_soriano_annonce.md
Labels: articles

Typo
  content/articles/2021/2021-05-05_geointerview_ign_sebastien_soriano_annonce.md
Labels: articles

Ajout UTM to RSS
  mkdocs.yml
Labels: mkdocs

Bump dependencies
  requirements.txt
Labels: dependencies

typo
  content/articles/2021/2021-05-05_geointerview_ign_sebastien_soriano_annonce.md
Labels: articles

typo
  content/articles/2021/2021-05-05_geointerview_ign_sebastien_soriano_annonce.md
Labels: articles

Bump dependencies
  requirements.txt
Labels: dependencies

Billet annonce GeoITW S. Soriano
  content/articles/2021/2021-05-05_geointerview_ign_sebastien_soriano_annonce.md
Labels: articles

Change netlify config
  netlify.toml
Labels: none

Ajout UTM to RSS
  mkdocs.yml
Labels: mkdocs

Typo
  content/articles/2021/2021-05-05_geointerview_ign_sebastien_soriano_annonce.md
Labels: articles

Clean up
  .github/workflows/deploy_master_to_github_pages.yml
  .github/workflows/pr_to_master.yml
  .github/workflows/pre-commit_autoupdate.yml
Labels: ci-cd

Restore md linter
  .github/workflows/markdown_lint.yml
Labels: ci-cd

PROJ 8.0.1
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

Restitution SIGAT
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

Note GéoDataDays
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

Vie du site
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

Patched
  content/articles/2013/art_2013-05-29.md
Labels: articles

Update rdp_2021-05-07.md
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

Update rdp_2021-05-07.md
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

Update rdp_2021-05-07.md
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

Update rdp_2021-05-07.md
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

Update rdp_2021-05-07.md
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

Update rdp_2021-05-07.md
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

Capture SIGAT
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

Delete GPS
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

Correction, intro et finalisation
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

Typo
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

Update rdp_2021-05-07.md
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

Fix Lutra hyperlink
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

typo
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

Ajout vidéo et boutons questions
  content/articles/2021/2021-05-05_geointerview_ign_sebastien_soriano_annonce.md
Labels: articles

Change date
  content/articles/2021/2021-05-05_geointerview_ign_sebastien_soriano_annonce.md
Labels: articles

Ajout vidéo et boutons questions
  content/articles/2021/2021-05-05_geointerview_ign_sebastien_soriano_annonce.md
Labels: articles

Change date
  content/articles/2021/2021-05-05_geointerview_ign_sebastien_soriano_annonce.md
Labels: articles

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*
