Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

contacts
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

liens ressources
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

last coquille ?
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

typo
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

ajout logi CEN
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

ajout image pour RS et flux...
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

Image header et typos
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles

Article Webmapping avec R
  content/articles/2021/2021-06-10_webmapping_avec_r.md
Labels: articles

Fix main markdown errors
  content/articles/2021/2021-06-10_webmapping_avec_r.md
Labels: articles

remove pr number on message
  .github/workflows/pr_linter_comment.yml
Labels: ci-cd

Create rdp_2021-06-18.md
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

Notes
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

Bump deps
  requirements.txt
Labels: dependencies

Add light/dark mode switch
  mkdocs.yml
Labels: mkdocs

Add horizontal menu icons
  content/articles/.pages
  content/contribuer/.pages
  content/rdp/.pages
  content/team/.pages
Labels: mkdocs

Change date
  content/articles/2021/2021-06-11_qgis_personnaliser_splash_screen.md
Labels: articles

Article : personnaliser le splash screen QGIS (#298)
  .mailmap
  content/articles/2021/2021-06-11_qgis_personnaliser_splash_screen.md
Labels: articles

Add missing lazy tags
  content/articles/2021/2021-06-11_qgis_personnaliser_splash_screen.md
Labels: articles

Remove theme switch
  content/index.md
Labels: none

Remove theme switch
  content/index.md
Labels: none

Img/Links
  content/articles/2021/2021-06-10_webmapping_avec_r.md
Labels: articles

Test #
  content/articles/2021/2021-06-10_webmapping_avec_r.md
Labels: articles

Code blocks
  content/articles/2021/2021-06-10_webmapping_avec_r.md
Labels: articles

Icônes et bouton
  content/articles/2021/2021-06-10_webmapping_avec_r.md
Labels: articles

Coquilles et crustacés
  content/articles/2021/2021-06-10_webmapping_avec_r.md
Labels: articles

Temp limit of theme, until the fix of https://github.com/squidfunk/mkdocs-material/issues/2752
  requirements.txt
Labels: dependencies

Francepixel
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

premier commit depuis le PAD, images redimensioinnées, sur le CDN, entête et présentation auteur ok. Extraits d'xlsform à ajouter
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles

Remove tracking site search (not compatible with GA4)
  content/theme/main.html
Labels: th√®me

Move GA config to extra section
  mkdocs.yml
Labels: mkdocs

Move GA config to extra section
  mkdocs.yml
Labels: mkdocs

Remove tracking site search (not compatible with GA4)
  content/theme/main.html
Labels: th√®me

Update requirements.txt
  requirements.txt
Labels: dependencies

update bio / gitignore
  .gitignore
  content/articles/2021/2021-06-10_webmapping_avec_r.md
Labels: articles

Jout d'extrait de XLSForm pour les etude et protocoles ainsi que les widget geo
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles

saut de ligne
  content/articles/2021/2021-06-10_webmapping_avec_r.md
Labels: articles

tags/description
  content/articles/2021/2021-06-10_webmapping_avec_r.md
Labels: articles

Use latest rss
  requirements.txt
Labels: dependencies

Add details
  content/articles/2021/2021-06-11_qgis_personnaliser_splash_screen.md
Labels: articles

ajout extrait calculation + explication choice_filter et relevant (à compléter)
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles
