Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Fix 20140411 url
  content/rdp/2014/rdp_2014-04-11.md
  content/toc_nav_ignored/old_url_fixed.csv
Labels: rdp

Fix 20140418 blank and url
  content/rdp/2014/rdp_2014-04-18.md
  content/toc_nav_ignored/old_url_fixed.csv
Labels: rdp

Ordonate old url fixed
  content/toc_nav_ignored/old_url_fixed.csv
Labels: none

Fix 20140425 typo
  content/rdp/2014/rdp_2014-04-25.md
Labels: rdp

Fix 20140502 url
  content/rdp/2014/rdp_2014-05-02.md
  content/toc_nav_ignored/old_url_fixed.csv
Labels: rdp

Fix 20140516 space and headers
  content/rdp/2014/rdp_2014-05-16.md
Labels: rdp

Fix 20140530 blank and url
  content/rdp/2014/rdp_2014-05-30.md
Labels: rdp

Fix 20140613 url
  content/rdp/2014/rdp_2014-06-13.md
Labels: rdp

Fix 20140620 url
  content/rdp/2014/rdp_2014-06-20.md
  content/toc_nav_ignored/old_url_fixed.csv
Labels: rdp

Fix 20140704 point
  content/rdp/2014/rdp_2014-07-04.md
Labels: rdp

Fix 20140711 url
  content/rdp/2014/rdp_2014-07-11.md
Labels: rdp

Not fixed url
  content/toc_nav_ignored/old_url_fixed.csv
Labels: none

Fix 20140822 url
  content/rdp/2014/rdp_2014-08-22.md
Labels: rdp

Fix 20140829 blank
  content/rdp/2014/rdp_2014-08-29.md
Labels: rdp

Url not fixed
  content/toc_nav_ignored/old_url_fixed.csv
Labels: none

Fix 20140919 blank
  content/rdp/2014/rdp_2014-09-19.md
Labels: rdp

Fix 20141003 alt
  content/rdp/2014/rdp_2014-10-03.md
Labels: rdp

Fix 20141024 blank and url
  content/rdp/2014/rdp_2014-10-24.md
  content/toc_nav_ignored/old_url_fixed.csv
Labels: rdp

Fix 20141114 url
  content/rdp/2014/rdp_2014-11-14.md
  content/toc_nav_ignored/old_url_fixed.csv
Labels: rdp

Fix 20141128 blank
  content/rdp/2014/rdp_2014-11-28.md
Labels: rdp

Fix 20141205 blank
  content/rdp/2014/rdp_2014-12-05.md
Labels: rdp

Fix 20141224 blank and url
  content/rdp/2014/rdp_2014-12-24.md
  content/toc_nav_ignored/old_url_fixed.csv
Labels: rdp

CARS et en bref
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

feat(article): first version of OSM data treatment by geovelo
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

feat(article): add contributor page
  content/team/sdesb.md
Labels: contribution

Amorce WSF
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Remove webmanifest
  content/manifest.webmanifest
  mkdocs.yml
Labels: mkdocs

Inform about deprecated pwa
  content/articles/2020/2020-03-20_installer_site_comme_application.md
Labels: articles

upd(article): update article with todo pictures, upd tags
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
  content/team/sdesb.md
Labels: articles, contribution

SEO: exclue les anciens guides de contribution
  content/robots.txt
Labels: none

Ajoute la possibilité de paramétrer l'indexation SEO
  content/theme/main.html
Labels: th√®me

Corrige l'indexation de fichiers à ignorer
  content/toc_nav_ignored/snippets/authors/geotribu.md
  content/toc_nav_ignored/snippets/glossaire.md
  content/toc_nav_ignored/snippets/licenses/beerware.md
  content/toc_nav_ignored/snippets/licenses/cc4_by-nc-sa.md
  content/toc_nav_ignored/snippets/licenses/cc4_by-sa.md
  content/toc_nav_ignored/snippets/licenses/default.md
Labels: none

Définir l'indexation SEO
  content/articles/templates/template_article.md
  content/contribuer/guides/metadata_yaml_frontmatter.md
  content/rdp/templates/template_rdp.md
Labels: articles, contribution, rdp

upd(article): update traitement_data_osm_geovelo with style
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

Coquille
  content/contribuer/edit/local_edition_setup.md
Labels: contribution

upd(article): update traitement_data_osm_geovelo with images, update bio
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
  content/team/sdesb.md
  package.json
Labels: articles, contribution

upd(article): update url and image style;still missing one image
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

Remove final slash since MailChimp does not get it...
  mkdocs.yml
Labels: mkdocs

Rm yaml frontmatter since include does a raw copy
  content/toc_nav_ignored/snippets/authors/geotribu.md
  content/toc_nav_ignored/snippets/glossaire.md
  content/toc_nav_ignored/snippets/licenses/beerware.md
  content/toc_nav_ignored/snippets/licenses/cc4_by-nc-sa.md
  content/toc_nav_ignored/snippets/licenses/cc4_by-sa.md
  content/toc_nav_ignored/snippets/licenses/default.md
Labels: none

Apply robot policy based on URL path
  content/theme/main.html
Labels: th√®me
