Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Coquille
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Add news esa footprint
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

intro
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Description
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

30DayMapChallenge
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

tw-align-center
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Fix incohérences url img
  content/rdp/2014/rdp_2014-02-07.md
  content/rdp/2015/rdp_2015-03-13.md
  content/rdp/2015/rdp_2015-04-03.md
  content/rdp/2015/rdp_2015-09-18.md
Labels: rdp

Fix erreurs, manques et incohérences img
  content/rdp/2010/rdp_2010-10-01.md
  content/rdp/2010/rdp_2010-10-15.md
  content/rdp/2010/rdp_2010-11-26.md
  content/rdp/2014/rdp_2014-01-24.md
  content/rdp/2014/rdp_2014-06-20.md
  content/rdp/2014/rdp_2014-09-19.md
  content/rdp/2014/rdp_2014-10-03.md
  content/rdp/2014/rdp_2014-10-17.md
  content/rdp/2014/rdp_2014-11-14.md
  content/rdp/2014/rdp_2014-12-12.md
  content/rdp/2014/rdp_2014-12-24.md
  content/rdp/2015/rdp_2015-02-06.md
  content/rdp/2015/rdp_2015-02-20.md
  content/rdp/2015/rdp_2015-03-13.md
  content/rdp/2015/rdp_2015-04-03.md
  content/rdp/2015/rdp_2015-04-24.md
  content/rdp/2015/rdp_2015-05-29.md
  content/rdp/2015/rdp_2015-10-16.md
  content/rdp/2016/rdp_2016-01-15.md
  content/rdp/2016/rdp_2016-02-12.md
  content/rdp/2016/rdp_2016-03-11.md
  content/rdp/2016/rdp_2016-06-24.md
  content/rdp/2017/rdp_2017-01-27.md
Labels: rdp

Create rdp_2021-12-03.md
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

hebdoOSM et note AgroSpace
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

Ajouts icônes, bouton / Corr tags, coquilles / img
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

icône outils
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

Coquille date à > 0
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

Update rdp_2021-11-19.md
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

upd(article): change image for en-tete, fix number of caracters for team description file
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

Rename sdesb.md to sdeb.md
  content/team/sdeb.md
Labels: contribution

Update content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

Update content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

drop un-necessary mark
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

Update content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

Update 2021-11-20_traitements_data_osm_geovelo.md
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

Typos md
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

Fix build (relative hyperlink)
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

Finalisation des formulaires
  .github/ISSUE_TEMPLATE/ARTICLE.yml
  .github/ISSUE_TEMPLATE/RDP_NEWS.yml
Labels: ci-cd

Bump insiders
  requirements-insiders.txt
Labels: none

MAJ lien vers issue rdp
  content/articles/2021/2021-01-04_bilan_2020_perspectives_2021.md
  content/contribuer/rdp/add_news.md
  content/rdp/2020/rdp_2020-11-13.md
  content/rdp/2021/rdp_2021-09-24.md
Labels: articles, contribution, rdp

MAJ lien issue article
  content/articles/2021/2021-01-04_bilan_2020_perspectives_2021.md
Labels: articles

Nettoyage
  .github/_archive/proposition-d-article.md
  .github/_archive/suggestion-de-news-pour-une-revue-de-presse.md
Labels: none

Update content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

Update content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

Update content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

Update content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

Update content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

Update content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

Update content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

Update content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

align process image after text and center.
  content/articles/2021/2021-11-20_traitements_data_osm_geovelo.md
Labels: articles

update dates in article
  content/articles/2021/2021-11-26_traitements_data_osm_geovelo.md
Labels: articles

Use CSS classes instead of custom styles
  content/articles/2021/2021-11-26_traitements_data_osm_geovelo.md
Labels: articles

Merge different mails from @samDB-gv
  .mailmap
Labels: none
