Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Intro
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Change date de publication
  content/articles/2021/2021-03-02_utiliser_zeal_pour_qgis_developpement.md
Labels: articles

Article - Zeal et les documentations hors-ligne pour QGIS/PyQGIS (#276)
  content/articles/2021/2021-03-02_utiliser_zeal_pour_qgis_developpement.md
  content/contribuer/guides/video.md
Labels: articles, contribution

typo
  content/articles/2021/2021-03-02_utiliser_zeal_pour_qgis_developpement.md
Labels: articles

Typo in SEO
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

typo
  content/articles/2021/2021-03-02_utiliser_zeal_pour_qgis_developpement.md
Labels: articles

Typo in SEO
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

Improve git clean up
  content/contribuer/edit/local_edition_setup.md
Labels: contribution

Flag actions verison to major number
  .github/workflows/deploy_master_to_github_pages.yml
  .github/workflows/markdown_lint.yml
  .github/workflows/pr_to_master.yml
  .github/workflows/pre-commit_autoupdate.yml
Labels: ci-cd

Bump RSS plugin version
  requirements.txt
Labels: dependencies

MAJ des dépendances (#295)
  .github/workflows/deploy_master_to_github_pages.yml
  .github/workflows/markdown_lint.yml
  .github/workflows/pr_to_master.yml
  .github/workflows/pre-commit_autoupdate.yml
  requirements.txt
Labels: ci-cd, dependencies

Minor patches
  content/articles/2021/2021-03-02_utiliser_zeal_pour_qgis_developpement.md
Labels: articles

Création RDP du 12 Mars 2021
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

En bref
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

article Zeal
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Ajout slack
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Ajout notes pour geopandas et input
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

typo
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Ajout news dashboard geovelo
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Ajout modif courants oceaniques
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Ajout brève pyproj
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Applique date du jour
  content/articles/2021/2021-03-05_reclus_confins_replay_geotribu.md
Labels: articles

typo
  content/articles/2021/2021-03-05_reclus_confins_replay_geotribu.md
Labels: articles

Amorces news enedis et livre
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Amorce geoExt 3.3
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Create 2021-03-16_carte_reseau_bus.md
  content/articles/2021/2021-03-16_carte_reseau_bus.md
Labels: articles

Coquilles
  content/articles/2021/2021-03-16_carte_reseau_bus.md
Labels: articles

Tabulations
  content/articles/2021/2021-03-16_carte_reseau_bus.md
Labels: articles

Auteur
  content/articles/2021/2021-03-16_carte_reseau_bus.md
Labels: articles

Coquilles
  content/articles/2021/2021-03-16_carte_reseau_bus.md
Labels: articles

Img
  content/articles/2021/2021-03-16_carte_reseau_bus.md
Labels: articles

Coquille
  content/articles/2021/2021-03-16_carte_reseau_bus.md
Labels: articles

Conclusion
  content/articles/2021/2021-03-16_carte_reseau_bus.md
Labels: articles

Marathon > France
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Notes
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Article: création tuto pyqgis lien aide en ligne (#277)
  content/articles/2021/2021-03-02_pyqgis_astuce_aide_plugin.md
Labels: articles

Vraie date de publi
  content/articles/2021/2021-03-09_pyqgis_astuce_aide_plugin.md
Labels: articles

Logo State of the Map 2021
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Amorce QField
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

Note Geoplateforme
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp
