Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Add tags
  content/rdp/2020/rdp_2020-12-25.md
Labels: rdp

Add opendata logo news
  content/rdp/2020/rdp_2020-12-25.md
Labels: rdp

Ajout image intro
  content/rdp/2020/rdp_2020-12-25.md
Labels: rdp

En bref : GRASS
  content/rdp/2020/rdp_2020-12-25.md
Labels: rdp

Fix hyperlink syntax
  content/rdp/2020/rdp_2020-12-25.md
Labels: rdp

Coquilels et nettoyage
  content/rdp/2020/rdp_2020-12-25.md
Labels: rdp

Dispositif National de Suivi des Bocages
  content/rdp/2020/rdp_2020-12-25.md
Labels: rdp

Coquilles
  content/rdp/2020/rdp_2020-12-25.md
Labels: rdp

Coquille
  content/rdp/2020/rdp_2020-12-25.md
Labels: rdp

Remove defer
  content/rdp/2020/rdp_2020-12-25.md
  content/theme/main.html
Labels: rdp, th√®me

Center tweet
  content/rdp/2020/rdp_2020-12-25.md
Labels: rdp

intro et images
  content/rdp/2020/rdp_2020-12-25.md
Labels: rdp

fix hyperlink (seo)
  content/articles/2012/art_2012-01-19.md
Labels: articles

fix hyperlink (seo)
  content/articles/2012/art_2012-01-19.md
Labels: articles

typo "prochane"
  content/rdp/2020/rdp_2020-12-25.md
Labels: rdp

Fix date
  content/rdp/2020/rdp_2020-05-15.md
Labels: rdp

Config ready for next rss version
  mkdocs.yml
Labels: mkdocs

Modif image intro png + coquille
  content/rdp/2020/rdp_2020-12-25.md
Labels: rdp

prochaiiiiine
  content/rdp/2020/rdp_2020-12-25.md
Labels: rdp

Bump rss plugin version
  requirements.txt
Labels: dependencies

Bump awesome pages and git date
  mkdocs-minimal.yml
  requirements.txt
Labels: dependencies

Remove former hero tag
  content/acknowledgements.md
  content/articles/2008/art_2008-11-03.md
  content/articles/2013/art_2013-06-13_itw_davidjonglez.md
  content/articles/2014/art_2014-08-29_itw_drones_crisis.md
  content/articles/2014/art_2014-09-25_dicogis.md
  content/articles/2015/art_2015-02-04.md
  content/articles/2015/art_2015-02-16.md
  content/articles/2020/2020-08-31_geotribu_histoire.md
  content/articles/2020/2020-09-08_web-scraping_scrapy_geotribu.md
  content/articles/2020/2020-09-09_geodatadays.md
  content/articles/index.md
  content/contribuer/edit/fix_content_from_website.md
  content/contribuer/guides/authoring.md
  content/contribuer/introduction.md
  content/contribuer/requirements.md
  content/index.md
  content/rdp/2020/rdp_2020-04-30.md
  content/rdp/2020/rdp_2020-05-29.md
  content/rdp/2020/rdp_2020-06-12.md
  content/rdp/2020/rdp_2020-06-26.md
  content/rdp/2020/rdp_2020-07-10.md
  content/rdp/2020/rdp_2020-08-07.md
  content/rdp/2020/rdp_2020-08-21.md
  content/rdp/2020/rdp_2020-09-04.md
  content/rdp/2020/rdp_2020-09-18.md
  content/rdp/index.md
Labels: articles, contribution, rdp

Lowercase title and date meta tags
  content/articles/2013/art_2013-06-13_itw_davidjonglez.md
  content/articles/2014/art_2014-08-29_itw_drones_crisis.md
  content/articles/index.md
  content/contribuer/edit/fix_content_from_website.md
  content/contribuer/introduction.md
  content/contribuer/requirements.md
  content/install_webapp.md
  content/rdp/2020/rdp_2020-04-30.md
  content/rdp/2020/rdp_2020-05-29.md
  content/rdp/2020/rdp_2020-06-12.md
  content/rdp/2020/rdp_2020-06-26.md
  content/rdp/2020/rdp_2020-07-10.md
  content/rdp/index.md
Labels: articles, contribution, rdp

Clic direct vers dernier contenu
  content/articles/.pages
  content/articles/index.md
  content/rdp/.pages
  content/rdp/index.md
Labels: articles, mkdocs, rdp

Renommage menu accueil
  content/.pages
  content/index.md
  content/install_webapp.md
Labels: mkdocs

Ajout boutons vers les commentaires
  content/articles/templates/template_article.md
  content/rdp/templates/template_rdp.md
Labels: articles, rdp

Correction des balises sur les contenus 2020
  content/articles/2020/2020-06-19_setup_python.md
  content/articles/2020/2020-07-03_deploy_qgis_windows.md
  content/articles/2020/2020-08-31_geotribu_histoire.md
  content/articles/2020/2020-09-08_web-scraping_scrapy_geotribu.md
  content/articles/2020/2020-09-11_html2markdown.md
  content/articles/2020/2020-09-20_tutorial_aerialod.md
  content/rdp/2020/rdp_2020-04-30.md
  content/rdp/2020/rdp_2020-05-15.md
  content/rdp/2020/rdp_2020-05-29.md
  content/rdp/2020/rdp_2020-06-12.md
  content/rdp/2020/rdp_2020-06-26.md
  content/rdp/2020/rdp_2020-07-10.md
  content/rdp/2020/rdp_2020-07-24.md
  content/rdp/2020/rdp_2020-08-07.md
  content/rdp/2020/rdp_2020-08-21.md
Labels: articles, rdp

Enable navigation expand
  mkdocs-minimal.yml
  mkdocs.yml
Labels: mkdocs

typo
  content/contribuer/guides/diagrams.md
  content/contribuer/introduction.md
Labels: contribution

Move acknowlegdments to about
  content/.pages
  content/acknowledgements.md
  content/team/.pages
  content/team/index.md
Labels: contribution, mkdocs

Fix markdown
  content/team/avdc.md
  content/team/avha.md
  content/team/edel.md
  content/team/fgob.md
  content/team/gdbo.md
  content/team/jory.md
  content/team/jpie.md
  content/team/mraj.md
  content/team/pver.md
  content/team/rbov.md
  content/team/rqui.md
  content/team/tgra.md
Labels: contribution

Bump material
  requirements.txt
Labels: dependencies

Add redirection for acknowledgements
  mkdocs.yml
Labels: mkdocs

typo
  content/contribuer/guides/diagrams.md
Labels: contribution

Move install webapp as article
  content/articles/2020/2020-03-20_installer_site_comme_application.md
  mkdocs.yml
Labels: articles, mkdocs

typo
  content/articles/2020/2020-11-21_openstreetmap_street_complete.md
Labels: articles

Remove ref to moved page
  content/.pages
Labels: mkdocs

Add utm medium
  content/manifest.webmanifest
Labels: mkdocs

Remove bad links
  content/articles/2010/art_2010-04-15.md
Labels: articles

Make home wider
  content/index.md
Labels: none
