Repository geotribu/website, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, ci-cd, contribution, dependencies, mkdocs, rdp, th√®me

.github/labeler.yml:

articles:
    - content/articles/**/*.md

ci-cd:
    - .github/**/*.yml

contribution:
    - content/contribuer/**/*.md
    - content/team/**/*.md

dependencies:
    - ./**/requirements.txt
    - requirements.txt

mkdocs:
    - content/**/*.pages
    - content/manifest.webmanifest
    - mkdocs.yml

rdp:
    - content/rdp/**/*.md

th√®me:
    - content/theme/**/*

Lien et compléments
  content/articles/2021/2021-06-25_carte_topo_qgis.md
Labels: articles

Intro
  content/articles/2021/2021-06-25_carte_topo_qgis.md
Labels: articles

Update 2021-06-25_carte_topo_qgis.md
  content/articles/2021/2021-06-25_carte_topo_qgis.md
Labels: articles

url
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Inverse droits
  content/contribuer/workflow_article.md
Labels: contribution

Bump to node 14 and use no-history option
  .github/workflows/deploy_master_to_github_pages.yml
Labels: ci-cd

Ajout article Blblio PowerShell SI3P0
  content/articles/2021/2021-05-25_biblio_powershell_si3p0.md
Labels: articles

Typos syntaxe
  content/articles/2021/2021-05-25_biblio_powershell_si3p0.md
Labels: articles

Ajout liens sources + script complet
  content/articles/2021/2021-05-25_biblio_powershell_si3p0.md
Labels: articles

Center button, change button icon and some fixes
  content/articles/2021/2021-05-25_biblio_powershell_si3p0.md
Labels: articles

Notes
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Mini SotM-FR
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Amorce pgrouting
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Ajout article SI3PO
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Typos, caractères spéciaux et formulations
  content/articles/2021/2021-06-25_carte_topo_qgis.md
Labels: articles

Amorce plugin menu layers
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Date
  content/articles/2021/2021-05-28_carte_topo_qgis.md
Labels: articles

Bouton commenter
  content/articles/2021/2021-05-28_carte_topo_qgis.md
Labels: articles

Logo QGIS
  content/articles/2021/2021-05-28_carte_topo_qgis.md
Labels: articles

Pré-requis
  content/articles/2021/2021-05-28_carte_topo_qgis.md
Labels: articles

Icone et lien
  content/articles/2021/2021-05-28_carte_topo_qgis.md
Labels: articles

Update 2021-05-28_carte_topo_qgis.md
  content/articles/2021/2021-05-28_carte_topo_qgis.md
Labels: articles

Détails Mini SotM-FR 2021
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

SotM : ajout logo et détails
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Reorganize about section
  content/team/.pages
  content/team/contributors.md
  content/team/credits.md
  content/team/index.md
Labels: contribution, mkdocs

Minor changes inspired from about sectio
  content/articles/2020/2020-08-31_geotribu_histoire.md
Labels: articles

Enforce categories on contribution guide
  content/contribuer/edit/fix_content_from_website.md
  content/contribuer/edit/local_edition_setup.md
  content/contribuer/guides/authoring.md
  content/contribuer/guides/diagrams.md
  content/contribuer/guides/emoji.md
  content/contribuer/guides/image.md
  content/contribuer/guides/markdown_basics.md
  content/contribuer/guides/markdown_quality.md
  content/contribuer/guides/metadata_yaml_frontmatter.md
  content/contribuer/guides/twitter.md
  content/contribuer/guides/video.md
Labels: contribution

Add contributions
  content/team/credits.md
Labels: contribution

Amorce backup
  content/contribuer/backup.md
Labels: contribution

Improve some contributors names
  .mailmap
Labels: none

Remove unused mailmap check
  .pre-commit-config.yaml
Labels: none

Achieve backup page
  content/contribuer/backup.md
Labels: contribution

Détails Mini SotM-FR 2021
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

SotM : ajout logo et détails
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Note Lego
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Vie du site - Topo
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Lego
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Logo
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Ajout sauvegarde
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp

Hide GA Key into GH secret
  .github/workflows/deploy_master_to_github_pages.yml
Labels: ci-cd
