Repository geotribu/website, pull requests merged in 2020-10, with the labels that each got.

#178 GeoRDP du 2 octobre 2020
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/markdown_lint.yml
  .gitignore
  .markdownlintignore
  .vscode/extensions.json
  content/rdp/2020/rdp_2020-10-02.md
Labels: ci-cd, rdp

#189 Correction du lien http>ftp
  content/rdp/2020/rdp_2020-10-02.md
Labels: rdp

#190 Correction de l'article sur GIS Cloud
  content/articles/2011/art_2011-11-09.md
  mkdocs.yml
Labels: articles, mkdocs

#192 SEO Improvments
  content/robots.txt
  content/theme/main.html
Labels: thème

#193 Déploiement QGIS Windows avec Powershell - Précisions sur les droits d'exécution
  .markdownlint.json
  content/articles/2020/2020-06-19_setup_python.md
  content/articles/2020/2020-07-03_deploy_qgis_windows.md
  mkdocs-minimal.yml
Labels: articles

#195 Fix image
  content/articles/2011/art_2011-11-09.md
Labels: articles

#191 Article - Tutoriel Aerialod
  content/articles/2020/2020-09-20_tutorial_aerialod.md
Labels: articles

#198 patched
  content/articles/2011/art_2011-04-05.md
Labels: articles

#194 GeoRDP du 16 octobre 2020
  .vscode/extensions.json
  .vscode/settings.json
  content/rdp/2020/rdp_2020-10-16.md
Labels: rdp

#200 Geogames : menues corrections
  content/articles/2020/2020-10-19_geogame_desert.md
Labels: articles

#201 SEO - Use description in meta yaml frontmatter as meta tag
  content/articles/2020/2020-10-19_geogame_desert.md
  content/theme/main.html
Labels: articles, thème

#202 RSS feed redirection
  content/rss.xml
  mkdocs.yml
Labels: mkdocs

#203 Changer l'ordre des RDP en descendant dans les sous-menus
  content/rdp/2010/.pages
  content/rdp/2011/.pages
  content/rdp/2012/.pages
  content/rdp/2013/.pages
  content/rdp/2014/.pages
  content/rdp/2015/.pages
  content/rdp/2016/.pages
  content/rdp/2017/.pages
  content/rdp/2020/.pages
Labels: enhancement, mkdocs

#210 Article GDAL sur WSL
  content/articles/2008/.pages
  content/articles/2009/.pages
  content/articles/2010/.pages
  content/articles/2011/.pages
  content/articles/2012/.pages
  content/articles/2013/.pages
  content/articles/2014/.pages
  content/articles/2015/.pages
  content/articles/2020/.pages
  content/articles/2020/2020-10-28_gdal_windows_subsystem_linux_wsl.md
  content/contribuer/edit/local_edition_setup.md
  mkdocs-minimal.yml
  mkdocs.yml
Labels: articles, contribution, mkdocs

#199 GeoRDP du 30 octobre 2020
  .vscode/settings.json
  .vscode/tasks.json
  content/articles/2020/2020-10-28_gdal_windows_subsystem_linux_wsl.md
  content/rdp/2020/rdp_2020-10-30.md
Labels: articles, rdp

#213 coquilles
  content/rdp/2020/rdp_2020-10-30.md
Labels: rdp
