Repository geotribu/website, pull requests merged in 2020-11, with the labels that each got.

#218 Patch et redirections pour l'article du Monde Informatique
  content/articles/2011/art_2011-06-15.md
  content/rdp/2011/rdp_2011-04-08.md
  content/rdp/2011/rdp_2011-04-29.md
  content/rdp/2011/rdp_2011-05-27.md
  content/rdp/2011/rdp_2011-06-10.md
  content/rdp/2011/rdp_2011-08-19.md
  content/rdp/2011/rdp_2011-10-28.md
  content/rdp/2011/rdp_2011-12-16.md
  content/rdp/2012/rdp_2012-06-08.md
  content/rdp/2012/rdp_2012-06-22.md
  content/rdp/2012/rdp_2012-08-09.md
  content/rdp/2012/rdp_2012-09-06.md
  content/rdp/2012/rdp_2012-09-28.md
  content/rdp/2013/rdp_2013-03-01.md
  content/rdp/2013/rdp_2013-03-22.md
  content/rdp/2013/rdp_2013-05-03.md
  content/rdp/2013/rdp_2013-05-24.md
  content/rdp/2013/rdp_2013-08-23.md
  content/rdp/2013/rdp_2013-09-20.md
  content/rdp/2013/rdp_2013-10-25.md
  content/rdp/2013/rdp_2013-11-22.md
  content/rdp/2013/rdp_2013-12-20.md
  content/rdp/2014/rdp_2014-01-31.md
  content/rdp/2014/rdp_2014-04-01.md
  content/rdp/2014/rdp_2014-05-16.md
  content/rdp/2014/rdp_2014-10-10.md
  content/rdp/2014/rdp_2014-10-31.md
  content/rdp/2015/rdp_2015-01-23.md
  content/rdp/2015/rdp_2015-02-20.md
  content/rdp/2015/rdp_2015-03-27.md
  content/rdp/2015/rdp_2015-04-24.md
  content/rdp/2015/rdp_2015-10-02.md
  content/rdp/2020/rdp_2020-05-15.md
  mkdocs.yml
Labels: articles, mkdocs, rdp

#209 Authoring - Gestion du multi auteurs
  .pre-commit-config.yaml
  content/theme/main.html
  mkdocs.yml
Labels: mkdocs, thème

#219 Fix rich snippet schema structure
  content/theme/main.html
Labels: thème

#220 remove bad hyperlink
  content/rdp/2013/rdp_2013-04-12.md
Labels: rdp

#221 Fix moved image
  content/rdp/2020/rdp_2020-05-15.md
Labels: rdp

#222 GeoRDP du 13 novembre 2020
  .markdownlint.json
  content/rdp/2020/rdp_2020-09-04.md
  content/rdp/2020/rdp_2020-09-18.md
  content/rdp/2020/rdp_2020-10-02.md
  content/rdp/2020/rdp_2020-11-13.md
Labels: rdp

#229 Update 2020-09-08_web-scraping_scrapy_geotribu.md
  content/articles/2020/2020-09-08_web-scraping_scrapy_geotribu.md
Labels: articles

#230 GeoRDP du 27 novembre 2020
  content/rdp/2020/rdp_2020-11-27.md
  content/rdp/templates/template_rdp.md
Labels: rdp
