Repository geotribu/website, pull requests merged in 2020-12, with the labels that each got.

#236 GeoRDP du 11 décembre 2020
  content/rdp/2020/rdp_2020-12-11.md
Labels: rdp

#237 GeoRDP du 25 décembre 2020
  content/rdp/2020/rdp_2020-12-25.md
  content/theme/main.html
Labels: rdp, thème

#239 fix hyperlink (seo)
  content/articles/2012/art_2012-01-19.md
Labels: articles

#241 Modif image intro png + coquille
  content/rdp/2020/rdp_2020-12-25.md
Labels: rdp

#242 Prochaiiiiine dans rdp du 25 12 2020
  content/rdp/2020/rdp_2020-12-25.md
Labels: rdp

#243 RSS - Use publication dates instead of git log
  content/rdp/2020/rdp_2020-05-15.md
  mkdocs.yml
  requirements.txt
Labels: dependencies, mkdocs, rdp

#244 Winter housekeeping
  content/.pages
  content/acknowledgements.md
  content/articles/.pages
  content/articles/2008/art_2008-11-03.md
  content/articles/2013/art_2013-06-13_itw_davidjonglez.md
  content/articles/2014/art_2014-08-29_itw_drones_crisis.md
  content/articles/2014/art_2014-09-25_dicogis.md
  content/articles/2015/art_2015-02-04.md
  content/articles/2015/art_2015-02-16.md
  content/articles/2020/2020-03-20_installer_site_comme_application.md
  content/articles/2020/2020-06-19_setup_python.md
  content/articles/2020/2020-07-03_deploy_qgis_windows.md
  content/articles/2020/2020-08-31_geotribu_histoire.md
  content/articles/2020/2020-09-08_web-scraping_scrapy_geotribu.md
  content/articles/2020/2020-09-09_geodatadays.md
  content/articles/2020/2020-09-11_html2markdown.md
  content/articles/2020/2020-09-20_tutorial_aerialod.md
  content/articles/2020/2020-11-21_openstreetmap_street_complete.md
  content/articles/index.md
  content/articles/templates/template_article.md
  content/contribuer/edit/fix_content_from_website.md
  content/contribuer/guides/authoring.md
  content/contribuer/guides/diagrams.md
  content/contribuer/introduction.md
  content/contribuer/requirements.md
  content/index.md
  content/manifest.webmanifest
  content/rdp/.pages
  content/rdp/2020/rdp_2020-04-30.md
  content/rdp/2020/rdp_2020-05-15.md
  content/rdp/2020/rdp_2020-05-29.md
  content/rdp/2020/rdp_2020-06-12.md
  content/rdp/2020/rdp_2020-06-26.md
  content/rdp/2020/rdp_2020-07-10.md
  content/rdp/2020/rdp_2020-07-24.md
  content/rdp/2020/rdp_2020-08-07.md
  content/rdp/2020/rdp_2020-08-21.md
  content/rdp/2020/rdp_2020-09-04.md
  content/rdp/2020/rdp_2020-09-18.md
  content/rdp/index.md
  content/rdp/templates/template_rdp.md
  content/team/.pages
  content/team/avdc.md
  content/team/avha.md
  content/team/edel.md
  content/team/fgob.md
  content/team/gdbo.md
  content/team/index.md
  content/team/jory.md
  content/team/jpie.md
  content/team/mraj.md
  content/team/pver.md
  content/team/rbov.md
  content/team/rqui.md
  content/team/tgra.md
  mkdocs-minimal.yml
  mkdocs.yml
  requirements.txt
Labels: articles, contribution, dependencies, mkdocs, rdp

#245 Patches post xmas
  content/articles/2010/art_2010-04-15.md
  content/index.md
Labels: articles

#145 Article - Déploie Geotribu chez toi
  content/articles/2020/2020-12-30_deployer_geotribu_a_la_maison.md
Labels: articles

#246 Coqs article deployer geotribu à la maison
  content/articles/2020/2020-12-30_deployer_geotribu_a_la_maison.md
Labels: articles
