Repository geotribu/website, pull requests merged in 2020-06, with the labels that each got.

#94 Quick and dirty improvments
  content/articles/2014/dicogis.md
  content/articles/2015/art_2015-02-04.md
  content/articles/2015/art_2015-02-16.md
Labels: articles

#95 Correction des articles de 2008
  content/articles/2008/art_2008-11-03.md
  content/articles/2008/art_2008-11-07.md
  content/articles/2008/art_2008-12-06.md
  content/articles/2008/art_2008-12-07.md
  content/rdp/2011/rdp_2011-09-23.md
  content/rdp/2012/rdp_2012-02-20.md
Labels: articles, rdp

#97 Patching articles printemps 2009 et organisation des contenus
  .pre-commit-config.yaml
  content/articles/.pages
  content/articles/2009/art_2009-04-02.md
  content/articles/2009/art_2009-04-14.md
  content/articles/2009/art_2009-04-16.md
  content/articles/2009/art_2009-04-18.md
  content/articles/2009/art_2009-04-22.md
  content/articles/2013/art_2013-06-05_mongo_spatial.md
  content/articles/2013/art_2013-06-13_itw_davidjonglez.md
  content/articles/2014/art_2014-08-29_itw_drones_crisis.md
  content/articles/2014/art_2014-09-25_dicogis.md
  content/articles/2014/art_2014-11-13.md
  content/articles/index.md
  content/articles/interviews/.pages
  content/articles/tutoriels/.pages
  content/articles/tutoriels/index.md
Labels: articles

#99 Patch du tuto php websocket
  content/articles/2013/art_2013-02-25.md
Labels: articles

#100 Amélioration du guide de contribution
  content/contribuer/contribution_guide.md
  content/contribuer/guides/video.md
Labels: contribution

#103 Patching 2012-01
  content/rdp/2012/rdp_2012-01-07.md
  content/rdp/2012/rdp_2012-01-13.md
  content/rdp/2012/rdp_2012-01-20.md
  content/rdp/2012/rdp_2012-01-27.md
Labels: rdp

#104 Mini correction de démo
  content/rdp/2012/rdp_2012-03-02.md
Labels: rdp

#92 GeoRDP du 6 juin 2020
  content/rdp/2020/rdp_2020-06-12.md
Labels: articles, rdp

#105 Replace include by snippets and add article template
  content/archives/.pages
  content/articles/templates/.pages
  content/articles/templates/template_article.md
  src/mkdocs/mkdocs.yml
  src/mkdocs/requirements.txt
Labels: articles, mkdocs

#107 Article sur Python, installation sous Windows et outillage
  content/articles/.pages
  content/articles/2020/2020-06-19_setup_python.md
  requirements.txt
Labels: articles

#108 Apply color scheme using system preference
  content/index.md
  src/mkdocs/mkdocs.yml
  src/mkdocs/requirements.txt
Labels: mkdocs

#109 Simplifie la structure du projet en ne gardant que Mkdocs
  .github/labeler.yml
  .github/workflows/deploy_master_to_github_pages.yml
  .github/workflows/pr_to_master.yml
  .vscode/tasks.json
  Dockerfile
  content/contribuer/local/local_edition_setup.md
  docker-compose-mkdocs.dev.yml
  mkdocs.yml
  requirements.txt
  src/mkdocs/requirements.txt
Labels: ci-cd, contribution, mkdocs

#110 Gestion des redirections
  mkdocs.yml
  requirements.txt
Labels: ci-cd, contribution, enhancement, mkdocs

#111 Make gh-deploy verbose to track issues
  .github/workflows/deploy_master_to_github_pages.yml
Labels: ci-cd

#112 Fix gh-deploy removing config-file path
  .github/workflows/deploy_master_to_github_pages.yml
Labels: ci-cd

#106 Rdp/2020 06 27
  content/rdp/2020/rdp_2020-06-12.md
  content/rdp/2020/rdp_2020-06-26.md
  content/rdp/templates/template_rdp.md
Labels: rdp

#113 correction typo
  content/rdp/2020/rdp_2020-06-26.md
Labels: rdp

#118 typo
  content/articles/2009/art_2009-12-31.md
Labels: articles
