Repository geotribu/website, pull requests merged in 2020-09, with the labels that each got.

#165 Ajout news
  content/rdp/2020/rdp_2020-09-04.md
Labels: rdp

#156 GeoRDP du 4 septembre
  .mailmap
  content/rdp/2020/rdp_2020-09-04.md
Labels: rdp

#166 RDP_2020-09-04 Remplacement du linkedin par le twitter (aurelien) et coquille
  content/rdp/2020/rdp_2020-09-04.md
Labels: rdp

#167 Update rdp_2020-09-04.md
  content/rdp/2020/rdp_2020-09-04.md
Labels: rdp

#168 Correction des liens cassés dans la partie contribution
  .mailmap
  content/contribuer/contribution_guide.md
  content/contribuer/requirements.md
  content/rdp/templates/template_rdp.md
  content/rdp/templates/template_rdp_news.md
Labels: contribution, rdp

#162 Article - Web-scraping
  content/articles/2020/2020-08-31_geotribu_histoire.md
  content/articles/2020/2020-09-08_web-scraping_scrapy_geotribu.md
  content/theme/assets/stylesheets/extra.css
  requirements.txt
Labels: articles, dependencies, thème

#171 Article Geodatadays 2020
  content/articles/2020/2020-09-08_web-scraping_scrapy_geotribu.md
  content/articles/2020/2020-09-09_geodatadays.md
  content/index.md
  content/rdp/2020/rdp_2020-08-07.md
Labels: articles, rdp

#172 GeoRDP du 18 septembre 2020 - MAJ Aurélien
  content/rdp/2020/rdp_2020-09-18.md
Labels: rdp

#173 Ajout PR template pour revue de presse
  .github/PULL_REQUEST_TEMPLATE/pr_template_new_geordp.md
Labels: ci-cd

#175 Update issue templates
  .github/ISSUE_TEMPLATE/suggestion-de-news-pour-une-revue-de-presse.md
Labels: ci-cd

#177 Markdown lint
  .github/workflows/markdown_lint.yml
  .markdownlint.json
  content/articles/2008/art_2008-12-11.md
  content/articles/2009/art_2009-03-23.md
  content/articles/2009/art_2009-06-18.md
  content/articles/2009/art_2009-06-24.md
  content/articles/2010/art_2010-05-13.md
  content/rdp/2017/rdp_2017-01-27.md
  content/rdp/2020/rdp_2020-07-10.md
  content/rdp/2020/rdp_2020-07-24.md
Labels: articles, ci-cd, rdp

#169 Article - Conversion HTML --> Markdown
  .github/workflows/pr_to_master.yml
  content/articles/2020/2020-09-08_web-scraping_scrapy_geotribu.md
  content/articles/2020/2020-09-11_html2markdown.md
  content/articles/mkdocks-articles.yml
  content/contribuer/.pages
  content/contribuer/archives/howto_rdp.md
  content/contribuer/archives/howto_tutorials.md
  content/contribuer/build_site/.pages
  content/contribuer/build_site/markdown_engine.md
  content/contribuer/contribution_guide.md
  content/contribuer/edit/.pages
  content/contribuer/edit/fix_content_from_website.md
  content/contribuer/edit/local_edition_setup.md
  content/contribuer/guides/.pages
  content/contribuer/guides/markdown_basics.md
  content/contribuer/guides/markdown_quality.md
  content/contribuer/introduction.md
  content/contribuer/local/.pages
  content/contribuer/online/.pages
  content/contribuer/requirements.md
Labels: articles, ci-cd, contribution

#170 GeoRDP du 18 septembre 2020
  content/rdp/2020/rdp_2020-09-04.md
  content/rdp/2020/rdp_2020-09-18.md
Labels: rdp
