Repository geotribu/website, pull requests merged in 2020-04, with the labels that each got.

#22 Bump git-authors-plugin to latest version
  content/index.md
  content/theme/main.html
  src/mkdocs/requirements.txt
Labels: mkdocs

#24 Eviter que l'utilisateur n'arrive sur les archives de RDP directement
  content/rdp/.pages
  content/rdp/archives/rdp_2010-10-01.md
  content/rdp/index.md
  content/rdp/rdp_2020-03-20.md
  content/rdp/rdp_2020-03-27.md
Labels: rdp

#25 Fix webmanifest path
  content/manifest.webmanifest
Labels: mkdocs

#27 Fix iframe
  content/rdp/archives/rdp_2014-04-11.md
Labels: rdp

#28 Fix iframe http > https
  content/rdp/archives/rdp_2015-01-02.md
Labels: rdp

#29 Correction du lien vers la vidéo sur OSM
  content/rdp/archives/rdp_2013-04-19.md
Labels: rdp

#30 Contribution - Comment modifier depuis le site web
  content/contribuer/.pages
  content/contribuer/fix_content_from_website.md
  content/rdp/archives/rdp_2013-04-19.md
Labels: rdp

#32 Fix typo
  content/rdp/archives/rdp_2013-05-24.md
Labels: rdp

#34 Correction des liens en bref et de l'image de LearnOSM
  content/rdp/archives/rdp_2013-03-22.md
Labels: rdp

#35 Correction du calcul des contributions par auteur
  .github/workflows/deploy_master_to_github_pages.yml
Labels: ci-cd

#36 Guide PWA : installer Geotribu comme une application
  content/.pages
  content/contribuer/fix_content_from_website.md
  content/index.md
  content/install_webapp.md
  content/manifest.webmanifest
Labels: tuto

#37 Switch urls to https
  content/rdp/archives/rdp_2015-01-16.md
Labels: rdp

#38 PWA - Add android instructions
  content/install_webapp.md
Labels: tuto

#39 Amélioration du guide de contribution
  content/contribuer/contribution_guide.md
  content/rdp/templates/.pages
  content/rdp/templates/template_rdp_news.md
Labels: rdp, tuto

#31 Mise à jour vers la version majeure de mkdocs-material
  .vscode/tasks.json
  content/contribuer/requirements.md
  src/mkdocs/mkdocs.yml
  src/mkdocs/requirements.txt
Labels: mkdocs

#40 Ajout de la recherche hors-ligne
  content/theme/assets/javascript/iframe-worker.js
  content/theme/main.html
  src/mkdocs/mkdocs.yml
  src/mkdocs/requirements.txt
Labels: mkdocs

#42 Fix material dependency
  src/mkdocs/requirements.txt
Labels: mkdocs

#44 Correction de liens et d'images sur la RDP du 21 juin 2013
  content/rdp/archives/rdp_2013-06-07.md
  content/rdp/archives/rdp_2013-06-21.md
Labels: rdp

#43 Améliorations mineures sur mkdocs et correction de la RDP du 14 juin 2013
  content/rdp/archives/rdp_2013-06-14.md
  content/rdp/archives/rdp_2014-06-14.md
  content/theme/assets/stylesheets/extra.css
  src/mkdocs/mkdocs.yml
Labels: mkdocs, rdp

#45 Use official URL
  src/mkdocs/mkdocs.yml
Labels: mkdocs

#46 Batching for images pointing to localhost
  content/rdp/archives/rdp_2010-10-05.md
  content/rdp/archives/rdp_2010-10-14.md
  content/rdp/archives/rdp_2010-10-22.md
  content/rdp/archives/rdp_2010-10-29.md
  content/rdp/archives/rdp_2013-02-15.md
  content/rdp/archives/rdp_2013-02-22.md
  content/rdp/archives/rdp_2013-03-08.md
  content/rdp/archives/rdp_2013-03-15.md
  content/rdp/archives/rdp_2013-03-29.md
  content/rdp/archives/rdp_2013-05-17.md
  content/rdp/archives/rdp_2013-05-24.md
  content/rdp/archives/rdp_2013-05-31.md
  content/rdp/archives/rdp_2013-06-28.md
  content/rdp/archives/rdp_2013-07-13.md
  content/rdp/archives/rdp_2013-07-19.md
  content/rdp/archives/rdp_2013-07-26.md
  content/rdp/archives/rdp_2013-08-02.md
  content/rdp/archives/rdp_2013-08-09.md
  content/rdp/archives/rdp_2013-08-23.md
  content/rdp/archives/rdp_2013-09-06.md
  content/rdp/archives/rdp_2013-09-13.md
  content/rdp/archives/rdp_2013-09-20.md
  content/rdp/archives/rdp_2013-09-27.md
  content/rdp/archives/rdp_2013-10-11.md
  content/rdp/archives/rdp_2013-11-01.md
  content/rdp/archives/rdp_2013-11-15.md
  content/rdp/archives/rdp_2013-11-22.md
  content/rdp/archives/rdp_2013-11-29.md
  content/rdp/archives/rdp_2013-12-06.md
  content/rdp/archives/rdp_2013-12-13.md
  content/rdp/archives/rdp_2014-01-10.md
  content/rdp/archives/rdp_2014-01-17.md
  content/rdp/archives/rdp_2014-01-31.md
  content/rdp/archives/rdp_2014-02-21.md
  content/rdp/archives/rdp_2014-02-28.md
  content/rdp/archives/rdp_2014-03-07.md
  content/rdp/archives/rdp_2014-03-14.md
  content/rdp/archives/rdp_2014-03-21.md
  content/rdp/archives/rdp_2014-04-01.md
  content/rdp/archives/rdp_2014-04-18.md
  content/rdp/archives/rdp_2014-05-02.md
  content/rdp/archives/rdp_2014-05-16.md
  content/rdp/archives/rdp_2014-05-30.md
  content/rdp/archives/rdp_2014-06-06.md
  content/rdp/archives/rdp_2014-06-20.md
  content/rdp/archives/rdp_2014-06-27.md
  content/rdp/archives/rdp_2014-07-18.md
  content/rdp/archives/rdp_2014-08-08.md
  content/rdp/archives/rdp_2014-08-14.md
  content/rdp/archives/rdp_2014-09-19.md
  content/rdp/archives/rdp_2014-10-17.md
  content/rdp/archives/rdp_2014-12-12.md
  content/rdp/archives/rdp_2015-02-16.md
Labels: rdp

#62 patched
  content/rdp/2010/rdp_2010-10-01.md
Labels: rdp

#64 Add facebook link
  src/mkdocs/mkdocs.yml
Labels: mkdocs

#54 Amélioration des tweets insérés
  content/theme/assets/stylesheets/extra.css
  content/theme/main.html
Labels: enhancement, thème

#65 Correction de lien et de vidéo sur une RDP
  content/rdp/2013/rdp_2013-02-15.md
Labels: rdp

#52 Amélioration du guide de contribution
  .github/labeler.yml
  content/contribuer/.pages
  content/contribuer/contribution_guide.md
  content/contribuer/guides/emoji.md
  content/contribuer/guides/image.md
  content/contribuer/guides/twitter.md
  content/contribuer/local/.pages
  content/contribuer/local/local_edition_setup.md
  content/contribuer/local/requirements.md
  content/contribuer/online/.pages
  content/contribuer/online/fix_content_from_website.md
  content/theme/assets/images/geotribu/banner_geotribu.jpg
  content/theme/assets/stylesheets/extra.css
Labels: ci-cd, contribution, thème

#51 Retour de la page contributeurs
  content/.pages
  content/acknowledgements.md
  content/contribuer/.pages
  content/index.md
  content/team/.pages
  content/team/archives/art_2012-12-29_lequipe.md
  content/team/avdc.md
  content/team/avha.md
  content/team/edel.md
  content/team/fgob.md
  content/team/gdbo.md
  content/team/index.md
  content/team/jmou.md
  content/team/jory.md
  content/team/jpie.md
  content/team/mraj.md
  content/team/pver.md
  content/team/rbov.md
  content/team/rqui.md
  content/team/tgra.md
  src/mkdocs/mkdocs.yml
  src/mkdocs/requirements.txt
Labels: mkdocs

#68 Ménage de printemps
  .pre-commit-config.yaml
  content/acknowledgements.md
  content/contribuer/.pages
  content/contribuer/contribution_guide.md
  content/contribuer/introduction.md
  content/contribuer/local/.pages
  content/contribuer/local/local_edition_setup.md
  content/contribuer/requirements.md
  content/index.md
  content/install_webapp.md
  content/theme/assets/stylesheets/extra.css
  src/mkdocs/mkdocs.yml
  src/mkdocs/requirements.txt
Labels: contribution, mkdocs, thème

#70 Fix thumbnail border
  content/theme/assets/stylesheets/extra.css
Labels: thème

#71 Fix link to neogeo
  content/rdp/2014/rdp_2014-05-02.md
Labels: rdp

#73 Patch 2014
  .vscode/tasks.json
  content/rdp/2013/rdp_2013-05-10.md
  content/rdp/2013/rdp_2013-08-09.md
  content/rdp/2014/rdp_2014-01-24.md
  content/rdp/2014/rdp_2014-04-25.md
  content/rdp/2014/rdp_2014-05-30.md
  content/rdp/2014/rdp_2014-06-20.md
  content/rdp/2014/rdp_2014-06-27.md
  content/rdp/2014/rdp_2014-07-04.md
  content/rdp/2014/rdp_2014-07-11.md
  content/rdp/2014/rdp_2014-07-18.md
  content/rdp/2014/rdp_2014-09-19.md
  content/rdp/2014/rdp_2014-09-26.md
  content/rdp/2014/rdp_2014-12-12.md
  content/rdp/2015/rdp_2015-02-06.md
  content/rdp/2015/rdp_2015-02-20.md
Labels: rdp

#74 Update rdp_2012-07-20.md
  content/rdp/2012/rdp_2012-07-20.md
Labels: rdp

#75 Patching RDPs milieu 2014
  content/rdp/2013/rdp_2013-10-18.md
  content/rdp/2014/rdp_2014-07-25.md
  content/rdp/2014/rdp_2014-08-08.md
  content/rdp/2014/rdp_2014-08-14.md
  content/rdp/2014/rdp_2014-08-22.md
  content/rdp/2014/rdp_2014-11-10.md
Labels: rdp

#76 Patching
  content/rdp/2011/rdp_2011-03-11.md
  content/rdp/2011/rdp_2011-04-01.md
  content/rdp/2011/rdp_2011-05-27.md
  content/rdp/2011/rdp_2011-06-24.md
  content/rdp/2011/rdp_2011-07-08.md
  content/rdp/2011/rdp_2011-07-22.md
  content/rdp/2011/rdp_2011-08-26.md
  content/rdp/2011/rdp_2011-09-16.md
  content/rdp/2011/rdp_2011-10-07.md
  content/rdp/2011/rdp_2011-12-09.md
  content/rdp/2011/rdp_2011-12-23.md
  content/rdp/2012/rdp_2012-01-20.md
  content/rdp/2012/rdp_2012-01-27.md
  content/rdp/2012/rdp_2012-02-17.md
  content/rdp/2012/rdp_2012-02-20.md
  content/rdp/2012/rdp_2012-03-02.md
  content/rdp/2012/rdp_2012-03-23.md
  content/rdp/2012/rdp_2012-03-30.md
  content/rdp/2012/rdp_2012-04-06.md
  content/rdp/2012/rdp_2012-05-04.md
  content/rdp/2012/rdp_2012-05-11.md
  content/rdp/2012/rdp_2012-06-02.md
  content/rdp/2012/rdp_2012-06-08.md
  content/rdp/2012/rdp_2012-06-29.md
  content/rdp/2012/rdp_2012-07-06.md
  content/rdp/2012/rdp_2012-07-13.md
  content/rdp/2012/rdp_2012-07-27.md
  content/rdp/2012/rdp_2012-08-03.md
  content/rdp/2012/rdp_2012-08-09.md
  content/rdp/2012/rdp_2012-08-17.md
  content/rdp/2012/rdp_2012-08-24.md
  content/rdp/2012/rdp_2012-09-06.md
  content/rdp/2012/rdp_2012-09-28.md
  content/rdp/2012/rdp_2012-10-12.md
  content/rdp/2012/rdp_2012-10-19.md
  content/rdp/2012/rdp_2012-11-08.md
  content/rdp/2012/rdp_2012-11-16.md
  content/rdp/2012/rdp_2012-12-21.md
  content/rdp/2013/rdp_2013-03-15.md
  content/rdp/2013/rdp_2013-06-28.md
  content/rdp/2013/rdp_2013-07-19.md
  content/rdp/2013/rdp_2013-09-06.md
  content/rdp/2013/rdp_2013-10-18.md
  content/rdp/2014/rdp_2014-04-01.md
  content/rdp/2014/rdp_2014-08-22.md
  content/rdp/2014/rdp_2014-08-29.md
Labels: rdp

#78 Add how to embed video from youtube
  content/contribuer/guides/video.md
Labels: contribution

#79 Add pre-commit info
  content/contribuer/local/local_edition_setup.md
Labels: contribution

#80 Patching 2014
  content/rdp/2010/rdp_2010-10-01.md
  content/rdp/2011/rdp_2011-12-16.md
  content/rdp/2012/rdp_2012-04-06.md
  content/rdp/2012/rdp_2012-04-27.md
  content/rdp/2012/rdp_2012-05-04.md
  content/rdp/2012/rdp_2012-05-18.md
  content/rdp/2012/rdp_2012-06-22.md
  content/rdp/2012/rdp_2012-07-06.md
  content/rdp/2012/rdp_2012-09-28.md
  content/rdp/2012/rdp_2012-10-05.md
  content/rdp/2012/rdp_2012-10-19.md
  content/rdp/2012/rdp_2012-11-08.md
  content/rdp/2012/rdp_2012-11-09.md
  content/rdp/2012/rdp_2012-11-16.md
  content/rdp/2012/rdp_2012-12-21.md
  content/rdp/2013/rdp_2013-02-22.md
  content/rdp/2013/rdp_2013-05-31.md
  content/rdp/2013/rdp_2013-07-19.md
  content/rdp/2013/rdp_2013-08-09.md
  content/rdp/2013/rdp_2013-08-30.md
  content/rdp/2013/rdp_2013-09-20.md
  content/rdp/2013/rdp_2013-10-04.md
  content/rdp/2013/rdp_2013-11-08.md
  content/rdp/2013/rdp_2013-11-15.md
  content/rdp/2013/rdp_2013-11-22.md
  content/rdp/2013/rdp_2013-12-06.md
  content/rdp/2014/rdp_2014-01-17.md
  content/rdp/2014/rdp_2014-04-01.md
  content/rdp/2014/rdp_2014-04-11.md
  content/rdp/2014/rdp_2014-06-27.md
  content/rdp/2014/rdp_2014-08-08.md
  content/rdp/2014/rdp_2014-08-22.md
  content/rdp/2014/rdp_2014-09-05.md
  content/rdp/2014/rdp_2014-09-12.md
  content/rdp/2014/rdp_2014-09-19.md
  content/rdp/2014/rdp_2014-09-26.md
  content/rdp/2014/rdp_2014-10-17.md
  content/rdp/2014/rdp_2014-11-21.md
  content/rdp/2014/rdp_2014-12-05.md
  content/rdp/2014/rdp_2014-12-12.md
  content/rdp/2015/rdp_2015-01-30.md
Labels: rdp

#8 Première RDP post reboot
  .vscode/settings.json
  content/index.md
  content/rdp/2014/rdp_2014-06-20.md
  content/rdp/rdp_2020-04-30.md
  src/mkdocs/requirements.txt
Labels: mkdocs, rdp
