Repository geotribu/website, pull requests merged in 2020-05, with the labels that each got.

#84 Patching icons
  content/rdp/2011/rdp_2011-01-21.md
  content/rdp/2011/rdp_2011-04-22.md
  content/rdp/2011/rdp_2011-05-27.md
  content/rdp/2011/rdp_2011-06-03.md
  content/rdp/2011/rdp_2011-06-10.md
  content/rdp/2011/rdp_2011-07-08.md
  content/rdp/2011/rdp_2011-08-05.md
  content/rdp/2011/rdp_2011-09-09.md
  content/rdp/2011/rdp_2011-10-07.md
  content/rdp/2011/rdp_2011-10-14.md
  content/rdp/2011/rdp_2011-10-21.md
  content/rdp/2011/rdp_2011-10-28.md
  content/rdp/2011/rdp_2011-11-04.md
  content/rdp/2011/rdp_2011-12-02.md
  content/rdp/2011/rdp_2011-12-23.md
  content/rdp/2012/rdp_2012-02-20.md
  content/rdp/2012/rdp_2012-03-23.md
  content/rdp/2012/rdp_2012-03-30.md
  content/rdp/2012/rdp_2012-04-06.md
  content/rdp/2012/rdp_2012-04-13.md
  content/rdp/2012/rdp_2012-05-11.md
  content/rdp/2012/rdp_2012-05-18.md
  content/rdp/2012/rdp_2012-06-02.md
  content/rdp/2012/rdp_2012-06-08.md
  content/rdp/2012/rdp_2012-06-29.md
  content/rdp/2012/rdp_2012-07-06.md
  content/rdp/2012/rdp_2012-07-13.md
  content/rdp/2012/rdp_2012-07-20.md
  content/rdp/2012/rdp_2012-09-28.md
  content/rdp/2012/rdp_2012-10-05.md
  content/rdp/2012/rdp_2012-10-12.md
  content/rdp/2012/rdp_2012-12-21.md
  content/rdp/2013/rdp_2013-01-26.md
Labels: rdp

#85 Autumn 2014
  content/rdp/2011/rdp_2011-05-21.md
  content/rdp/2011/rdp_2011-06-03.md
  content/rdp/2011/rdp_2011-07-01.md
  content/rdp/2011/rdp_2011-07-29.md
  content/rdp/2011/rdp_2011-09-02.md
  content/rdp/2011/rdp_2011-09-16.md
  content/rdp/2011/rdp_2011-09-23.md
  content/rdp/2011/rdp_2011-10-07.md
  content/rdp/2011/rdp_2011-10-28.md
  content/rdp/2011/rdp_2011-11-10.md
  content/rdp/2012/rdp_2012-01-20.md
  content/rdp/2012/rdp_2012-01-27.md
  content/rdp/2012/rdp_2012-02-20.md
  content/rdp/2012/rdp_2012-03-02.md
  content/rdp/2012/rdp_2012-03-09.md
  content/rdp/2012/rdp_2012-03-16.md
  content/rdp/2012/rdp_2012-04-21.md
  content/rdp/2012/rdp_2012-06-08.md
  content/rdp/2012/rdp_2012-06-15.md
  content/rdp/2012/rdp_2012-06-22.md
  content/rdp/2012/rdp_2012-06-29.md
  content/rdp/2012/rdp_2012-07-27.md
  content/rdp/2012/rdp_2012-08-09.md
  content/rdp/2012/rdp_2012-09-06.md
  content/rdp/2012/rdp_2012-09-21.md
  content/rdp/2012/rdp_2012-09-28.md
  content/rdp/2012/rdp_2012-10-19.md
  content/rdp/2012/rdp_2012-11-08.md
  content/rdp/2012/rdp_2012-11-09.md
  content/rdp/2012/rdp_2012-11-16.md
  content/rdp/2013/rdp_2013-03-22.md
  content/rdp/2013/rdp_2013-04-05.md
  content/rdp/2013/rdp_2013-04-12.md
  content/rdp/2013/rdp_2013-04-19.md
  content/rdp/2013/rdp_2013-05-31.md
  content/rdp/2013/rdp_2013-06-14.md
  content/rdp/2013/rdp_2013-07-19.md
  content/rdp/2013/rdp_2013-09-27.md
  content/rdp/2013/rdp_2013-11-15.md
  content/rdp/2013/rdp_2013-12-06.md
  content/rdp/2013/rdp_2013-12-20.md
  content/rdp/2014/rdp_2014-01-24.md
  content/rdp/2014/rdp_2014-02-21.md
  content/rdp/2014/rdp_2014-03-07.md
  content/rdp/2014/rdp_2014-05-30.md
  content/rdp/2014/rdp_2014-10-03.md
  content/rdp/2014/rdp_2014-10-10.md
  content/rdp/2014/rdp_2014-10-17.md
  content/rdp/2014/rdp_2014-10-24.md
  content/rdp/2014/rdp_2014-10-31.md
  content/rdp/2014/rdp_2014-11-10.md
  content/rdp/2014/rdp_2014-11-17.md
  content/rdp/2014/rdp_2014-11-21.md
  content/rdp/2014/rdp_2014-11-24.md
  content/rdp/2014/rdp_2014-12-05.md
  content/rdp/2014/rdp_2014-12-12.md
  content/rdp/2014/rdp_2014-12-24.md
  content/rdp/2015/rdp_2015-01-30.md
  src/mkdocs/requirements.txt
Labels: rdp

#82 quelques petites corrections
  content/rdp/rdp_2020-04-30.md
Labels: rdp

#88 Housekeeping
  .github/workflows/deploy_master_to_github_pages.yml
  .github/workflows/pr_to_master.yml
  .vscode/settings.json
  requirements.txt
Labels: ci-cd

#81 RDP 15 mai 2020
  content/rdp/.pages
  content/rdp/2013/rdp_2013-08-02.md
  content/rdp/2013/rdp_2013-10-04.md
  content/rdp/2013/rdp_2013-10-11.md
  content/rdp/2014/rdp_2014-12-24.md
  content/rdp/2020/rdp_2020-04-30.md
  content/rdp/2020/rdp_2020-05-15.md
  requirements.txt
Labels: rdp

#89 Ajout template for GeoRDP
  content/rdp/templates/template_rdp.md
Labels: contribution, rdp

#90 GeoRDP du 29 mai 2020
  content/rdp/2020/rdp_2020-05-29.md
Labels: rdp

#91 Dark mode
  content/index.md
  content/theme/assets/stylesheets/extra.css
  src/mkdocs/mkdocs.yml
  src/mkdocs/requirements.txt
Labels: mkdocs, thème
