Repository geotribu/website, pull requests merged in 2020-03, with the labels that each got.

#3 Use Github Actions to automate workflow
  .github/labeler.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/main.yml
  .github/workflows/pre-commit.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  content/archives/.pages
  content/interviews/.pages
  content/interviews/itw_drones_crisis.md
  content/rdp/.pages
  content/rdp/rdp_2020-03-27.md
  requirements.txt
Labels: ci-cd, rdp

#4 Restore tuto about mongo spatial
  .pre-commit-config.yaml
  content/tutoriels/.pages
  content/tutoriels/index.md
  content/tutoriels/mongo_spatial.md
Labels: tuto

#6 Fix deployment steps
  .github/workflows/deploy_master_to_github_pages.yml
  .github/workflows/pre-commit.yml
  README.md
Labels: ci-cd

#7 Set search language to fr
  src/mkdocs/mkdocs.yml
Labels: mkdocs

#9 Add docker tooling for local edition
  .dockerignore
  .vscode/extensions.json
  content/contribuer/requirements.md
  docker-compose-mkdocs.dev.yml
  src/mkdocs/Dockerfile
  src/mkdocs/mkdocs.yml
  src/mkdocs/requirements.txt
Labels: mkdocs

#10 Guide de contribution
  .vscode/tasks.json
  README.md
  content/contribuer/.pages
  content/contribuer/contribution_guide.md
  content/contribuer/introduction.md
  content/contribuer/local_edition_setup.md
  content/contribuer/requirements.md
  requirements.txt
  src/mkdocs/mkdocs.yml
Labels: mkdocs

#12 Bump git localized date to v0.5
  src/mkdocs/mkdocs.yml
  src/mkdocs/requirements.txt
Labels: mkdocs

#13 Ajout des contributeurs/rices en base de chaque page
  content/theme/assets/images/contributing/wiki_editor_stackedit.png
  content/theme/assets/images/contributing/wiki_editor_vsc_preview_markdown.png
  content/theme/assets/images/geotribu/banner_geotribu.jpg
  content/theme/assets/images/geotribu/logo_geotribu.png
  content/theme/main.html
  src/mkdocs/mkdocs.yml
  src/mkdocs/requirements.txt
Labels: mkdocs

#14 Ajout de Google Analytics
  src/mkdocs/mkdocs.yml
Labels: mkdocs

#15 Fix edition URL
  src/mkdocs/mkdocs.yml
Labels: bug, mkdocs

#16 Intégration des commentaires avec Disqus
  src/mkdocs/mkdocs.yml
Labels: mkdocs

#18 Fix disqus id
  src/mkdocs/mkdocs.yml
Labels: mkdocs

#19 Add git commands in contribution guide
  content/contribuer/contribution_guide.md
Labels: enhancement, tuto

#20 Remove whitespace before ``` of comamnd 2.b
  content/contribuer/contribution_guide.md
Labels: bug
