Repository geotribu/website, pull requests merged in 2020-07, with the labels that each got.

#122 Ajout des flux RSS
  mkdocs.yml
  requirements.txt
Labels: mkdocs

#123 Patching rdp 2012 07 06
  content/articles/2010/art_2010-09-30.md
  content/rdp/2011/rdp_2011-01-07.md
  content/rdp/2011/rdp_2011-01-21.md
  content/rdp/2011/rdp_2011-02-04.md
  content/rdp/2011/rdp_2011-02-25.md
  content/rdp/2011/rdp_2011-03-18.md
  content/rdp/2011/rdp_2011-04-08.md
  content/rdp/2011/rdp_2011-04-29.md
  content/rdp/2011/rdp_2011-05-27.md
  content/rdp/2011/rdp_2011-06-10.md
  content/rdp/2011/rdp_2011-07-01.md
  content/rdp/2011/rdp_2011-07-08.md
  content/rdp/2011/rdp_2011-08-26.md
  content/rdp/2011/rdp_2011-09-23.md
  content/rdp/2011/rdp_2011-09-30.md
  content/rdp/2011/rdp_2011-10-07.md
  content/rdp/2011/rdp_2011-12-02.md
  content/rdp/2012/rdp_2012-04-13.md
  content/rdp/2012/rdp_2012-04-27.md
  content/rdp/2012/rdp_2012-06-02.md
  content/rdp/2012/rdp_2012-07-06.md
  content/rdp/2012/rdp_2012-07-13.md
  content/rdp/2012/rdp_2012-08-17.md
  content/rdp/2012/rdp_2012-08-24.md
  content/rdp/2012/rdp_2012-08-31.md
  content/rdp/2012/rdp_2012-10-12.md
  content/rdp/2012/rdp_2012-11-08.md
  content/rdp/2013/rdp_2013-09-27.md
  content/rdp/2015/rdp_2015-05-16.md
Labels: articles, rdp

#115 GeoRDP du 10 juillet
  .vscode/extensions.json
  content/articles/2012/art_2012-07-02.md
  content/rdp/2020/rdp_2020-07-10.md
Labels: articles, rdp

#124 Petites corrections post publication
  content/rdp/2020/rdp_2020-07-10.md
Labels: rdp

#125 Fix broken images links
  content/articles/2009/art_2009-08-03.md
  content/articles/2009/art_2009-08-06.md
  content/articles/2009/art_2009-09-15.md
  content/articles/2009/art_2009-09-27.md
  content/articles/2009/art_2009-11-23.md
  content/articles/2009/art_2009-12-11.md
  content/articles/2010/art_2010-01-12.md
  content/articles/2010/art_2010-01-25.md
  content/articles/2010/art_2010-02-11.md
  content/articles/2010/art_2010-02-12.md
  content/articles/2010/art_2010-03-11.md
  content/articles/2010/art_2010-03-12.md
  content/articles/2010/art_2010-03-15.md
  content/articles/2010/art_2010-03-31.md
  content/articles/2010/art_2010-04-23.md
  content/articles/2010/art_2010-06-24.md
  content/articles/2010/art_2010-10-18.md
  content/articles/2010/art_2010-11-10.md
  content/articles/2010/art_2010-11-18.md
  content/articles/2010/art_2010-11-19.md
  content/articles/2010/art_2010-11-20.md
  content/articles/2010/art_2010-11-29.md
  content/articles/2010/art_2010-12-13.md
  content/articles/2011/art_2011-01-18.md
  content/articles/2011/art_2011-02-09.md
  content/articles/2011/art_2011-03-10.md
  content/articles/2011/art_2011-04-05.md
  content/articles/2011/art_2011-04-13.md
  content/articles/2011/art_2011-06-01.md
  content/rdp/2011/rdp_2011-01-07.md
  content/rdp/2011/rdp_2011-01-14.md
  content/rdp/2011/rdp_2011-01-21.md
  content/rdp/2011/rdp_2011-01-28.md
  content/rdp/2011/rdp_2011-02-04.md
  content/rdp/2011/rdp_2011-02-11.md
  content/rdp/2011/rdp_2011-02-18.md
  content/rdp/2011/rdp_2011-03-11.md
  content/rdp/2011/rdp_2011-03-18.md
  content/rdp/2011/rdp_2011-03-25.md
  content/rdp/2011/rdp_2011-04-01.md
  content/rdp/2011/rdp_2011-04-08.md
  content/rdp/2011/rdp_2011-04-15.md
  content/rdp/2011/rdp_2011-04-22.md
  content/rdp/2011/rdp_2011-04-29.md
  content/rdp/2011/rdp_2011-05-13.md
  content/rdp/2011/rdp_2011-05-27.md
  content/rdp/2011/rdp_2011-06-10.md
  content/rdp/2011/rdp_2011-06-17.md
  content/rdp/2011/rdp_2011-06-24.md
  content/rdp/2011/rdp_2011-07-01.md
  content/rdp/2011/rdp_2011-08-19.md
  content/rdp/2011/rdp_2011-08-26.md
  content/rdp/2011/rdp_2011-09-16.md
  content/rdp/2011/rdp_2011-10-21.md
  content/rdp/2011/rdp_2011-11-25.md
  content/rdp/2014/rdp_2014-11-21.md
  content/rdp/2015/rdp_2015-05-16.md
  content/rdp/2015/rdp_2015-09-01.md
  content/rdp/2016/rdp_2016-02-19.md
Labels: articles, rdp

#128 Improve page metadata
  content/contribuer/local/local_edition_setup.md
Labels: contribution

#135 ajout news kalisio
  content/rdp/2020/rdp_2020-07-24.md
Labels: contribution externe

#127 Rdp/2020 07 24
  content/rdp/2020/rdp_2020-07-24.md
  requirements.txt
Labels: dependencies, rdp

#136 Fix videos iframes
  content/rdp/2020/rdp_2020-07-24.md
Labels: rdp

#138 Ajout du lien vers le tweet et le projet QGIS
  content/rdp/2020/rdp_2020-07-24.md
Labels: rdp

#140 Tooling/improvements summer 2020
  .dockerignore
  Dockerfile
  docker-compose-mkdocs.dev.yml
  mkdocs.yml
  requirements.txt
Labels: dependencies, mkdocs
