Repository geotribu/website, pull requests merged in 2021-11, with the labels that each got.

#455 Features: newsletter
  content/index.md
  content/newsletter/signup.md
  content/team/confidentialite.md
  content/theme/assets/stylesheets/homepage.css
  content/theme/home.html
  mkdocs-free.yml
  mkdocs.yml
  requirements-insiders.txt
Labels: mkdocs, thème, contribution

#463 ajout geo event qualité
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

#464 Suppression fichiers sauvegardes inutiles
  content/contribuer/internal/backup.md
Labels: contribution

#452 GeoRDP du 5 novembre 2021
  content/rdp/2021/rdp_2021-11-05.md
Labels: rdp

#468 Housekeeping automnal
  content/contribuer/articles/workflow.md
  content/contribuer/guides/image.md
  content/contribuer/rdp/add_news.md
  content/contribuer/rdp/create_rdp.md
  content/contribuer/rdp/publish.md
  content/team/confidentialite.md
  content/toc_nav_ignored/snippets/glossaire.md
  mkdocs-minimal.yml
  mkdocs.yml
  requirements-insiders.txt
Labels: mkdocs, contribution

#465 Fiche de géo-lecture - L'enfer du numérique
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
Labels: articles

#466 Article tutoriel pour réaliser une carte en relief avec QGIS
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
  content/team/jemv.md
  content/theme/home.html
Labels: thème, contribution, articles, contribution externe, preview

#470 Housekeeping automnal 2
  Dockerfile
  content/articles/2020/2020-03-20_installer_site_comme_application.md
  content/articles/2020/2020-09-11_html2markdown.md
  content/articles/templates/template_article.md
  content/contribuer/contribution_guide.md
  content/contribuer/edit/local_edition_setup.md
  content/contribuer/guides/markdown_basics.md
  content/contribuer/guides/metadata_yaml_frontmatter.md
  content/contribuer/internal/backup.md
  content/contribuer/requirements.md
  content/manifest.webmanifest
  content/rdp/templates/template_rdp.md
  content/robots.txt
  content/theme/main.html
  content/toc_nav_ignored/snippets/glossaire.md
  docker-compose-mkdocs.dev.yml
  mkdocs-free.yml
  mkdocs-minimal.yml
  mkdocs.yml
Labels: rdp, mkdocs, thème, contribution, articles

#467 GeoRDP du 19 novembre 2021
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp

#477 Correction d'une date
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp, tipex

#474 Transforme les modèles d'issues en formulaires
  .github/ISSUE_TEMPLATE/ARTICLE.yml
  .github/ISSUE_TEMPLATE/RDP_NEWS.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/proposition-d-article.md
  .github/ISSUE_TEMPLATE/suggestion-de-news-pour-une-revue-de-presse.md
  content/articles/2021/2021-01-04_bilan_2020_perspectives_2021.md
  content/contribuer/rdp/add_news.md
  content/rdp/2020/rdp_2020-11-13.md
  content/rdp/2021/rdp_2021-09-24.md
  requirements-insiders.txt
Labels: rdp, enhancement, ci-cd, contribution, articles

#472 Article sur les process data OSM chez Geovelo
  .mailmap
  content/articles/2021/2021-11-26_traitements_data_osm_geovelo.md
  content/team/sdeb.md
  content/theme/home.html
Labels: thème, contribution, articles, contribution externe

#478 Inclue automatiquement le glossaire dans tous les contenus
  content/articles/2020/2020-09-11_html2markdown.md
  content/articles/2021/2021-05-05_geointerview_ign_sebastien_soriano_annonce.md
  content/articles/2021/2021-07-16_relooking_nouveautes_geotribu.md
  content/articles/2021/2021-10-05_lien_sig_osm.md
  content/articles/2021/2021-10-15_irc_osgeo.md
  content/articles/2021/2021-10-31_retour-vers-le-futur-de-qgis-ganymede.md
  content/articles/2021/2021-11-09_fiche_geolecture_enfer_numerique.md
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
  content/articles/templates/template_article.md
  content/contribuer/articles/workflow.md
  content/contribuer/contribution_guide.md
  content/contribuer/edit/local_edition_setup.md
  content/contribuer/guides/image.md
  content/contribuer/guides/licensing.md
  content/contribuer/guides/markdown_basics.md
  content/contribuer/internal/backup.md
  content/contribuer/rdp/add_news.md
  content/contribuer/rdp/create_rdp.md
  content/contribuer/rdp/publish.md
  content/contribuer/rdp/workflow.md
  content/newsletter/signup.md
  content/rdp/2021/rdp_2021-10-22.md
  content/rdp/2021/rdp_2021-11-05.md
  content/rdp/templates/template_rdp.md
  mkdocs.yml
Labels: rdp, mkdocs, contribution, articles

#475 Qualité : active markdownlint comme un git hook (pre-commit)
  .markdownlintignore
  .pre-commit-config.yaml
  content/contribuer/edit/local_edition_setup.md
  content/rdp/2016/rdp_2016-01-15.md
  content/rdp/2016/rdp_2016-03-11.md
  content/rdp/2016/rdp_2016-06-24.md
Labels: rdp, contribution
