Repository geotribu/website, pull requests merged in 2021-03, with the labels that each got.

#276 Article - Zeal et les documentations hors-ligne pour QGIS/PyQGIS
  content/articles/2021/2021-03-02_utiliser_zeal_pour_qgis_developpement.md
  content/contribuer/guides/video.md
Labels: articles, contribution

#295 MAJ des dépendances
  .github/workflows/deploy_master_to_github_pages.yml
  .github/workflows/markdown_lint.yml
  .github/workflows/pr_to_master.yml
  .github/workflows/pre-commit_autoupdate.yml
  requirements.txt
Labels: ci-cd, dependencies

#284 Article replay Reclus
  content/articles/2021/2021-03-05_reclus_confins_replay_geotribu.md
  content/rdp/2010/rdp_2010-10-22.md
  content/rdp/2010/rdp_2010-10-29.md
  content/rdp/2011/rdp_2011-03-04.md
Labels: articles, rdp

#277 Article: création tuto pyqgis lien aide en ligne
  content/articles/2021/2021-03-02_pyqgis_astuce_aide_plugin.md
Labels: articles

#300 CartoMob
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

#299 Gdal 3.2.2
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

#296 GeoRDP du 12 Mars 2021
  content/rdp/2021/rdp_2021-03-12.md
  mkdocs.yml
Labels: mkdocs, rdp

#303 GeoRDP du 12 Mars 2021 - Correction de coquilles
  content/rdp/2021/rdp_2021-03-12.md
Labels: rdp

#305 N'historise pas la branche des fichiers statiques
  .github/workflows/deploy_master_to_github_pages.yml
Labels: ci-cd

#304 GeoRDP du 26 mars 2021
  .github/workflows/deploy_master_to_github_pages.yml
  content/rdp/2021/rdp_2021-03-26.md
Labels: ci-cd, rdp

#306 Corrections rdp/20210326
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp

#309 Add redirection for former node 270
  mkdocs.yml
Labels: mkdocs

#310 redirect former rdp 2016
  mkdocs.yml
Labels: mkdocs
