Repository geotribu/website, pull requests merged in 2021-07, with the labels that each got.

#384 GeoRDP du 2 juillet 2021 : News QSoccer
  content/rdp/2021/rdp_2021-07-02.md
Labels: contribution externe, rdp

#380 Lyon en 1700
  content/rdp/2021/rdp_2021-07-02.md
Labels: contribution externe, rdp

#379 GeoRDP du 2 juillet 2021
  content/rdp/2021/rdp_2021-07-02.md
Labels: preview, rdp

#385 Coquille et SEO description
  content/rdp/2021/rdp_2021-07-02.md
Labels: rdp

#381 Article sur la configuration de QGIS en entreprise
  content/articles/2021/2021-07-06_qgis_personnaliser_package_osgeo4w.md
  content/team/rha.md
Labels: articles, contribution, contribution externe, preview

#389 Ajoute la gestion des licences pour les contenus
  README.md
  content/articles/2021/2021-01-19_pyqgis_utiliser_icones_integrees.md
  content/articles/2021/2021-04-01_qtribu_plugin_qgis_geotribu.md
  content/articles/2021/2021-06-11_qgis_personnaliser_splash_screen.md
  content/articles/2021/2021-07-06_qgis_personnaliser_package_osgeo4w.md
  content/articles/templates/template_article.md
  content/contribuer/guides/.pages
  content/contribuer/guides/licensing.md
  content/contribuer/guides/markdown_basics.md
  content/contribuer/guides/metadata_yaml_frontmatter.md
  content/theme/assets/stylesheets/extra.css
  content/theme/main.html
  content/toc_nav_ignored/snippets/licenses/beerware.md
  content/toc_nav_ignored/snippets/licenses/cc4_by-nc-sa.md
  content/toc_nav_ignored/snippets/licenses/cc4_by-sa.md
  content/toc_nav_ignored/snippets/licenses/default.md
  mkdocs.yml
  requirements.txt
Labels: articles, contribution, dependencies, enhancement, mkdocs, preview, thème

#390 Summer patching
  content/rdp/2013/rdp_2013-09-20.md
  content/rdp/2014/rdp_2014-11-17.md
  content/rdp/2015/rdp_2015-03-16.md
  content/rdp/2015/rdp_2015-04-20.md
  content/rdp/2015/rdp_2015-07-17.md
  content/rdp/2015/rdp_2015-09-18.md
  content/rdp/2015/rdp_2015-11-30.md
  content/rdp/2016/rdp_2016-02-05.md
  content/rdp/2016/rdp_2016-03-11.md
  content/rdp/2016/rdp_2016-06-24.md
  content/rdp/2016/rdp_2016-07-01.md
  mkdocs.yml
Labels: mkdocs, rdp, tipex

#311 Page d'accueil
  content/index.md
  content/theme/assets/javascripts/glider.min.js
  content/theme/assets/javascripts/slideshow.js
  content/theme/assets/stylesheets/glider.min.css
  content/theme/assets/stylesheets/homepage.css
  content/theme/home.html
  mkdocs.yml
Labels: enhancement, mkdocs, preview, thème

#392 Fix contributors
  content/articles/2010/art_2010-07-15.md
  content/articles/2012/art_2012-06-21.md
  content/articles/2013/art_2013-02-20.md
  content/articles/2013/art_2013-02-25.md
  content/articles/2013/art_2013-05-21.md
  content/articles/2013/art_2013-07-31.md
  content/articles/2013/art_2013-09-22.md
  content/articles/2013/art_2013-12-04.md
  content/articles/2014/art_2014-01-02.md
  content/articles/2014/art_2014-01-13.md
  content/articles/2014/art_2014-03-21.md
  content/articles/2014/art_2014-03-24.md
  content/articles/2014/art_2014-04-29.md
  content/articles/2014/art_2014-05-05.md
  content/articles/2014/art_2014-05-25.md
  content/articles/2014/art_2014-08-05.md
  content/articles/2015/art_2015-01-11.md
  content/articles/2015/art_2015-02-16.md
  content/articles/2020/2020-09-11_html2markdown.md
  content/articles/2020/2020-10-28_gdal_windows_subsystem_linux_wsl.md
  content/articles/mkdocks-articles.yml
  content/contribuer/guides/image.md
  content/rdp/2020/rdp_2020-10-16.md
  content/rdp/2020/rdp_2020-10-30.md
  content/rdp/2020/rdp_2020-11-13.md
  content/rdp/2020/rdp_2020-11-27.md
  content/rdp/2020/rdp_2020-12-11.md
  content/rdp/mkdocks-geordps.yml
  content/team/avdc.md
  content/team/contributors.md
  content/team/edel.md
  content/team/rqui.md
  mkdocs-minimal.yml
  mkdocs.yml
Labels: articles, contribution, mkdocs, rdp

#393 Article/fashion summer 2021
  content/articles/2021/2021-07-16_relooking_nouveautes_geotribu.md
  content/contribuer/workflow_article.md
  content/theme/assets/stylesheets/homepage.css
  content/toc_nav_ignored/snippets/authors/geotribu.md
Labels: articles, contribution, thème

#394 Update 2021-07-16_relooking_nouveautes_geotribu.md
  content/articles/2021/2021-07-16_relooking_nouveautes_geotribu.md
Labels: articles

#395 Update licence article vectipy
  content/articles/2021/2021-04-26_vectipy_postgis_mvt.md
Labels: articles, contribution externe, tipex

#396 Add cache control through meta tags
  content/theme/main.html
Labels: thème

#400 Bump Material to 7.2+
  mkdocs.yml
  requirements.txt
Labels: dependencies, mkdocs, preview, thème
