Repository geotribu/website, pull requests merged in 2021-05, with the labels that each got.

#285 Guide de contribution - Collection d'améliorations hiver 2021
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/deploy_master_to_github_pages.yml
  .github/workflows/pr_to_master.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pre-commit_autoupdate.yml
  .mailmap
  .markdownlint.json
  .pre-commit-config.yaml
  .vscode/extensions.json
  README.md
  content/articles/2012/art_2012-03-15.md
  content/articles/2020/2020-12-30_deployer_geotribu_a_la_maison.md
  content/contribuer/backup.md
  content/contribuer/build_site/markdown_engine.md
  content/contribuer/contribution_guide.md
  content/contribuer/edit/local_edition_setup.md
  content/contribuer/guides/authoring.md
  content/contribuer/guides/diagrams.md
  content/contribuer/guides/emoji.md
  content/contribuer/guides/image.md
  content/rdp/2011/rdp_2011-07-08.md
  content/rdp/2011/rdp_2011-08-26.md
  content/rdp/2011/rdp_2011-09-23.md
  content/rdp/2011/rdp_2011-10-21.md
  content/rdp/2011/rdp_2011-11-25.md
  content/rdp/2012/rdp_2012-02-05.md
  content/rdp/2012/rdp_2012-03-02.md
  content/rdp/2012/rdp_2012-04-06.md
  content/rdp/2012/rdp_2012-05-25.md
  content/rdp/2012/rdp_2012-08-17.md
  content/rdp/2012/rdp_2012-09-21.md
  content/rdp/2012/rdp_2012-11-16.md
  content/rdp/2013/rdp_2013-12-06.md
  content/rdp/2013/rdp_2013-12-20.md
  content/rdp/2014/rdp_2014-10-24.md
  content/team/archives/art_2012-12-29_lequipe.md
  content/toc_nav_ignored/emojis_joypixels_preview.md
Labels: articles, ci-cd, contribution, rdp

#330 GeoRDP du 07 mai 2021
  content/rdp/2021/rdp_2021-05-07.md
Labels: rdp

#343 Flux RSS : prend en charge la balise comments
  mkdocs.yml
  requirements.txt
Labels: dependencies, mkdocs

#342 Article RETEX disqus --> isso et contribution OSS
  content/articles/2021/2021-05-14_commentaires_migration_disqus_isso.md
Labels: articles

#350 RGPD et petit nettoyage de la page a propos
  content/contribuer/guides/twitter.md
  content/team/.pages
  content/team/confidentialite.md
  content/team/index.md
Labels: contribution

#348 GeoRDP du 21 mai 2021
  content/rdp/2021/rdp_2021-05-21.md
  content/team/confidentialite.md
Labels: contribution, rdp

#352 Contribution : workflow de soumission d'article
  content/articles/2021/2021-01-26_test_unfolded_studio.md
  content/contribuer/.pages
  content/contribuer/contribution_guide.md
  content/contribuer/guides/metadata_yaml_frontmatter.md
  content/contribuer/workflow_article.md
  content/rdp/2010/rdp_2010-11-19.md
  content/rdp/2011/rdp_2011-09-02.md
  content/rdp/2011/rdp_2011-11-10.md
  content/rdp/2012/rdp_2012-06-22.md
  content/rdp/2012/rdp_2012-07-13.md
  content/rdp/2012/rdp_2012-07-27.md
  content/rdp/2012/rdp_2012-08-03.md
  content/rdp/2012/rdp_2012-09-06.md
  content/rdp/2013/rdp_2013-01-26.md
  content/rdp/2013/rdp_2013-06-14.md
  content/rdp/2013/rdp_2013-06-28.md
  content/rdp/2013/rdp_2013-07-26.md
  content/rdp/2013/rdp_2013-08-23.md
  content/rdp/2013/rdp_2013-09-13.md
  content/rdp/2013/rdp_2013-09-27.md
  content/rdp/2013/rdp_2013-11-15.md
  content/rdp/2013/rdp_2013-11-22.md
  content/rdp/2013/rdp_2013-11-29.md
  content/rdp/2014/rdp_2014-01-31.md
  content/rdp/2014/rdp_2014-03-14.md
  content/rdp/2014/rdp_2014-07-18.md
  content/rdp/2014/rdp_2014-07-25.md
  content/rdp/2014/rdp_2014-10-17.md
  content/rdp/2014/rdp_2014-11-10.md
  content/rdp/2015/rdp_2015-01-16.md
  content/rdp/2015/rdp_2015-03-06.md
  content/rdp/2015/rdp_2015-03-27.md
  content/rdp/2015/rdp_2015-04-07.md
  content/rdp/2015/rdp_2015-04-10.md
  content/rdp/2015/rdp_2015-10-16.md
  content/rdp/2021/rdp_2021-01-15.md
Labels: articles, contribution, rdp

#354 Patch workflow_article.md
  content/contribuer/workflow_article.md
Labels: contribution

#355 Article Blblio PowerShell SI3P0 du 25 05 2021
  content/articles/2021/2021-05-25_biblio_powershell_si3p0.md
Labels: articles

#356 Ajout liens sources + script complet
  content/articles/2021/2021-05-25_biblio_powershell_si3p0.md
Labels: articles

#353 Article : Carte topo - QGIS/BD TOPO
  content/articles/2021/2021-05-28_carte_topo_qgis.md
Labels: articles

#359 CI - Rationalize netlify preview
  .github/workflows/deploy_master_to_github_pages.yml
  .github/workflows/pr_checker_build.yml
Labels: bug, ci-cd
