Repository geotribu/website, pull requests merged in 2021-12, with the labels that each got.

#483 Toute petite coquille !
  content/rdp/2021/rdp_2021-11-19.md
Labels: rdp, contribution externe, tipex

#484 Rdp/2021 12 03
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp, contribution externe

#476 GeoRDP du 3 décembre 2021
  .mailmap
  content/rdp/2021/rdp_2021-12-03.md
Labels: rdp

#482 Projet OpenMobilityIndicators, appli "mon quartier à pied" en ligne
  content/articles/2021/2021-12-10_openmobilityindicators.md
  content/theme/home.html
Labels: thème, articles, contribution externe

#491 Issue form templates - Disable render mode
  .github/ISSUE_TEMPLATE/ARTICLE.yml
  .github/ISSUE_TEMPLATE/RDP_NEWS.yml
Labels: ci-cd

#490 geopoussetR 2011 1 - reformatTitles - 2
  content/rdp/2011/rdp_2011-01-21.md
  content/rdp/2011/rdp_2011-01-28.md
  content/rdp/2011/rdp_2011-02-04.md
  content/rdp/2011/rdp_2011-02-11.md
  content/rdp/2011/rdp_2011-03-18.md
  content/rdp/2011/rdp_2011-04-08.md
  content/rdp/2011/rdp_2011-04-15.md
  content/rdp/2011/rdp_2011-04-22.md
  content/rdp/2011/rdp_2011-04-29.md
  content/rdp/2011/rdp_2011-05-06.md
  content/rdp/2011/rdp_2011-05-13.md
  content/rdp/2011/rdp_2011-05-27.md
  content/rdp/2011/rdp_2011-06-03.md
  content/rdp/2011/rdp_2011-06-17.md
  content/rdp/2011/rdp_2011-06-24.md
  content/rdp/2011/rdp_2011-07-08.md
  content/rdp/2011/rdp_2011-07-15.md
  content/rdp/2011/rdp_2011-07-22.md
  content/rdp/2011/rdp_2011-07-29.md
  content/rdp/2011/rdp_2011-08-05.md
  content/rdp/2011/rdp_2011-08-12.md
  content/rdp/2011/rdp_2011-08-19.md
  content/rdp/2011/rdp_2011-08-26.md
  content/rdp/2011/rdp_2011-09-30.md
  content/rdp/2011/rdp_2011-10-07.md
  content/rdp/2011/rdp_2011-10-14.md
  content/rdp/2011/rdp_2011-10-28.md
  content/rdp/2011/rdp_2011-11-04.md
  content/rdp/2011/rdp_2011-11-18.md
  content/rdp/2011/rdp_2011-11-25.md
  content/rdp/2011/rdp_2011-12-02.md
  content/rdp/2011/rdp_2011-12-09.md
  content/rdp/2011/rdp_2011-12-16.md
  content/rdp/2011/rdp_2011-12-30.md
Labels: rdp

#493 Geonews crige paca 2021-12
  content/rdp/2021/rdp_2021-12-17.md
Labels: rdp, contribution externe

#487 GeoRDP du 24 décembre 2021
  content/rdp/2021/rdp_2021-12-24.md
Labels: rdp

#498 Fonctionnalité : automatiser la création d'une revue de presse en donnant juste la date
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/manual_new_rdp.yml
  content/contribuer/rdp/create_rdp.md
  content/contribuer/rdp/workflow.md
  scripts/new_rdp.sh
Labels: ci-cd, contribution

#495 Ajout article MapSCII et bio JG
  content/articles/2021/2021-12-31_mapscii_osm_terminal.md
  content/team/jgar.md
  content/theme/home.html
Labels: thème, contribution, articles, contribution externe, preview
