Repository geotribu/website, pull requests merged in 2021-09, with the labels that each got.

#412 Tuto : traiter les données de la BAL avec GDAL
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles, preview

#416 GeoRDP du 10 septembre 2021
  content/rdp/2021/rdp_2021-09-10.md
  content/theme/home.html
Labels: rdp, thème, preview

#418 Markdown linter improvments
  .github/PULL_REQUEST_TEMPLATE.md
  .github/_archived/pr_linter_comment.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/deploy.yml
  .github/workflows/pr_checker_build.yml
  .github/workflows/pr_linter_markdown.yml
  .github/workflows/pr_preview_netlify.yml
  .gitignore
  .pre-commit-config.yaml
  content/articles/2009/art_2009-07-15.md
  content/articles/2010/art_2010-02-11.md
  content/articles/2010/art_2010-03-31.md
  content/articles/2012/art_2012-04-17.md
  content/articles/2014/art_2014-03-24.md
  content/articles/2014/art_2014-09-25_dicogis.md
  content/articles/2020/2020-06-19_setup_python.md
  content/articles/2020/2020-07-03_deploy_qgis_windows.md
  content/articles/2020/2020-09-11_html2markdown.md
  content/articles/2021/2021-02-09_statistiques_twitter.md
  content/rdp/2011/rdp_2011-08-26.md
  content/rdp/2012/rdp_2012-05-11.md
  content/rdp/2012/rdp_2012-10-19.md
  content/rdp/2016/rdp_2016-03-11.md
  content/rdp/2021/rdp_2021-01-29.md
  content/toc_nav_ignored/test_bad_markdown.md
  package.json
  runtime.txt
Labels: rdp, ci-cd, articles, preview

#417 Articles/odk postgis 3
  .github/workflows/pr_linter_markdown.yml
  content/articles/2021/2021-06-08_odk_postgis_1.md
  content/articles/2021/2021-06-22_odk_postgis_2.md
  content/articles/2021/2021-09-22_odk_postgis_3.md
  content/robots.txt
  content/team/mbos.md
  content/theme/home.html
  content/toc_nav_ignored/test_bad_markdown.md
Labels: ci-cd, thème, contribution, articles, contribution externe

#424 Features/material sponsored
  .github/workflows/deploy.yml
  .github/workflows/pr_checker_build.yml
  content/articles/2020/2020-09-11_html2markdown.md
  content/toc_nav_ignored/snippets/abbreviations.md
  mkdocs.yml
  requirements-insiders.txt
Labels: ci-cd, mkdocs, articles

#427 Mise à jour news My Planet Maps pour GeoRDP du 24 septembre 2021
  content/rdp/2021/rdp_2021-09-24.md
Labels: rdp, contribution externe

#421 GeoRDP du 24 septembre 2021
  content/rdp/2013/rdp_2013-12-20.md
  content/rdp/2021/rdp_2021-09-10.md
  content/rdp/2021/rdp_2021-09-24.md
  content/theme/home.html
Labels: rdp, thème

#402 Refonte du guide de contribution pour les revues de presse
  .github/ISSUE_TEMPLATE/proposition-d-article.md
  .github/ISSUE_TEMPLATE/suggestion-de-news-pour-une-revue-de-presse.md
  .github/PULL_REQUEST_TEMPLATE.md
  .mailmap
  content/articles/2010/art_2010-08-18.md
  content/articles/2020/2020-09-11_html2markdown.md
  content/articles/2021/2021-07-16_relooking_nouveautes_geotribu.md
  content/articles/templates/template_article.md
  content/contribuer/.pages
  content/contribuer/archives/.pages
  content/contribuer/articles/.pages
  content/contribuer/articles/workflow.md
  content/contribuer/build_site/.pages
  content/contribuer/edit/.pages
  content/contribuer/guides/.pages
  content/contribuer/guides/image.md
  content/contribuer/guides/metadata_yaml_frontmatter.md
  content/contribuer/internal/.pages
  content/contribuer/internal/backup.md
  content/contribuer/internal/markdown_engine.md
  content/contribuer/rdp/.pages
  content/contribuer/rdp/add_news.md
  content/contribuer/rdp/create_rdp.md
  content/contribuer/rdp/publish.md
  content/contribuer/rdp/workflow.md
  content/rdp/2021/rdp_2021-06-04.md
  content/rdp/2021/rdp_2021-07-02.md
  content/rdp/templates/template_rdp.md
  content/theme/home.html
  content/toc_nav_ignored/snippets/abbreviations.md
  content/toc_nav_ignored/snippets/glossaire.md
  mkdocs-minimal.yml
  mkdocs.yml
  requirements-insiders.txt
  requirements.txt
Labels: rdp, mkdocs, dependencies, thème, contribution, articles, preview
