Repository geotribu/website, pull requests merged in 2021-06, with the labels that each got.

#366 Update geoRDP du 4 juin 2021 La cartographie, le langage hype
  content/rdp/2021/rdp_2021-06-04.md
Labels: contribution externe, rdp

#368 Petite anecdote - menu from project
  content/rdp/2021/rdp_2021-06-04.md
Labels: contribution externe, rdp

#365 GeoRDP du 4 juin 2021 - Cartographier les émissions de gaz a effet de serre
  content/rdp/2021/rdp_2021-06-04.md
Labels: contribution externe, rdp

#351 GeoRDP du 4 juin 2021
  .github/workflows/pr_preview_netlify.yml
  content/rdp/2021/rdp_2021-06-04.md
Labels: ci-cd, rdp

#370 Correction d'une typo dans le lien pour la carte lego
  content/rdp/2021/rdp_2021-06-04.md
Labels: rdp, tipex

#362 Article ODK-Postgis 1/3
  .mailmap
  content/articles/2021/2021-06-08_odk_postgis_1.md
Labels: articles, contribution externe, preview

#373 UI: light/dark mode switch
  content/articles/.pages
  content/contribuer/.pages
  content/rdp/.pages
  content/team/.pages
  mkdocs.yml
  requirements.txt
Labels: dependencies, mkdocs, preview, thème

#298 Article : personnaliser le splash screen QGIS
  .mailmap
  content/articles/2021/2021-06-11_qgis_personnaliser_splash_screen.md
Labels: articles, preview

#376 Add note about photosynth
  content/rdp/2013/rdp_2013-08-09.md
Labels: rdp, tipex

#372 GeoRDP du 18 juin 2021
  content/rdp/2013/rdp_2013-08-09.md
  content/rdp/2021/rdp_2021-06-18.md
  mkdocs-minimal.yml
Labels: preview, rdp

#378 Update rdp_2021-06-18.md
  content/rdp/2021/rdp_2021-06-18.md
Labels: rdp

#377 Articles/odk postgis 2
  content/articles/2021/2021-06-08_odk_postgis_1.md
  content/articles/2021/2021-06-22_odk_postgis_2.md
Labels: articles, contribution externe, preview

#371 Article 2021-06-25 Webmapping avec R
  .github/workflows/pr_linter_comment.yml
  .gitignore
  content/articles/2021/2021-06-25_webmapping_avec_r.md
Labels: articles, ci-cd, contribution externe, preview
