Repository geotribu/website, pull requests merged in 2021-02, with the labels that each got.

#257 Comment lister les images intégrées à QGIS
  content/articles/2021/2021-01-19_pyqgis_utiliser_icones_integrees.md
  content/articles/2021/2021-02-02_pyqgis_previsualiser_images_integrees.md
  content/articles/templates/template_article.md
  content/rdp/templates/template_rdp.md
  content/toc_nav_ignored/.pages
  content/toc_nav_ignored/qgis_resources_preview_table.md
Labels: articles, rdp

#270 Hotfix images syntax
  content/articles/2021/2021-02-02_pyqgis_previsualiser_images_integrees.md
  content/toc_nav_ignored/qgis_resources_preview_table.md
Labels: articles

#274 Article statistiques Twitter
  content/articles/2021/2021-02-09_statistiques_twitter.md
Labels: articles

#275 add inputapp 0.8.0 to Rdp/2021 02 12
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

#278 Update rdp_2021-02-12.md
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

#273 GeoRDP du 12 février 2021
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

#279 Fix bad LCP reported (https://web.dev/lcp/)
  content/articles/2014/art_2014-11-13.md
Labels: articles

#280 Logo geocontrib
  content/rdp/2021/rdp_2021-02-12.md
Labels: rdp

#272 Article ignfr2map
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
  mkdocs.yml
Labels: articles, mkdocs

#282 Article automatisation et déploiement de la carte IGN (ignfr2map)
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
  content/articles/2021/2021-02-19_ignfr2map_automatisation_deploiement.md
  mkdocs-minimal.yml
  mkdocs.yml
Labels: articles, mkdocs

#286 GeoRDP 2021-02-26
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

#281 Article: faire une carte en ligne 100% libre
  content/articles/2021/2021-02-23_carte_ligne_libre.md
Labels: articles

#288 Ajout des releases geOrchestra à la RDP du 2021-02-26
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp

#283 GeoRDP du 26 février 2021
  content/articles/2021/2021-02-19_ignfr2map_automatisation_deploiement.md
  content/rdp/2021/rdp_2021-02-26.md
  content/rdp/templates/template_rdp_news.md
Labels: articles, rdp
