Repository geotribu/website, pull requests merged in 2021-01, with the labels that each got.

#238 Ajout de pages contributeurs
  content/articles/2020/2020-09-20_tutorial_aerialod.md
  content/team/acha.md
  content/team/fbor.md
Labels: articles, contribution, team

#251 Voeux 2021
  .pre-commit-config.yaml
  content/articles/.pages
  content/articles/2015/art_2015-02-09.md
  content/articles/2020/2020-09-11_html2markdown.md
  content/articles/2021/.pages
  content/articles/2021/2021-01-04_bilan_2020_perspectives_2021.md
  content/contribuer/guides/.pages
  content/contribuer/guides/markdown_quality.md
  content/contribuer/guides/metadata_yaml_frontmatter.md
  content/team/index.md
  mkdocs.yml
Labels: articles, contribution, mkdocs

#258 Exclude contents
  mkdocs.yml
  requirements.txt
Labels: dependencies, mkdocs

#252 GeoRDP du 15 01 2021
  .mailmap
  content/articles/2012/art_2012-05-09.md
  content/contribuer/edit/fix_content_from_website.md
  content/contribuer/edit/local_edition_setup.md
  content/contribuer/guides/diagrams.md
  content/contribuer/guides/emoji.md
  content/contribuer/guides/image.md
  content/contribuer/guides/twitter.md
  content/contribuer/guides/video.md
  content/rdp/.pages
  content/rdp/2015/rdp_2015-10-16.md
  content/rdp/2015/rdp_2015-11-13.md
  content/rdp/2020/rdp_2020-08-07.md
  content/rdp/2021/.pages
  content/rdp/2021/rdp_2021-01-15.md
  content/theme/main.html
Labels: articles, contribution, rdp, thème

#260 Set Google Analytics key from environment variable
  .github/workflows/deploy_master_to_github_pages.yml
  mkdocs.yml
Labels: ci-cd, mkdocs

#256 Article sur l'utilisation des icônes de QGIS dans PyQGIS
  content/articles/2014/art_2014-01-06.md
  content/articles/2021/2021-01-19_pyqgis_utiliser_icones_integrees.md
Labels: articles

#263 Hotfix corrupted feed - enable pretty print
  mkdocs.yml
Labels: mkdocs

#264 Fix date and title
  content/articles/2021/2021-01-19_pyqgis_utiliser_icones_integrees.md
Labels: articles

#255 Article style qgis processing
  content/articles/2021/2021-01-22_csv_import_export_style_QGIS.md
Labels: articles

#259 Article prise en main unfolded
  content/articles/2021/2021-01-26_test_unfolded_studio.md
  content/theme/main.html
Labels: articles, thème

#261 GeoRDP du 29 janvier 2021
  content/articles/2021/2021-01-26_test_unfolded_studio.md
  content/rdp/2011/rdp_2011-05-21.md
  content/rdp/2011/rdp_2011-08-26.md
  content/rdp/2011/rdp_2011-09-16.md
  content/rdp/2012/rdp_2012-02-20.md
  content/rdp/2012/rdp_2012-04-21.md
  content/rdp/2012/rdp_2012-06-02.md
  content/rdp/2012/rdp_2012-06-08.md
  content/rdp/2012/rdp_2012-06-15.md
  content/rdp/2012/rdp_2012-06-22.md
  content/rdp/2012/rdp_2012-06-29.md
  content/rdp/2012/rdp_2012-07-13.md
  content/rdp/2012/rdp_2012-07-27.md
  content/rdp/2012/rdp_2012-09-06.md
  content/rdp/2012/rdp_2012-09-28.md
  content/rdp/2012/rdp_2012-11-08.md
  content/rdp/2012/rdp_2012-11-09.md
  content/rdp/2012/rdp_2012-11-16.md
  content/rdp/2013/rdp_2013-03-22.md
  content/rdp/2013/rdp_2013-04-05.md
  content/rdp/2013/rdp_2013-04-12.md
  content/rdp/2013/rdp_2013-04-19.md
  content/rdp/2013/rdp_2013-05-31.md
  content/rdp/2013/rdp_2013-06-14.md
  content/rdp/2013/rdp_2013-07-19.md
  content/rdp/2013/rdp_2013-09-27.md
  content/rdp/2013/rdp_2013-12-06.md
  content/rdp/2013/rdp_2013-12-20.md
  content/rdp/2014/rdp_2014-01-24.md
  content/rdp/2014/rdp_2014-02-21.md
  content/rdp/2014/rdp_2014-03-07.md
  content/rdp/2014/rdp_2014-04-18.md
  content/rdp/2014/rdp_2014-05-30.md
  content/rdp/2014/rdp_2014-10-17.md
  content/rdp/2014/rdp_2014-11-17.md
  content/rdp/2014/rdp_2014-12-12.md
  content/rdp/2015/rdp_2015-01-30.md
  content/rdp/2015/rdp_2015-03-27.md
  content/rdp/2015/rdp_2015-04-07.md
  content/rdp/2015/rdp_2015-04-20.md
  content/rdp/2015/rdp_2015-05-29.md
  content/rdp/2015/rdp_2015-06-05.md
  content/rdp/2015/rdp_2015-09-18.md
  content/rdp/2016/rdp_2016-07-01.md
  content/rdp/2021/rdp_2021-01-29.md
  content/theme/assets/stylesheets/extra.css
Labels: articles, rdp, thème

#266 Coquilles
  content/rdp/2021/rdp_2021-01-29.md
Labels: rdp
