Repository geotribu/website, pull requests merged in 2021-08, with the labels that each got.

#399 GeoRDP du 30 juillet 2021
  content/rdp/2021/rdp_2021-07-30.md
Labels: preview, rdp

#405 Correction risque(s)
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

#407 GeoRDP 30 juillet 2021 - Coquilles et intégrations medias
  content/rdp/2021/rdp_2021-07-30.md
Labels: rdp

#382 A propos, transparence : tableaux Google Data Studio
  content/team/.pages
  content/team/confidentialite.md
  content/team/statistiques.md
Labels: contribution

#410 Update art_2013-02-20.md
  content/articles/2013/art_2013-02-20.md
Labels: articles, tipex, preview

#408 GeoRDP du 27 août 2021
  content/rdp/2014/rdp_2014-07-18.md
  content/rdp/2015/rdp_2015-02-20.md
  content/rdp/2020/rdp_2020-06-26.md
  content/rdp/2021/rdp_2021-06-04.md
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp, tipex, preview

#411 remove living data hyperlink
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp, tipex

#404 article/pg2datagouv
  content/articles/2021/2021-08-31_pg2datagouv.md
  content/theme/home.html
Labels: thème, articles, preview

#413 Patch de l'article pg2datagouv
  content/articles/2021/2021-08-31_pg2datagouv.md
Labels: articles
