Repository geotribu/website, pull requests merged in 2022-07, with the labels that each got.

#642 Clean/rdp 2011 07 29
  content/contribuer/guides/video.md
  content/rdp/2011/rdp_2011-07-29.md
Labels: rdp, contribution, tipex

#633 Nettoyage des articles de 2013
  content/articles/2013/2013-02-11_appel_contribution_frog2013.md
  content/articles/2013/2013-02-20_contribuer_a_openstreetmap_deux_applications.md
  content/articles/2013/2013-02-25_websocket.md
  content/articles/2013/2013-03-07_rencontres_dynamiques_regionales_en_information_geographique.md
  content/articles/2013/2013-05-21_compiler_openlayers3.md
  content/articles/2013/2013-05-29_interviews_geotribu.md
  content/articles/2013/2013-06-05_mongo_spatial.md
  content/articles/2013/2013-06-13_itw_davidjonglez.md
  content/articles/2013/2013-07-31_modele_generique_django.md
  content/articles/2013/2013-08-16_pont_15_aout.md
  content/articles/2013/2013-09-22_nouveau_membre_dans_la_tribu.md
  content/articles/2013/2013-09-26_installer_python_gdal_sous_windows.md
  content/articles/2013/2013-10-02_mention_geomatique_en_master_licence.md
  content/articles/2013/2013-10-30_geogame_mots_croises_outils_sig.md
  content/articles/2013/2013-11-19_websocket_avec_django.md
  content/articles/2013/2013-11-20_geogame_mots_croises_webmapping.md
  content/articles/2013/2013-12-01_stage_geodecisionnelle_suivi_humanitaire_ong.md
  content/articles/2013/2013-12-04_temps_reponses_compares_osrm_graphhopper.md
  content/articles/2013/art_2013-02-11.md
  content/articles/2013/art_2013-05-21.md
  content/articles/2013/art_2013-06-13_itw_davidjonglez.md
  content/articles/2013/art_2013-07-31.md
  mkdocs.yml
Labels: mkdocs, articles, tipex

#645 rdp_2011-08-05 - Correction structure et images
  content/rdp/2011/rdp_2011-03-25.md
  content/rdp/2011/rdp_2011-05-13.md
  content/rdp/2011/rdp_2011-06-24.md
  content/rdp/2011/rdp_2011-08-05.md
  content/rdp/2011/rdp_2011-09-09.md
  content/rdp/2011/rdp_2011-10-07.md
  content/rdp/2011/rdp_2011-11-04.md
  content/rdp/2012/rdp_2012-03-02.md
  content/rdp/2012/rdp_2012-03-16.md
Labels: rdp, tipex

#643 Article article/2022-07-02_qgis_joy_division.md
  content/articles/2022/2022-07-11_qgis_joy_division.md
Labels: articles

#651 Article Joy Division - Fix image Cézanne et tag
  content/articles/2022/2022-07-11_qgis_joy_division.md
Labels: tipex

#653 Page d'accueil - Pointe sur le plugin du dépôt officiel
  content/theme/home.html
Labels: thème

#657 Fix redirections on free version
  mkdocs-free.yml
Labels: bug

#655 Nettoyage des erreurs relevées par le linter
  .gitignore
  content/articles/2010/2010-03-02_etl_spatiaux_opensource.md
  content/articles/2011/2011-01-09_liberez_les_donnees.md
  content/articles/2011/2011-01-19_documenter_bases_de_donnees_exemple_openstreetmap.md
  content/articles/2013/2013-06-05_mongo_spatial.md
  content/contribuer/archives/howto_rdp.md
  content/rdp/2011/rdp_2011-04-15.md
  content/rdp/2011/rdp_2011-04-29.md
  content/rdp/2011/rdp_2011-06-03.md
  content/rdp/2011/rdp_2011-06-24.md
  content/rdp/2011/rdp_2011-07-22.md
  content/rdp/2011/rdp_2011-08-12.md
  content/rdp/2011/rdp_2011-12-09.md
  content/rdp/2012/rdp_2012-03-02.md
  content/rdp/2012/rdp_2012-03-23.md
  content/rdp/2012/rdp_2012-08-24.md
  content/rdp/2012/rdp_2012-09-28.md
  content/rdp/2012/rdp_2012-10-05.md
  content/rdp/2012/rdp_2012-11-02.md
  content/rdp/2012/rdp_2012-11-16.md
  content/rdp/2012/rdp_2012-12-21.md
  content/rdp/2013/rdp_2013-05-24.md
  content/rdp/2013/rdp_2013-05-31.md
  content/rdp/2013/rdp_2013-06-14.md
  content/rdp/2013/rdp_2013-07-12.md
  content/rdp/2013/rdp_2013-10-04.md
  content/rdp/2013/rdp_2013-10-11.md
  content/rdp/2013/rdp_2013-10-25.md
  content/rdp/2013/rdp_2013-11-15.md
  content/rdp/2013/rdp_2013-11-22.md
  content/rdp/2013/rdp_2013-12-06.md
  content/rdp/2013/rdp_2013-12-13.md
  content/rdp/2013/rdp_2013-12-20.md
  content/rdp/2016/rdp_2016-01-15.md
  content/rdp/2016/rdp_2016-03-04.md
  content/rdp/2020/rdp_2020-05-15.md
  content/rdp/2020/rdp_2020-05-29.md
  content/rdp/2020/rdp_2020-06-12.md
  content/rdp/2020/rdp_2020-06-26.md
  content/rdp/2020/rdp_2020-07-24.md
  content/rdp/2020/rdp_2020-08-21.md
  content/rdp/2020/rdp_2020-10-16.md
  content/rdp/2021/rdp_2021-01-15.md
  content/rdp/2021/rdp_2021-02-26.md
  content/rdp/2021/rdp_2021-09-10.md
  lint.txt
Labels: rdp, contribution, articles, tipex

#658 Met l'article de Sylvain Kerdreux en page d'accueil
  content/theme/home.html
Labels: thème

#659 Corrige une typo CQP
  content/contribuer/edit/local_edition_setup.md
Labels: tipex

#664 Ajoute le tag Windows sur l'article de @rhaubourg
  content/articles/2021/2021-07-06_qgis_personnaliser_package_osgeo4w.md
Labels: articles, tipex

#665 Ajoute OSGeo4W dans le titre du tuto avec powershell
  content/articles/2020/2020-07-03_deploy_qgis_windows.md
Labels: articles

#666 Fix logo SNCF
  content/rdp/2011/rdp_2011-12-16.md
Labels: rdp

#668 Menues corrections liées à FME
  content/rdp/2020/rdp_2020-05-15.md
Labels: tipex
