Repository geotribu/website, pull requests merged in 2022-08, with the labels that each got.

#656 Article sur l'intégration de GDAL dans FME
  .github/workflows/pr_linter_markdown.yml
  content/articles/2022/2022-08-02_API_Python_FME_travailler_avec_GDAL.md
  content/articles/templates/template_article.md
  content/team/hfio.md
  content/theme/home.html
Labels: ci-cd, thème, contribution, articles, contribution externe

#672 Corrections de syntaxe et d'images
  .github/workflows/pr_linter_markdown.yml
  content/articles/2013/2013-09-26_installer_python_gdal_sous_windows.md
  content/articles/2014/2014-01-22_geogame_qcm_cassini_bertin.md
  content/articles/2014/2014-08-29_itw_drones_crisis.md
  content/articles/2015/2015-02-03_representation_3D_des_objets_openstreetmap.md
  content/articles/2015/2015-02-09_8eme_geoseminaire_silat.md
  content/articles/2022/2022-05-31_donnees_mapillary.md
  content/rdp/2012/rdp_2012-05-11.md
  content/rdp/2013/rdp_2013-07-12.md
  content/rdp/2013/rdp_2013-09-27.md
  content/rdp/2013/rdp_2013-11-01.md
  content/rdp/2013/rdp_2013-11-08.md
  content/rdp/2013/rdp_2013-11-29.md
  content/rdp/2013/rdp_2013-12-06.md
  content/rdp/2014/rdp_2014-03-21.md
  content/rdp/2014/rdp_2014-05-16.md
  content/rdp/2014/rdp_2014-06-06.md
  content/rdp/2014/rdp_2014-06-20.md
  content/rdp/2015/rdp_2015-03-06.md
  content/rdp/2015/rdp_2015-03-27.md
  content/rdp/2015/rdp_2015-05-01.md
  content/rdp/2015/rdp_2015-09-18.md
  content/rdp/2020/rdp_2020-12-11.md
  content/rdp/2020/rdp_2020-12-25.md
Labels: rdp, ci-cd, articles, tipex

#673 Fix Pigeon Air Patrol video
  content/rdp/2016/rdp_2016-04-22.md
Labels: rdp, tipex

#675 Dépendances - Collection été 2022
  requirements-free.txt
  requirements-insiders.txt
  requirements.txt
Labels: dependencies

#676 Fix broken image
  content/rdp/2020/rdp_2020-09-18.md
Labels: rdp

#678 RDPs 2013 - Corrige quelques images et contenus
  content/rdp/2013/rdp_2013-07-05.md
  content/rdp/2013/rdp_2013-11-22.md
  content/rdp/2014/rdp_2014-02-28.md
  content/rdp/2022/rdp_2022-01-21.md
Labels: rdp, tipex
