Repository geotribu/website, pull requests merged in 2022-05, with the labels that each got.

#391 Sponsoring
  .github/FUNDING.yml
  README.md
  content/team/.pages
  content/team/sponsoring.md
  content/theme/home.html
  mkdocs-minimal.yml
  mkdocs.yml
Labels: enhancement, ci-cd, mkdocs, thème, contribution, preview

#606 Fix QField logo (typo qfiled)
  content/rdp/2021/rdp_2021-02-26.md
  content/rdp/2021/rdp_2021-03-12.md
  content/rdp/2021/rdp_2021-06-18.md
  content/rdp/2021/rdp_2021-11-05.md
  content/rdp/2022/rdp_2022-04-15.md
Labels: tipex

#608 Ajout configuration des changelog automatisés
  .github/release.yml
Labels: ci-cd

#604 Article Qfield
  content/articles/2022/2022-05-24_releve_terrain_qfield.md
  content/team/vleb.md
  content/theme/home.html
Labels: articles, contribution externe

#610 Fix hyperlink typo
  content/articles/2022/2022-05-24_releve_terrain_qfield.md
Labels: tipex

#603 Article: Données de Mapillary via les VT
  content/articles/2022/2022-05-31_donnees_mapillary.md
Labels: articles
