Repository geotribu/website, pull requests merged in 2022-03, with the labels that each got.

#494 geopoussetR 2011 - Step 2 - relevelTitles- v2
  content/rdp/2011/rdp_2011-07-22.md
  content/rdp/2011/rdp_2011-07-29.md
  content/rdp/2011/rdp_2011-08-05.md
  content/rdp/2011/rdp_2011-08-12.md
  content/rdp/2011/rdp_2011-08-19.md
  content/rdp/2011/rdp_2011-09-09.md
  content/rdp/2011/rdp_2011-09-16.md
  content/rdp/2011/rdp_2011-09-23.md
  content/rdp/2011/rdp_2011-09-30.md
  content/rdp/2011/rdp_2011-10-07.md
  content/rdp/2011/rdp_2011-10-14.md
  content/rdp/2011/rdp_2011-10-21.md
  content/rdp/2011/rdp_2011-11-04.md
  content/rdp/2011/rdp_2011-11-18.md
  content/rdp/2011/rdp_2011-11-25.md
  content/rdp/2011/rdp_2011-12-02.md
  content/rdp/2011/rdp_2011-12-09.md
  content/rdp/2011/rdp_2011-12-16.md
  content/rdp/2011/rdp_2011-12-30.md
Labels: rdp, tipex

#555 fix/2011/2-relevelTitles-suite
  content/rdp/2011/rdp_2011-04-01.md
  content/rdp/2011/rdp_2011-07-01.md
  content/rdp/2011/rdp_2011-09-02.md
Labels: rdp, tipex

#550 Article : Eclairage Public - Gestion et visualisation du réseau avec QGIS et PostgreSQL/PostGIS
  content/articles/2022/2022-03-08_qgis_postgis_gestion_eclairage_public.md
  content/team/srit.md
Labels: contribution, articles

#558 Bouton commentaires, lien image optim, divers liens et tipee
  content/articles/2022/2022-03-08_qgis_postgis_gestion_eclairage_public.md
  content/contribuer/guides/image.md
  content/team/credits.md
  content/toc_nav_ignored/snippets/glossaire.md
  mkdocs.yml
Labels: mkdocs, contribution, articles, tipex

#560 Article WSL GDAL : corrige ou met à jour certaines commandes
  content/articles/2020/2020-10-28_gdal_windows_subsystem_linux_wsl.md
Labels: articles

#556 Run workflows only on main repository
  .github/workflows/auto-labeler.yml
  .github/workflows/deploy.yml
  .github/workflows/manual_new_rdp.yml
  .github/workflows/pr_checker_build.yml
  .github/workflows/pr_cleaner_post_merge.yml
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

#554 Ajout d'un article sur la réalisation de relevés de terrain avec QGIS et Input
  content/articles/2022/2022-03-11_releve_terrain_qgis_input.md
  content/team/cros.md
Labels: contribution, articles

#564 Proposition appel à intervention aux GeoDataDays 2022
  content/rdp/2022/rdp_2022-03-18.md
Labels: rdp

#566 Update rdp_2022-03-18.md
  content/rdp/2022/rdp_2022-03-18.md
Labels: rdp

#567 Deutsh kalitat
  content/rdp/2022/rdp_2022-03-18.md
Labels: rdp

#568 typo
  content/rdp/2022/rdp_2022-03-18.md
Labels: rdp, tipex

#569 Fix icon
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles, tipex

#571 CI : utilise le cache pip intégré à l'action setup-python > 3
  .github/workflows/deploy.yml
  .github/workflows/pr_checker_build.yml
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

#573 Bump theme version to fix jinaj2 conflict
  requirements-insiders.txt
  requirements.txt
Labels: dependencies

#574 Fix myrotvorets/set-commit-status-action version
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

#575 Patch RDP de l'an passé
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

#576 Fix lightbox syntax
  content/rdp/2021/rdp_2021-04-09.md
Labels: rdp

#577 Amorce news catalogue Etalab
  content/rdp/2022/rdp_2022-04-01.md
Labels: rdp
