Repository geotribu/website, pull requests merged in 2022-02, with the labels that each got.

#533 Patch rdp/2022-02-04 : Correction de l'intro
  content/rdp/2022/rdp_2022-02-04.md
Labels: rdp

#536 Ajoute un workflow de nettoyage de la prévisualisation quand une PR est fermée
  .github/workflows/pr_cleaner_post_merge.yml
  content/rdp/templates/template_rdp.md
  content/rdp/templates/template_rdp_news.md
  scripts/redirect.html
Labels: rdp, ci-cd

#539 MAJ le thème et corrige les icônes FA
  content/articles/2020/2020-08-31_geotribu_histoire.md
  content/articles/2022/2022-01-12_rencontres_qgis_francophones_liens_utiles_ateliers.md
  content/contribuer/articles/workflow.md
  content/contribuer/rdp/create_rdp.md
  content/rdp/2021/rdp_2021-07-02.md
  content/team/index.md
  content/theme/home.html
  mkdocs-free.yml
  mkdocs.yml
  requirements-insiders.txt
Labels: dependencies, thème

#531 Article/qgis dashboard cd14
  content/articles/2022/2022-01-14_etude_impacts_loi_3ds_voirie.md
  content/articles/2022/2022-02-11_dashboard_qgis_adresse_CD14.md
  content/team/tgro.md
  content/toc_nav_ignored/snippets/glossaire.md
Labels: contribution, articles

#540 Patch coquilles articles qgis dashboard
  content/articles/2022/2022-02-11_dashboard_qgis_adresse_CD14.md
Labels: articles

#542 correction_article_dashboard
  content/articles/2022/2022-02-11_dashboard_qgis_adresse_CD14.md
  content/team/tgro.md
Labels: contribution, articles, tipex

#541 Article : Ajout de la vidéo des rencontres QGIS 2022
  content/articles/2021/2021-05-28_carte_topo_qgis.md
Labels: articles

#544 Coquille image dashboard
  content/articles/2022/2022-02-11_dashboard_qgis_adresse_CD14.md
Labels: articles

#545 Coquille description
  content/rdp/2022/rdp_2022-02-18.md
Labels: rdp

#547 Patching icons and mailmap
  .mailmap
  content/articles/2013/art_2013-10-30_geogame_mots_croises_outils_sig.md
  content/articles/2013/art_2013-11-20_geogame_mots_croises_webmapping.md
  content/articles/2014/art_2014-01-08_geogame_qcm_histoire_cartographie.md
  content/articles/2014/art_2014-01-22_geogame_qcm_cassini_bertin.md
  content/articles/2014/art_2014-03-19_geogame_pendu_geomatique.md
  content/articles/2020/2020-08-31_geotribu_histoire.md
  content/articles/2020/2020-09-08_web-scraping_scrapy_geotribu.md
  content/articles/2020/2020-09-11_html2markdown.md
  content/articles/2020/2020-10-19_geogame_desert.md
  content/articles/2021/2021-01-04_bilan_2020_perspectives_2021.md
  content/articles/2021/2021-01-19_pyqgis_utiliser_icones_integrees.md
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
  content/articles/2021/2021-02-19_ignfr2map_automatisation_deploiement.md
  content/articles/2021/2021-06-08_odk_postgis_1.md
  content/articles/2021/2021-06-22_odk_postgis_2.md
  content/articles/2021/2021-07-16_relooking_nouveautes_geotribu.md
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
  content/articles/2021/2021-12-10_openmobilityindicators.md
  content/contribuer/edit/local_edition_setup.md
  content/contribuer/guides/markdown_basics.md
  content/contribuer/introduction.md
  content/contribuer/rdp/add_news.md
  content/contribuer/requirements.md
  content/newsletter/signup.md
  content/team/confidentialite.md
  content/team/index.md
  mkdocs.yml
  requirements.txt
Labels: mkdocs, dependencies, tipex

#548 Feature : renforce la confidentialité en intégrant les scripts externes pendant le build
  .github/workflows/deploy.yml
  .github/workflows/pr_checker_build.yml
  .vscode/settings.json
  mkdocs-free.yml
  mkdocs.yml
  requirements-insiders.txt
Labels: enhancement, ci-cd, mkdocs, dependencies

#549 Typo géoséminaire
  content/rdp/2022/rdp_2022-02-18.md
  requirements-free.txt
Labels: rdp, dependencies
