Repository geotribu/website, pull requests merged in 2022-04, with the labels that each got.

#581 GeoRDP rdp_2022-04-01 - ajout le monde en cartes
  content/rdp/2022/rdp_2022-04-01.md
Labels: rdp, contribution externe

#559 Article (republication) : chasse aux oeufs dans le Géoportail et Minecraft
  content/articles/2020/2020-04-13_chasse_oeufs_paques_cartes_geoportail_minecraft.md
  content/articles/2022/2022-01-12_rencontres_qgis_francophones_liens_utiles_ateliers.md
  content/contribuer/guides/emoji.md
  content/rdp/2012/rdp_2012-03-23.md
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp, contribution, articles

#590 Article - Easter Egg : QGIS Hunt
  content/articles/2022/2022-01-12_rencontres_qgis_francophones_liens_utiles_ateliers.md
  content/articles/2022/2022-04-18_easter_eggs_qgis_regale.md
  content/team/dmon.md
  content/theme/home.html
  content/toc_nav_ignored/snippets/glossaire.md
  requirements-insiders.txt
Labels: dependencies, thème, contribution, articles

#592 Fonctionnalité : icônes associées aux tags
  content/rdp/2012/rdp_2012-01-20.md
  content/rdp/2012/rdp_2012-04-13.md
  content/rdp/2015/rdp_2015-07-03.md
  content/rdp/2016/rdp_2016-06-24.md
  content/rdp/2020/rdp_2020-12-11.md
  mkdocs.yml
  requirements-insiders.txt
Labels: rdp, enhancement, mkdocs, dependencies, thème, tipex

#593 Quelques icônes de tags en plus
  content/articles/2020/2020-04-13_chasse_oeufs_paques_cartes_geoportail_minecraft.md
  content/articles/2020/2020-07-03_deploy_qgis_windows.md
  content/articles/2021/2021-07-06_qgis_personnaliser_package_osgeo4w.md
  mkdocs.yml
Labels: enhancement, mkdocs, thème, articles

#596 Nettoyage de quelques RDP de 2012
  content/articles/2012/art_2012-01-19.md
  content/rdp/2011/rdp_2011-03-04.md
  content/rdp/2011/rdp_2011-04-15.md
  content/rdp/2011/rdp_2011-05-13.md
  content/rdp/2011/rdp_2011-11-25.md
  content/rdp/2011/rdp_2011-12-02.md
  content/rdp/2011/rdp_2011-12-09.md
  content/rdp/2011/rdp_2011-12-16.md
  content/rdp/2012/rdp_2012-01-07.md
  content/rdp/2012/rdp_2012-01-20.md
  content/rdp/2012/rdp_2012-02-03.md
  content/rdp/2012/rdp_2012-05-04.md
  content/rdp/2012/rdp_2012-09-07.md
  content/rdp/2012/rdp_2012-09-14.md
  content/rdp/2012/rdp_2012-10-12.md
Labels: rdp, articles
