Repository geotribu/website, pull requests merged in 2022-09, with the labels that each got.

#688 Corrige la vidéo GoT (rdp 2015, rapport Google)
  content/rdp/2015/rdp_2015-04-10.md
Labels: rdp

#686 News/tuto publication des métadonnées avec GeoServer pour RDP du 2022-09-09
  content/rdp/2022/rdp_2022-09-09.md
Labels: rdp, contribution externe

#689 Automatise la consolidation d'une proposition de news faite via le formulaire GitHub
  .github/ISSUE_TEMPLATE/RDP_NEWS.yml
  .github/workflows/issue_comment.yml
  scripts/issue_comment_rdp_template.jinja
  scripts/issue_comment_templater_rdp.py
Labels: ci-cd

#691 Corrections diverses
  .gitignore
  content/articles/2009/2009-03-26_toulouse-bientot-ville-numerique.md
  content/rdp/2012/rdp_2012-02-20.md
  content/rdp/2020/rdp_2020-04-30.md
  rdp_news_submitted.json
  scripts/fixtures/rdp_news_submitted.json
  scripts/retrieve_images.py
Labels: rdp, articles, tipex

#692 Corrige RDP 2012-11-09
  content/rdp/2012/rdp_2012-11-09.md
  content/rdp/templates/template_rdp.md
Labels: rdp, tipex

#694 Nettoyage RDP 2012
  content/rdp/2010/rdp_2010-11-26.md
  content/rdp/2011/rdp_2011-06-24.md
  content/rdp/2011/rdp_2011-12-09.md
  content/rdp/2012/rdp_2012-01-07.md
  content/rdp/2012/rdp_2012-01-13.md
  content/rdp/2012/rdp_2012-01-20.md
  content/rdp/2012/rdp_2012-01-27.md
  content/rdp/2012/rdp_2012-02-03.md
  content/rdp/2012/rdp_2012-02-10.md
  content/rdp/2012/rdp_2012-02-17.md
  content/rdp/2012/rdp_2012-02-20.md
  content/rdp/2012/rdp_2012-03-02.md
  content/rdp/2012/rdp_2012-03-09.md
  content/rdp/2012/rdp_2012-03-16.md
  content/rdp/2012/rdp_2012-03-23.md
  content/rdp/2012/rdp_2012-03-30.md
  content/rdp/2012/rdp_2012-04-06.md
  content/rdp/2012/rdp_2012-04-13.md
  content/rdp/2012/rdp_2012-04-21.md
  content/rdp/2012/rdp_2012-04-27.md
  content/rdp/2012/rdp_2012-05-04.md
  content/rdp/2012/rdp_2012-05-11.md
  content/rdp/2012/rdp_2012-05-18.md
  content/rdp/2012/rdp_2012-05-25.md
  content/rdp/2012/rdp_2012-06-02.md
  content/rdp/2012/rdp_2012-06-08.md
  content/rdp/2012/rdp_2012-06-15.md
  content/rdp/2012/rdp_2012-06-22.md
  content/rdp/2012/rdp_2012-06-29.md
  content/rdp/2012/rdp_2012-07-06.md
  content/rdp/2012/rdp_2012-07-13.md
  content/rdp/2012/rdp_2012-07-20.md
  content/rdp/2012/rdp_2012-07-27.md
  content/rdp/2012/rdp_2012-08-03.md
  content/rdp/2012/rdp_2012-08-09.md
  content/rdp/2012/rdp_2012-08-17.md
  content/rdp/2012/rdp_2012-08-24.md
  content/rdp/2012/rdp_2012-08-31.md
  content/rdp/2012/rdp_2012-09-07.md
  content/rdp/2012/rdp_2012-09-14.md
  content/rdp/2012/rdp_2012-09-21.md
  content/rdp/2012/rdp_2012-09-28.md
  content/rdp/2012/rdp_2012-10-05.md
  content/rdp/2012/rdp_2012-10-12.md
  content/rdp/2012/rdp_2012-10-19.md
  content/rdp/2012/rdp_2012-11-02.md
  content/rdp/2012/rdp_2012-11-09.md
  content/rdp/2012/rdp_2012-11-16.md
  content/rdp/2012/rdp_2012-12-21.md
Labels: rdp, tipex

#696 Automate formulaire de news - Corrige l'échappement des caractères spéciaux en JSON
  .github/workflows/issue_comment.yml
Labels: ci-cd

#698 Uniformise les logos de FB, Google et YouTube
  content/articles/2012/2012-02-03_serie_noire_pour_google.md
  content/rdp/2013/rdp_2013-05-17.md
  content/rdp/2015/rdp_2015-06-19.md
  content/rdp/2016/rdp_2016-03-04.md
  content/rdp/2016/rdp_2016-03-11.md
  content/rdp/2021/rdp_2021-01-15.md
  content/rdp/2022/rdp_2022-01-21.md
  content/rdp/2022/rdp_2022-08-26.md
Labels: tipex

#697 Géocapot : finalisation article sur les social cards
  content/contribuer/guides/metadata_yaml_frontmatter.md
  content/contribuer/internal/social_cards.md
  content/rdp/2015/rdp_2015-03-27.md
  content/rdp/2021/rdp_2021-02-26.md
Labels: rdp, contribution

#701 Corrige lien et vidéo cassés (signalement)
  content/rdp/2015/rdp_2015-03-27.md
Labels: rdp

#700 Nettoyage RDP 2011
  content/rdp/2011/rdp_2011-01-07.md
  content/rdp/2011/rdp_2011-01-14.md
  content/rdp/2011/rdp_2011-01-21.md
  content/rdp/2011/rdp_2011-01-28.md
  content/rdp/2011/rdp_2011-02-04.md
  content/rdp/2011/rdp_2011-02-11.md
  content/rdp/2011/rdp_2011-02-18.md
  content/rdp/2011/rdp_2011-02-25.md
  content/rdp/2011/rdp_2011-03-04.md
  content/rdp/2011/rdp_2011-03-11.md
  content/rdp/2011/rdp_2011-03-18.md
  content/rdp/2011/rdp_2011-03-25.md
  content/rdp/2011/rdp_2011-04-01.md
  content/rdp/2011/rdp_2011-04-08.md
  content/rdp/2011/rdp_2011-04-15.md
  content/rdp/2011/rdp_2011-04-22.md
  content/rdp/2011/rdp_2011-04-29.md
  content/rdp/2011/rdp_2011-05-06.md
  content/rdp/2011/rdp_2011-05-13.md
  content/rdp/2011/rdp_2011-05-21.md
  content/rdp/2011/rdp_2011-05-27.md
  content/rdp/2011/rdp_2011-06-03.md
  content/rdp/2011/rdp_2011-06-10.md
  content/rdp/2011/rdp_2011-06-17.md
  content/rdp/2011/rdp_2011-06-24.md
  content/rdp/2011/rdp_2011-07-01.md
  content/rdp/2011/rdp_2011-07-08.md
  content/rdp/2011/rdp_2011-07-15.md
  content/rdp/2011/rdp_2011-07-22.md
  content/rdp/2011/rdp_2011-07-29.md
  content/rdp/2011/rdp_2011-08-05.md
  content/rdp/2011/rdp_2011-08-12.md
  content/rdp/2011/rdp_2011-08-19.md
  content/rdp/2011/rdp_2011-08-26.md
  content/rdp/2011/rdp_2011-09-02.md
  content/rdp/2011/rdp_2011-09-09.md
  content/rdp/2011/rdp_2011-09-16.md
  content/rdp/2011/rdp_2011-09-23.md
  content/rdp/2011/rdp_2011-09-30.md
  content/rdp/2011/rdp_2011-10-07.md
  content/rdp/2011/rdp_2011-10-14.md
  content/rdp/2011/rdp_2011-10-21.md
  content/rdp/2011/rdp_2011-10-28.md
  content/rdp/2011/rdp_2011-11-04.md
  content/rdp/2011/rdp_2011-11-10.md
  content/rdp/2011/rdp_2011-11-18.md
  content/rdp/2011/rdp_2011-11-25.md
  content/rdp/2011/rdp_2011-12-02.md
  content/rdp/2011/rdp_2011-12-09.md
  content/rdp/2011/rdp_2011-12-16.md
  content/rdp/2011/rdp_2011-12-23.md
  content/rdp/2011/rdp_2011-12-30.md
Labels: rdp, tipex

#704 Update rdp_2022-09-23.md
  content/rdp/2022/rdp_2022-09-23.md
Labels: rdp, tipex

#706 Corrige lien et typo
  content/rdp/2022/rdp_2022-09-23.md
Labels: rdp, tipex

#699 SEO : amélioration de la gestion des redirections
  .github/workflows/deploy.yml
  .github/workflows/pr_checker_build.yml
  .pre-commit-config.yaml
  config/plugins_redirections.yml
  config/redirection_mapping_geotribu_articles.txt
  config/redirection_mapping_geotribu_rdp.txt
  config/redirection_mapping_geotribu_tutoriels.txt
  content/articles/2008/2008-08-22_ajouter-des-shp-dans-geoserver.md
  content/articles/2009/2009-07-15_quelques-outils-pour-developper-plus-facilement-en-javascript.md
  content/articles/2010/2010-08-25_interroger_geoserver_en_python_grace_a_gsconfig.md
  content/articles/2010/2010-12-13_imagimap_baselayers_v2.md
  content/articles/2012/2012-10-11_conference_yvan_bedard_universite_laval.md
  content/articles/2014/2014-03-24_non_mapserver_geoserver_tilecache_ne_sont_pas_toujours_necessaires.md
  content/contribuer/internal/git_hooks_precommit.md
  mkdocs-free.yml
  mkdocs.yml
  requirements-free.txt
  scripts/mkdocs_config_merger.py
Labels: ci-cd, mkdocs, dependencies, contribution, articles

#707 SEO : complète les redirections pour gérer les URLs 2020-2021 (partie 2)
  config/plugins_redirections.yml
  config/redirection_mapping_geotribu_articles.txt
  config/redirection_mapping_geotribu_rdp.txt
  rdp_news_submitted.json
  requirements.txt
  runtime.txt
Labels: mkdocs

#708 Outillage : Add input config folder option and use mkdocs loader to handle env vars
  .github/workflows/deploy.yml
  scripts/mkdocs_config_merger.py
Labels: ci-cd, mkdocs

#709 Proposition article Ed Fairburn / modes de fusion
  content/articles/2022/2022-09-30_carte_facon_ed_fairburn.md
Labels: articles, contribution externe

#710 Met l'article de @Michael-cd30 en page d'accueil
  content/theme/home.html
Labels: thème
