Repository geotribu/website, pull requests merged in 2022-10, with the labels that each got.

#714 MAJ du plugin RSS : fuseau horaire et heure de publication par défaut
  mkdocs-free.yml
  mkdocs.yml
  requirements.txt
Labels: mkdocs, dependencies

#715 Typo article GeoTuileur IGN
  content/rdp/2022/rdp_2022-10-07.md
Labels: rdp

#716 Corrige typo dans news UtagawaVTT
  content/rdp/2022/rdp_2022-10-07.md
Labels: rdp, tipex

#722 Fix youtube thumbnail class
  content/rdp/2021/rdp_2021-01-15.md
  content/rdp/2022/rdp_2022-01-21.md
  content/rdp/2022/rdp_2022-08-26.md
Labels: rdp, tipex

#725 Ajoute la bio de @bmericskay pour être conforme à la structure
  content/articles/2021/2021-02-23_carte_ligne_libre.md
  content/articles/2021/2021-04-20_maplibre_site_ressource.md
  content/team/bmer.md
Labels: contribution, articles

#726 SEO : corrige quelques 404
  config/plugins_redirections.yml
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp, tipex

#734 Configuration : externalise la définition des icônes pour les tags
  config/extra_tags.yml
  config/theme_icon.yml
  content/rdp/2011/rdp_2011-01-14.md
  content/rdp/2022/rdp_2022-10-21.md
  mkdocs.yml
  scripts/mkdocs_config_merger.py
Labels: enhancement, mkdocs

#733 Correction de liens 404 dans l'article Lien SIG-OSM
  content/articles/2021/2021-10-05_lien_sig_osm.md
Labels: articles, tipex
