Repository geotribu/website, pull requests merged in 2022-01, with the labels that each got.

#505 Add utf8 check and autofixer.
  .pre-commit-config.yaml
Labels: enhancement, ci-cd

#509 Petit nettoyage en passant
  content/articles/2015/art_2015-06-04_mise_en_place_serveur_ban-bano_ubuntu.md
  content/rdp/2012/rdp_2012-05-11.md
  content/rdp/2012/rdp_2012-05-18.md
  content/rdp/2013/rdp_2013-09-27.md
  content/rdp/2013/rdp_2013-10-18.md
  content/rdp/2013/rdp_2013-10-25.md
  mkdocs.yml
Labels: rdp, mkdocs, articles, tipex

#503 Quantifier les inégalites de traitement de la météo
  .github/labeler.yml
  content/articles/.pages
  content/articles/2022/.pages
  content/articles/2022/2022-01-11_quantifier_inegalites_traitement_meteo.md
  requirements-insiders.txt
Labels: ci-cd, articles, contribution externe

#510 Correction du lien Afigeo
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

#511 Correction du lien afigeo dans le texte
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp, tipex

#507 Article de promotion des rencontres qgis fr 2022 et des pré-requis d'ateliers
  content/articles/2022/2022-01-12_rencontres_qgis_francophones_liens_utiles_ateliers.md
  content/contribuer/guides/metadata_yaml_frontmatter.md
  content/theme/home.html
  content/toc_nav_ignored/snippets/glossaire.md
Labels: thème, contribution, articles

#512 typo article Journées QGIS FR 2022
  content/articles/2022/2022-01-12_rencontres_qgis_francophones_liens_utiles_ateliers.md
Labels: articles

#513 Fix missing title 3
  content/rdp/2021/rdp_2021-08-27.md
Labels: rdp, tipex

#504 Proposition article -> 3DS : Mesurer l'impact du transfert des routes du réseau national aux Départements avec PostgreSQL/PostGIS
  content/articles/2021/2021-05-25_biblio_powershell_si3p0.md
  content/articles/2022/2022-01-14_etude_impacts_loi_3ds_voirie.md
  content/team/mgal.md
Labels: contribution, articles, contribution externe

#514 Update 2022-01-14_etude_impacts_loi_3ds_voirie.md
  content/articles/2022/2022-01-14_etude_impacts_loi_3ds_voirie.md
Labels: articles

#516 Promo journées QGIS FR - MAJ lien et ajout formulaire parité
  .vscode/settings.json
  content/articles/2022/2022-01-12_rencontres_qgis_francophones_liens_utiles_ateliers.md
Labels: articles

#519 404 sur les liens articles
  content/rdp/2022/rdp_2022-01-21.md
Labels: rdp

#520 typo description
  content/rdp/2022/rdp_2022-01-21.md
Labels: rdp, tipex

#522 typo nom Jules Grandin
  content/rdp/2022/rdp_2022-01-21.md
Labels: rdp, tipex

#523 fix admonition indent
  content/rdp/2011/rdp_2011-11-10.md
Labels: rdp, tipex

#524 Fix some thumbnails
  content/rdp/2011/rdp_2011-05-21.md
  content/rdp/2011/rdp_2011-08-26.md
  content/rdp/2011/rdp_2011-09-16.md
  content/rdp/2011/rdp_2011-12-30.md
  content/rdp/2012/rdp_2012-02-20.md
  content/rdp/2012/rdp_2012-04-13.md
  content/rdp/2012/rdp_2012-04-21.md
  content/rdp/2012/rdp_2012-06-02.md
  content/rdp/2012/rdp_2012-06-08.md
  content/rdp/2012/rdp_2012-06-15.md
  content/rdp/2012/rdp_2012-06-22.md
  content/rdp/2012/rdp_2012-06-29.md
  content/rdp/2012/rdp_2012-07-06.md
  content/rdp/2012/rdp_2012-07-13.md
  content/rdp/2012/rdp_2012-07-20.md
  content/rdp/2012/rdp_2012-07-27.md
  content/rdp/2012/rdp_2012-09-07.md
  content/rdp/2012/rdp_2012-09-28.md
  content/rdp/2012/rdp_2012-11-02.md
  content/rdp/2012/rdp_2012-11-09.md
  content/rdp/2012/rdp_2012-11-16.md
  content/rdp/2013/rdp_2013-03-22.md
  content/rdp/2013/rdp_2013-03-29.md
  content/rdp/2013/rdp_2013-04-05.md
  content/rdp/2013/rdp_2013-04-12.md
  content/rdp/2013/rdp_2013-04-19.md
  content/rdp/2013/rdp_2013-05-10.md
  content/rdp/2013/rdp_2013-05-31.md
  content/rdp/2013/rdp_2013-06-14.md
  content/rdp/2013/rdp_2013-07-19.md
  content/rdp/2013/rdp_2013-08-02.md
  content/rdp/2013/rdp_2013-08-09.md
  content/rdp/2013/rdp_2013-09-27.md
  content/rdp/2013/rdp_2013-10-04.md
  content/rdp/2013/rdp_2013-10-11.md
  content/rdp/2013/rdp_2013-11-29.md
  content/rdp/2013/rdp_2013-12-06.md
  content/rdp/2013/rdp_2013-12-13.md
Labels: rdp, tipex

#526 Feature: VS Code schema
  .vscode/extensions.json
  .vscode/settings.json
  mkdocs-free.yml
  mkdocs-minimal.yml
  mkdocs.yml
  requirements-insiders.txt
Labels: mkdocs, dependencies
