Repository geotribu/website, pull requests merged in 2022-11, with the labels that each got.

#739 Bump theme to latest version
  mkdocs.yml
  requirements-insiders.txt
Labels: mkdocs, dependencies

#740 Correction d'une ancienne image désormais inaccessible
  content/articles/2009/2009-09-30_flickr-et-openstreetmap-main-dans-la-main.md
  mkdocs.yml
Labels: mkdocs, articles, tipex

#742 Corrige quelques 404
  config/plugins_redirections.yml
  mkdocs.yml
Labels: mkdocs, tipex

#743 Amélioration : active l'option pour ajouter _blank à tous les liens externes
  mkdocs.yml
Labels: mkdocs

#744 Correction de quelques erreurs de linter
  content/rdp/2012/rdp_2012-04-06.md
  content/rdp/2013/rdp_2013-06-14.md
  content/rdp/2013/rdp_2013-06-28.md
  content/rdp/2014/rdp_2014-11-28.md
  content/rdp/2015/rdp_2015-03-27.md
  content/rdp/2015/rdp_2015-11-13.md
  content/rdp/2015/rdp_2015-12-11.md
  content/rdp/2016/rdp_2016-12-05.md
  content/rdp/2020/rdp_2020-06-12.md
  content/rdp/2022/rdp_2022-09-09.md
Labels: rdp, tipex

#745 Correction de certaines erreurs linter sur RDP 2013
  content/rdp/2013/rdp_2013-10-11.md
  content/rdp/2013/rdp_2013-10-25.md
  content/rdp/2013/rdp_2013-11-15.md
Labels: tipex

#746 Rétablis la syntaxe de l'autrice @KazeNoOni
  content/rdp/2022/rdp_2022-11-04.md
Labels: rdp, tipex

#747 Correction de certaines erreurs linter
  content/rdp/2013/rdp_2013-05-24.md
  content/rdp/2013/rdp_2013-05-31.md
  content/rdp/2013/rdp_2013-08-09.md
  content/rdp/2013/rdp_2013-08-30.md
  content/rdp/2013/rdp_2013-09-27.md
  content/rdp/2013/rdp_2013-10-11.md
  content/rdp/2013/rdp_2013-11-01.md
  content/rdp/2013/rdp_2013-11-08.md
  content/rdp/2014/rdp_2014-03-21.md
  content/rdp/2015/rdp_2015-07-17.md
  content/rdp/2016/rdp_2016-01-15.md
Labels: rdp, tipex

#752 typo nom @Michael-cd30
  content/rdp/2022/rdp_2022-11-04.md
Labels: rdp, tipex

#753 Corrige lien conférence Yvan Bédard
  config/plugins_redirections.yml
Labels: tipex

#749 Nettoyage des RDP de 2013
  .pre-commit-config.yaml
  config/plugins_redirections.yml
  content/rdp/2013/rdp_2013-01-04.md
  content/rdp/2013/rdp_2013-01-11.md
  content/rdp/2013/rdp_2013-01-25.md
  content/rdp/2013/rdp_2013-02-01.md
  content/rdp/2013/rdp_2013-03-29.md
  content/rdp/2013/rdp_2013-04-05.md
  content/rdp/2013/rdp_2013-04-12.md
  content/rdp/2013/rdp_2013-04-19.md
  content/rdp/2013/rdp_2013-04-26.md
  content/rdp/2013/rdp_2013-05-03.md
  content/rdp/2013/rdp_2013-05-10.md
  content/rdp/2013/rdp_2013-05-17.md
  content/rdp/2013/rdp_2013-05-24.md
  content/rdp/2013/rdp_2013-05-31.md
  content/rdp/2013/rdp_2013-06-14.md
  content/rdp/2013/rdp_2013-06-21.md
  content/rdp/2013/rdp_2013-06-28.md
  content/rdp/2013/rdp_2013-07-12.md
  content/rdp/2013/rdp_2013-07-19.md
  content/rdp/2013/rdp_2013-07-26.md
  content/rdp/2013/rdp_2013-08-02.md
  content/rdp/2013/rdp_2013-08-09.md
  content/rdp/2013/rdp_2013-08-30.md
  content/rdp/2013/rdp_2013-09-13.md
  content/rdp/2013/rdp_2013-09-20.md
  content/rdp/2013/rdp_2013-09-27.md
  content/rdp/2013/rdp_2013-10-04.md
  content/rdp/2013/rdp_2013-10-11.md
  content/rdp/2013/rdp_2013-10-18.md
  content/rdp/2013/rdp_2013-10-25.md
  content/rdp/2013/rdp_2013-11-01.md
  content/rdp/2013/rdp_2013-11-08.md
  content/rdp/2013/rdp_2013-11-15.md
  content/rdp/2013/rdp_2013-11-22.md
  content/rdp/2013/rdp_2013-11-29.md
  content/rdp/2013/rdp_2013-12-06.md
  content/rdp/2013/rdp_2013-12-13.md
  content/rdp/2013/rdp_2013-12-20.md
Labels: rdp, tipex

#757 Active glightbox sur la version free
  mkdocs-free.yml
Labels: enhancement, mkdocs

#756 Outillage : ajoute un hook pour empêcher les liens internes absolus
  content/articles/2014/2014-03-07_dans_le_geotipi.md
  content/articles/2020/2020-04-13_chasse_oeufs_paques_cartes_geoportail_minecraft.md
  content/articles/2021/2021-01-04_bilan_2020_perspectives_2021.md
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
  content/articles/2021/2021-12-10_openmobilityindicators.md
  content/contribuer/internal/markdown_engine.md
  content/rdp/2014/rdp_2014-04-11.md
  content/rdp/2022/rdp_2022-03-18.md
  content/rdp/2022/rdp_2022-07-29.md
  content/rdp/2022/rdp_2022-08-26.md
  content/rdp/2022/rdp_2022-09-09.md
  content/rdp/2022/rdp_2022-09-23.md
  content/team/jvig.md
  content/team/pgen.md
  hooks/__init__.py
  hooks/mkdocs/__init__.py
  hooks/mkdocs/check_hyperlinks.py
  mkdocs-free.yml
  mkdocs.yml
  requirements-insiders.txt
Labels: enhancement, mkdocs

#760 Ajoute le lien vers le compte Mastodon
  config/extra_social.yml
  content/theme/assets/stylesheets/homepage.css
  content/theme/home.html
  mkdocs-free.yml
  mkdocs.yml
Labels: enhancement, mkdocs, thème

#759 Corrige le favicon manquant
  requirements-insiders.txt
Labels: bug, dependencies

#755 Ajout des redirections des RDP
  config/plugins_redirections.yml
Labels: enhancement

#762 Fix title typo
  content/articles/2021/2021-09-22_odk_postgis_3.md
Labels: articles, tipex

#750 Ajout article QGIS zooms circulaires
  content/articles/2022/2022-11-17_zoom_circulaires_mise_en_page_qgis.md
  content/team/jpru.md
Labels: contribution, articles, contribution externe

#764 Met l'article de @jeremieprudhomme en page d'accueil
  content/theme/home.html
Labels: thème

#765 CI/CD : utilise Python 3.11 par défault
  .github/workflows/deploy.yml
  .github/workflows/issue_comment.yml
  .github/workflows/pr_checker_build.yml
  .vscode/settings.json
Labels: ci-cd

#767 Pointe sur le dépôt à jour de @pasqal
  content/rdp/2021/rdp_2021-03-26.md
Labels: rdp, tipex

#771 Extrait enrichi : corrige guillemets/apostrophe
  content/articles/2009/2009-01-14_openlayers-pouvoir-realiser-un-padding-dans-une-infobulle.md
Labels: articles, tipex

#772 Change icone vers article de traduction
  content/rdp/2022/rdp_2022-11-18.md
Labels: rdp, tipex

#770 Réorganise le guide de contribution sur les images et le CDN
  content/articles/2020/2020-08-31_geotribu_histoire.md
  content/articles/2020/2020-12-30_deployer_geotribu_a_la_maison.md
  content/articles/2021/2021-01-04_bilan_2020_perspectives_2021.md
  content/articles/2021/2021-05-14_commentaires_migration_disqus_isso.md
  content/contribuer/guides/.pages
  content/contribuer/guides/audio.md
  content/contribuer/guides/authoring.md
  content/contribuer/guides/cdn-images-hebergement.md
  content/contribuer/guides/cdn-images-recherche.md
  content/contribuer/guides/diagrams.md
  content/contribuer/guides/emoji.md
  content/contribuer/guides/image.md
  content/contribuer/guides/licensing.md
  content/contribuer/guides/markdown_basics.md
  content/contribuer/guides/markdown_quality.md
  content/contribuer/guides/metadata_yaml_frontmatter.md
  content/contribuer/guides/twitter.md
  content/contribuer/guides/video.md
  content/contribuer/rdp/add_news.md
  content/team/index.md
Labels: contribution, articles

#774 Corrige erreur script et typo
  content/contribuer/guides/cdn-images-recherche.md
Labels: contribution, tipex

#769 Redirections articles
  config/plugins_redirections.yml
  config/redirection_mapping_geotribu_tutoriels.txt
Labels: enhancement

#775 Corrige lien newsletter dans la dernière RDP
  content/rdp/2022/rdp_2022-11-18.md
Labels: rdp, tipex
