Repository geotribu/website, pull requests merged in 2022-06, with the labels that each got.

#615 Coquilles description
  content/rdp/2022/rdp_2022-06-03.md
Labels: rdp

#617 rdp_2022-06-03: correction url lidarhd
  content/rdp/2022/rdp_2022-06-03.md
Labels: tipex

#618 Active le bouton refus total des cookies
  .mailmap
  mkdocs.yml
  requirements-free.txt
  requirements-insiders.txt
Labels: mkdocs, dependencies

#620 Article Mapillary - Rappel des conditions d'utilisation
  content/articles/2022/2022-05-31_donnees_mapillary.md
Labels: articles

#621 Articles 2008 - Retire le préfixe art_
  content/articles/2008/2008-08-22_1-introduction-a-l-api-google-maps.md
  content/articles/2008/2008-08-22_2-enrichir-la-carte-avec-des-boutons-et-des-controles.md
  content/articles/2008/2008-08-22_3-introduction-sur-les-marqueurs-et-premiere-utilisation-d-un-evenement.md
  content/articles/2008/2008-08-22_4-introduction-sur-les-polylignes.md
  content/articles/2008/2008-08-22_5-polylignes-suite-la-terre-n-est-pas-plate.md
  content/articles/2008/2008-08-22_afficher-des-infobulles-sur-des-objets.md
  content/articles/2008/2008-08-22_ajouter-des-shp-dans-geoserver.md
  content/articles/2008/2008-08-22_ajouter-une-barre-de-dessin-a-openlayers.md
  content/articles/2008/2008-08-22_creer-des-classes-en-javascript.md
  content/articles/2008/2008-08-22_deplacer-des-objets-vecteurs-sur-la-carte.md
  content/articles/2008/2008-08-22_initiation-a-mapserver.md
  content/articles/2008/2008-08-22_interfacer-openlayers-avec-un-serveur-wms-mapserver-geoserver.md
  content/articles/2008/2008-08-22_introduction-a-geoserver.md
  content/articles/2008/2008-08-22_introduction-a-la-programmation-orientee-objet-en-javascript.md
  content/articles/2008/2008-08-22_introduction-a-openlayers.md
  content/articles/2008/2008-08-24_6-personnaliser-les-controles.md
  content/articles/2008/2008-08-24_7-decouverte-de-l-api-google-maps-static-interlude.md
  content/articles/2008/2008-08-30_realiser-un-heritage-en-javascript.md
  content/articles/2008/2008-08-31_afficher-des-infobulles-sur-des-objets-part-2.md
  content/articles/2008/2008-08-31_ajouter-de-nouvelles-fonctionnalites-a-la-bibliotheque-openlayers.md
  content/articles/2008/2008-09-05_8-superposer-un-fichier-kml-et-enrichir-les-infobulles.md
  content/articles/2008/2008-09-07_10-utiliser-ajax-mysql-et-php-pour-afficher-des-marqueurs.md
  content/articles/2008/2008-09-07_11-geocoder-une-adresse.md
  content/articles/2008/2008-09-07_12-calculer-un-itineraire.md
  content/articles/2008/2008-09-07_9-superposer-une-carte-a-google-maps-avec-generation-prealable-de-tuiles.md
  content/articles/2008/2008-09-11_tilecache-ou-comment-booster-votre-wms.md
  content/articles/2008/2008-09-15_interfacer-openlayers-avec-un-serveur-wfs-mapserver.md
  content/articles/2008/2008-09-18_diagramme-des-classes-uml-d-openlayers.md
  content/articles/2008/2008-09-20_mettre-en-place-un-serveur-wfs-t.md
  content/articles/2008/2008-09-28_documentation-francaise-de-pywps.md
  content/articles/2008/2008-10-08_utiliser-la-fonctionnalite-strategy-d-openlayers-2-7.md
  content/articles/2008/2008-10-16_utiliser-un-sld-pour-filtrer-un-flux-wms-depuis-openlayers.md
  content/articles/2008/2008-10-28_1-introduction-a-l-api-google-earth.md
  content/articles/2008/2008-10-29_afficher-des-graphiques-sur-une-carte-openlayers-artichow.md
  content/articles/2008/2008-11-02_2-ajoutons-quelques-controles.md
  content/articles/2008/2008-11-02_3-la-tour-eiffel-en-3d.md
  content/articles/2008/2008-11-02_4-marqueurs-et-evenements.md
  content/articles/2008/2008-11-02_5-ajouter-un-fichier-kml.md
  content/articles/2008/2008-11-02_compiler-sa-propre-librairie-openlayers.md
  content/articles/2008/2008-11-02_le-coin-des-bonnes-adresses.md
  content/articles/2008/2008-11-03_premiers-pas-dans-la-cour-des-grands.md
  content/articles/2008/2008-11-05_workshop-openlayers.md
  content/articles/2008/2008-11-07_sortie-de-la-version-3-0-0-de-pywps.md
  content/articles/2008/2008-11-17_13-ajouter-la-couche-streetview.md
  content/articles/2008/2008-11-17_14-se-promener-place-du-capitole.md
  content/articles/2008/2008-11-17_15-ajouter-la-googlebar.md
  content/articles/2008/2008-11-17_workshop-quantum-gis.md
  content/articles/2008/2008-11-20_le-webmapping-de-demain-wfs-et-wps.md
  content/articles/2008/2008-11-30_creer-une-minimap-personnalisable-avec-mapfish-et-ext.md
  content/articles/2008/2008-12-01_6-afficher-un-objet-en-3d.md
  content/articles/2008/2008-12-06_comparatif-des-differentes-solutions-cartographiques-open-source.md
  content/articles/2008/2008-12-07_les-donnees-sig-devraient-elles-etre-libres.md
  content/articles/2008/2008-12-11_geoext-le-mariage-de-l-ihm-et-de-la-cartographie.md
  content/articles/2008/2008-12-15_afficher-des-tooltips-infobulles-sur-des-objets-part-3.md
  content/articles/2008/2008-12-16_appel-a-sponsoring-code-sprint-open-layers.md
  content/articles/2008/2008-12-22_personnaliser-les-icones-et-controles-d-openlayers.md
Labels: tipex

#626 geocom 2022
  content/rdp/2022/rdp_2022-06-17.md
Labels: rdp

#628 Article Mapillary de @igeofr en page d'accueil
  content/theme/home.html
Labels: thème

#630 Extraits enrichis et social cards : doc et peaufinage
  content/contribuer/internal/.pages
  content/contribuer/internal/seo_extraits_enrichis.md
  content/contribuer/internal/seo_social_cards_extraits_enrichis.md
  content/contribuer/internal/social_cards.md
  content/theme/main.html
  mkdocs-free.yml
  mkdocs.yml
Labels: mkdocs, thème, contribution

#637 Mode clair/sombre : ajoute la possibilité de suivre le réglage système de l'utilisateur/ice
  mkdocs.yml
  requirements-insiders.txt
Labels: enhancement, mkdocs, dependencies

#638 Update seo_extraits_enrichis.md
  content/contribuer/internal/seo_extraits_enrichis.md
Labels: contribution

#639 Fix hyperlink vers article mapscii
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp, tipex

#622 Article: Importer des données OSM dans PostgreSQL
  .gitignore
  content/articles/2022/2022-06-28_import-donnees-osm-postgresql-osm2pgsql-osmium.md
  content/team/jmou.md
  content/theme/home.html
  content/toc_nav_ignored/snippets/glossaire.md
Labels: thème, contribution, articles
