Repository geotribu/website, pull requests merged in 2023-04, with the labels that each got.

#892 Article: micro trottoir journees qgis fr 2023
  content/articles/2021/2021-10-15_irc_osgeo.md
  content/articles/2022/2022-01-12_rencontres_qgis_francophones_liens_utiles_ateliers.md
  content/articles/2023/2023-04-04_journees-qgis-fr-2023-videos-geointerviews-supports.md
  content/articles/templates/template_article.md
  content/rdp/2022/rdp_2022-11-04.md
  content/rdp/templates/template_rdp.md
  content/theme/home.html
  content/toc_nav_ignored/snippets/licenses/beerware.md
  content/toc_nav_ignored/snippets/licenses/cc4_by-nc-sa.md
  content/toc_nav_ignored/snippets/licenses/cc4_by-sa.md
Labels: rdp, thème, articles

#898 CI : corrige et améliore le vérificateur de lien en appliquant les scripts préalables au build
  .github/workflows/links_checker.yml
  .gitignore
  .linkcheckrrc
  .vscode/settings.json
  content/articles/2023/2023-02-28_portails-copernicus-2-passe.md
  content/rdp/2023/rdp_2023-03-17.md
Labels: bug, enhancement, ci-cd

#899 Corrige le trigramme de Samuel Deschamps-Berger
  config/plugins_redirections.yml
  content/articles/2021/2021-11-26_traitements_data_osm_geovelo.md
  content/team/sdes.md
Labels: contribution, articles, tipex

#904 Corrige la vidéo et les images d'une RDP de 2013
  content/articles/2023/2023-01-05_installer-qgis-sur-ubuntu.md
  content/articles/2023/2023-04-04_journees-qgis-fr-2023-videos-geointerviews-supports.md
  content/rdp/2013/rdp_2013-11-08.md
Labels: rdp, articles, tipex

#906 Typos sur la dernière RDP
  content/rdp/2023/rdp_2023-04-14.md
Labels: rdp, tipex

#907 Article sur le plugin PyQGIS Resource Browser
  content/articles/2023/2023-04-23_pyqgis-resource-browser-icones-qgis-plugin.md
  mkdocs.yml
  requirements-insiders.txt
Labels: mkdocs, dependencies, articles

#908 Corrige l'en-tête du dernier article
  content/articles/2023/2023-04-23_pyqgis-resource-browser-icones-qgis-plugin.md
Labels: articles, tipex

#909 Complément article Postgres OSM : droits du fichier ~/.pgpass
  content/articles/2022/2022-06-28_import-donnees-osm-postgresql-osm2pgsql-osmium.md
Labels: articles, contribution externe
