Repository geotribu/website, pull requests merged in 2023-12, with the labels that each got.

#1015 Fonctionnalité : active l'intégration de fichiers distants
  mkdocs-free.yml
  mkdocs-minimal.yml
  mkdocs.yml
Labels: enhancement, mkdocs

#983 Article : introduction à prettymaps
  content/articles/2023/2023-12-05_prettymaps-jolies-cartes-avec-openstreetmap-python-pandas-matplotlib.md
Labels: articles

#1019 Fonctionnalités : active les fonctionnalités passées dans la version community du thème Material 9.5
  config/plugins_git-committers.yml
  mkdocs-free.yml
  mkdocs.yml
  requirements-free.txt
  requirements-insiders.txt
  requirements.txt
Labels: enhancement, mkdocs, dependencies

#1020 Article GDAL BAL BAN : Ajout icone et sous-titre
  content/articles/2021/2021-09-07_traiter_fichiers_adresse_gdal_csv_vrt.md
Labels: articles

#1021 fix: restaure l'accolade fermante manquante pour les contenus à plusi…
  content/theme/partials/schemas.html
Labels: bug, thème

#1016 Article : DuckDB et les données spatiales
  .vscode/settings.json
  content/articles/2023/2023-12-19_duckdb-donnees-spatiales.md
  content/team/ffou.md
Labels: contribution, articles, contribution externe

#1025 Update .mailmap : ajout email Florent Fougères
  .mailmap
Labels: team, contribution externe

#1026 tags: ajoute quelques icônes pour Parquet et DuckDB
  config/extra_tags.yml
  config/theme_icon.yml
Labels: enhancement
