Repository geotribu/website, pull requests merged in 2023-11, with the labels that each got.

#1008 Fonctionnalité : ajoute un bouton pour visualiser les sources de la page en plus de l'éditer
  mkdocs.yml
  requirements-insiders.txt
Labels: enhancement, mkdocs

#1001 Article : retour sur les journées R d'Avignon
  content/articles/2023/2023-11-10_retour-conference-journees-R-2023.md
Labels: articles, contribution externe

#1009 Corrige la paternité du package haapign
  content/articles/2023/2023-11-10_retour-conference-journees-R-2023.md
Labels: articles, tipex

#1011 Supprime le hook mkdocs de vérification des liens
  hooks/mkdocs/G001_check_hyperlinks_internal.py
  mkdocs-free.yml
  mkdocs.yml
Labels: mkdocs

#1013 Corrige la description
  content/articles/2014/2014-01-06_plein_flux_sur_la_geomatique.md
Labels: articles, tipex
