Repository geotribu/website, pull requests merged in 2023-03, with the labels that each got.

#869 Article : Copernicus dataspace end 3/3
  content/articles/2023/2023-02-21_portails-copernicus-1-donnees.md
  content/articles/2023/2023-02-28_portails-copernicus-2-passe.md
  content/articles/2023/2023-03-07_portails-copernicus-3-futur.md
Labels: articles, contribution externe

#875 Corrections mineures sur l'article Python Windows
  content/articles/2020/2020-06-19_setup_python.md
Labels: articles

#874 Article : préparer la conférence QGIS FR 2023 avec QDT
  content/articles/2023/2023-03-12_conference-qgis-fr-2023-preparer-profil-qdt-.md
Labels: articles

#876 Coquilles article conf QGIS FR
  content/articles/2023/2023-03-12_conference-qgis-fr-2023-preparer-profil-qdt-.md
Labels: articles, tipex

#878 Ajout étape de personnalisation du chemin de QGIS
  content/articles/2023/2023-03-12_conference-qgis-fr-2023-profil-qdt-qgis-deployment-toolbelt.md
Labels: tipex

#881 Actualise le logo de cartONG dans les contenus
  content/articles/2010/2010-08-18_cartong_forum_geong.md
  content/rdp/2014/rdp_2014-05-16.md
  content/rdp/2014/rdp_2014-08-22.md
  content/rdp/2021/rdp_2021-09-24.md
  content/rdp/2022/rdp_2022-10-07.md
Labels: tipex

#882 MAJ le thème en 9.1
  content/rdp/2015/rdp_2015-02-06.md
  mkdocs.yml
  requirements-insiders.txt
Labels: rdp, mkdocs, dependencies

#883 Corrige l'image inaccessible des 7èmes rencontres des dynamiques régionales de l'information géographique
  content/articles/2013/2013-03-07_rencontres_dynamiques_regionales_en_information_geographique.md
Labels: tipex

#885 Corrige les liens avec des trémas sur Wikipedia
  content/rdp/2023/rdp_2023-03-17.md
Labels: rdp, tipex

#886 Fix syntaxe texte barré
  content/rdp/2023/rdp_2023-03-17.md
Labels: rdp, tipex

#831 Article : Reconstitution d'images aériennes historiques
  content/articles/2023/2023-03-22_images_aeriennes_historiques.md
Labels: articles

#887 Améliore la redirection post preview
  .github/workflows/pr_cleaner_post_merge.yml
  scripts/redirect.html
Labels: ci-cd

#880 Article de présentation du site PyQGIS Icons Cheatsheet
  content/articles/2023/2023-03-24_pyqgis-icones-cheatsheet-automatisation.md
Labels: articles

#889 Ajoute le lien du site en question sur l'image
  content/articles/2023/2023-03-24_pyqgis-icones-cheatsheet-automatisation.md
Labels: articles

#888 Fonctionnalité : expose les derniers articles et revues de presse dans la configuration
  .github/workflows/deploy.yml
  .github/workflows/pr_checker_build.yml
  .gitignore
  .mailmap
  .pre-commit-config.yaml
  config/extra_latest.yml
  content/articles/2023/2023-03-27_validation-data-HOT-OSM.md
  content/theme/home.html
  hooks/mkdocs/G001_check_hyperlinks_internal.py
  scripts/mkdocs_populate_latest.py
  scripts/rm_data-mediabox.py
Labels: ci-cd, thème, articles
