Repository geotribu/website, pull requests merged in 2023-02, with the labels that each got.

#850 Migration de la page des icônes intégrées de QGIS vers le site dédié
  config/plugins_redirections.yml
  content/articles/2021/2021-02-02_pyqgis_previsualiser_images_integrees.md
  content/toc_nav_ignored/qgis_resources_preview_table.md
Labels: articles, tipex

#851 Améliore l'intégration avec Mastodon
  config/extra_social.yml
  content/theme/home.html
  requirements-insiders.txt
Labels: dependencies, thème

#854 Corrige une typo sur le lien vers le profil de Docuracy
  content/rdp/2023/rdp_2023-02-03.md
Labels: tipex

#855 Corrige le hashtag du MapFailbruaryChallenge
  content/rdp/2023/rdp_2023-02-03.md
Labels: tipex

#856 Retire le contour et l'ombre du logo
  content/theme/assets/stylesheets/extra.css
Labels: thème

#857 Correction de quelques redirections liées au site contribuer
  .github/workflows/deploy.yml
  config/plugins_redirections.yml
Labels: ci-cd

#861 RDP 2014-02-07 - Retire les hyperliens des images
  content/rdp/2014/rdp_2014-02-07.md
Labels: rdp, tipex

#835 Article : Portail d'accès aux données Sentinel passé et évolutions
  content/articles/2023/2023-02-21_portails-copernicus-1-donnees.md
  content/team/ndavid.md
Labels: contribution, articles, contribution externe

#858 geoevent : code sprint georchestra
  content/rdp/2023/rdp_2023-02-17.md
Labels: rdp, contribution externe

#863 MAJ du thème pour corriger des bugs : encodage des légendes d'image et lien avec profil mastodon
  requirements-insiders.txt
Labels: bug, dependencies

#864 Copernicus dataspace 2
  .mailmap
  content/articles/2023/2023-02-21_portails-copernicus-1-donnees.md
  content/articles/2023/2023-02-28_portails-copernicus-2-passe.md
  content/team/ndav.md
  content/team/ndavid.md
  content/theme/home.html
Labels: thème, contribution, articles, contribution externe
