Repository geotribu/website, pull requests merged in 2023-05, with the labels that each got.

#914 Remplace les anciens liens du guide de contribution
  .github/ISSUE_TEMPLATE/ARTICLE.yml
  .github/ISSUE_TEMPLATE/RDP_NEWS.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr_linter_markdown.yml
  README.md
Labels: tipex

#916 Nettoyage : supprime la page avec les stats GA
  config/plugins_redirections.yml
  content/team/.pages
  content/team/statistiques.md
Labels: contribution, tipex

#780 Harmonisation des vignettes
  content/rdp/2013/rdp_2013-11-29.md
  content/rdp/2013/rdp_2013-12-13.md
  content/rdp/2014/rdp_2014-12-05.md
  content/rdp/2014/rdp_2014-12-24.md
  content/rdp/2015/rdp_2015-01-02.md
  content/rdp/2015/rdp_2015-02-20.md
  content/rdp/2016/rdp_2016-01-15.md
  content/rdp/2016/rdp_2016-07-01.md
  content/rdp/2020/rdp_2020-04-30.md
  content/rdp/2020/rdp_2020-08-07.md
  content/rdp/2020/rdp_2020-09-04.md
  content/rdp/2020/rdp_2020-10-02.md
  content/rdp/2020/rdp_2020-10-16.md
  content/rdp/2020/rdp_2020-10-30.md
  content/rdp/2020/rdp_2020-11-13.md
  content/rdp/2021/rdp_2021-01-15.md
  content/rdp/2021/rdp_2021-01-29.md
  content/rdp/2021/rdp_2021-02-12.md
  content/rdp/2021/rdp_2021-02-26.md
  content/rdp/2021/rdp_2021-03-12.md
  content/rdp/2021/rdp_2021-03-26.md
  content/rdp/2021/rdp_2021-07-02.md
  content/rdp/2021/rdp_2021-10-08.md
  content/rdp/2021/rdp_2021-10-22.md
  content/rdp/2021/rdp_2021-12-03.md
  content/rdp/2022/rdp_2022-04-15.md
  content/rdp/2022/rdp_2022-08-26.md
  content/rdp/2022/rdp_2022-10-07.md
Labels: tipex

#923 CI/CD : rend le déploiement plus paramétrable (env vars) et moderne (GH Actions)
  .github/workflows/deploy.yml
  content/articles/2020/2020-12-30_deployer_geotribu_a_la_maison.md
  mkdocs.yml
Labels: ci-cd, mkdocs, articles

#924 Mkdocs : rend (encore) le build paramétrable avec des variables d'environnement
  .github/workflows/pr_checker_build.yml
  mkdocs-free.yml
  mkdocs-minimal.yml
  mkdocs.yml
Labels: ci-cd, mkdocs

#925 geOrchestra : geOcom 2023 pour la GeoRDP 12/05/2023
  content/rdp/2023/rdp_2023-05-12.md
Labels: rdp, contribution externe

#920 GeoRDP du 12 mai 2023
  content/rdp/2023/rdp_2023-05-12.md
Labels: rdp

#928 fix Tile38 link, typo, add streets.gl link
  content/rdp/2023/rdp_2023-05-12.md
Labels: rdp, tipex

#929 Corrige les 404 récentes
  config/plugins_redirections.yml
Labels: mkdocs, tipex

#931 MAJ news appel à communs
  content/rdp/2023/rdp_2023-05-26.md
Labels: rdp, contribution externe

#930 Nettoyage - Réintègration d'images externes
  config/plugins_redirections.yml
  content/articles/2023/2023-04-04_journees-qgis-fr-2023-videos-geointerviews-supports.md
  content/rdp/2014/rdp_2014-10-31.md
  content/rdp/2015/rdp_2015-11-13.md
  requirements-insiders.txt
Labels: rdp, dependencies, articles, tipex

#926 Article détection du carto-vandalisme dans OSM
  content/articles/2023/2023-05-24_carto-vandalisme_dans_OSM.md
  content/team/qthy.md
Labels: contribution, team, articles, contribution externe

#932 Coquillettes et crustacés sur la dernière RDP
  content/rdp/2023/rdp_2023-05-26.md
Labels: rdp, tipex
