Repository geotribu/website, pull requests merged in 2023-06, with the labels that each got.

#941 Correction de coquilles sur la dernière RDP
  content/rdp/2023/rdp_2023-06-09.md
Labels: rdp, tipex

#942 Corrections typos et formulations.
  content/rdp/2023/rdp_2023-06-09.md
Labels: rdp, tipex

#944 Coquille syntaxe repérée par Denis
  content/rdp/2023/rdp_2023-06-09.md
Labels: rdp, tipex

#945 Corrige la vidéo sur l'article Geotribu 2014, nos prospectives géomatiques
  content/articles/2014/2014-01-13_2014_nos_perspectives_geomatiques.md
Labels: articles, tipex

#946 MAJ le thème Material dans sa dernière version
  requirements-insiders.txt
Labels: dependencies

#948 Exclue le téléchargement des emojis
  content/rdp/2020/rdp_2020-12-11.md
  mkdocs.yml
Labels: rdp, mkdocs
