Repository geotribu/website, pull requests merged in 2023-10, with the labels that each got.

#991 Fonctionnalité : facilite l'intégration d'un post issu du réseau Mastodon
  content/theme/main.html
  mkdocs.yml
Labels: enhancement

#993 Applique la gestion des intégrations Twitter et Mastodon au mode gratuit
  mkdocs-free.yml
Labels: enhancement

#996 Corrige les liens pétés repérés par linkchekr
  content/rdp/2011/rdp_2011-05-27.md
  content/rdp/2022/rdp_2022-01-07.md
Labels: rdp

#997 Ajout bio Christian Quest
  content/team/cque.md
Labels: contribution

#989 Article : Panoramax, quel bilan tirer de la phase de construction ?
  content/articles/2023/2023-10-16_panoramax-bilan-phase-construction.md
Labels: articles, contribution externe

#998 Thème : MAJ l'extension emoji
  .vscode/settings.json
  .vscode/tasks.json
  mkdocs.yml
  requirements-insiders.txt
Labels: mkdocs, dependencies

#995 Refacto : déplace les schémas articles dans un partial personnalisé
  content/theme/main.html
  content/theme/partials/schemas.html
Labels: thème

#1002 MAJ l'extension emoji sur les configs free et minimales
  mkdocs-free.yml
  mkdocs-minimal.yml
  requirements-free.txt
Labels: mkdocs, dependencies

#1003 Typos sur l'article QDT
  content/articles/2023/2023-03-12_conference-qgis-fr-2023-profil-qdt-qgis-deployment-toolbelt.md
Labels: articles

#1004 Fonctionnalités : active les social cards pour le mode gratuit
  hooks/mkdocs/G003_social_cards_adapter.py
  mkdocs-free.yml
  mkdocs-minimal.yml
  mkdocs.yml
Labels: mkdocs
