Repository geotribu/website, pull requests merged in 2023-01, with the labels that each got.

#796 Contribution : corrige et améliore le guide sur la contribution en mode local
  Dockerfile
  content/contribuer/.pages
  content/contribuer/contribution_guide.md
  content/contribuer/edit/fix_content_from_website.md
  content/contribuer/edit/local_edition_setup.md
  content/contribuer/guides/markdown_quality.md
  content/contribuer/rdp/.pages
  content/contribuer/rdp/add_news.md
  content/contribuer/rdp/create_rdp.md
  content/contribuer/rdp/structure_news.md
  hooks/mkdocs/check_hyperlinks.py
Labels: contribution

#798 Correction d'une vidéo sur une RDP de 2013
  content/rdp/2013/rdp_2013-07-26.md
Labels: rdp, tipex

#799 RDP du 11 janvier 2013 - Correction vidéo et ifram
  content/rdp/2013/rdp_2013-01-11.md
Labels: rdp, tipex

#800 RDP 23 janvier 2015 : correction iframes et videos
  content/rdp/2015/rdp_2015-01-23.md
Labels: rdp, tipex

#801 Corrige la minification des fichiers CSS personnalisés
  content/theme/home.html
  mkdocs.yml
Labels: mkdocs, thème

#803 Mise à jour du thème sur la dernière évolution de la version 8
  content/index.md
  requirements-insiders.txt
Labels: dependencies, thème

#804 Corrige les versions free et minimales
  content/rdp/2021/rdp_2021-01-29.md
  mkdocs-free.yml
  mkdocs-minimal.yml
  mkdocs.yml
Labels: mkdocs

#802 Article : installer QGIS sur Ubuntu
  config/extra_tags.yml
  config/theme_icon.yml
  content/articles/.pages
  content/articles/2023/.pages
  content/articles/2023/2023-01-05_installer-qgis-sur-ubuntu.md
  content/theme/home.html
  mkdocs.yml
Labels: mkdocs, thème, articles

#807 GeoRDP du 6 janvier 2023 : news communauté georchestra
  content/rdp/2023/rdp_2023-01-06.md
Labels: rdp, contribution externe

#811 Corrige quelques 404 signalées par Google
  config/plugins_redirections.yml
Labels: tipex

#607 Article : QGIS - Index des voies
  .mailmap
  content/articles/2023/2023-01-13_qgis_index_voies.md
Labels: articles

#817 Répare le build en mode free - le paramètre plugins/tags/casefol est réservé aux insiders
  mkdocs-free.yml
Labels: bug

#818 Met à jour le thème Material vers la version majeure 9
  content/theme/main.html
  content/theme/partials/comments.html
  mkdocs-free.yml
  mkdocs.yml
  requirements-free.txt
  requirements-insiders.txt
Labels: mkdocs, dependencies, thème

#819 Active les fls d'Ariane (breadcrumbs)
  mkdocs.yml
Labels: mkdocs

#820 Active les commentaires uniquement pour certains sections et contenus
  content/articles/.meta.yml
  content/rdp/.meta.yml
  content/team/confidentialite.md
  content/team/contributors.md
  content/team/credits.md
  content/team/index.md
  content/team/sponsoring.md
  content/team/statistiques.md
  content/theme/partials/comments.html
Labels: enhancement

#821 Exclue la nouvelle URL du CDN de Twemoji
  mkdocs.yml
Labels: mkdocs

#827 RDP mars 2016 - Correction du lien vers une image et les vidéos intég…
  content/rdp/2016/rdp_2016-03-11.md
  mkdocs.yml
Labels: rdp, mkdocs, tipex

#828 MAJ du lien vers site CNIG
  content/rdp/2022/rdp_2022-09-09.md
Labels: rdp, tipex

#793 Recherche : applique un boost aux contenus les plus récents
  content/articles/2008/.meta.yml
  content/articles/2009/.meta.yml
  content/articles/2010/.meta.yml
  content/articles/2011/.meta.yml
  content/articles/2012/.meta.yml
  content/articles/2013/.meta.yml
  content/articles/2014/.meta.yml
  content/articles/2015/.meta.yml
  content/articles/2020/.meta.yml
  content/articles/2021/.meta.yml
  content/articles/2022/.meta.yml
  content/articles/2023/.meta.yml
  content/rdp/2010/.meta.yml
  content/rdp/2011/.meta.yml
  content/rdp/2012/.meta.yml
  content/rdp/2013/.meta.yml
  content/rdp/2014/.meta.yml
  content/rdp/2015/.meta.yml
  content/rdp/2016/.meta.yml
  content/rdp/2017/.meta.yml
  content/rdp/2020/.meta.yml
  content/rdp/2021/.meta.yml
  content/rdp/2022/.meta.yml
  content/rdp/2023/.meta.yml
Labels: enhancement

#814 Fonctionnalité : ajoute un hook pour vérifier le poids des images
  .github/workflows/pr_checker_build.yml
  .vscode/settings.json
  content/articles/2008/2008-08-22_ajouter-des-shp-dans-geoserver.md
  content/articles/2008/2008-08-31_afficher-des-infobulles-sur-des-objets-part-2.md
  content/articles/2008/2008-11-02_4-marqueurs-et-evenements.md
  content/articles/2009/2009-02-09_sortie-de-qgis-1-0-kore.md
  content/articles/2009/2009-03-03_geodjango-le-framework-cartographique-de-haut-niveau.md
  content/articles/2009/2009-04-16_mscompanion-l-editeur-wysiwyg-de-mapfile.md
  content/articles/2009/2009-05-31_a-la-decouverte-d-openjump.md
  content/articles/2010/2010-02-05_fluster2.md
  content/articles/2011/2011-11-08_videos_foss4g.md
  content/articles/2011/2011-12-01_cartographier_monde_outils_libres.md
  content/articles/2012/2012-06-06_vacances_offertes_par_tomtom.md
  content/articles/2012/2012-07-05_open_data_paroles_actes.md
  content/articles/2021/2021-06-08_odk_postgis_1.md
  content/rdp/2011/rdp_2011-01-14.md
  content/rdp/2011/rdp_2011-02-04.md
  content/rdp/2011/rdp_2011-03-04.md
  content/rdp/2013/rdp_2013-03-29.md
  content/rdp/2013/rdp_2013-06-21.md
  content/rdp/2013/rdp_2013-08-02.md
  content/rdp/2013/rdp_2013-08-09.md
  content/rdp/2013/rdp_2013-10-18.md
  content/rdp/2014/rdp_2014-11-14.md
  content/rdp/2020/rdp_2020-08-07.md
  content/rdp/2020/rdp_2020-10-02.md
  content/rdp/2021/rdp_2021-01-15.md
  content/team/rbov.md
  hooks/mkdocs/G001_check_hyperlinks_internal.py
  hooks/mkdocs/G002_check_images_size.py
  mkdocs.yml
  requirements.txt
  scripts/mkdocs_config_merger.py
Labels: rdp, ci-cd, mkdocs, dependencies, contribution, articles

#836 Corrige le chemin du hook mkdocs dans la configuration free
  mkdocs-free.yml
Labels: bug, mkdocs

#837 Skippe les jobs nécessitant un token avec droits d'écriture quand une…
  .github/workflows/pr_linter_markdown.yml
Labels: ci-cd

#839 Contribution : améliore le formulaire de proposition de news
  .github/ISSUE_TEMPLATE/RDP_NEWS.yml
  scripts/issue_comment_rdp_template.jinja
  scripts/issue_comment_templater_rdp.py
Labels: ci-cd

#816 Article: Retour vers le futur du 30DayMapChallenge
  content/articles/2023/2023-01-28_retour-vers-le-futur-du-30dmc.md
  content/team/gall.md
Labels: contribution, articles, contribution externe

#841 CI : utilise les locales françaises pour gérer quelques cas particuliers
  .github/workflows/deploy.yml
  .github/workflows/pr_checker_build.yml
  .github/workflows/pr_preview_netlify.yml
Labels: ci-cd

#812 Carte de voeux 2023
  .pre-commit-config.yaml
  content/articles/2020/2020-09-11_html2markdown.md
  content/articles/2023/2023-01-30_voeux-geotribu-2023.md
  content/rdp/2021/rdp_2021-12-24.md
  content/theme/assets/stylesheets/extra.css
  requirements-insiders.txt
Labels: rdp, dependencies, thème, articles

#846 Typo
  content/articles/2023/2023-01-30_voeux-geotribu-2023.md
Labels: articles, tipex

#847 Complète les quelques redirections manquantes suite à la migration du guide de contribution
  config/plugins_redirections.yml
Labels: tipex

#848 Ajoute l'icône tente pour le mot-clé Geotribu
  config/extra_tags.yml
  config/theme_icon.yml
  package.json
Labels: thème
