Repository geotribu/website, pull requests merged in 2023-09, with the labels that each got.

#977 Homogénéise les chemins par défaut du cache des plugins
  mkdocs.yml
Labels: mkdocs

#978 Corrige les erreurs de syntaxe dans les liens ou images qui font planter le build
  content/articles/2012/2012-06-06_vacances_offertes_par_tomtom.md
  content/articles/2014/2014-08-29_itw_drones_crisis.md
  content/articles/2021/2021-12-31_mapscii_osm_terminal.md
  content/rdp/2011/rdp_2011-11-18.md
  content/rdp/2012/rdp_2012-08-03.md
  content/rdp/2012/rdp_2012-10-12.md
  content/rdp/2013/rdp_2013-04-12.md
  content/rdp/2013/rdp_2013-12-06.md
  content/rdp/2015/rdp_2015-01-16.md
  content/rdp/2015/rdp_2015-01-23.md
  content/rdp/2020/rdp_2020-08-07.md
  content/rdp/2021/rdp_2021-12-24.md
  mkdocs.yml
  requirements-insiders.txt
  requirements.txt
Labels: rdp, mkdocs, dependencies, articles, tipex

#975 Article : tutoriel kit de géolocalisation haute précision (rover RTK) à bas coût et plug'n play
  .mailmap
  content/articles/2023/2023-09-09_tutoriel-geolocalisation-haute-precision.md
  content/team/jhan.md
Labels: contribution, articles

#981 Corrections et compléments 2023-09-09_tutoriel-geolocalisation-haute-precision.md
  content/articles/2023/2023-09-09_tutoriel-geolocalisation-haute-precision.md
Labels: articles
