Repository geotribu/website, pull requests merged in 2024-11, with the labels that each got.

#1221 chore(deps): MAJ la version du thème
  requirements-insiders.txt
Labels: thème

#1224 Modif assignees des issues de type news pour une RDP
  .github/ISSUE_TEMPLATE/RDP_NEWS.yml
Labels: rdp, outillage

#1225 article: Suivre le Vendée Globe 2024 depuis un SIG
  content/articles/2024/2024-11-20_vendee_globe_donnees_sig.md
  content/team/florent-fougeres.md
  mkdocs.yml
Labels: contributeurices, articles, contribution externe

#1216 [Article] Créer un environnement virtuel Python pour le développement de plugin QGIS avec VSCode sous Windows
  content/articles/2024/2024-11-25_pyqgis_environnement_dev_windows.md
  content/team/nicolas-godet.md
Labels: contributeurices, articles
