Repository geotribu/website, pull requests merged in 2024-07, with the labels that each got.

#1158 Article PDAL LiDAR : active les commentaires
  content/articles/2024/2024-06-24_lidar_hd_avec_pdal.md
Labels: articles, tipex

#1163 Régler couleur du texte des zones de saisie des commentaires isso
  content/theme/assets/stylesheets/extra.css
Labels: thème

#1164 fix(404): corrige le lien vers la page confidentialité depuis les commentaires
  content/theme/partials/comments.html
Labels: thème

#1143 ci: vérification entêtes markdown
  .github/workflows/pr_header_check.yml
  content/articles/2022/2022-01-11_quantifier_inegalites_traitement_meteo.md
  content/articles/2022/2022-05-24_releve_terrain_qfield.md
  content/articles/2022/2022-05-31_donnees_mapillary.md
  content/articles/2022/2022-09-30_carte_facon_ed_fairburn.md
  content/articles/2022/2022-12-09_mapillary_experience.md
  content/articles/2023/2023-01-28_retour-vers-le-futur-du-30dmc.md
  content/articles/2023/2023-03-12_conference-qgis-fr-2023-profil-qdt-qgis-deployment-toolbelt.md
  content/articles/2023/2023-12-05_prettymaps-jolies-cartes-avec-openstreetmap-python-pandas-matplotlib.md
  content/articles/2024/2024-02-06_mise_en_place_serveur_qfieldcloud.md
  content/articles/2024/2024-03-18_crowdscourcing_avec_cocarto.md
  content/articles/2024/2024-06-24_lidar_hd_avec_pdal.md
  requirements.txt
Labels: outillage, dependencies, articles

#1171 rdp: ajout illustration série d'été 2024 sur les géométries
  content/rdp/2024/rdp_2024-07-12.md
Labels: rdp, tipex

#1172 Loïc Bartoletti : ajout mention PostGIS
  content/team/loic-bartoletti.md
Labels: contributeurices

#1173 chore(deps): MAJ dépendances de thème et RSS
  requirements-free.txt
  requirements-insiders.txt
  requirements.txt
Labels: dependencies, thème

#1175 Fonctionnalité : ajoute le support de la syntaxe Math et LaTeX
  content/theme/assets/javascripts/mathjax.js
  mkdocs-free.yml
  mkdocs.yml
Labels: enhancement, mkdocs, thème

#1176 Article : Série été 2024 sur la tolérance en SIG - Billet annonce
  config/extra_tags.yml
  config/theme_icon.yml
  content/articles/2024/2024-07-16_2024-07-16_de-la-tolerance-en-sig-geometrie-01-annonce.md
Labels: mkdocs, articles

#1177 Article : Série été 2024 sur la tolérance en SIG - Chapitre 1 : Les calculs ne sont pas bons
  content/articles/2024/2024-07-16_de-la-tolerance-en-sig-geometrie-01-annonce.md
  content/articles/2024/2024-07-18_de-la-tolerance-en-sig-geometrie-02-calculs-intersects-qgis-pas-bons.md
Labels: articles

#1181 fix(images): remplace les logos Bing par le nouveau
  content/rdp/2011/rdp_2011-02-04.md
  content/rdp/2011/rdp_2011-04-22.md
  content/rdp/2011/rdp_2011-05-13.md
  content/rdp/2012/rdp_2012-06-29.md
  content/rdp/2013/rdp_2013-06-14.md
  content/rdp/2020/rdp_2020-06-12.md
Labels: tipex

#1182 Modif date variable dans template nouvelle rdp
  content/rdp/templates/template_rdp.md
Labels: rdp

#1179 Article : Série été 2024 sur la tolérance en SIG - Chapitre 2 : GEOS et QGIS
  content/articles/2024/2024-07-25_de-la-tolerance-en-sig-geometrie-02-qgis-et-geos.md
Labels: articles

#1169 Article prodige 2024
  content/articles/2024/2024-07-26_journee_annuelle_prodige_2024.md
Labels: articles, contribution externe
