Repository geotribu/website, pull requests merged in 2024-08, with the labels that each got.

#1185 Article : Série été 2024 sur la tolérance en SIG - Chapitre 3 : GRASS et SAGA
  config/extra_tags.yml
  config/plugins_redirections.yml
  config/theme_icon.yml
  content/articles/2024/2024-07-16_de-la-tolerance-en-sig-geometrie-00-annonce.md
  content/articles/2024/2024-07-18_de-la-tolerance-en-sig-geometrie-01-calculs-intersects-qgis-pas-bons.md
  content/articles/2024/2024-07-25_de-la-tolerance-en-sig-geometrie-02-qgis-et-geos.md
  content/articles/2024/2024-08-01_de-la-tolerance-en-sig-geometrie-03-grass-saga.md
Labels: mkdocs, articles

#1186 chore(deps): MAJ la version du thème
  requirements-insiders.txt
Labels: thème

#1174 Article geocom 2024
  content/articles/2024/2024-08-06_geocom_2024.md
Labels: articles, contribution externe

#1187 Article : Série été 2024 sur la tolérance en SIG - Chapitre 4 : SGBDR
  content/articles/2024/2024-07-16_de-la-tolerance-en-sig-geometrie-00-annonce.md
  content/articles/2024/2024-08-01_de-la-tolerance-en-sig-geometrie-03-grass-saga.md
  content/articles/2024/2024-08-08_de-la-tolerance-en-sig-geometrie-04-postgis-oracle-ms-sql-server.md
Labels: articles

#1189 Article : Série été 2024 sur la tolérance en SIG - Chapitre 5 : topologie
  content/articles/2024/2024-08-08_de-la-tolerance-en-sig-geometrie-04-postgis-oracle-ms-sql-server.md
  content/articles/2024/2024-08-15_de-la-tolerance-en-sig-geometrie-05-topologie-forces-et-limites.md
Labels: articles

#1190 Article : Série été 2024 sur la tolérance en SIG - Chapitre 6 : SFCGAL
  content/articles/2024/2024-07-16_de-la-tolerance-en-sig-geometrie-00-annonce.md
  content/articles/2024/2024-08-22_de-la-tolerance-en-sig-geometrie-06-sfcgal.md
Labels: articles

#1192 Modif rdp août 2024
  content/rdp/2024/rdp_2024-08-23.md
Labels: rdp

#1193 Article : Série été 2024 sur la tolérance en SIG - Chapitre 7 : ESRI & FME
  content/articles/2024/2024-07-16_de-la-tolerance-en-sig-geometrie-00-annonce.md
  content/articles/2024/2024-08-29_de-la-tolerance-en-sig-geometrie-07-esri-fme.md
Labels: articles

#1195 Fix article géométrie 7
  content/articles/2024/2024-08-29_de-la-tolerance-en-sig-geometrie-07-esri-fme.md
Labels: articles

#1194 Article : Série été 2024 sur la tolérance en SIG - Affinage post publication
  content/articles/2024/2024-08-15_de-la-tolerance-en-sig-geometrie-05-topologie-forces-et-limites.md
  content/articles/2024/2024-08-22_de-la-tolerance-en-sig-geometrie-06-sfcgal.md
  content/articles/2024/2024-08-29_de-la-tolerance-en-sig-geometrie-07-esri-fme.md
Labels: articles, tipex
