Repository geotribu/website, pull requests merged in 2024-12, with the labels that each got.

#1214 Article : retour sur le SotM 2024
  .mailmap
  content/articles/2024/2024-12-03_retour-sur-le-State-of-the-Map-France-2024-Lyon.md
  content/team/romain-lacroix.md
Labels: outillage, contributeurices, articles, contribution externe

#1235 fix(ci): change slack notif job syntax
  .github/workflows/manual_new_rdp.yml
Labels: rdp, outillage

#1236 build(deps): met à jour la version de mkdocs-material-insiders à 9.5.49-insiders-4.53.14
  requirements-insiders.txt
Labels: thème

#1231 article: vendée globe 2024 et SIG partie 2
  content/articles/2024/2024-11-20_vendee_globe_donnees_sig.md
  content/articles/2024/2024-12-18_vendee_globe_donnees_sig_partie2.md
  content/team/florent-fougeres.md
Labels: contributeurices, articles

#1232 Article : Plugin Layer Menu From Project : LE catalogue magique !
  content/articles/2024/2024-12-24_QGIS-Layers-Menu-From-Project-Le-catalogue-magique.md
  content/team/celine-pornin.md
  content/team/emilie-bigorne.md
Labels: contributeurices, articles

#1237 Mkdocs : utilise un hook de configuration plutôt que des scripts externes (1/2)
  .github/workflows/deploy.yml
  .github/workflows/links_checker.yml
  .github/workflows/pr_checker_build.yml
  .gitignore
  config/extra_latest.yml
  hooks/mkdocs/G000_load_subconfigs.py
  mkdocs-free.yml
  mkdocs-minimal.yml
  mkdocs.yml
  scripts/050_mkdocs_populate_latest.py
Labels: outillage, mkdocs
