Repository geotribu/website, pull requests merged in 2024-02, with the labels that each got.

#1051 feature: active le plugin typeset
  mkdocs.yml
Labels: enhancement, mkdocs

#1052 feature: désactive la numérotation systématique des lignes des bloc de code
  mkdocs-free.yml
  mkdocs-minimal.yml
  mkdocs.yml
Labels: enhancement, mkdocs

#1053 theme: MAJ dernière version
  requirements-insiders.txt
Labels: dependencies

#1043 Article: mise en place QFieldCloud custom
  content/articles/.pages
  content/articles/2023/2023-01-28_retour-vers-le-futur-du-30dmc.md
  content/articles/2024/2024-02-06_mise_en_place_serveur_qfieldcloud.md
  content/team/gall.md
Labels: articles, contribution externe

#1055 Page d'accueil : inverse la section des articles et celle des revues de presse
  content/theme/home.html
Labels: thème

#1058 Fonctionnalité : active les instant previews
  content/articles/2014/2014-03-07_dans_le_geotipi.md
  content/articles/2024/2024-02-06_mise_en_place_serveur_qfieldcloud.md
  mkdocs.yml
  requirements-insiders.txt
Labels: enhancement, mkdocs, dependencies, articles

#1059 feature: masque les adresses emails des auteurices
  mkdocs-free.yml
  mkdocs.yml
Labels: enhancement, mkdocs

#1060 Maintenance : MAJ le plugin mkdocs git committers plugin 2 pour utiliser le jeton d'API GitHub
  .github/workflows/deploy.yml
  config/plugins_git-committers.yml
  requirements.txt
Labels: ci-cd, dependencies

#1061 fix: bot RDP - corrige l'artifact avec le même nom
  .github/workflows/issue_comment.yml
Labels: bug, ci-cd

#1063 ci: MAJ autolabeler en v5 et affine les règles d'étiquetage uto
  .github/labeler.yml
  .github/workflows/auto-labeler.yml
Labels: ci-cd

#1064 dépendances: MAJ le CLI geotribu
  content/toc_nav_ignored/snippets/code/geotribu_cli_help.txt
  requirements.txt
Labels: dependencies, contenus communs

#1036 Article: guide mastodon à destination des géomaticien/nes
  content/articles/2024/2024-02-16_de-twitter-a-mastodon-guide-geo-import-liste-comptes.md
  content/articles/templates/template_article.md
  content/toc_nav_ignored/snippets/glossaire.md
Labels: articles, contenus communs

#1065 article: ajout post mastodon
  content/articles/2024/2024-02-16_de-twitter-a-mastodon-guide-geo-import-liste-comptes.md
Labels: articles

#982 Amélioration : insère automatiquement la date de publication à partir de l'en-tête
  content/articles/2023/2023-12-05_prettymaps-jolies-cartes-avec-openstreetmap-python-pandas-matplotlib.md
  content/articles/templates/template_article.md
  content/rdp/templates/template_rdp.md
  hooks/macros/__init__.py
  hooks/macros/custom_jinja.py
  mkdocs-free.yml
  mkdocs-minimal.yml
  mkdocs.yml
  requirements.txt
  scripts/new_rdp.sh
Labels: enhancement, outillage, mkdocs, dependencies

#1062 Lignes des blocs de code
  content/articles/2021/2021-02-15_ignfr2map_carte_liens_IGN_open-data_7_etapes.md
  content/articles/2021/2021-04-07_carte_reseau_bus.md
  content/articles/2021/2021-08-31_pg2datagouv.md
  content/articles/2021/2021-10-05_lien_sig_osm.md
  content/articles/2022/2022-05-31_donnees_mapillary.md
  content/articles/2022/2022-12-09_mapillary_experience.md
  content/articles/2023/2023-01-13_qgis_index_voies.md
  content/articles/2023/2023-03-22_images_aeriennes_historiques.md
Labels: articles

#1066 Article : Twitter --> Mastodon - Corrections d'Arnaud
  content/articles/2024/2024-02-16_de-twitter-a-mastodon-guide-geo-import-liste-comptes.md
Labels: tipex

#1068 Article Zeal : ajoute l'icône de page
  content/articles/2021/2021-03-02_utiliser_zeal_pour_qgis_developpement.md
Labels: articles, tipex

#1069 mkdocs: désactive les social cards par défaut
  .github/workflows/pr_checker_build.yml
  mkdocs-free.yml
  mkdocs.yml
Labels: outillage, mkdocs

#1071 Article : ajout icône à l'article SI3PO
  content/articles/2021/2021-05-25_biblio_powershell_si3p0.md
Labels: articles, tipex
