Repository geotribu/website, pull requests merged in 2024-05, with the labels that each got.

#1113 Outillage : menues corrections du hook adaptant les social cards selon les contenus
  content/index.md
  content/theme/main.html
  hooks/mkdocs/G003_social_cards_adapter.py
  mkdocs.yml
Labels: outillage, mkdocs, thème, contenus communs

#1115 Confidentialité : mentionne la republication des commentaires
  content/about/confidentialite.md
  content/theme/partials/comments.html
  requirements-insiders.txt
Labels: enhancement, thème

#1117 Fonctionnalité : intègre automatiquement la liste des articles d'un/e auteur/ice à sa page
  content/articles/2023/2023-01-05_installer-qgis-sur-ubuntu.md
  hooks/mkdocs/G006_authors_block.py
Labels: enhancement, mkdocs, articles

#1118 fix(templates): utilise la date de build pour le schéma JSON quand aucune date n'est définie dans l'en-tête d'une page
  content/theme/main.html
  content/theme/partials/schemas.html.jinja2
Labels: thème

#1119 feature(templates): améliore la gestio du type de page et ajoute un schéma spécifique pour les pages de profils des auteur/ices
  content/theme/main.html
  content/theme/partials/schemas.html.jinja2
Labels: enhancement, thème

#1120 Fix : corrige l'URL de l'image de la social card
  config/extra_social.yml
  hooks/mkdocs/G003_social_cards_adapter.py
  hooks/mkdocs/G006_authors_block.py
Labels: outillage, mkdocs

#1122 Page autrice Quy Thy Truong : complète la section `social`
  content/team/quy-thy-truong.md
Labels: contributeurices

#1123 improve(authors): ajoute les comptes OSM, OSGeo et sites persos/pros
  content/team/adrien-van-hamme.md
  content/team/arnaud-vandecasteele.md
  content/team/aurelien-chaumet.md
  content/team/boris-mericskay.md
  content/team/cedric-rossi.md
  content/team/christian-quest.md
  content/team/delphine-montagne.md
  content/team/etienne-delay.md
  content/team/fabien-goblet.md
  content/team/florent-fougeres.md
  content/team/florian-boret.md
  content/team/guilhem-allaman.md
  content/team/guillaume-de-boyer.md
  content/team/humbert-fiorino.md
  content/team/jean-baptiste-desbas.md
  content/team/jean-marc-viglino.md
  content/team/jeremie-hanke.md
  content/team/jeremie-ory.md
  content/team/jeremie-prudhomme.md
  content/team/jeremy-garniaux.md
  content/team/julie-pierson.md
  content/team/julien-moura.md
  content/team/loic-bartoletti.md
  content/team/mathieu-bossaert.md
  content/team/mathieu-rajerison.md
  content/team/mathilde-ferrey.md
  content/team/michael-galien.md
  content/team/nicolas-david.md
  content/team/nicolas-roelandt.md
  content/team/patrick-gendre.md
  content/team/pierre-vernier.md
  content/team/quy-thy-truong.md
  content/team/regis-haubourg.md
  content/team/remi-bovard.md
  content/team/rodolphe-quiedeville.md
  content/team/romain-lacroix.md
  content/team/samuel-deschamps-berger.md
  content/team/stephane-ritzenthaler.md
  content/team/sylvain-kerdreux.md
  content/team/theo-grondin.md
  content/team/thomas-gratier.md
  content/team/tristram-grabener.md
  content/team/valerian-lebert.md
  content/team/victor-alexandre.md
Labels: enhancement, contributeurices

#1121 Article QDuckDB : corrections mineures de typo
  content/articles/2023/2023-12-19_duckdb-donnees-spatiales.md
Labels: articles, tipex

#1125 Amélioration : gère les caractères HTML dans les titres, descriptions et mots-clés des articles pour la liste dans les page auteur/ices
  content/articles/2015/2015-01-11_openstreetmap_pas_qu_une_carte.md
  content/theme/main.html
  hooks/mkdocs/G006_authors_block.py
  mkdocs.yml
Labels: enhancement, mkdocs, thème, articles

#1126 Modif article mise en place QFieldCloud
  content/articles/2024/2024-02-06_mise_en_place_serveur_qfieldcloud.md
Labels: articles

#1127 Mise à jour de profil - Lunel Agglo
  content/team/florian-boret.md
Labels: contributeurices

#1128 Article Ganymède : icône et accent
  content/articles/2021/2021-10-31_retour-vers-le-futur-de-qgis-ganymede.md
Labels: articles, tipex

#1129 Article tchat OSGeo : ajout icône et sous-titre
  content/articles/2021/2021-10-15_irc_osgeo.md
Labels: articles

#1131 Article : Création de cartes avec Blender (traduction) - Partie 1
  config/extra_tags.yml
  config/theme_icon.yml
  content/articles/2024/2024-05-28_carte-relief-ombre-avec-blender-partie-1-preparation-donnes-avec-qgis-et-gdal.md
  content/team/thomas-szczurek-gayant.md
Labels: mkdocs, contributeurices, articles

#1134 SEO : corrige quelques 404 remontées par Google
  .vscode/settings.json
  config/plugins_redirections.yml
  content/rdp/2014/rdp_2014-06-27.md
Labels: bug, mkdocs
