Repository geotribu/website, pull requests merged in 2024-04, with the labels that each got.

#1102 fix: ajoute le hook manquant pour réparer les build free et miimal
  .github/dependabot.yml
  mkdocs-free.yml
  mkdocs-minimal.yml
Labels: bug, outillage, mkdocs

#1096 Reprise article duckdb (v2)
  content/articles/2023/2023-12-19_duckdb-donnees-spatiales.md
Labels: outillage, dependencies, articles

#1106 tooling: MAJ la règle 24 du linter Markdown
  .markdownlint.json
Labels: outillage

#1098 Article bot mastodon qualité de l'air
  content/articles/2024/2024-04-04_airbot_mastodon_qualite_air.md
  content/team/guilhem-allaman.md
Labels: contributeurices, articles

#1108 Article DuckDB : Nouveau millésime de données overtures maps
  content/articles/2023/2023-12-19_duckdb-donnees-spatiales.md
Labels: outillage, contributeurices, articles

#1109 tooling(issue): MAJ le modèle de ticket de soumission d'article
  .github/ISSUE_TEMPLATE/ARTICLE.yml
Labels: outillage

#1110 tipex: corrige tags article airparif mastodon
  content/articles/2024/2024-04-04_airbot_mastodon_qualite_air.md
Labels: articles, tipex
