Repository geotribu/website, pull requests merged in 2024-09, with the labels that each got.

#1198 fix(rdp): ajout du tag GéoDataDays
  content/rdp/2024/rdp_2024-08-23.md
Labels: rdp, tipex

#1146 Article: nouvelle fenêtre QTribu
  content/articles/2021/2021-04-01_qtribu_plugin_qgis_geotribu.md
  content/articles/2024/2024-09-03_nouvelle-fenetre-qtribu.md
Labels: articles

#1199 fix(rdp): modif news lidar hd ign
  content/rdp/2024/rdp_2024-08-23.md
Labels: rdp

#1200 Article : Série été 2024 sur la tolérance en SIG - Chapitre 8 : Algorithmes
  .mailmap
  content/articles/2024/2024-07-16_de-la-tolerance-en-sig-geometrie-00-annonce.md
  content/articles/2024/2024-09-05_de-la-tolerance-en-sig-geometrie-08-algorithmes-code.md
Labels: outillage, articles

#1202 chore(deps): MAJ la version du thème
  requirements-insiders.txt
Labels: thème

#1203 Article : Série été 2024 sur la tolérance en SIG - Chapitre 9 : conclusions
  content/articles/2024/2024-07-16_de-la-tolerance-en-sig-geometrie-00-annonce.md
  content/articles/2024/2024-08-22_de-la-tolerance-en-sig-geometrie-06-sfcgal.md
  content/articles/2024/2024-08-29_de-la-tolerance-en-sig-geometrie-07-esri-fme.md
  content/articles/2024/2024-09-05_de-la-tolerance-en-sig-geometrie-08-algorithmes-code.md
  content/articles/2024/2024-09-26_de-la-tolerance-en-sig-geometrie-09-conclusions.md
Labels: thème, articles

#1204 chore(deps): MAJ la version du thème
  requirements-insiders.txt
Labels: thème
