Repository geotribu/website, pull requests merged in 2024-10, with the labels that each got.

#1207 fix(rdp): description et titre
  content/rdp/2024/rdp_2024-10-04.md
Labels: rdp, tipex

#1208 chore(deps): MAJ la version du thème
  requirements-insiders.txt
Labels: dependencies, thème

#1213 update(article): remplace Patreon par Liberapay
  content/articles/2024/2024-02-16_de-twitter-a-mastodon-guide-geo-import-liste-comptes.md
Labels: articles

#1212 Article : QChat
  content/articles/2024/2024-10-15_qchat.md
Labels: articles

#1215 fix(article): affecte la licence beerware au lieu de celle par défaut
  content/articles/2024/2024-10-15_qchat.md
Labels: articles
