Repository geotribu/website, pull requests merged in 2024-01, with the labels that each got.

#1035 2024: ajout structure pour la nouvelle année
  content/articles/.pages
  content/articles/2024/.meta.yml
  content/articles/2024/.pages
  content/rdp/.pages
  content/rdp/2024/.meta.yml
  content/rdp/2024/.pages
Labels: mkdocs

#1037 amélioration: ajout de certains tags, icône et bouton commentaires
  content/articles/2021/2021-02-23_carte_ligne_libre.md
Labels: tipex

#1038 Article MapLibre 2 : ajout de certains tags, icône et bouton commenta…
  config/extra_tags.yml
  config/theme_icon.yml
  content/articles/2021/2021-04-20_maplibre_site_ressource.md
Labels: tipex

#1039 Article DuckDB: modification pour apporter des précisions sur les colonnes de géométrie et les systèmes de projection
  content/articles/2023/2023-12-19_duckdb-donnees-spatiales.md
Labels: articles, tipex

#1041 Article "Geotribu déménage" : ajout de l'icône de page
  content/articles/2023/2023-05-04_annonce-changement-url-site-geotribu.md
Labels: articles

#1040 Thème : plugin tags v2 et correction icônes de tags
  .vscode/settings.json
  content/tags.md
  mkdocs.yml
  requirements-insiders.txt
  scripts/100_mkdocs_config_merger.py
Labels: mkdocs, dependencies

#1042 feature: active les notes de pages affichées en tooltip
  mkdocs.yml
  requirements-insiders.txt
Labels: mkdocs, dependencies
