Repository geotribu/website, pull requests merged in 2024-06, with the labels that each got.

#1140 improve(hook): détermine s'il s'agit de l'édition Insiders à partir de la version du thème
  hooks/mkdocs/G003_social_cards_adapter.py
  mkdocs-free.yml
  mkdocs-minimal.yml
  mkdocs.yml
Labels: enhancement, mkdocs, thème

#1141 RSS : utilise la dernière version du plugin et MAJ le hook lié
  config/plugins_rss.yml
  hooks/mkdocs/G003_social_cards_adapter.py
  requirements.txt
Labels: outillage, mkdocs, dependencies

#1142 Article GraphHopper vs OSRM : ajout icône et typos
  content/articles/2013/2013-12-04_temps_reponses_compares_osrm_graphhopper.md
Labels: articles, tipex

#1132 Article : création de cartes avec Blender (traduction) - Partie 2
  content/articles/2024/2024-05-28_carte-relief-ombre-avec-blender-partie-1-preparation-donnes-avec-qgis-et-gdal.md
  content/articles/2024/2024-06-18_carte-relief-ombre-avec-blender-partie-2-modelisation-reglages-cartographie.md
  mkdocs-free.yml
  mkdocs.yml
Labels: mkdocs, articles

#1144 Remove portrait
  content/team/guilhem-allaman.md
Labels: contributeurices

#1145 restauration: republie l'article buffer MySQL partie 1
  config/plugins_redirections.yml
  content/articles/2012/2012-04-16_calcul_buffer_mysql_partie_1_theorie.md
  content/articles/2012/2012-04-17_calcul_buffer_mysql_pratique.md
Labels: mkdocs, articles

#872 LiDAR HD/PDAL
  content/articles/2024/2024-06-24_lidar_hd_avec_pdal.md
Labels: contributeurices, articles

#1147 Update florian-boret.md
  content/team/florian-boret.md
Labels: contributeurices

#1152 Formulaire de soumission de projet d'article : typo longeur -> longueur
  .github/ISSUE_TEMPLATE/ARTICLE.yml
Labels: outillage
