Repository geotribu/website, pull requests merged in 2024-03, with the labels that each got.

#1070 Article : ajout icône sur Carto-vandalisme dans OSM
  content/articles/2023/2023-05-24_carto-vandalisme_dans_OSM.md
Labels: articles, tipex

#1085 article: change les liens de téléchargement des exports Mastodon
  content/articles/2024/2024-02-16_de-twitter-a-mastodon-guide-geo-import-liste-comptes.md
Labels: articles, tipex

#1086 theme: ajoute une icône pour différents réseaux sociaux
  config/extra_tags.yml
  config/theme_icon.yml
Labels: outillage, mkdocs, thème

#1087 Modif article QFieldCloud
  content/articles/2024/2024-02-06_mise_en_place_serveur_qfieldcloud.md
Labels: articles

#1078 Article : crowdscourcing avec cocarto
  content/articles/2024/2024-03-18_crowdscourcing_avec_cocarto.md
  content/team/tgram.md
Labels: contributeurices, articles, contribution externe

#1088 Article cocarto : corrige le format de l'image d'en-tête et une typo dans le sous-titre
  .mailmap
  content/articles/2024/2024-03-18_crowdscourcing_avec_cocarto.md
Labels: outillage, articles, tipex

#1089 Fonctionnalité : améliore la découvrabilité du JSON Feed et corrige quelques erreurs dans les templates
  content/theme/main.html
  content/theme/partials/cards_opengraph.html.jinja2
  content/theme/partials/cards_twitter.html.jinja2
  content/theme/partials/json_feed.html.jinja2
  content/theme/partials/license.html.jinja2
  content/theme/partials/schemas.html.jinja2
  requirements-insiders.txt
Labels: enhancement, thème

#1090 Fonctionnalité : ajoute un filtre Jinja pour slugify une chaîne de caractères aux templates HTML et pages Markdown
  hooks/macros/custom_jinja.py
  hooks/mkdocs/G005_jinja_filters.py
  mkdocs.yml
Labels: enhancement, mkdocs

#1092 Article DuckDB : multiples corrections et améliorations
  content/articles/2023/2023-12-19_duckdb-donnees-spatiales.md
Labels: articles, tipex
