Repository geotribu/website, pull requests merged in 2025-04, with the labels that each got.

#1284 OSM DATA 3D - Visualisation des données avec Giro3D, avec suivi des perf… (5/5)
  content/articles/2025/2025-03-10_osm-data-3D-03-modelisation-toiture.md
  content/articles/2025/2025-03-10_osm-data-3D-04-modelisation-facade.md
  content/articles/2025/2025-04-03_osm-data-3D-05-visulisation-3d.md
Labels: articles

#1287 Que se cache-t-il derrière l'image Docker officielle de QGIS Server ?
  content/articles/2025/2025-04-15_official-qgis-server-docker-image.md
  content/team/paul-blottiere.md
  mkdocs-free.yml
  mkdocs.yml
Labels: mkdocs, contributeurices, articles

#1293 tipex(article): fix typo in git clone command
  content/articles/2025/2025-04-15_official-qgis-server-docker-image.md
Labels: articles, tipex

#1294 Mise à jour de l'introduction
  content/articles/2025/2025-04-15_official-qgis-server-docker-image.md
Labels: articles

#1295 Update personal bio
  content/team/jeremy-garniaux.md
Labels: contributeurices
