Repository geotribu/website, pull requests merged in 2025-01, with the labels that each got.

#1244 Web sémantique : corrige une erreur d'index dans les URL des profils dans JSON-LD en cas de multiples auteurs
  content/articles/.pages
  content/rdp/.pages
  content/theme/partials/schemas.html.jinja2
Labels: bug

#1243 Article: Vidéos journées QGIS FR 2024
  content/articles/2025/2025-01-14_journees-qgis-fr-2024-videos-geointerviews-supports.md
Labels: mkdocs, articles

#1246 update(pyqgis-venv): ajout paragraphe sur qgis-venv-creator
  content/articles/2024/2024-11-25_pyqgis_environnement_dev_windows.md
Labels: articles

#1250 edit(rdp): fix description et intro
  content/rdp/2025/rdp_2025-01-17.md
Labels: rdp

#1238 Article : introduction au JSON dans PostgreSQL
  content/articles/2025/2025-01-21_travailler-avec-JSON-et-PostgreSQL.md
Labels: mkdocs, articles, contribution externe

#1252 Tipex post publi : JSON et PostgreSQL
  content/articles/2025/2025-01-21_travailler-avec-JSON-et-PostgreSQL.md
Labels: articles

#1253 update(theme): MAJ mkdocs-material vers la version 9.5.50
  requirements-free.txt
  requirements-insiders.txt
Labels: thème

#1248 Article : bilan 2024 et voeux 2025
  .mailmap
  content/articles/2025/2025-01-24_bilan-2024-voeux-2025.md
Labels: outillage, articles

#1256 improve(mkdocs): exclue les bots github et precommit des auteurs en bas de page
  config/plugins_git-committers.yml
  requirements.txt
Labels: enhancement, mkdocs, dependencies
