Repository geotribu/website, pull requests merged in 2025-02, with the labels that each got.

#1261 Thème et mkdocs : mise à jour du thème en 9 6 et adaptations des configurations au nouveau seuil communautaire franchi
  config/plugins_meta.yml
  config/plugins_minify.yml
  config/plugins_tags.yml
  mkdocs-free.yml
  mkdocs.yml
  requirements-free.txt
  requirements-insiders.txt
Labels: mkdocs, thème

#1264 rdp: ajout news Meteole
  content/rdp/2025/rdp_2025-02-21.md
Labels: rdp

#1251 Article : Générer des COG with GDAL
  content/articles/2025/2025-02-11_bonnes-pratiques-generation-raster-cog-avec-gdal.md
  content/team/nicolas-rochard.md
Labels: contributeurices, articles, contribution externe

#1266 update(theme): MAj version du thème en 9.6.4
  requirements-free.txt
  requirements-insiders.txt
Labels: thème

#1268 update(theme): remplace Twitter par BlueSky en attendant des jours meilleurs
  config/extra_social.yml
  content/theme/home.html
  content/theme/partials/schemas.html.jinja2
Labels: outillage, mkdocs, thème

#1267 update(qgisUbuntu): MAJ pour Ubuntu 24.04 à l'aune de la version anglaise
  content/articles/2023/2023-01-05_installer-qgis-sur-ubuntu.md
Labels: articles

#1269 fix(tags): QWC au lieu de QWC2
  content/rdp/2025/rdp_2025-01-17.md
Labels: rdp, tipex

#1270 fix(rdp): fix rdp template typo
  content/rdp/2025/rdp_2025-01-17.md
  content/rdp/templates/template_rdp.md
Labels: rdp

#1257 Article : La valorisation de la donnée au département du Gard
  content/articles/2025/2025-02-25_stack_data_gard.md
  content/rdp/2025/rdp_2025-02-21.md
  content/team/satya-minguez.md
Labels: rdp, contributeurices, articles, contribution externe
