Repository geotribu/website, pull requests merged in 2025-03, with the labels that each got.

#1278 improve(mkdocs): use instant to make Geotribu behaves as a single page application
  mkdocs-free.yml
  mkdocs.yml
Labels: enhancement, mkdocs

#1280 fix(templates): coup de ménage dans le couloir de l'entrée
  .github/ISSUE_TEMPLATE/RDP_NEWS.yml
  .github/PULL_REQUEST_TEMPLATE.md
  scripts/issue_comment_rdp_template.jinja
Labels: outillage

#1282 MAJ article localisation RTK : mise en prod Centipede vers crtk.net
  content/articles/2023/2023-09-09_tutoriel-geolocalisation-haute-precision.md
Labels: articles

#1283 update(theme): MAj version du thème
  requirements-free.txt
  requirements-insiders.txt
Labels: thème

#1279 Article : OSM DATA 3D - Modélisation 2D des bâtiments (3/5)
  config/extra_tags.yml
  config/theme_icon.yml
  content/articles/2021/2021-11-11_carte_en_relief_des_ecrins.md
  content/articles/2025/2025-03-10_osm-data-3D-03-modelisation-toiture.md
  content/rdp/2013/rdp_2013-10-18.md
Labels: rdp, mkdocs, articles

#1286 Faisant les choses droites, môdits vous-autres
  content/rdp/2025/rdp_2025-03-21.md
Labels: rdp

#1281 OSM DATA 3D - Modélisation 2D des bâtiments suite - (4/5)
  content/articles/2025/2025-03-10_osm-data-3D-04-modelisation-facade.md
Labels: articles
