Repository geotribu/website, pull requests merged in 2025-06, with the labels that each got.

#1309 add(licence): ajout de la CC BY
  content/toc_nav_ignored/snippets/licenses/cc4_by.md
Labels: contenus communs

#1302 Article : Transform des objets Mapillary 2/2
  content/articles/2025/2025-02-25_stack_data_gard.md
  content/articles/2025/2025-05-27_taradata_extract_load_mapillary.md
  content/articles/2025/2025-06-05_taradata_transform_mapillary.md
Labels: articles

#1313 edit(rdp): tipex
  content/rdp/2025/rdp_2025-06-13.md
Labels: rdp, tipex

#1315 Typo fix dans la GeoRDP
  content/rdp/2025/rdp_2025-06-13.md
Labels: rdp

#1316 edit(article): modifs article qfieldcloud
  content/articles/2024/2024-02-06_mise_en_place_serveur_qfieldcloud.md
Labels: articles

#1311 Fonctionnalité : affiche les icônes des réseaux sociaux sur la page des contributeurices
  content/team/.meta.yml
  content/team/adrien-van-hamme.md
  content/team/arnaud-vandecasteele.md
  content/team/aurelien-chaumet.md
  content/team/benjamin-chartier.md
  content/team/boris-mericskay.md
  content/team/cedric-rossi.md
  content/team/celine-pornin.md
  content/team/christian-quest.md
  content/team/delphine-montagne.md
  content/team/emilie-bigorne.md
  content/team/etienne-delay.md
  content/team/fabien-goblet.md
  content/team/florent-fougeres.md
  content/team/florian-boret.md
  content/team/guilhem-allaman.md
  content/team/guillaume-de-boyer.md
  content/team/humbert-fiorino.md
  content/team/jean-baptiste-desbas.md
  content/team/jean-marc-viglino.md
  content/team/jeremie-hanke.md
  content/team/jeremie-ory.md
  content/team/jeremie-prudhomme.md
  content/team/jeremy-garniaux.md
  content/team/julie-pierson.md
  content/team/julien-moura.md
  content/team/karl-tayou.md
  content/team/loic-bartoletti.md
  content/team/mathieu-bossaert.md
  content/team/mathieu-rajerison.md
  content/team/mathilde-ferrey.md
  content/team/michael-galien.md
  content/team/nicolas-david.md
  content/team/nicolas-godet.md
  content/team/nicolas-rochard.md
  content/team/nicolas-roelandt.md
  content/team/patrick-gendre.md
  content/team/paul-blottiere.md
  content/team/pierre-vernier.md
  content/team/quy-thy-truong.md
  content/team/regis-haubourg.md
  content/team/remi-bovard.md
  content/team/rodolphe-quiedeville.md
  content/team/romain-lacroix.md
  content/team/romain-latapie.md
  content/team/samuel-deschamps-berger.md
  content/team/satya-minguez.md
  content/team/stephane-ritzenthaler.md
  content/team/sylvain-kerdreux.md
  content/team/theo-grondin.md
  content/team/thomas-gratier.md
  content/team/thomas-szczurek-gayant.md
  content/team/tristram-grabener.md
  content/team/valerian-lebert.md
  content/team/victor-alexandre.md
  content/theme/main.html
  content/theme/partials/contributors_social.html.jinja
Labels: enhancement, outillage, thème, contributeurices

#1318 edit(author) add guilhem's social links
  content/team/guilhem-allaman.md
Labels: outillage, contributeurices

#918 Fonctionnalité : ajoute des boutons de partage rezosocios
  hooks/mkdocs/G007_social_share_buttons.py
  mkdocs-free.yml
  mkdocs.yml
Labels: enhancement, outillage, mkdocs, thème
